<div class="container-fluid login-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="row">      
          <%= form_for resource, :url => "/users/rai/sign_in/create" do |f| %>
            <div class="col-sm-12">
              <p>Accedi con il tuo profilo <img src="/assets/rai-tv.png" class="img-responsive" style="display: inline-block" /></p>
              <p id="form-errors"><%= flash[:error] %></p>
              <div class="form-group text-left">
                <!--<label for="exampleInputEmail1">Email address</label>-->
                <%= f.text_field :username, :class => "form-control", :placeholder => "Username" %>
              </div>
              <div class="form-group text-left">
                <!--<label for="exampleInputPassword1">Password</label>-->
                <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
              </div>
              <div class="form-group text-left">
                <button type="submit" class="btn-2 btn-2-login">Login</button>
				      </div>     
              <p><a href="http://www.rai.tv/dl/RaiTV/MyRaiTV/iscrizione.html#PasswordRecovery" target="_blank">Hai dimenticato la Password?</a></p>
      				<div class="checkbox text-left">
                <label> <input type="checkbox" name="user[remember_me]" value="1" /> Ricordati di me</label>
              </div>
              <p>&nbsp;</p>
              <p>Non sei ancora registrato? <a href="/users/sign_up">REGISTRATI</a></p>          
            </div>
          <% end %>  
        </div>
      </div>  

      <div class="col-sm-5 col-sm-offset-1">
	      <div class="row">
	      	<div class="col-sm-12">
	      		<p class="text-center">Oppure accedi con il tuo profilo social</p>
	            <div class="facebook-connect">
	  					  <div class="form-group text-left">
	                <button type="button" class="btn-2 btn-2-fb" onclick="gigyaSocializeLogin('facebook')"><i class="fa fa-facebook"></i> | CONNECT</button>
	              </div>
	              <div class="form-group text-left">
	                <button class="btn-2 btn-2-tt" onclick="gigyaSocializeLogin('twitter')"><i class="fa fa-twitter"></i> | CONNECT</button>
	                <!--<button type="button" class="btn btn-g btn-md btn-block">Signin with Google+</button>-->
	              </div>
	      		</div>
	      	</div>
	      </div>
	    </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    checkDocumentHeight("fandom");
  });

</script>
