<% if $context_root == "inaugurazione" %>
	<div class="container main-container">
		<%= render partial: "/application/italiadalvivo_header" %>
	</div>
<% end %>

<%= render partial: "/browse/index_category_container" %>