<div class="container">
  <%= render partial: "/application/header" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">  
              <div class="col-md-12 text-center">
                <p class="registration__title">Invia le istruzioni per impostare la nuova password</p>
              </div>    
              <div class="col-md-10 col-md-offset-1">
                <p><%= flash[:alert] %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





