<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao,</p>
    <p>Un amico ha condiviso con te il video <b><%= @calltoaction.title %></b> “The Pool”, la web serie targata Maxibon.</p>
    <p>Scopri di più su <a href="http://www.maxibon.it">Maxibon.it</a></p>
    <p>Lo staff di Maxibon</p>
  </body>
</html>
