<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao, <br />
mettiti alla prova con le domande del grande chef Bruno Barbieri! Sarai all'altezza?<br />
Dimostra di sapere <%= @ctatitle %>, scopri quanto ne sai di cucina e vinci ogni giorno con Amadori!</p>
    <p><a href="<%= @link %>">Inizia la sfida</a></p>
  </body>
</html>
