<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Un amico ha condiviso con te "The Pool", la web serie targata <a href="https://www.maxibon.it">Maxibon</a>.</p>
    <p>Segui le avventure di Marco e dei suoi amici che cercheranno di aiutarlo a conquistare la ragazza dei suoi sogni. 
    Puoi vincere ogni giorni ingressi giornalieri e dei Maxiparty dell’Aquafan di Riccione.</p>
    <p>Rimorchiare non è mai stato così difficile, ma vincere non è mai stato così facile, segui "The Pool"!</p>
    <p>Lo staff di Maxibon</p>
    <p><a href="https://www.maxibon.it">www.maxibon.it</a></p>
  </body>
</html>