<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao,</p>
    <p>un tuo amico ha condiviso con te questo video: <%= @calltoaction.title %></a></p>

    <p>www.maxibon.it</p>
  </body>
</html>
