<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao <%= @cuser.first_name %> <%= @cuser.last_name %>,</p>
    <p>benvenuto su Maxibon.it</p>
  </body>
</html>
