<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Benvenuto in The Pool,</p>
    <p>la web serie targata Maxibon che ti porta a bordo piscina con Marco e i suoi amici.</p>
    <p>Non ti è mai capitato di rimanere stregato/a dagli occhi di qualcuno? In "The Pool" un gruppo di amici aiuterà Marco a conquistare la ragazza dei suoi sogni dando vita ad imprevedibili situazioni.</p>
    <p>Anche tu potrai fare la tua parte per aiutare Marco. Vai su maxibon.it, guarda gli episodi, interagisci e prova a vincere ogni giorno ingressi per l'Aquafan.</p>
    <p>Rimorchiare non è mai stato così difficile, ma vincere non è mai stato così facile, segui "The Pool"!</p>
    <p>Lo staff di Maxibon</p>
    <p><a href="https://www.maxibon.it">www.maxibon.it</a></p>
  </body>
</html>
