<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ciao <%= @cuser.first_name %> <%= @cuser.last_name %>,</p>
    <p>benvenuto su Amadorabili Chef, il progetto di Amadori che ti spiega come valorizzare al meglio le materie prime e ti sfida a dimostrare quanto ne sai di cucina.</p>
	<p>Mettiti alla prova ogni settimana con le sfide di Bruno Barbieri e diventa un Amadorabile Chef.</p>
	<p>Ogni giorno puoi vincere una dinner box, un robot da cucina ogni mese e 12 fortunati parteciperanno ad una cooking class con Bruno Barbieri.</p>
	<p>Inizia a giocare su: <a href="http://amadorabilichef.amadori.it/">http://amadorabilichef.amadori.it/</a></p>
  </body>
</html>




