<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	  <p>Ciao <%= @cuser.first_name %> <%= @cuser.last_name %>,</p>
      <p>Congratulazioni!</p> 
      <p><%= @price.description %></p> 
      
      <p>Codice Biglietto: <%= @ticket_id %></p>

      <p>I biglietti saranno ritirabili esibendo un documento di identità del vincitore direttamente alla biglietteria dell’Aquafan.</p>
      
      <p>Per qualsiasi dubbio ti invitiamo a contattare Aquafan al numero xxxx/xxxxxxx</p>  

      <p>Continua a seguirci su maxibon.it, il divertimento continua.</p>
		
	  <p>Lo staff di Maxibon.it</p>

  </body>
</html>