<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Complimenti, hai vinto! </h1>
    <p> Ti confermiamo la vincita di <%= @reward.title %>!
  </body>
</html>