<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	
  	  <p>Congratulazioni <%= @cuser.first_name %> <%= @cuser.last_name %>!</p>

      <p>Hai vinto un premio.</p>
      
  </body>
</html>