<div class="relateds-flexslider">
  <div class="flex-viewport-shadow visible-sm"></div>
	<ul class="slides">
	    <li class="relateds-flexslider__item" ng-repeat="content in contents">
		    <%= render partial: "/application/content_preview" %>
	    </li>
	</ul>
</div>