<% unless cookies[:user_cookies] %>
  <div id="cookies-bar" class="navbar navbar-fixed-bottom cookies-footer">
    <div class="container">
      <div class="row main-row">
        <div class="col-xs-10">
          <p class="cookies-footer__description" ng-bind-html="aux.assets['cookies_bar_' + aux.language]"></p>
        </div>
        <div class="col-xs-2 text-right">
          <a class="cookies-footer__close" href="javascript: void(0)" ng-click="acceptCookies()"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </div>
  </div>
<% end %>