<% unless cookies[:user_cookies] %>
  <div id="cookies-bar" class="navbar navbar-fixed-bottom cookies-footer">
    <div class="container">
      <div class="row main-row">
        <div class="col-xs-10">
          <p class="cookies-footer__description">Questo sito usa cookie di profilazione al fine di inviare comunicazioni pubblicitarie personalizzate e consente anche l'invio di cookie di "terze parti". Proseguendo con la navigazione si accetta l’utilizzo dei cookie, o, in alternativa, è possibile personalizzare la loro configurazione alla sezione dedicata <a class="cookies-footer__link" href="/cookies_policy">(Privacy – Cookie policy)</a>.</p>
        </div>
        <div class="col-xs-2 text-right">
          <a class="cookies-footer__close" href="javascript: void(0)" ng-click="acceptCookies()"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </div>
  </div>
<% end %>