<div class="container main-container footer__container"> 
  <div class="row main-row">
    <div class="col-sm-12">
      <p class="footer__container__title">Scopri Un Mondo Possibile</p>
    </div>
    <div class="col-sm-3">
      <img class="img-responsive footer__container__img" ng-src="{{aux.assets.footer_img_1.url}}">
      <p class="footer__container__description">Puntata 1: Territorio</p>
    </div>
    <div class="col-sm-3">
      <img class="img-responsive footer__container__img" ng-src="{{aux.assets.footer_img_2.url}}">
      <p class="footer__container__description">La Puntata 2: Territorio</p>
    </div>
    <div class="col-sm-3">
      <img class="img-responsive footer__container__img" ng-src="{{aux.assets.footer_img_3.url}}">
      <p class="footer__container__description">La Bisio e EXPO</p>
    </div>
    <div class="col-sm-3">
      <img class="img-responsive footer__container__img" ng-src="{{aux.assets.footer_img_4.url}}">
      <p class="footer__container__description">Curator for a day Serie Serie</p>
    </div>
  </div>
</div>
<div class="container main-container"> 
  <div class="row main-row">
    <div class="col-sm-12 text-center">
      <p class="footer__container__title">Intesa Sanpaolo è Official Global Partner di Expo Milano 2015</p>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <p class="footer__container__description">l'Esposizione Universale dedicata alla costruzione di un dialogo tra l'uomo e il pianeta.<br>Attraverso la partnership, Intesa Sanpaolo mette a disposizione la propria passione, i propri prodotti e i propri servizi a disposizione dei visitatori e dei Paesi partecipanti.</p>
      <a href="#" class="btn btn-default footer__container__btn">SCOPRI DI PIU'</a>
    </div>
  </div>
</div>