<% if $context_root != "inaugurazione" %>
  <div class="container-fluid__blue">
    <div class="container container--blue footer__container" ng-if="aux.language == 'it'"> 
      <div class="row main-row">
        <div class="col-sm-12 text-center">
          <p class="footer__container__title">{{aux.assets['footer_title_' + aux.language]}}</p>
        </div>
        <div class="col-sm-3 col-xs-6 text-center" ng-repeat="n in getNumber(4) track by $index">
          <a href="{{aux.assets['footer_url_' + ($index + 1) + '_' + aux.language]}}" ng-click="intesaExpoGa('Navigation', 'Scopri', aux.assets['footer_seo_' + ($index + 1)], $event)">
            <img class="img-responsive footer__container__img" ng-src="{{aux.assets['footer_img_' + ($index + 1) + '_' + aux.language].url}}">
            <p class="footer__container__description">{{aux.assets['footer_description_' + ($index + 1) + '_' + aux.language]}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid__lightblue">
    <div class="container container--lightblue"> 
      <div class="row main-row">
        <div class="col-sm-4 text-center">
          <img class="footer__container__img-expo" ng-src="{{aux.assets.footer_expo_img.url}}">
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <p class="footer__container__title-expo">{{aux.assets['footer_expo_title_' + aux.language]}}</p>
            </div>
            <div class="col-sm-12">
              <p class="footer__container__description-expo" ng-bind-html="aux.assets['footer_expo_description_' + aux.language]"></p>
              <a href="{{linkTo('/about')}}" class="btn btn-blue footer__container__btn" ng-if="aux.language != 'imprese'" onclick="intesaExpoGaW('Navigation','Footer','Scopri', this);">{{aux.assets['footer_expo_btn_' + aux.language]}}</a>
              <a href="http://www.expo.intesasanpaolo.com/about" class="btn btn-blue footer__container__btn" ng-if="aux.language == 'imprese'" onclick="intesaExpoGaW('Navigation','Footer','Scopri', this);">{{aux.assets['footer_expo_btn_it']}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="footer"><!-- Footer -->
    <div id="isp-footer" class="footer small-12 chrome modern mac webkit">
        <div class="row">
            <div class="small-12 medium-2 medium-offset-1 columns hide-for-small show-for-ie7 border">
                <img alt="Isp_b" class="ft-logo" src="https://unmondopossibile.intesasanpaolo.com/assets/ISP_B.png">
            </div>

            <div class="small-12 medium-8 columns end social border">
                <span class="seguici hide-for-small show-for-ie7">Seguici anche su:</span>
                <a href="https://www.facebook.com/IntesaSanpaolo" id="footer-fb" target="_blank" onclick="_gaq.push(['_trackEvent', 'Navigation', 'Footer', 'Follow_Facebook']);"><img alt="Fb-ft2" src="https://unmondopossibile.intesasanpaolo.com/assets/fb-ft2.png"></a>
                <a href="http://www.youtube.com/intesasanpaolo" id="footer-youtube" target="_blank" onclick="_gaq.push(['_trackEvent', 'Navigation', 'Footer', 'Follow_Youtube']);"><img alt="Youtube-ft2" src="https://unmondopossibile.intesasanpaolo.com/assets/youtube-ft2.png"></a>
                <a href="http://www.linkedin.com/company/164437?trk=tyah" id="footer-linkedin" target="_blank" onclick="_gaq.push(['_trackEvent', 'Navigation', 'Footer', 'Follow_LinkedIn']);"><img alt="Linkedin-ft2" src="https://unmondopossibile.intesasanpaolo.com/assets/linkedin-ft2.png"></a>
                <a href="https://twitter.com/IntesaSP_Help" id="footer-webradio" target="_blank" onclick="_gaq.push(['_trackEvent', 'Navigation', 'Footer', 'Follow_Twitter']);"><img alt="Twitter-ft2" src="https://unmondopossibile.intesasanpaolo.com/assets/twitter-ft2.png"></a>
            </div>

        </div>
        <div class="row">
            <div class="small-10 medium-9 medium-offset-1 show-for-ie7 columns copyright">
                <img alt="Expo-footer" class="expo-logo hide-for-small show-for-ie7" src="https://unmondopossibile.intesasanpaolo.com/assets/expo-footer.png">
                Intesa Sanpaolo SpA P.Iva 10810700152
            </div>
            <div class="small-2 medium-1 show-for-ie7 columns end privacy"><a href="/cookies_policy">Privacy</a></div>
        </div>
    </div>
    <!-- End Footer -->
</div>