<div class="container main-container footer__container" ng-if="aux.language == 'it'"> 
  <div class="row main-row">
    <div class="col-sm-12">
      <p class="footer__container__title">Scopri Un Mondo Possibile</p>
    </div>
    <div class="col-sm-3" ng-repeat="n in getNumber(4) track by $index">
      <a href="{{aux.assets['footer_external_url_' + ($index + 1)]}}">
        <img class="img-responsive footer__container__img" ng-src="{{aux.assets['footer_img_' + ($index + 1)].url}}">
        <p class="footer__container__description">{{aux.assets['footer_description_' + ($index + 1)]}}</p>
      </a>
    </div>
  </div>
</div>

<div class="container main-container"> 
  <div class="row main-row">
    <div class="col-sm-12 text-center">
      <p class="footer__container__title">{{aux.assets['footer_expo_title_' + aux.language]}}</p>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <p class="footer__container__description" ng-bind-html="aux.assets['footer_expo_description_' + aux.language]"></p>
      <a href="{{linkTo('/about')}}" class="btn btn-default footer__container__btn">{{aux.assets['footer_expo_btn_' + aux.language]}}</a>
    </div>
  </div>
</div>