<div id="header">
  <!-- Top Bar -->
  <div id="isp-header" class="chrome modern mac webkit">
    <div class="header small-12 ">
      <div class="row">
        <div class="small-6 large-5 large-offset-1 columns">
          <img alt="Intesa_sanpaolo" class="logo" src="https://unmondopossibile.intesasanpaolo.com/assets/intesa_sanpaolo.png">
        </div>
        <div class="large-3 small-4 medium-offset-3 small-offset-2 large-offset-1 columns sito">
          <a href="http://www.intesasanpaolo.com/" target="_blank"><span>VAI AL SITO <span class="hide-for-small show-for-ie7">DELLA BANCA</span> &gt;</span></a>
        </div>
      </div>
    </div>

    <div class="title-header " style="background-color: #3d6b80;">
      <a href="https://unmondopossibile.intesasanpaolo.com/">
        <div class="row">
          <div class="small-1 large-offset-1 columns mondo-possibile show-squares">
              <img alt="Squares" src="https://unmondopossibile.intesasanpaolo.com/assets/squares.png">
          </div>
          <div class="small-11 large-5 small-centered columns">
              <div class="title">UN MONDO POSSIBILE</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- End Top Bar -->
</div>

<% if $context_root != "inaugurazione" %>
  <div class="container hidden-xs">
    <div class="row main-row">
      <div class="col-sm-4">  
        <img ng-if="aux.assets['left_logo_' + aux.language] && aux.assets['left_logo_url_' + aux.language] == '#'" class="left-logo" ng-src="{{aux.assets['left_logo_' + aux.language].url}}">  
        <a ng-if="aux.assets['left_logo_' + aux.language] && aux.assets['left_logo_url_' + aux.language] != '#'" href="{{aux.assets['left_logo_url_' + aux.language]}}" target="_blank" ng-click="intesaExpoGa('Navigation', 'Header', 'Expo_Acquista', $event)">
          <img class="left-logo" ng-src="{{aux.assets['left_logo_' + aux.language].url}}">  
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="/<%= $context_root %>" ng-click="intesaExpoGa('Navigation', 'Header', 'Expo_Sito', $event)">  
          <img class="center-logo" ng-src="{{aux.assets['logo_' + aux.language].url}}">   
        </a>
      </div>
      <div class="col-sm-4 text-right">
        <img ng-if="aux.assets['right_logo_' + aux.language] && aux.assets['right_logo_url_' + aux.language] == '#'" class="right-logo" ng-src="{{aux.assets['right_logo_' + aux.language].url}}">
        <a ng-if="aux.assets['right_logo_' + aux.language] && aux.assets['right_logo_url_' + aux.language] != '#'" href="{{aux.assets['right_logo_url_' + aux.language]}}" target="_blank" ng-click="intesaExpoGa('Navigation', 'Header', 'Expo_Eventi', $event)">
          <img class="right-logo" ng-src="{{aux.assets['right_logo_' + aux.language].url}}">
        </a>     
      </div>
    </div>
  </div>
<% end %>

<div class="navbar__container-fluid hidden-xs">
  <div class="container navbar__container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-nav-center">
          <li ng-class="{'active': (menu_field && menu_field == menu_item.extra_fields.menu_item)}" ng-repeat="menu_item in aux.menu_items">
            <a href="{{menu_item.extra_fields.browse_url}}" ng-click="intesaExpoGa('Navigation', 'Menu', menu_item.title, $event)">
              <p class="navbar__item-text">{{menu_item.title}}</p>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          	<li class="press-contact" ng-if="'en' == aux.language">
	          <a href="mailto:stampa@intesasanpaolo.com">
	            <p class="navbar__item-text">Press Contacts</p>
	          </a>
	        </li>
	        <li class="press-contact" ng-if="'it' == aux.language">
	          <a href="/browse/category/press-release-it">
	            <p class="navbar__item-text">Area Stampa</p>
	          </a>
	        </li>
          <li ng-class="{'active': ('search' == aux.page_tag.miniformat.name)}" class="navbar__language">
	          <a href="javascript:void(0);" ng-click="showSearch();">
	            <p class="navbar__item-text"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></p>
	          </a>
	        </li>
          <li ng-class="{'active': ('it' == aux.language)}" class="navbar__language" ng-if="aux.language != 'imprese' && aux.language != 'inaugurazione'">
            <a href="/it">
              <p class="navbar__item-text">it</p>
            </a>
          </li>
          <li ng-class="{'active': ('en' == aux.language)}" class="navbar__language" ng-if="aux.language != 'imprese' && aux.language != 'inaugurazione'">
            <a href="/en">
              <p class="navbar__item-text">en</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed bnt__menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="navbar-inverse__menu">MENU</span>
      </button>
      <div class="text-center">
        <a href="/<%= $context_root %>" ng-click="intesaExpoGa('Navigation', 'Header', 'Expo_Sito', $event)">
          <img class="navbar__logo" ng-src="{{aux.assets['logo_' + aux.language].url}}">
        </a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
      	<li ng-if="'en' == aux.language">
          <a href="mailto:stampa@intesasanpaolo.com">
            <p class="navbar__item-text">Press Contacts</p>
          </a>
        </li>
        <li ng-if="'it' == aux.language">
          <a href="/browse/category/press-release-it">
            <p class="navbar__item-text">Area Stampa</p>
          </a>
        </li>
        <li ng-class="{'active': (menu_field && menu_field == menu_item.extra_fields.menu_item)}" ng-repeat="menu_item in aux.menu_items">
          <a href="{{menu_item.extra_fields.browse_url}}" ng-click="intesaExpoGa('Navigation', 'Menu', menu_item.title, $event)">
            <p class="navbar__item-text">{{menu_item.title}}</p>
          </a>
        </li>
        <hr style="margin-top: 5px; margin-bottom: 5px;">
        <li ng-class="{'active': ('search' == aux.page_tag.miniformat.name)}" class="navbar__language">
          <a href="javascript:void(0);" ng-click="showSearch();">
            <p class="navbar__item-text"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></p>
          </a>
        </li>
        <li ng-class="{'active': ('it' == aux.language)}" class="navbar__language" ng-if="aux.language != 'imprese' && aux.language != 'inaugurazione'">
          <a href="/it">
            <p class="navbar__item-text">it</p>
          </a>
        </li>
        <li ng-class="{'active': ('en' == aux.language)}" class="navbar__language" ng-if="aux.language != 'imprese' && aux.language != 'inaugurazione'">
          <a href="/en">
            <p class="navbar__item-text">en</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

