<div class="container">
  <div class="row">
    <div class="col-sm-4">     
    </div>
    <div class="col-sm-4 text-center">  
      <img src="//placehold.it/250x50" style="margin-left: auto; margin-right: auto;">   
    </div>
    <div class="col-sm-4">     
    </div>
  </div>
</div>

<div class="container-fluid navbar__container-fluid">
  <div class="container navbar__container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{'active': (menu_field == menu_item.name)}" ng-repeat="menu_item in aux.menu_items">
            <a href="{{menu_item.browse_url}}">
              <p class="navbar__item-text">{{menu_item.title}}</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>