<div class="row main-row header-row-inaugurazione">
  <div class="col-sm-4">  
    <a href="/<%= $context_root %>">  
      <img class="center-logo" ng-src="{{aux.assets['logo_' + aux.language].url}}">   
    </a>
  </div>
  <div class="col-sm-8 text-right" ng-bind-html="aux.assets.header_italiadalvivo_text">
  </div>
</div>