<div class="row main-row__evidence">

  <!-- SLIDER -->
  <div class="col-md-9 ctas__flexslider__container" ng-if="aux.calltoaction_evidence_info">
    <div class="flexslider ctas__flexslider ctas__flexslider--italiadalvivo">
      <ul class="slides">
        <li ng-repeat="calltoaction in aux.calltoaction_evidence_info" class="filters__flexslider-item">
          <a href="{{evidenceLinkTo(calltoaction)}}" style="text-decoration: none;" ng-click="intesaExpoGa('Navigation', 'Carousel', calltoaction.slug, $event)">
            <div class="row">

              <div class="col-xs-12 ctas__flexslider__img-container hidden-xs">
                <img ng-src="{{getUploadExtraFieldProcessor(calltoaction.extra_fields.carousel_img, 'original')}}">
              </div>

              <div class="col-xs-12 ctas__flexslider__img-container visible-xs">
                <img ng-src="{{calltoaction.thumb_medium_url}}">
              </div>

              <div class="col-xs-12 ctas__info">
                <p class="ctas__flexslider__title hidden-xs" ng-bind-html="calltoaction.title"></p>
                <p class="ctas__flexslider__title visible-xs" ng-if="calltoaction.extra_fields.title_mobile" ng-bind-html="calltoaction.extra_fields.title_mobile"></p>
                <p class="ctas__flexslider__title visible-xs" ng-if="!calltoaction.extra_fields.title_mobile" ng-bind-html="calltoaction.title"></p>

                <div ng-if="infoEvent = getFirstIcalInteractionForContent(calltoaction)">
                  <p class="ctas__flexslider__subtitle">{{infoEvent[4]}} - ore {{infoEvent[2]}}</p>
                  <p class="ctas__flexslider__location" ng-bind-html="infoEvent[5]"></p>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- BANNER -->
  <div class="col-md-3 col-sm-6 cta__evidence-banner hidden-xs" ng-if="aux['press-release_stripe'].contents.length > 1">
    <div class="cta__evidence-banner__img--inaugurazione" ng-if="aux.assets['banner_img_1_' + aux.language] && aux.assets['banner_url_1_' + aux.language] == '#'" ng-style="{'background-image': 'url(' + aux.assets['banner_img_1_' + aux.language].url + ')'}">
    </div> 
    <a ng-if="aux.assets['banner_url_1_' + aux.language] != '#'" href="{{aux.assets['banner_url_1_' + aux.language]}}" target="_blank">
      <div class="cta__evidence-banner__img--inaugurazione" ng-style="{'background-image': 'url(' + aux.assets['banner_img_1_' + aux.language].url + ')'}">
      </div>
    </a>
  </div>

  <!-- BANNER LONG -->
  <div class="col-md-3 col-sm-6 cta__evidence-banner hidden-xs" ng-if="aux['press-release_stripe'].contents.length < 2">
    <div class="cta__evidence-banner__img--inaugurazione cta__evidence-banner__img--inaugurazione--tall" ng-if="aux.assets['banner_img_1_' + aux.language] && aux.assets['banner_url_1_' + aux.language] == '#'" ng-style="{'background-image': 'url(' + aux.assets['banner_img_1_' + aux.language + '_tall'].url + ')'}">
    </div> 
    <a ng-if="aux.assets['banner_url_1_' + aux.language] != '#'" href="{{aux.assets['banner_url_1_' + aux.language]}}" target="_blank">
      <div class="cta__evidence-banner__img--inaugurazione cta__evidence-banner__img--inaugurazione--tall" ng-style="{'background-image': 'url(' + aux.assets['banner_img_1_' + aux.language + '_tall'].url + ')'}">
      </div>
    </a>
  </div>

  <!-- OFFICE AREA -->
  <div class="col-md-3 col-sm-6 cta__evidence__press-widget cta__evidence__press-widget--inaugurazione hidden-xs">
    <div class="cta__evidence__press-widget__title-container" ng-if="aux['press-release_stripe'].contents.length > 1">
      <div class="col-xs-8 cta__evidence__press-widget__title">AREA STAMPA</div>
      <div class="col-xs-4 text-right"><a class="read" href="/inaugurazione/browse/category/press-release-inaugurazione">Leggi</a></div>
    </div>
    <div class="cta__evidence__press-widget__element" ng-repeat="content in aux['press-release_stripe'].contents.slice(0,2)" ng-class="{'cta__evidence__press-widget__element--border': !$last}">
      <a ng-href="{{linkToValidFrom(content)}}" class="cta__related__a">
        <div class="col-xs-12">
          <i class="fa fa-file-text cta__related__icon--press-release"></i>
          <div class="cta__related__title--press-release_info-container">
            <p class="cta__related__title--press-release">{{content.title| cut:true:45}}</p>
            <p class="cta__related__date--press-release">{{formatDate(content.extra_fields.publishing_date.value, aux.language)}} - {{extractTimeFromDate(content.extra_fields.publishing_date.value)}}</p>
          </div>
          <i class="fa fa-angle-right cta__related__icon--arrow"></i>
        </div>
      </a>
    </div>
  </div>
  
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.ctas__flexslider').flexslider({
      animation: "fade",
      slideshow: true,
      slideshowSpeed: 4000,
      animationLoop: true,
      touch: true,
      itemWidth: "100%",
      itemMargin: 0,
      controlNav: true,
      directionNav: true,
      prevText: "",
      nextText: ""
    });
  });
</script>