<div class="flexslider ctas__flexslider">
  <ul class="slides">
    <li ng-repeat="content in calltoaction_info.calltoaction.gallery | orderBy:orderContent" class="filters__flexslider-item">
        <div class="col-xs-12 cta-cover__thumbnail-column">
          <img ng-src="{{content['value']['url']}}" class="cta-cover__thumbnail">
        </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.ctas__flexslider').flexslider({
      animation: "fade",
      slideshow: false,
      animationLoop: true,
      touch: true,
      itemWidth: "100%",
      itemMargin: 0,
      controlNav: true,
      prevText: "",
      nextText: ""
    });
  });
</script>