<div id="gallery-slider" class="flexslider ctas__flexslider">
  <ul class="slides">
    <li ng-repeat="content in calltoaction_info.calltoaction.gallery | orderBy:orderContent" class="filters__flexslider-item">
        <div class="col-xs-12 cta-cover__thumbnail-column">
          <img ng-src="{{content['value']['url']}}" class="cta-cover__thumbnail">
        </div>
    </li>
  </ul>
</div>

<div id="gallery-carousel" class="flexslider">
  <ul class="slides">
    <li ng-repeat="content in calltoaction_info.calltoaction.gallery | orderBy:orderContent" style="margin-right: 15px;">
      <div class="gallery-carousel__img" ng-style="{'background-image': 'url(\'' + content['value']['url'] + '\')'}">
        <!--<img ng-src="{{content['value']['url']}}">-->
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#gallery-carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 122,
      itemMargin: 15,
      asNavFor: '#gallery-slider',
      prevText: "",
      nextText: ""
    });

    $('#gallery-slider').flexslider({
      animation: "fade",
      controlNav: false,
      directionNav: false,
      slideshow: false,
      itemWidth: "100%",
      itemMargin: 0,
      sync: "#gallery-carousel"
    });
  });
</script>