<div class="content-preview--press"> 
  <div class="row">
  	<div class="col-xs-3 col-sm-2 text-center">
  		<i class="fa fa-file-text content-preview__press-release-icon"></i>
  	</div>
    <div class="col-xs-9 col-sm-10">
      <p class="content-preview__title--press content-preview__title--press-release">{{content.title}}</p>
      <p class="content-preview__date">{{formatDate(content.extra_fields.publishing_date.value, aux.language)}} - {{extractTimeFromDate(content.extra_fields.publishing_date.value)}}</p>
    </div>
  </div>
</div>