<div class="row cta__related__right-bar" ng-if="aux.relateds.contents">
  <div class="col-sm-12">
    <h2 class="cta__related__title">{{aux.assets["relateds_title_" + aux.language]}}</h2>
  </div>
  <div class="col-xs-12" ng-repeat="content in aux.relateds.contents" ng-if="content.type == 'cta'" style="margin-bottom: 10px;">
    <div class="row">
      <div class="col-xs-12">
        <a href="{{linkTo(content.detail_url)}}" class="cta__related__a">      
          <!--<div class="cta__related__icon-container text-center">
            <i class="fa fa-picture-o cta__related__icon" ng-if="content.media_type == 'IMAGE' || hasPhotoGallery(content)"></i>
            <i class="fa fa-video-camera cta__related__icon" ng-if="content.media_type == 'YOUTUBE'"></i> 
          </div>-->
          <%= render partial: "/application/content_preview_content_type" %>

          <img class="cta__related__img" ng-src="{{content.thumb_url}}" style="width: 100%;">
          <p class="cta__related__title-content">
            <span class="cta__related__type" ng-if="content.media_type == 'IMAGE' || hasPhotoGallery(content)">FOTO</span>
            <span class="cta__related__type" ng-if="content.media_type == 'YOUTUBE'">VIDEO</span>
            {{content.title | cut:true:70}}
          </p>
        </a>
      </div>
      <div class="col-xs-12">
        <hr class="cta__related__hr">
      </div>
    </div>
  </div>
</div>