<div class="col-xs-2">
	<i class="fa fa-file-text cta__related__icon--press-release"></i>
</div>
<div class="col-xs-8">
	<p class="cta__related__title--press-release">{{content.title}}</p>
	<p class="cta__related__date--press-release">{{formatDate(content.extra_fields.publishing_date.value, aux.language)}} - {{extractTimeFromDate(content.extra_fields.publishing_date.value)}}</p>
</div>
<div class="col-xs-2">
	<i class="fa fa-angle-right cta__related__icon--arrow"></i>
</div>