<!-- MOBILE RELATEDS -->
<div class="row visible-xs" ng-if="aux.relateds.contents">
  <div class="col-md-12 "> 
    <div class="panel panel-default cta__cps-panel">
      <div class="panel-heading" role="tab" id="cta__cps-3">
        <a data-toggle="collapse" data-parent="#accordion" href="#cta__cps-3b" aria-expanded="true" aria-controls="cta__cps-3b">
          <h4 class="panel-title">
            <span class="glyphicon glyphicon-chevron-down"></span>Contenuti correlati
          </h4>
        </a>
      </div>
      <div id="cta__cps-3b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cta__cps-3">
        <div class="panel-body">
          <div class="row">
            <%= render partial: "/application/related_ctas", locals: { top_class: "" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DESKTOP RELATEDS -->
<%= render partial: "/application/related_ctas", locals: { top_class: "hidden-xs" } %>
