<div class="container-fluid__lightblue">
  <div class="container container--lightblue">

    <div class="row main-row" ng-if="calltoaction_info.calltoaction.extra_fields.title || calltoaction_info.calltoaction.extra_fields.subtitle">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="category-header__title" ng-if="calltoaction_info.calltoaction.extra_fields.title">{{calltoaction_info.calltoaction.extra_fields.title}}</h1>
        <h2 class="category-header__subtitle" ng-if="calltoaction_info.calltoaction.extra_fields.subtitle">{{calltoaction_info.calltoaction.extra_fields.subtitle}}</h2>
      </div>
    </div>

    <div class="row main-row">
      <div class="col-sm-8">
        <h1 class="cta__title--about" ng-bind-html="calltoaction_info.calltoaction.title"></h1>
        <h2 class="cta__description--about" ng-bind-html="calltoaction_info.calltoaction.description"></h2>
      </div>
      <div class="col-sm-4">
        <div class="cta__banner-1-bg">
          <img class="cta__banner_1--about" ng-src="{{calltoaction_info.calltoaction.extra_fields.banner_1_img.url}}">
          <a ng-if="calltoaction_info.calltoaction.extra_fields.banner_1_btn && calltoaction_info.calltoaction.extra_fields.banner_1_btn != ''" href="{{calltoaction_info.calltoaction.extra_fields.banner_1_url}}" class="btn btn-about-v2 cta__banner-btn btn-block" ng-click="intesaExpoGa('Navigation', 'Click', 'Acquista', $event)">{{calltoaction_info.calltoaction.extra_fields.banner_1_btn}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="partnership-videos" class="container-fluid__blue">
  <div class="container container--blue">
    <div class="row main-row">
      <div class="col-sm-12 text-center">
        <p class="cta__video-title--about">{{calltoaction_info.calltoaction.extra_fields.media_title}}</p>
      </div>

      <div class="col-sm-8 media-youtube-col">
        <div class="media-youtube--about">
          <div class="media-youtube embed-responsive embed-responsive-16by9"> 
            <iframe ng-src="{{'https://www.youtube.com/embed/' + calltoaction_info.calltoaction.vcode | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="col-sm-4 cta__video-col--about-4">
        <div class="row">
          <div class="col-sm-12 cta__video-col--about" ng-repeat="vcode in calltoaction_info.calltoaction.vcodes | limitTo: 3">
            <div class="cta__video-col--about--container" ng-class="{'active': calltoaction_info.calltoaction.vcode == vcode}" ng-click="intesaExpoGa('Navigation', 'Click', 'Partnership_' + vcode); calltoaction_info.calltoaction.vcode = vcode;">
              <img class="cta__video-img--about" ng-src="{{calltoaction_info.calltoaction.extra_fields[vcode + '_img']['url']}}">
              <p class="cta__video-subtitle--about">{{calltoaction_info.calltoaction.extra_fields[vcode + '_title']}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 cta__share-col--about">
        <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
          <div id="share-interaction-{{interaction_info.interaction.id}}" class="share-undervideo-interaction__row">
            <%= render partial: "/call_to_action/share_interaction" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="partnership-video-{{vcode}}" class="cta__about-yt-stripe" ng-style="{'background-image': 'url(' + calltoaction_info.calltoaction.extra_fields[vcode + '_img'].url + ')' }" ng-repeat="vcode in calltoaction_info.calltoaction.vcodes.slice(3)">
  <div class="container">
    <div class="row main-row">
      <div class="col-sm-12 text-center">
        <p class="cta__video-title--about">{{calltoaction_info.calltoaction.extra_fields[vcode + '_title']}}</p>
      </div>
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="media-youtube--about">
          <div class="media-youtube embed-responsive embed-responsive-16by9"> 
            <iframe ng-src="{{'https://www.youtube.com/embed/' + vcode | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
          <div id="share-interaction-{{interaction_info.interaction.id}}" class="share-undervideo-interaction__row">
            <%= render partial: "/call_to_action/share_interaction" %>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="cta__about-yt-stripe__description">{{calltoaction_info.calltoaction.extra_fields[vcode + '_description']}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid__white" ng-if="calltoaction_info.calltoaction.extra_fields.map_title">
  <div class="container container--white">
    <div class="row main-row">
      <div class="col-sm-12 text-center">
        <p class="cta__map-title--about">{{calltoaction_info.calltoaction.extra_fields.map_title}}</p>
      </div>
      <div class="col-sm-12">
        <img class="cta__map-img--about" ng-src="{{calltoaction_info.calltoaction.extra_fields.map_image.url}}">
      </div>
      <div class="col-sm-12 text-center cta__map-download--about-col">
        <a target="_blank" class="cta__map-download--about" href="{{calltoaction_info.calltoaction.extra_fields.map_download_attachment.url}}">
          {{calltoaction_info.calltoaction.extra_fields.map_download_title}}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row main-row">
    <div class="col-sm-12 text-center">
      <div class="btn-group blocks">
        <button id="intesa-button" class="btn btn-about active" onclick="_gaq.push(['_trackEvent','Navigation','Click','NoiCiSiamo']); showContent('intesa')">{{calltoaction_info.calltoaction.extra_fields.btn_1}}</button>
        <button id="expo-button" class="btn btn-about" onclick="_gaq.push(['_trackEvent','Navigation','Click','Expo2015']); showContent('expo')">{{calltoaction_info.calltoaction.extra_fields.btn_2}}</button>
      </div>
    </div>
  </div>
</div>

<div class="about-container" id="intesa-container">
  <div ng-bind-html="calltoaction_info.calltoaction.extra_fields.intesa_container | unsafe">
  </div>
</div>

<div class="about-container hidden" id="expo-container">
  <div ng-bind-html="calltoaction_info.calltoaction.extra_fields.expo_container | unsafe">
  </div>
</div>

<script type="text/javascript">

  function showContent(content_name) {
    $(".about-container").addClass("hidden");
    $("#" + content_name + "-container").removeClass("hidden");
    $(".btn-about").removeClass("active");
    $("#" + content_name + "-button").addClass("active"); 
  }

</script>