<div class="container-fluid__blue">
  <div class="container" ng-if="calltoaction_info.calltoaction.media_type == 'IFRAME'"> 
    <div class="row main-row">
      <div class="col-sm-12" style="padding: 0;" ng-bind-html="calltoaction_info.calltoaction.media_data | unsafe">
      </div>
    </div>
  </div>
</div>

