<div class="container main-container main-container-{{calltoaction_info.miniformat['name']}}" > 
  <div class="row {{calltoaction_info.hide_class}}">
    <div id="calendar"></div>
  </div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		var calendar = $("#calendar").calendar(
            {
            });
	});
</script>