<%= render partial: "/application/evidence_ctas" %>

<div class="container main-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="browse-sections" ng-repeat="stripe in [aux.next_lives]">
        <%= render partial: "/application/stripe" %>
      </div>
    </div>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="browse-sections" ng-repeat="stripe in [aux.galleries]">
        <%= render partial: "/application/stripe" %>
      </div>
    </div>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="browse-sections" ng-repeat="stripe in [aux.articles]">
        <%= render partial: "/application/stripe" %>
      </div>
    </div>
  </div>
</div>