<div class="container-fluid__blue">
  <%= render partial: "/application/italiadalvivo_evidence_ctas" %>
</div>

<div class="stripe-container stripe-white">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="stripe__title">{{aux.assets["home_event_stripe_" + aux.language]}}</h2>
      </div>
      <div class="col-sm-4" ng-repeat="eventPreviewDate in eventPreviewDates | orderBy:orderEventPreviewDates:false">
        <div class="row">
          <div class="col-sm-12">
            <h3>{{eventPreviewDate[0]}}</h3>
          </div>
          <div class="col-sm-12 event-container" ng-repeat="eventPreview in eventPreviewDate[1] | orderBy:orderEventPreviewDates:false">

            <!-- EVENT --> 
            <div class="panel panel-default event-panel">
              <div class="panel-body event-panel-body">
                <p class="event-time">{{eventPreview[0]}}</p>
                <p class="event-title">{{eventPreview[1].title}}</p>
                <img ng-src="{{eventPreview[1].thumb_wide_url}}">

                <div class="event-miniformat-border" ng-style="{'background-color': eventPreview[1].aux.miniformat.extra_fields.label_background}">        
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>