<div class="container-fluid__blue">
  <%= render partial: "/application/italiadalvivo_evidence_ctas" %>
</div>

<div class="stripe-container stripe-white">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="stripe__title">{{aux.assets["home_event_stripe_" + aux.language]}}</h2>
      </div>
      <div class="col-sm-12">
        
      </div>
    </div>
  </div>
</div>