<div class="container-fluid about-container-white">
  <div class="container">
    <div class="row main-row">
      <div class="col-sm-4">
        <img class="italiadalvivo__banner_img" ng-src="{{aux.about_tag_info.extra_fields.img_1.url}}">
      </div>
      <div class="col-sm-8" ng-bind-html="aux.about_tag_info.extra_fields.description_1"></div>
    </div>
  </div>
</div>

<div class="container-fluid about-container">
  <div class="container">
    <div class="row main-row">
      <div class="col-sm-4" ng-bind-html="aux.about_tag_info.extra_fields.description_2"></div>
      <div class="col-sm-8">
        <div id="map" class="embed-responsive embed-responsive-16by9"></div>
      </div>
    </div>
  </div>
</div>

<div class="italiadalvivo-branch-container" ng-repeat="calltoaction_info in getItaliaDalVivoBranchCtaInfo()">
  <div class="container" ng-if="calltoaction_info.calltoaction.gallery"> 
    <div class="row main-row">  
      <div class="col-sm-12 text-center">
        <h2 class="stripe__title">{{calltoaction_info.calltoaction.title}}</h2>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <%= render partial: "/application/photo_gallery" %>
      </div>
    </div>
  </div>
</div>
