<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="footer-title">{{aux.assets.extra_fields.footer_title}}</p>
      </div>
      <div class="col-sm-4 text-center">
        <img class="footer-img" ng-src="{{aux.assets.extra_fields.footer_img_1.url}}">
        <p class="footer-item-description">{{aux.assets.extra_fields.footer_text_1}}</p>
      </div>
      <div class="col-sm-4 text-center">
        <img class="footer-img" ng-src="{{aux.assets.extra_fields.footer_img_2.url}}">
        <p class="footer-item-description">{{aux.assets.extra_fields.footer_text_2}}</p>
      </div>
      <div class="col-sm-4 text-center">
        <img class="footer-img" ng-src="{{aux.assets.extra_fields.footer_img_3.url}}">
        <p class="footer-item-description">{{aux.assets.extra_fields.footer_text_3}}</p>
      </div>
    </div>
  </div>
</div>