<%= render partial: "/application/navbar" %>

<%# 
  <div class="header-container hidden-xs" ng-click="scrollTo('#tests')">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>
            <img style="width: 100%;" ng-src="{{aux.assets.extra_fields.header_img.url}}" alt="Wellness machine">
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="header-container visible-xs">
    <h1>
      <img style="width: 100%;" ng-src="{{aux.assets.extra_fields.header_img_mobile.url}}" alt="Wellness machine">
    </h1>
  </div>

  if braun_ic_contest_identitycollection_active?
  <a class="hidden-xs hidden-sm" href="/concorso_identitycollection">
    <div class="sub-header-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 sub-header-container__img-col hidden-xs">
            <img class="sub-header-container__img" ng-src="{{aux.assets.extra_fields.sub_header_img.url}}">
          </div>
          <div class="col-sm-7">
            <div ng-bind-html="aux.assets.extra_fields.sub_header_description"></div>
            <span class="sub-header-container__arrow fa fa-angle-right"></span>
          </div>
        </div>
      </div>
    </div>
  </a>
  end
%>

<div class="header-container" ng-if="aux.calltoaction_evidence_info">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ctas__flexslider__container">
        <div class="flexslider ctas__flexslider">
          <ul class="slides">
            <li ng-repeat="calltoaction in aux.calltoaction_evidence_info" class="filters__flexslider-item">
              <a ng-if="isAnchor(calltoaction.extra_fields.url)" href="javascript: void(0)" ng-click="scrollTo(calltoaction.extra_fields.url)">
                <img class="hidden-xs" ng-src="{{calltoaction.extra_fields.desktop_img.url}}">
                <img class="visible-xs" ng-src="{{calltoaction.extra_fields.mobile_img.url}}">
              </a>
              <a ng-if="!isAnchor(item.extra_fields.url)" href="{{item.extra_fields.url}}">
                <img class="hidden-xs" ng-src="{{calltoaction.extra_fields.desktop_img.url}}">
                <img class="visible-xs" ng-src="{{calltoaction.extra_fields.mobile_img.url}}">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.ctas__flexslider').flexslider({
      animation: "fade",
      slideshow: false,
      animationLoop: true,
      touch: true,
      itemWidth: "100%",
      itemMargin: 0,
      controlNav: true,
      prevText: "",
      nextText: ""
    });
  });
</script>