<%= render partial: "/application/navbar" %>

<div class="header-container hidden-xs">
  <h1>
    <img style="width: 100%;" ng-src="{{aux.assets.extra_fields.header_img.url}}" alt="Wellness machine">
  </h1>
</div>

<div class="header-container visible-xs">
  <h1>
    <img style="width: 100%;" ng-src="{{aux.assets.extra_fields.header_img_mobile.url}}" alt="Wellness machine">
  </h1>
</div>