<% content_for :body_class, "small-body" %>
<div class="small-container">
  <%= render partial: "/application/navbar" %>
</div>

<div class="contest-1-container contest-2-container-sp">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="contest-title">{{aux.assets.extra_fields.contest_section_2_title}}</p>
      </div>
      <div class="col-sm-12">
        <img class="contest-img hidden-xs" ng-src="{{aux.assets.extra_fields.contest_section_2_img.url}}">
        <img class="contest-img visible-xs" ng-src="{{aux.assets.extra_fields.contest_section_2_mobile_img.url}}">
      </div>
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <p class="contest-description">{{aux.assets.extra_fields.contest_section_2_description}}</p>
      </div>
    </div>
  </div>
</div>

<div id="contest_identitycollection_success" class="container contest-success-container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <p class="contest-title">{{aux.assets.extra_fields.contest_identitycollection_success_title}}</p>
    </div>
    <div class="col-sm-12 text-center">
      <img class="contest-img" ng-src="{{aux.assets.extra_fields.contest_identitycollection_success_img.url}}">
    </div>
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <a class="btn btn-green btn-lg contest-btn" href="/concorso_identitycollection">{{aux.assets.extra_fields.contest_identitycollection_success_btn}}</a>
    </div>
  </div>
</div>