<% content_for :body_class, "small-body" %>
<div class="small-container">
  <%= render partial: "/application/navbar" %>
</div>

<%= render partial: "/call_to_action/tips" %>
<%= render partial: "/application/footer" %>