<p>PUNTI UTENTE {{current_user.main_reward_counter}}</p>

<div class="container">   
  <div ng-repeat="calltoaction_info in calltoactions" class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="cta_cover-container panel-body">
          <img ng-class="{'hidden': !isCoverHidden(calltoaction_info)}" class="cta_cover-img" ng-src="{{getParentCtaInfo(calltoaction_info).calltoaction.thumbnail_wide_url}}">
          
          <div ng-class="{'hidden': !isCoverHidden(calltoaction_info)}" style="position: absolute; width: 30%; color: #fff; top: 1px; right: 16px; padding: 15px;">
            <p>{{getParentCtaInfo(calltoaction_info).calltoaction.title}}</p>
            <button ng-click="openCover(calltoaction_info)" class="btn btn-success">SCOPRILO E VINCI</button>
          </div>  

          <div class="col-sm-12" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterTestInteractions">
            <%= render partial: "/call_to_action/test_interaction" %>
          </div>

          <div class="col-sm-12" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-if="isLastStepInLinkedCallToAction(calltoaction_info)">
            <div class="row" >
              <div class="col-sm-12">
                <p>{{calltoaction_info.calltoaction.extra_fields.linked_result_title}}</p>
                <p>{{calltoaction_info.calltoaction.extra_fields.linked_result_description}}</p>
                <p>Condividi il risultato:</p>
                <%= render partial: "/call_to_action/share_interaction" %>
              </div>
            </div>
            <div class="row" ng-click="resetToRedo(calltoaction_info)">
              <div class="col-xs-12">
                <span>Rifai il test <span class="fa fa-refresh"></span></span>
              </div>
            </div>
          </div>

          Reward: {{calltoaction_info.reward}}

        </div>
      </div>
    </div>
  </div>
</div>
