<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
      Congratulazioni <%= @full_name %>!
    </p>
    <p>
      Hai vinto un Minipimer Multiquick 5 Vario MQ 5000! <br/>
      Per confermare la tua vincita e ricevere il premio, invia entro sette giorni dall’arrivo di questa email una raccomandata A/R con le seguenti informazioni: <br/>
      <ul>
        <li>
          I tuoi dati anagrafici
        </li>
        <li>
          Il numero di telefono
        </li>
        <li>
          Una fotocopia del documento di identità
        </li>
        <li>
          La stampa di questa email
        </li>
      </ul>
    </p>
    <p>
      L’indirizzo a cui inviare la raccomandata è: <br/>
      <i>
        Concorso "MISURA IL TUO BENESSERE E VINCI BRAUN"<br/>
        C/O GRUPPO FMA S.r.l.  <br/>
        Viale Brenta 18 20139 Milano
      </i>
    </p>
    <p>
      <b>Lo staff di Braun | Wellness Machine</b>
    </p>
    <p>
      <a href="http://www.wellnessmachine.it/">wellnessmachine.it</a>
    </p>
  </body>
</html>