<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
      Benvenuto in Wellness Machine, <br/>
      il concorso Braun che ti permette di misurare il tuo livello di benessere 
      e vincere gli strumenti della Identity Collection Braun. 
    </p>
    <p>
      Ogni giorno sarà possibile vincere un Minipimer rispondendo alle domande dei test e guadagnando un biglietto Instant Win per ogni test completato. <br/>
      In più un biglietto in regalo al momento dell’iscrizione per darti una possibilità in più di vincere!
    </p>
    <p>
      Che aspetti?
    </p>
    <p>
      Gioca i tuoi biglietti e scopri se hai vinto! <br/>
      Vincere non è mai stato così facile… e sano!
    </p>
    <p>
      <b>Lo staff di Braun | Wellness Machine</b>
    </p>
    <p>
      <a href="http://www.wellnessmachine.it/">wellnessmachine.it</a>
    </p>
  </body>
</html>