#gallery-carousel {
    /* margin-top: -100px; */
    /* background: $bluealpha; */
    background: rgba(0,0,0,0.3);
    margin-bottom: 0;
    z-index: 10; 
    border: 0; 
    border-radius: 0;
    padding: 15px 50px;
    .flex-disabled {
        display: block !important;
        opacity: 1 !important;
    }
    .flex-direction-nav a {
        text-shadow: none;
        color: #ccc;
        top: 55px;
    }
    .flex-prev {
        left: 15px;
    }
    .flex-next {
        right: 15px;
    }
    .flex-direction-nav a:before {
        font-size: 24px;
    }
    .slides li {
        opacity: 0.6;
    }
    .slides li:hover {
        opacity: 1 !important;
    }
    .flex-active-slide {
        opacity: 1 !important;
        .gallery-carousel__img {
            border-color: $lightblue !important;
        }
    }
    .gallery-carousel__img {
        width: 122px; 
        height: 70px; 
        background-size: 110% auto; 
        background-position: center; 
        background-repeat: no-repeat;
        border: 2px solid #ccc;
    }
}

#gallery-slider {
    border: 0 !important;
    .flex-direction-nav a {
        text-shadow: none;
        color: #ccc !important;
    }
    .cta-cover__thumbnail {
        position: relative !important;
        top: 0 !important;
    }
    .cta-cover__thumbnail-column {
        padding: 0 !important;
        height: auto !important;
    }
    .flex-control-paging {
        display: none;
    }
}

.ctas__flexslider#gallery-slider {
    height: auto !important;
}

.ctas__flexslider {
    padding-left: 0!important;
    padding-right: 0 !important;
    background: none !important;
    border: 7px solid $lightblue !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
    overflow: hidden !important; 
    li {
        img {
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}

.ctas__flexslider.ctas__flexslider--italiadalvivo {
    border: none !important;  
}

.cta-cover__thumbnail-column {
    height: 395px;
}

.ctas_likes, .ctas_comments {
    display: inline;
    color: #fff;
    margin-left: 15px;
    top: 4px;
    position: relative;
}

.ctas__thumbs-up, .ctas__glyphicon-comment {
    font-size: 22px;
    margin-right: 5px;
}

.ctas__glyphicon-comment {
    top: 3px;
}

.glyphicon-comment--notice{
  font-size: 40px;
  line-height: 80px;
  color: $blue;
}

.ctas__info {
    position: absolute; 
    bottom: 0; 
    padding: 15px;
    margin: 15px 15px 0 15px;
    height: 50%;
    
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.ctas__info--bottom {
    width: 100%;
    position: absolute;
    bottom: 25px;
}

.ctas__flexslider__title {
    width: 75%;
    margin-bottom: 15px;
    color: #fff;
    font-size: 28px;
    /* font-weight: bold; */
    text-transform: uppercase;
}

.ctas__flexslider__description {
    color: $lightblue;
    font-size: 12px;
    margin-bottom: 2px;
}

.ctas__flexslider__extra-field {
    color: #fff;
    margin-left: 5px;
}

.ctas__button {
    width: 120px;
}

.ctas__flexslider-item {
    position: relative !important;
}

.ctas__flexslider-item-active {
    background: rgba(51, 153, 255, 0.45);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border: 4px solid $blue;
}

.ctas__flexslider {
    .flex-direction-nav a {
        color: rgba(255, 255, 255, 0.3) !important;
        text-shadow: none;
    }
    .flex-control-paging {
        margin-bottom: 45px; 
        z-index: 10;
        li a {
            background: rgba(255, 255, 255, 0.5);
        }
        li a.flex-active {
            background: #fff;
        }
    }
}

@media (min-width: $screen-md-min) { 
    .ctas__flexslider__img-container {
        height: 395px;
    }
    .ctas__flexslider {
        height: 390px;
    }
}

@media (min-width: $screen-sm-min) { 
    .ctas__flexslider {
        .flex-direction-nav a {
            color: rgba(255, 255, 255, 0.3) !important;
            margin: -15px 0 0 !important;
        }

        .flex-direction-nav a:hover {
            color: rgba(255, 255, 255, 0.7) !important;
            transition: color 333ms ease 0s;
            -webkit-transition: color 333ms ease 0s;
        }

        .flex-control-paging {
            margin-bottom: 45px; 
            z-index: 10;
            width: auto;
            right: 15px;
            li a {
                background: rgba(255, 255, 255, 0.5);
            }
            li a.flex-active {
                background: #fff;
            }
        }

        .flex-direction-nav .flex-prev {
            left: 20px !important; 
        }

        .flex-direction-nav .flex-next {
            right: 20px !important; 
        }

        .flex-direction-nav a:before {
            font-size: 30px !important;
        }
    }
}

@media (max-width: $screen-sm-min) { 
    .ctas__info--bottom {
        width: auto;
        left: 15px;
        right: 15px;
    }

    /*
    .ctas__flexslider__img-container {
        height: 300px;
        img {
          max-width: none;
          width: auto !important;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          left: -9999px;
          right: -9999px;
        }
    }
    */

    .ctas__flexslider__img-container {
        height: auto;
        img {
          width: 100%;
        }
    }

    #gallery-slider {
        margin-left: -15px !important;
        margin-right: -15px !important;
        margin-bottom: 0 !important;
    }

    #gallery-carousel {
        margin-left: -15px !important;
        margin-right: -15px !important;
        .flex-direction-nav {
            display: block !important;
        }
    }

    .cta-cover__thumbnail-column {
        height: auto;
    }

    .ctas__flexslider__title {
        width: 100%;
    }

    .ctas__flexslider__container {
        padding: 0 !important;
    }

    .ctas__info {
        padding-left: 15px; 
        padding-bottom: 30px;
    }

    .ctas__title {
        font-size: 18px;
    }

    .ctas__flexslider {
        border: 0 !important;
        height: auto;
        margin-bottom: 25px !important;

        .flex-control-nav {
            bottom: 0;
            z-index: 10;
        }

        .flex-direction-nav a {
            color: rgba(255, 255, 255, 0.3) !important;
            margin: -15px 0 0 !important;
        }

        .flex-direction-nav .flex-prev {
            display: none;
        }

        .flex-direction-nav .flex-next {
            display: none;
        }

        .flex-control-paging {
            margin-bottom: 5px; 
            z-index: 10;
            li a {
                background: rgba(255, 255, 255, 0.5);
            }
            li a.flex-active {
                background: #fff;
            }
        }
    }
    
    .glyphicon-comment--notice{
      font-size: 24px;
      line-height: 45px;
    }
}