<div class="container container--default">
	<div class="row reward-catalogue-header" style="background-color: #fafafa; margin-bottom: 40px;">
		<div class="col-xs-12 text-center">
			<h2>Come ottenere crediti e sbloccare i premi</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="row gallery-cta__how-to-row">
				<div class="col-xs-12 col-sm-5">
					<img class="img-responsive reward-catalogue__how-to-image" src="<%= asset_path("step1.jpg") %>" />
				</div>			
				<div class="col-xs-12 col-sm-7">
					<h3>Partecipa alla Community e accumula punti</h3>
					<p style="color: #a9a9a9;">Condividere la tua passione per Disney Channel e le sue serie non è mai stato così divertente! Ogni volta che risolverai un quiz o darai il tuo parere guadagnerai dei punti…</p>
				</div>
			</div>
			
			<div class="row main-row gallery-cta__how-to-row">
				<div class="col-xs-12 col-sm-7">
					<br />
					<h3>Ogni punto ottenuto è un credito che puoi usare per sbloccare i premi</h3>
					<p style="color: #a9a9a9;">I punti che guadagnerai grazie alla tua partecipazione si convertiranno in crediti che potrai usare per sbloccare dei fantastici premi: contenuti esclusivi e in anteprima che diventeranno dei meritati traguardi per premiare la tua passione!</p>
				</div>
				<div class="col-xs-12 col-sm-5">
					<img class="img-responsive" src="<%= asset_path("step2.jpg") %>" />
				</div>
			</div>
			
			<div class="row gallery-cta__how-to-row">
				<div class="col-xs-12 col-sm-5">
					<img class="img-responsive reward-catalogue__how-to-image" src="<%= asset_path("step3.jpg") %>" />
				</div>
				<div class="col-xs-12 col-sm-7">
					<br />
					<h3>Usa i crediti accumulati per sbloccare i premi che ti piacciono</h3>
					<p style="color: #a9a9a9;">Sarai tu a scegliere quali sono i premi che desideri sbloccare: più parteciperai più premi potranno diventare tuoi!</p>
				</div>
			</div>
		</div>
		
	</div>
	
</div>