.media_container {
  position: relative;
}

.media_container:hover {
  .img_icon {
    background: rgba(255,255,255,1);
  }
}

.content-panel {
  border: none;
  box-shadow: none;
}

.content-panel-body {
  padding: 0;
  border: none;
}

.embed-responsive {
  background-color: whitesmoke;
}

.entry-title {
  padding: 10px 0 2px 0;
  font-size: 16px;
  font-weight: 500;
}

.entry-summary {
  padding: 10px 0 2px 0;
  font-size: 14px;
  font-weight: 300;
}

.img_icon {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.6);
  height: 55px;
  width: 40px;
}