<div class="row form-group">
	<div class="col-sm-12 text-center">
    <input id="extra_fields_age_#{name}" name="extra_fields_age" type="checkbox" value="1" ng-model="form_data.#{name}">
		<label style="color: #fff;"><%= label %></label>
	</div>
</div>