<div class="row form-group">
  <div class="text-center">
    <label class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 text-left" style="color: #000;">
      <%= label %>
    </label>
    <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0">
      <%= select_tag("extra_fields_#{name}", options_for_select(values), { class: "form-control", "ng-model" => (ng_model ? ng_model + '.' + name : nil) }) %>
    </div>
  </div>
</div>