<!-- PLAY INTERACTION -->
<div class="col-lg-12 play-interaction">
  <div class="row" id="play-interaction-button-row">
    <div class="col-lg-4 col-lg-offset-8" style="padding: 0;"> 
      <% if f.object.interactions.where("resource_type='Play'").blank? %>
        <%= link_to_add_play_fields "AGGIUNGI PLAY", f, :interactions %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="padding: 0;">
      <div id="tmp-play-add"></div>
      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Play" %>
          <%= render 'play-form', :f => builder %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>