<div class="col-xs-6 col-sm-3 col-md-2 profile-badge text-center">
  <img class="img-circle <%= "not-yours" if !user_has_reward(reward.name) %>" src="<%= reward.main_image %>" alt="...">
  <p><small><%= reward.title %></small></p></p>
</div>