<div class="col-xs-6 col-sm-3 col-md-2 profile-badge text-center">
  <img class="img-circle <%= "not-yours" if !user_has_reward(reward.name) %>" src="<%= reward.main_image %>" alt="...">
  <% if reward.is_published && !reward.cost.blank? %>
	  <div class="progress">
		<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: <%= (get_weekly_points(PERIOD_KIND_WEEKLY, MAIN_REWARD_NAME) * 100) / reward.cost %>%;"></div>
	  </div>
  <% end %>
  <p><small><%= reward.title %></small></p>
</div>