<!-- REGISTRATION MODAL -->
<div class="modal fade" id="registrate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="text-center" id="myModalLabel">REGISTRATI PER PARTECIPARE</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <p><small>Entra con:</small></p>
            <a style="margin-bottom: 15px;" href="javascript: void(0)" onclick="gigyaSocializeLogin('facebook')" class="btn btn-facebook btn-block">ENTRA CON FACEBOOK</a>
            <a href="javascript: void(0)" onclick="gigyaSocializeLogin('twitter')" class="btn btn-twitter btn-block">ENTRA CON TWITTER</a>
            <p style="margin-top: 10px; font-size: 10px;"><a href="javascript: void(0)" style="color: #000; text-decoration: underline;" class="to-reg">Se non hai un account facebook o twitter - Clicca qui</a></p>
          </div>
          <div class="col-sm-12 no-pad"><hr></div>
          <div class="col-sm-8 col-sm-offset-2 text-center" style="padding-bottom: 10px;">
            <p style="font-weight: bold;"><small>Sei già registrato?</small></p>
            <a href="javascript: void(0)" class="btn btn-primary btn-md btn-block to-reg btn-primary-interaction">LOGIN</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-yellow" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>