/* RESET CSS */

body {
  padding-top: 0;
  background-color: whitesmoke;
}

.cta_cover-container__col {
  padding-top: 15px;
}

.test-container {
  padding-top: 25px;
  padding-bottom: 15px;
  background: #fff;
}

.tip-container, .product-container {
  border-top: 1px solid #ccc;
  padding-bottom: 30px;
}

p {
  margin: 0;
}

.profile-container {
  background-color: #e0e1e2; 
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc;
}

.profile-container__row {
  height: 150px;
}

.profile-container__user {
  border-right: 1px solid #ccc;
}

.profile-container__badge {
  border-right: 1px solid #ccc; 
  background-color: #f1f2f3; 
  height: 100%;
}

.profile-container__badge-block {
  display: inline-block;
}

.profile-container__badge-text {
  font-size: 12px;
}

.profile-container__badge-text.inactive {
  color: #aaa
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/********************* COOKIES FOOTER *********************/

.cookies-footer {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  min-height: 0; 
  padding: 10px;
}

.cookies-footer__description {
  margin: 0; 
  font-size: 11px;
}

.cookies-footer__link {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: $screen-md-min) { 
  .navbar-default {
    margin-top: 15px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    background-color: transparent;
  }
}

@media (max-width: $screen-sm-min) { 
}