/* RESET CSS */

body {
  padding-top: 0;
  background-color: #fff;
  background-color: whitesmoke;
}

.container {
  background-color: #fff;
}

p {
  margin: 0;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/********************* COOKIES FOOTER *********************/

.cookies-footer {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  min-height: 0; 
  padding: 10px;
}

.cookies-footer__description {
  margin: 0; 
  font-size: 11px;
}

.cookies-footer__link {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: $screen-md-min) { 

}

@media (max-width: $screen-sm-min) { 
}