/* RESET CSS */

body {
  padding-top: 0;
  background-color: whitesmoke;
}

#registration-modal .modal-content {
  background-color: #efefef;
}

#cookies-bar {
  top: auto !important;
  bottom: 0 !important;
  .btn-green {
    padding-left: 0; padding-right: 0;
  }
}

.contest-success-container .contest-img {
  max-width: 450px;
}

.contest-success-container .contest-title {
  color: #000;
  font-size: 24px;
}

.modal-welcome__btn {
  margin-bottom: 15px;
}

.cookies-policy-container {
 h2 {
  font-size: 22px;
 } 
}

.modal-welcome__description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sub-header-container {
  background-color: #333;
}

.sub-header-container__arrow {
  position: absolute;
  font-size: 52px !important;
  right: 15px;
  top: 45px;
  color: #fff;
}

.sub-header-container__img-col {
  height: 150px;
}
.sub-header-container__img {
  max-height: 150px;
  height: 100%;
}

.sub-header-container__description {
  color: #fff;
  margin-top: 45px;
  font-size: 22px;
}

.sub-header-container__description--green {
  color: $green;
} 

.sub-header-container__description--bold {
  font-weight: bold;
}

.header-container {
  background-color: #000;
}

.header-container h1 {
  margin: 0;
}

.iw-errors {
  color: red;
}

.unlogged-title {
  padding-top: 45px; 
  font-weight: bold; 
  font-size: 22px;
}

.unlogged-description {
  font-size: 22px;
}

.modal-interaction-instant-win__header {
  border-bottom: 0;
  h4 {
    font-size: 28px;
    padding-top: 15px;
  }
}

.btn-tip-append {
  margin-top: 15px;
  margin-bottom: 15px;
}

.iw_t1 {
  margin-top: 25px;
}

.iw_upload-btn {
  margin-bottom: 15px;
}

.iw_btn {
  margin-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal; 
}

.iw_slot {
  width: 100%;
  border: 2px solid transparent;
}

.iw_slot-red {
  border: 2px solid red;
}

.iw_slot-green {
  border: 2px solid $green;
}

.iw_popover {
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 0;
  max-width: none;
  box-shadow: none;
}

.iw_popover-green {
  background-color: $green;
  color: #fff;
  .arrow:after {
    border-bottom-color: $green !important;
  }
}

.iw_popover-red {
  background-color: red;
  color: #fff;
  .arrow:after {
    border-bottom-color: red !important;
  }
}

.iw_panel {
  box-shadow: none;
  background-color: whitesmoke;
  border-radius: 5px;
}

.iw_popover-text {
  font-size: 18px; 
  padding-top: 5px; 
  padding-bottom: 5px;
  span { padding-right: 5px; }
}

.iw_reward-title {
  font-size: 24px; 
  margin-top: 30px;
  color: $green;
}

.iw_reward-description {
  font-size: 16px;
  padding-right: 45px;
  padding-bottom: 30px;
}

.small-container {
  padding-bottom: 15px;
  background-color: #000;
  .form-container {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.small-container--padding {
  padding-bottom: 30px;
}

.devise-next-title {
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 20px;
  a { color: $green; }
}

.devise-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.devise-errors {
  margin-bottom: 15px;
  color: red;
}

.devise-title-hr {
  margin-bottom: 45px;
}

.test-container {
  padding-top: 25px;
  padding-bottom: 15px;
  background: #fff;
}

.tip-container {
  border-top: 1px solid #ccc;
  padding-bottom: 15px;
}

.product-container {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-bottom: 30px;
}

p {
  margin: 0;
}

.profile-container {
  background-color: #e0e1e2; 
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc;
  .profile-container__badge { 
    cursor: pointer;
  }
}

.profile-container__row {
  height: 150px;
}

.profile-container__user {
  border-right: 1px solid #ccc;
}

.ranking-container .profile-container__user, .ranking-container .profile-container__badge {
  border: none;
  background-color: transparent;
}

.ranking-title__row {
  background-color: #fff;
}

.ranking-container .profile-container__row {
  height: 170px;
  padding-top: 15px;
}

.ranking-container {
  background-color: #fff;
}

.ranking-container.odd {
  background-color: whitesmoke;
}

.profile-container__user_unlogged {
  border: none;
}

.profile-container__badge {
  border-right: 1px solid #ccc; 
  background-color: #f1f2f3; 
  height: 100%;
}

.profile-container__badge-block {
  display: inline-block;
}

.profile-container__badge-text {
  font-size: 12px;
}

.profile-container__badge-text.inactive {
  color: #aaa
}

.modal-update-user__avatar {
  width: 100%;
  max-width: 120px;
  margin-bottom: 15px;
}

.modal-update-user__avatar--rounded {
  border-radius: 50%;
}

.modal-update-user__pencil {
  position: absolute;
  left: 5px;
  font-size: 28px !important;
  bottom: 25px;
  color: $green;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/********************* COOKIES FOOTER *********************/

.cookies-footer {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  min-height: 0; 
  padding: 10px;
}

.cookies-footer__description {
  margin: 0; 
  font-size: 11px;
}

.cookies-footer__link {
  color: #fff;
  text-decoration: underline;
}

.btn-green-iw {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: $screen-md-min) {
  .sub-header-container__description {
    margin-top: 55px;
    font-size: 16px;
  }

  .sub-header-container__img {
    max-height: 120px;
    margin-top: 15px;
  }

  .iw_t1 {
    margin-top: 3px;
  }
  .iw_btn {
    margin-top: 15px;
  }
  .iw-credits_label_yellow__container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .profile-container__badge-text {
    font-size: 10px;
  }
  .btn-green-iw {
    font-size: 12px;
  }
  .profile-container__iw-text {
    margin-top: 45px;
    font-size: 14px;
  }
  .unlogged-title {
    font-size: 18px;
    padding-top: 50px;
  }
  .unlogged-description {
    font-size: 16px;
  }
}

@media (max-width: $screen-sm) {
  body {
    padding-top: 50px;
  }
}

@media (max-width: $screen-xs) {
  .devise-next-title {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 15px;
  }

  #cookies-bar {
    bottom: 0 !important;
    .btn-green {
      margin-top: 10px;
    }
  }

  .ranking-container .profile-container__row {
    height: 120px;
  }

  .small-container {
    padding-bottom: 0;
  }

  body {
    padding-top: 50px;
  }

  .modal-update-user__btn {
    width: 100%;
  }

  .modal-interaction-instant-win__header {
    h4 {
      font-size: 24px;
      padding-top: 5px;
    }
  }

  .iw-credits_label_yellow__container {
    margin-top: 5px;
  }

  .iw_reward-title {
    font-size: 18px;
    margin-top: 15px;
  }

  .iw_popover-text {
    font-size: 10px;
  }

  .iw_popover {
    top: 20px;
  }

  .iw_reward-description {
    font-size: 14px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  .iw-model-body {
    padding-top: 0;
  }

  .profile-container__badge {
    padding: 0;
    border: none;
  }
}