.contest-title {
  color: #fff;
}

.contest-1-container {
  .contest-title, .contest-description { 
    color: #000;
  }
}

.contest-2-container-sp-form {
  background-color: #fff;
  .contest-title, .contest-description { 
    color: #000;
  }
  padding-bottom: 30px;
}

.contest-img {
  width: 100%;
}

.contest-description {
  color: #fff;
  padding-top: 15px;
  font-size: 16px;
  padding-bottom: 30px;
}

.contest-btn {
  margin-top: 0;
  margin-bottom: 45px;
  white-space: normal;
}

.contest-1-container {
  background-color: whitesmoke;
}

.contest-2-container {
  background-color: #000;
}

.contest-2-container-sp {
  background-color: #000;
  .contest-title, .contest-description { 
    color: #fff;
  }
  .contest-description {
    margin-bottom: 45px;
  }
}
