.contest-title {
  color: #fff;
}

.contest-2-container {
  .contest-title { 
    color: #000;
  }
}

.contest-img {
  width: 100%;
}

.contest-description {
  color: #fff;
  padding-top: 15px;
}

.contest-btn {
  margin-top: 30px;
  margin-bottom: 45px;
}

.contest-1-container {
  background-color: #000;
}

.contest-2-container {
  background-color: #fff;
}