.cta_cover-container__row {
  border: none;
  margin-bottom: 30px;
  height: 530px;
}

.cta_cover-container__col {
  height: 100%;
}

.cta_cover-img_container {
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.cta_cover-description_container {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.cta_cover-credits_container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.cta_cover-credits_label_green {
  background-color: #fff;
  color: $green;
  border-radius: 25px;
  font-size: 18px;
}

.cta_cover-credits_label_yellow {
  background-color: $yellow;
  color: #000;
  border-radius: 25px;
  font-size: 18px;
}

.cta_cover-title {
  font-size: 36px;
  color: #fff;
}

.cta_cover-miniformat, .cta_tip-rule {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cta_tip-rule {
  margin-top: 25px;
}

.cta_cover-btn_container {
  position: absolute;
  bottom: 25px;
}

.cta_cover-btn {
}

.cta_tip-img {
  width: 100%;
}

.cta_tip-section_1_container {
  padding-left: 45px;
}

.cta_tip-section_2_container {
  padding-right: 45px;
}

.cta_tip-section_2_header {
  display: inline-block; 
  padding: 5px 15px; 
  font-size: 22px;
  color: #fff;
}

.cta_tip-title {
  padding-top: 15px;
  font-size: 42px;
  line-height: 46px;
  color: #fff;
}

.cta_tip-description {
  color: #fff;
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;
}

.cta_tip-container {
  background-color: #000;
  margin-bottom: 30px;
}

.cta_tip-img_container {
}

.cta_tip-section_2_description {
  border-left: 3px solid; 
  padding-left: 15px; 
  padding-bottom: 15px;
}

.product-container {
  border: 1px solid #ccc; 
  margin-bottom: 15px;
  padding: 30px;
}

.product-title {
  font-size: 22px;
  color: $green;
  padding-top: 15px;
  padding-bottom: 5px;
}

.product-description {
  font-size: 16px;
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-btn {
  margin-top: 15px;
  padding-left: 45px;
  padding-right: 45px;
}

.product-img {
  width: 100%;
}