$cover-height: 530px;

.cta_cover-container__row {
  border: none;
  margin-bottom: 30px;
  height: $cover-height;
}

.cta_cover-container__col {
  height: $cover-height;
}

.test-interaction__container {
  height: $cover-height;
  border: 1px solid #ccc;
}

.cta_cover-img_container {
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.cta_cover-description_container {
  padding-top: 75px;
  height: 100%;
}

.cta_cover-description_padding {
  padding-left: 45px;
}

.cta_cover-credits_container {
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
}

.cta_cover-credits_label_green {
  background-color: #fff;
  color: $green;
  border-radius: 25px;
  font-size: 18px;
}

.cta_cover-credits_label_yellow {
  background-color: $yellow;
  color: #000;
  border-radius: 25px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-container__iw .cta_cover-credits_label_yellow {
  margin-left: 8px;
  margin-right: 8px;
}

.profile-container__iw-text {
  margin-top: 35px;
  font-size: 18px;
}

.profile-container__iw-btn__container {
  margin-top: 20px;
}

.cta_cover-title {
  font-size: 36px;
  color: #fff;
}

.cta_cover-miniformat, .cta_tip-rule {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cta_tip-rule {
  margin-top: 25px;
}

.cta_cover-btn_container {
  margin-top: 25px;
}

.cta_tip-img {
  width: 100%;
}

.cta_tip-section_1_container {
  padding-left: 45px;
}

.cta_tip-section_2_container {
  padding-right: 45px;
}

.cta_tip-section_2_header {
  display: inline-block; 
  padding: 5px 15px; 
  font-size: 22px;
  color: #fff;
}

.cta_tip-container__title, .cta_product-container__title {
  font-size: 32px;
  padding-top: 45px;
  padding-bottom: 25px; 
}

.cta_tip-title {
  padding-top: 15px;
  font-size: 42px;
  line-height: 46px;
  color: #fff;
}

.cta_tip-description {
  color: #fff;
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;
}

.cta_tip-container {
  background-color: #000;
  margin-top: 15px;
}

.cta_tip-img_container {
}

.cta_tip-section_2_description {
  border-left: 3px solid; 
  padding-left: 15px; 
  padding-bottom: 15px;
}

.product-sub-container {
  background-color: #fff;
  border: 1px solid #ccc; 
  padding: 30px;
  margin-top: 15px;
}

.product-title {
  font-size: 22px;
  color: $green;
  padding-top: 15px;
  padding-bottom: 5px;
}

.product-description {
  font-size: 16px;
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-btn {
  margin-top: 15px;
  padding-left: 45px;
  padding-right: 45px;
}

.product-img {
  width: 100%;
}

@media (max-width: $screen-sm-min) {
  .cta_cover-img__container {
    height: 190px;
    background-size: 100% auto;
  }

  .test-interaction__container {
    height: 380px;
  }

  .cta_cover-container__mobile {
    display: inline-block; 
    border: 1px solid #ccc;
    height: 380px;
    overflow: hidden;
    width: 100%;
  }

  .cta_tip-container__title, .cta_product-container__title {
    font-size: 22px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .cta_tip-section_2_header {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: -15px;
  }

  .cta_tip-section_2_description {
    border: none;
    padding: 0;
  }

  .cta_tip-title {
    font-size: 26px;
    line-height: 30px;
  }

  .cta_tip-section_1_container, .cta_tip-section_2_container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cta_tip-description {
    margin-top: 25px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .cta_cover-container__row {
    height: auto;
    margin-bottom: 0;
  }

  .cta_cover-credits_container {
    padding-top: 15px;
    padding-right: 25px;
  }

  .cta_cover-title {
    font-size: 18px;
    color: #000;
    padding: 5px 15px;
  }

  .cta_cover-miniformat {
    padding: 10px 15px 0 15px;
  }

  .cta_cover-container__col {
    height: auto;
  }

  .cta_cover-btn__container {
    padding: 15px 30px;
    position: absolute;
    bottom: 5px;
  }

  .product-sub-container {
    padding: 15px;
  }

}