.share-interaction__container {
  padding-bottom: 10px;
}

.share-title {
  margin-right: 10px;
  line-height: 40px;
}

@media (max-width: $screen-sm) { 
  .share-interaction__container {
    padding-bottom: 5px;
  }
}