.test-interaction-credits_container {
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
}

.test-answer__container {
  height: 408px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom !important;
  cursor: pointer;
}

.test-answer__btn {
  position: absolute; 
  bottom: 30px;
  .btn {
    text-transform: uppercase;
    padding: 25px 25px !important;
    font-size: 14px !important;
  }
}

.test-question__col {
  height: 80px;  
}

.test-question {
  font-size: 25px;
  padding-top: 22px;
}

.test_progress-bar {
  position: absolute; 
  bottom: 40px; 
  left: 0; 
  right: 0; 
  width: 120px; 
  margin-left: auto; 
  margin-right: auto;
  color: #fff;
}

@media (max-width: $screen-sm) { 

  .test-answer__btn {
    left: 0;
    right: 0;
    bottom: 15px;
  }

  .test-answer__btn .btn {
    white-space: normal;
    padding: 15px 10px !important;
    font-size: 12px !important;
    width: 100% !important;
    text-transform: uppercase;
    min-height: 60px;
  }

  .test-answer__container {
    height: 235px;
    background-size: auto 100% !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-color: #333 !important;
  }

  .test_progress-bar {
    bottom: 0; 
    color: #000;
    .progress {
      margin-bottom: 15px;
    }
  }

  .test-container {
    padding-top: 0 !important;
  }

  .test-interaction-credits_container {
    padding-top: 15px;
    padding-bottom: 0;
    height: 35px;
    position: static;
  }

  .test-question__col {
    height: 90px;
    line-height: 90px;
  }

  .test-question {
    font-size: 18px;
    padding-top: 0;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
  }

}