.test-interaction-credits_container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.test-interaction__container {
  position: relative;
}

.test-answer__container {
  height: 398px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  cursor: pointer;
}

.test-answer__btn {
  position: absolute; 
  bottom: 30px;
  .btn {
    padding: 25px 35px !important;
    font-size: 18px !important;
    width: 55%;
  }
}

.test-question__col {
  height: 130px;  
}

.test-question {
  font-size: 36px;
  margin-top: 15px;
}

@media (max-width: $screen-sm-min) { 
  .test-container {
    padding-top: 0 !important;
  }
}