<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Registrazione avvenuta con successo.</p>
    <p>Interagisci con i contenuti, ottieni punti e scala la classifica.</p>
  </body>
</html>
