.comment-interaction__cover__avatar {
  width: 30px;
  height: 30px;
  float: left;
}

.comment-interaction__cover__info {
  padding: 0 0 0 3px;
  margin: 5px 0;
  font-size: 14px;
  color: #999;
}

.comment-interaction__cover__info__glyphicon-comment {
  font-size: 24px 
}

.comment-interaction__cover__info__text {
  bottom: 5px;
  left: 3px;
  position: relative;
}

.comment-interaction__cover__text-p {
  /* text-overflow: ellipsis; overflow: hidden; white-space: nowrap; */
  word-wrap: break-word;
  color: #999;
  margin: 0;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: none;
}

.comment-interaction__cover__text {
  word-wrap: break-word;
}

.comment-interaction__cover__name {
  color: #000;
}

.comment-interaction__cover__comment {
  margin: 5px 0px;
}

.comment-interaction__profile-img {
  width: 40px;
  margin: 6px auto 0 auto;
}

.comment-interaction__text-p {
  color: #999;
  margin: 0;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 0;
  text-transform: none;
}

.comment-interaction__date {
  font-size: 10px;
}

.comment-interaction__avatar {
  width: 30px;
  height: 30px;
  float: left;
}

.comment-interaction__textarea {
  padding: 15px 12px;
}

.comment-interaction__btn-submit {
  margin-top: 10px;
}

.comment-interaction__form-row {
  background: #efefef;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #e2e2e2;
}

.comment-interaction__comment-row { 
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.comment-interaction__comment-even {
  background: #fdfdfd;
}

.comment-interaction__comment-odd {
  background: #f7f7f7;
}

.comment-interaction__info__glyphicon-comment {
  font-size: 22px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* border-bottom: 1px solid #e2e2e2; */
}

.comment-interaction__other {
  color: #3399ff;
  text-decoration: none;
}

.comment-interaction__other-text {
  position: relative;
  bottom: 3px;
}

.comment-interaction__cta__info {
  margin: 10px 15px 5px 0;
  font-size: 14px;
  color: #999;
  display: inline;
}

.comment-interaction__cta__info__button {
  padding: 5px 8px;
}

.comment-interaction__cta__info__glyphicon-comment {
  font-size: 24px;
  position: relative !important;
  top: 7px !important;
  color: #999;
}

.comment-interaction__cta__info__text {
  top: 2px;
  left: 6px;
  position: relative;
}

.comment-interaction__captcha-img {
  padding-right: 10px;
  margin-top: 10px;
}

.comment-interaction__captcha-code {
  margin-top: 10px;
  padding-left: 0; 
  padding-right: 10px;
}

.comment-interaction__btn-container {
  padding-left: 0;
}

.comment-interaction__col {
  padding-left: 30px;
}

@media (max-width: $screen-sm-min) { 

  .comment-interaction__col {
    padding-left: 15px;
  }

  .cta-cover__card__footer {
    padding: 10px !important;
  }
  .comment-interaction__captcha-code {
    margin-top: 10px;
    padding-left: 0; 
    padding-right: 15px;
  }
  .comment-interaction__btn-container {
    padding-left: 15px;
  }
}