<div class="col-md-4 text-right call-to-action__share-column">

  <p class="call-to-action__share__text">CONDIVIDI</p>

  <!-- EMAIL -->
  <button ng-if="interaction_info.interaction.resource.providers.email" type="button" class="btn btn-default btn-sm call-to-action__share__button-email" data-toggle="modal" data-target="#modal-interaction-{{interaction_info.interaction.id}}">
    <span class="fa fa-envelope"></span>
  </button>

  <!-- MODAL SHARE INTERACTION -->
  <div ng-if="interaction_info.interaction.resource.providers.email" class="modal fade" id="modal-interaction-{{interaction_info.interaction.id}}" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">CONDIVIDI</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6" style="margin-top: 10px;"> 
              <input ng-model="interaction_info.user_interaction.share_to_email" class="form-control" type="text" placeholder="example@shado.tv" name="address">
            </div>
            <div class="col-md-6" style="margin-top: 10px;">
              <button id="email-interaction-{{interaction_info.interaction.id}}" type="button" class="btn btn-default btn-block" ng-click="shareWith(calltoaction_info, interaction_info, 'email')">CONDIVIDI VIA EMAIL</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CHIUDI</button>
        </div>
      </div>
    </div>
  </div>

  <!-- FACEBOOK -->                
  <button ng-if="interaction_info.interaction.resource.providers.facebook && !current_user.facebook" class="btn btn-fb btn-sm call-to-action__share__button-facebook" data-toggle="modal" data-target="#connect-with-facebook"><span class="fa fa-facebook"></span></button>

  <!-- MODAL SHARE INTERACTION -->
  <div ng-if="interaction_info.interaction.resource.providers.facebook && !current_user.facebook" class="modal fade" id="connect-with-facebook" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">CONNETTI CON FACEBOOK PER CONDIVIDERE</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" style="margin-top: 10px;"> 
              <a href="/anchor_provider_from_calltoaction/{{calltoaction_info.calltoaction.id}}" class="btn btn-fb btn-block">CONNETTI</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CHIUDI</button>
        </div>
      </div>
    </div>
  </div>

  <button ng-if="interaction_info.interaction.resource.providers.facebook && current_user.facebook" id="facebook-interaction-{{interaction_info.interaction.id}}" type="button" class="btn btn-fb btn-sm call-to-action__share__button-facebook" ng-click="shareWith(calltoaction_info, interaction_info, 'facebook')"><span class="fa fa-facebook"></span></button>

  <!--
  <div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome" id="undervideo-outcome-{{interaction_info.interaction.id}}" class="col-md-12 text-center" style="margin-top: 15px;">
    <div class="alert alert-success">
      <strong>Bravo!</strong> Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} biglietti.
    </div>
  </div>
  -->

  <div class="call-to-action__reward-status-images" ng-repeat="reward_status_image in interaction_info.status.reward_status_images">
    <span class="call-to-action_reward-value" ng-class="{ 'active': interaction_info.user_interaction && interaction_info.user_interaction.outcome}">+1</span><img style="height: 35px;" ng-src="{{reward_status_image}}">
  </div>
</div>