<audio class="hidden click-sound">
<source src="/assets/click.mp3" type="audio/mpeg" />
</audio>
<audio class="hidden roll-sound">
<source src="/assets/roll.mp3" type="audio/mpeg" />
</audio>
<audio class="hidden blink-sound">
<source src="/assets/blink.mp3" type="audio/mpeg" />
</audio>

<div class="call-to-action panel panel-default panel-shadow">
    
  <div class="panel-body panel-body-call-to-action">  
  
    <div class="row">
      <div class="col-sm-12 gift-container">
        <a target="_blank" href="{{calltoaction_info.calltoaction.aux.shop_url}}?utm_source=link&utm_medium=giftmachine&utm_campaign=giftmachine" class="cta-media">
          <img class="call-to-action__media gift-image hidden-xs" ng-src="{{calltoaction_info.calltoaction.media_image}}">
          <img class="call-to-action__media gift-image hidden-lg hidden-sm hidden-md mobile" ng-src="{{calltoaction_info.calltoaction.thumbnail_url}}">
        </a>
        <img class="call-to-action__media loader hidden hidden-xs" style="width: 100%; position: absolute; top: 25px; left:15px; max-width: 688px;" src="<%= asset_path("coin/slot.gif") %>">
        <div class="visible-xs" style="position: absolute; top: 0px; left: 5%; width: 100%;">
        	<img class="call-to-action__media loader hidden hidden-lg hidden-sm hidden-md" style="width: 90%; margin: -20px auto 0 auto;" src="<%= asset_path("coin/slot-mobile.gif") %>">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-xs-7">
        <p id="product-title" ng-class="title_product_class" ng-bind-html="calltoaction_info.calltoaction.description" style="min-width: 400px;"></p>
        <a target="_blank" href="{{calltoaction_info.calltoaction.aux.shop_url}}" class="btn btn-gift call-to-action__media__description-mobile visible-xs call-to-action__share-and-win-animation"><span class="glyphicon glyphicon-shopping-cart call-to-action__media__button__gift-icon"></span></a>
      </div>
      <div ng-class="buy_product_class" class="col-sm-3 col-xs-5 text-right hidden-xs">
        <a id="product-buy" target="_blank" href="{{calltoaction_info.calltoaction.aux.shop_url}}?utm_source=link&utm_medium=giftmachine&utm_campaign=giftmachine" class="btn btn-gift call-to-action__media__button__gift"><span class="glyphicon glyphicon-gift call-to-action__media__button__gift-icon"></span>ACQUISTA</a>
      </div> 
    </div>

    <div class="row call-to-action__share-and-win call-to-action__share-and-win-animation">
      <div class="col-sm-8 col-xs-5">
        <img class="call-to-action__share-and-win__ticket-img hidden-xs" src="<%= asset_path("coin/coin-ticket.png") %>">
        <p ng-if="!aux.share_interaction_daily_done" class="call-to-action__share-and-win__title hidden-xs">Condividi e vinci subito</p>
        <p ng-if="aux.share_interaction_daily_done" class="call-to-action__share-and-win__title hidden-xs">Torna domani per ottenere un nuovo biglietto</p>
        <p ng-if="!aux.share_interaction_daily_done" class="call-to-action__share-and-win__description hidden-xs">Puoi giocare una volta al giorno. Invita i tuoi amici a giocare per guadagnare un'opportunità in più di vincere.</p>
        <p ng-if="aux.share_interaction_daily_done" class="call-to-action__share-and-win__description hidden-xs">Hai già fatto la prima condivisione del giorno. Per ottenere altri biglietti torna domani.</p>
        <p class="call-to-action__share-and-win__title visible-xs">Condividi e vinci!</p>
      </div>
      <div ng-if="shareInteractionsPresent(calltoaction_info.calltoaction.id)">
        <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
          <div id="share-interaction-{{interaction_info.interaction.id}}">
            <%= render partial: "/call_to_action/share_interaction" %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="panel-footer call-to-action__footer">  
    <div class="row text-center">
      <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-primary btn-block call-to-action__button__inspire" ng-click="nextRandomCallToAction(calltoaction_info);" ng-class="{'disabled': animation_in_progress}">
          <div class="row">
            <div class="col-sm-12">
              <span class="glyphicon glyphicon-repeat call-to-action__button__repeat-icon"></span>
              <p class="call-to-action__button__inspire-text">ISPIRAMI ANCORA</p>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>  

</div>