/* CATEGORY HEADER BLOCK */

.category-header {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.category-header__header-image{
  margin-top: -20px;
}

.category-header__title,
.category-header__subtitle{
  color: $brown;
}

.category-header__title--gallery{
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: #fff;
}

.category-header__filter-area{
  position: absolute;
  right: 58px;
  bottom: 15px;
}

.category-header__filter-area--gallery{
  position: absolute;
  left: 50px;
  bottom: 15px;
}

@media (max-width: $screen-sm-min) { 
  .category-header {
    height: auto;
    overflow: hidden;
    position: relative;
  }
  .category-header__filter-area{
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  .category-header__title {
    bottom: 10px;
    color: #fff;
    font-size: 18px;
    left: 15px;
    position: absolute;
  }

}