/* CUP */

.cup__title {
  color: #660206;
  font-family: "BarmenoRegularBold";
  font-size: 28px;
  padding: 0 10px 15px 10px;
}

.cup__package {
  border: 2px solid #999;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.cup__package--selected{
  border-color: $brown;
}

.cup__checked{
  position: absolute;
  color: $brown;
  top: -17px;
  right: -11px;
  font-size: 23px;
}

.cup__subtitle {
  color: $brown;
  font-size: 16px;
  font-weight: bold;
}

.cup__footer {
  color: $dark_grey;
  font-size: 14px;
  margin: 20px 80px;
}

.cup__header-col {
  margin-bottom: 30px;
}

.cup__form {
  label {
    color: $brown;
  }
  .checkbox label {
   font-weight: bold; 
  }
  .main-container--cream {
    padding-bottom: 30px;
  }
}

.cup__select-cup-image{
  display: block;
  margin: 5px auto;
}

.cup__checkbox{
  color: $brown;
  font-weight: bold;
}

.cup__submit {
  margin-top: 15px;
  margin-bottom: 30px;
}

.cup__radio {
  padding-top: 5px;
}

.cup__back{
  color: $brown;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
}