/* FOOTER */

.footer__row {
  background-color: $brown;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
} 

.footer__img-pre {
}

.footer__border-left {
}

.footer__text-pre {
  font-size: 18px;
  font-family: "BarmenoRegularBold";
  margin-top: 15px;
}

.footer__btn {
  margin-top: 15px;
}