/* HEADER */

.header__container {
  background-color: transparent;
}

.header__title {
  font-family: "BarmenoRegularBold";
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
} 

.header__logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.header__left-img, .header__right-img {
  margin-top: 15px;
}