/* HEADER */

.header__container {
  background-color: transparent;
}

.header__title {
  font-family: "BarmenoRegularBold";
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
} 

.header__logo {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.header__logo--small {
  max-width: 70%;
}

.header__left-img, .header__right-img {
  margin-top: 15px;
  max-width: 100%;
}