/* SHARE */

.share-interaction__container {
  position: absolute;
  right: -70px;
  top: 0;
}

.share-interaction__extra-title {
  color: #660206;
  font-family: "BarmenoRegularBold";
  font-size: 32px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.share-interaction__extra-description {
  font-size: 16px;
  padding: 15px;
}

.share-interaction__cover__col {
  padding-top: 10px;
}

.share-interaction__cover__info {
  padding: 0;
  font-size: 14px;
  color: #999;
}

.share-interaction__cta__info__fb-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.share-interaction__cta__info__email-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 0px 3px 0px 0px #ccc;
  -moz-box-shadow: 0px 3px 0px 0px #ccc;
  box-shadow: 0px 3px 0px 0px #ccc;
  display: block;
  margin-bottom: 10px;
}

.share-interaction__cta__info__tt-button, .share-interaction__cta__info__wa-button, .share-interaction__cta__info__gplus-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.share-undervideo-interaction__row .share-interaction__cta__info__email-button, 
.share-undervideo-interaction__row .share-interaction__cta__info__tt-button,
.share-undervideo-interaction__row .share-interaction__cta__info__wa-button,
.share-undervideo-interaction__row .share-interaction__cta__info__gplus-button,
.share-undervideo-interaction__row .share-interaction__cover__info {
  display: inline;
}

.share-interaction__extra-share {
  font-size: 16px; 
  margin-right: 15px;
  display: inline;
}

.share-interaction__cta__info__fb-button:active, 
.share-interaction__cta__info__email-button:active,
.share-interaction__cta__info__tt-button:active {
  top: 3px;
  position: relative;
}

.share-interaction__cover__info__glyphicon-fb {
  font-size: 24px !important;
  position: relative;
  top: 3px;
}

.share-interaction__cover__info__glyphicon-envelope {
  font-size: 24px !important;
  position: relative;
  top: 1px;
}

.share-interaction__modal__panel {
  margin: 0 25px 0 25px;
}

.share-interaction__modal__panel-body {
  -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  padding-top: 0;
}

.share-interaction__modal__header-title {
  color: #000;
  font-size: 18px;
  padding-bottom: 15px;
}

.share-interaction__modal__title {
  padding-top: 15px;
  color: #000;
  font-size: 14px;
}

.share-interaction__modal__description {
  color: #999;
  font-size: 14px;
}

.share-interaction__modal-input-col {
  padding-left: 40px;
  padding-right: 40px;
}

.share-interaction__modal-feedback {
  margin-bottom: 5px;
}

.share-interaction__cta__info__email-button, 
.share-interaction__cta__info__tt-button,
.share-interaction__cta__info__fb-button {
  padding: 0;
}

.share-interaction__cta__info__email-button, 
.share-interaction__cta__info__gplus-button,
.share-interaction__cta__info__wa-button,
.share-interaction__cta__info__tt-button,
.share-interaction__cta__info__fb-button {
  margin-right: 10px;
}

@media (max-width: $screen-sm-min) { 
  .share-interaction__modal__panel {
    margin: 0;
  }

  .share-undervideo-interaction__row {
    margin-top: 15px;
  }

  .share-interaction__modal-input-col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .share-interaction__modal__header-title {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: left;
  }
}