<!-- FACEBOOK -->   
<button ng-if="interaction_info.interaction.resource.providers.facebook" class="btn btn-default share-interaction__btn" ng-click="shareWith(calltoaction_info, interaction_info, 'facebook')"><i class="fa fa-facebook share-interaction__cover__info__glyphicon-fb"></i></button>

<!-- TWITTER -->   
<button ng-if="interaction_info.interaction.resource.providers.twitter" class="btn btn-default share-interaction__btn" ng-click="shareWith(calltoaction_info, interaction_info, 'twitter')"><i class="fa fa-twitter share-interaction__cover__info__glyphicon-tt"></i></button>
  
