<% if $context_root == "inaugurazione" %>
  <div class="container-fluid container-bg" ng-style="{'background-image': 'url(' + calltoaction_info.miniformat.extra_fields.background_img.url + ')'}">
    <%= render partial: "/call_to_action/stream_single_calltoaction_content" %>
  </div>
<% else %>
  <%= render partial: "/call_to_action/stream_single_calltoaction_content" %>
<% end %>