<div ng-if="calltoaction_info.calltoaction.media_type == 'YOUTUBE' || calltoaction_info.calltoaction.media_type == 'KALTURA' || calltoaction_info.calltoaction.media_type == 'FLOWPLAYER'" id="main-media-{{calltoaction_info.calltoaction.id}}">
  <div class="media-youtube embed-responsive embed-responsive-16by9">             
    
    <!-- IFRAME VIDEO -->
    <div id="main-media-iframe-{{calltoaction_info.calltoaction.id}}" main-media="main" calltoaction-id="{{calltoaction_info.calltoaction.id}}" class="embed-responsive-item"></div>

    <!-- OVERVIDEO AREA -->
    <%= render partial: "/call_to_action/overvideo_interaction" %>

  </div>
</div>

<!-- MAIN MEDIA IMAGE -->
<div ng-if="calltoaction_info.calltoaction.media_type == 'IMAGE'" id="main-media-{{calltoaction_info.calltoaction.id}}" class="media-image media-image-{{calltoaction_info.miniformat['name']}} {{calltoaction_info.class}} cta-preview__thumbnail">
  <img ng-src="{{calltoaction_info.calltoaction.media_image}}" style="width: 100%;" class="cta-preview__image">
</div>

<!-- IFRAME -->
<div ng-if="calltoaction_info.calltoaction.media_type == 'IFRAME'" >
  <!-- IFRAME -->
  <div class="embed-responsive embed-responsive-16by9 text-center" id="iframe-calltoaction-{{calltoaction_info.calltoaction.id}}"></div>
</div>