<%= light_link_to("{{content.attributes.detail_url}}") do %>
  <div class="relateds-flexslider__item-panel" ng-style="{'background-color': content.attributes.aux.miniformat['label_background']}" ng-if="content.attributes.type == 'cta'"> 
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="relateds-flexslider__thumbnail">
          <img class="img-responsive cta-preview__image" ng-src="{{content.attributes.thumb_url}}">            
        </div>
        <div class="cta-preview__miniformat-container">
          <span class="cta-preview__miniformat" ng-style="{'background-color': content.attributes.aux.miniformat['label_background']}">{{content.attributes.aux.miniformat['title']}}</span>
        </div>
        <p class="cta-preview__title">{{content.attributes.title | cut:true:70}}</p>
      </div>
    </div>
  </div>
  <div class="relateds-flexslider__item-panel" ng-if="content.attributes.type == 'tag'" ng-style ="{'background-image': 'url(' + content.attributes.thumb_url + ')'" style="background-position: center center; background-size: auto 100%;"> 
      <div class="row">
        <div class="col-xs-12 text-center cta-preview--tag">
          <p class="cta-preview__title--tag">{{content.attributes.title | cut:true:70}}</p>
        </div>
      </div>
  </div>  
<% end %>