<div class="container header__container">
  <div class="row">
    <div class="col-sm-4">
      <img class="header__left-img" src="//placehold.it/150x50">
    </div>
    <div class="col-sm-4 text-center">
      <img class="header__logo" src="<%= asset_path("orzoro/logo.png") %>">
    </div>
    <div class="col-sm-4 text-right">
      <img class="header__right-img" src="//placehold.it/150x50">
    </div>
    <div class="col-sm-12 text-center">
      <h1 class="header__title">Benessere è Buonumore</h1>
    </div>
  </div>
</div>