<div class="container header__container">
  <div class="row">
    <div class="col-sm-4">
    	<a href="/cup_redeemer/index">
    		<img class="header__left-img" ng-src="{{aux.assets.header_1.url}}">
    	</a>
    </div>
    <div class="col-sm-4 text-center">
      <img class="header__logo" ng-src="{{aux.assets.logo.url}}">
    </div>
    <div class="col-sm-4 text-right">
    	<a href="/browse/view_all/prodotti">
      		<img class="header__right-img" ng-src="{{aux.assets.header_2.url}}">
      	</a>
    </div>
    <div class="col-sm-12 text-center">
      <p class="header__title">Benessere è Buonumore</p>
    </div>
    <img class="home__dora" ng-src="{{aux.assets.header_dora.url}}">
    <img class="home__misstressy" ng-src="{{aux.assets.header_misstressy.url}}">
  </div>
</div>