<div class="ribbon__container-main">
  <div class="ribbon__container_before" ng-style="{'border-color': '#ebb105'}"></div>
  <div class="ribbon__container_after" ng-style="{'border-color': '#ebb105'}"></div>
  <div class="ribbon__container" ng-style="{'background-color': '#ffcc33'}">
    <div class="ribbon-content">
      <p class="ribbon__text"><%= title %></p>
    </div>
  </div>
</div>