<div class="ribbon__container-main">
  <div class="ribbon__container_before" ng-style="{'border-color': '#f7b033'}"></div>
  <div class="ribbon__container_after" ng-style="{'border-color': '#f7b033'}"></div>
  <div class="ribbon__container" ng-style="{'background-color': '#f7b033'}">
    <div class="ribbon-stitches-top"></div>
    <div class="ribbon-content">
      <p class="ribbon__text"><%= title %></p>
    </div>
    <div class="ribbon-stitches-bottom"></div>
  </div>
</div>