<div class="container navbar__container">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="navbar__item" ng-repeat="miniformat in aux.miniformat_info_list">
            <a href="{{miniformat.browse_url}}">
              <p class="navbar__item-text">{{miniformat.title}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <img class="header__logo" ng-src="{{aux.assets.logo.url}}" />
    <p class="header__title--mobile">Benessere è Buonumore</p>
    <a href="javascript:history.back();" class="navbar__back-link" ng-if="menu_field != 'home'"><i class="fa fa-chevron-left"></i></a>
  </nav>
</div>