<div class="container main-container">   


  <div class="row main-row">
  	
    <div class="col-xs-10 col-xs-offset-1">
      
      <h1 class="text-center">FAQ</h1>
      <h2 class="text-center">Domande frequenti</h2>
      
      <%= get_extra_fields!(Tag.find_by_name('assets'))['faq']['value'].html_safe %>
      
      <div class="row faq text-center">
      	<div class="col-xs-12" style="padding: 20px 0;">
      		<a href="https://www.buonalavita.it/contatti/scrivici" target="_blank" class="btn btn-red" style="margin: 10px 0;">Hai altre domande?<br />Contattaci</a>
      	</div>
      </div>
       
    </div>
  </div>

</div>
