<div class="container main-container">   

  <div class="row main-row row-evidence_ctas">
    <%= render partial: "/application/evidence_ctas" %>
  </div>

  <div class="row main-row">
    <div class="col-sm-4" ng-repeat="content in contentPreviews">
      <%= render partial: "/application/content_preview" %> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="append-other" class="text-center">
        <button class="btn btn-red" href="javascript: void(0)" ng-click="orzoroAppendCallToAction();"><span>Carica altri</span></button>
      </div>
    </div>
  </div>

</div>
