<div class="container main-container">   

  <div class="row main-row row-evidence_ctas">
    <%= render partial: "/application/evidence_ctas" %>
  </div>

  <div class="row main-row text-center">
    <div class="col-sm-12">
      <h1 class="home__title">Entra nel mondo di Orzoro</h1>
    </div>
    <div class="col-sm-12">
      <h2 class="home__description">
        Scopri le avventure di Dora e Miss Tressy.<br>
        Guarda la serie, scatenati con i balli, prova le ricette e richiedi le tazze!
      </h2>
    </div>
  </div>

  <div class="row main-row">
    <div class="col-sm-4" ng-repeat="content in contentPreviews">
      <%= render partial: "/application/content_preview" %> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="append-other" class="text-center">
        <button class="btn btn-red" href="javascript: void(0)" ng-click="orzoroAppendCallToAction();"><span>Carica altri</span></button>
      </div>
    </div>
  </div>

</div>
