<div class="container container--default" ng-controller="SearchCtrl" ng-init="init(<%= @browse_section.to_json %> )">
	<% if flash[:notice] %>
		<div class="row brws-item">
			<div class="col-xs-12">
				<h3 class="text-center"><%= flash[:notice].html_safe %></h3>
			</div>
		</div>
	<% end %>
	<div class="browse-sections" ng-repeat="section in sections" ng-if="section.attributes.contents.length > 0">
		<div class="row brws-item main-row" style="margin-top: 30px;">
			  <!-- HEADING -->
			<div class="col-sm-12">
			  <%= render partial: "/application/ribbon", locals: { title: "{{section.attributes.title}}", background: "{{aux.page_tag.miniformat['label_background']}}"}%>
			</div>

	    <div class="col-xs-12" ng-repeat="contents in [section.attributes.contents]">
		    <%= render partial: "/application/content_carousel" %>
		  </div>
		</div>
	</div>
	
</div>