<!-- STATUS -->
<div class="col-xs-12 text-right <%= container_class %>" ng-if="hasBadge(calltoaction_info)">
  <span class="label cta_cover-credits_label_green">
    Fatto <span class="glyphicon glyphicon-ok">
  </span>  
</div> 
<div class="col-xs-12 text-right <%= container_class %>" ng-if="!hasBadge(calltoaction_info)">
  <span class="label cta_cover-credits_label_yellow">
    +1 <span class="fa fa-ticket">
  </span>  
</div> 