<div class="container">   
  <div ng-repeat="calltoaction_info in calltoactions" class="row">
    <div class="col-sm-12">
      <div class="panel panel-default cta_cover-panel">
        <div class="cta_cover-container panel-body">
          
          <div class="row cta_cover-img_container" ng-class="{'hidden': !isCoverHidden(calltoaction_info)}" ng-style="{'background-image': 'url(' + getParentCtaInfo(calltoaction_info).calltoaction.thumbnail_url + ')'}">
            
            <div class="col-sm-5 col-sm-offset-7 cta_cover-description_container" ng-class="{'hidden': !isCoverHidden(calltoaction_info)}">

              <div class="row">

                <div class="col-xs-12 text-right cta_cover-credits_container" ng-if="isLastStepInLinkedCallToAction(calltoaction_info) || !calltoaction_info.status">
                  <span class="label cta_cover-credits_label_green">
                    Fatto <span class="glyphicon glyphicon-ok">
                  </span>  
                </div> 
                <div class="col-xs-12 text-right cta_cover-credits_container" ng-if="!isLastStepInLinkedCallToAction(calltoaction_info) && calltoaction_info.status">
                  <span class="label cta_cover-credits_label_yellow">
                    +1 <span class="fa fa-ticket">
                  </span>  
                </div> 

                <div class="col-sm-12">
                  <div class="percentage_circle p{{getCtaBadgeCost(calltoaction_info)}}">
                    <div class="percentage_circle_fix_bar"></div>
                    <span class="percentace_circle_value">
                        <img ng-src="{{getCtaBadge(calltoaction_info).image}}">
                    </span>
                    <div class="percentage_circle_slice">
                      <div class="percentage_circle_bar" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                      <div class="percentage_circle_fill" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                    </div>
                  </div>
                </div>  

                <div class="col-sm-12">
                  <p class="cta_cover-miniformat" ng-style="{'color': getParentCtaInfo(calltoaction_info).miniformat.extra_fields.color}">{{getParentCtaInfo(calltoaction_info).miniformat.title}}</p>
                  <p class="cta_cover-title">{{getParentCtaInfo(calltoaction_info).calltoaction.title}}</p>
                </div>

                <div class="col-sm-12 cta_cover-btn_container text-center">
                  <button ng-click="openCover(calltoaction_info)" class="btn btn-success btn-lg cta_cover-btn">SCOPRILO E VINCI</button>
                </div>

              </div>

            </div>  

          </div>
          
          
          <div class="col-sm-12" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterTestInteractions">
            <%= render partial: "/call_to_action/test_interaction" %>
          </div>

          <div class="col-sm-12" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-if="isLastStepInLinkedCallToAction(calltoaction_info)">
            <div class="row" >
              <div class="col-sm-12">
                <p>{{calltoaction_info.calltoaction.extra_fields.linked_result_title}}</p>
                <p>{{calltoaction_info.calltoaction.extra_fields.linked_result_description}}</p>
                <p>Condividi il risultato:</p>
                <%= render partial: "/call_to_action/share_interaction" %>
              </div>
            </div>
            <div class="row" ng-click="resetToRedo(calltoaction_info)">
              <div class="col-xs-12">
                <span>Rifai il test <span class="fa fa-refresh"></span></span>
              </div>
            </div>
          </div>

          <div class="row" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
            <div class="col-sm-12 text-right">
              <%= render partial: "/call_to_action/share_interaction" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>