<div class="container">   
  <div class="row cta_cover-container__row" ng-repeat="calltoaction_info in calltoactions" >
    
    <!-- COVER -->
    <div class="col-sm-12 cta_cover-container__col">    
      <div class="cta_cover-img_container" ng-class="{'hidden': !isCoverHidden(calltoaction_info)}" ng-style="{'background-image': 'url(' + getParentCtaInfo(calltoaction_info).calltoaction.thumbnail_url + ')'}">
       
        <!-- STATUS -->
        <div class="col-xs-12 text-right cta_cover-credits_container" ng-if="hasBadge(calltoaction_info)">
          <span class="label cta_cover-credits_label_green">
            Fatto <span class="glyphicon glyphicon-ok">
          </span>  
        </div> 
        <div class="col-xs-12 text-right cta_cover-credits_container" ng-if="!hasBadge(calltoaction_info)">
          <span class="label cta_cover-credits_label_yellow">
            +1 <span class="fa fa-ticket">
          </span>  
        </div> 

        <!-- COVER IMAGE AND DESCRIPTION -->
        <div class="col-sm-5 cta_cover-description_container">
          <div class="row">
            <div class="col-sm-12 cta_cover-description_padding">
              <div class="percentage_circle p{{getCtaBadgeCost(calltoaction_info)}}">
                <div class="percentage_circle_fix_bar"></div>
                <span class="percentage_circle_value">
                    <img ng-src="{{getCtaBadge(calltoaction_info).image}}">
                </span>
                <div class="percentage_circle_slice">
                  <div class="percentage_circle_bar" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                  <div class="percentage_circle_fill" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                </div>
              </div>
            </div>  

            <div class="col-sm-12 cta_cover-description_padding">
              <p class="cta_cover-miniformat" ng-style="{'color': getParentCtaInfo(calltoaction_info).miniformat.extra_fields.color}">{{getParentCtaInfo(calltoaction_info).miniformat.title}}</p>
              <p class="cta_cover-title">{{getParentCtaInfo(calltoaction_info).calltoaction.title}}</p>
            </div>

            <div class="col-sm-12 cta_cover-btn_container cta_cover-description_padding">
              <button ng-click="openCover(calltoaction_info)" class="btn btn-{{getParentCtaInfo(calltoaction_info).calltoaction.name}} btn-lg cta_cover-btn">SCOPRILO E VINCI</button>
            </div>
          </div>
        </div>  
      </div>
      
      <!-- COVER TEST -->
      <div class="test-interaction__container" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterTestInteractions">
        <%= render partial: "/call_to_action/test_interaction" %>
      </div>

      <!-- COVER SHARE -->
      <div class="col-sm-12" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-if="isLastStepInLinkedCallToAction(calltoaction_info)">
        <div class="row" >
          <div class="col-sm-12">
            <p>{{calltoaction_info.calltoaction.extra_fields.linked_result_title}}</p>
            <p>{{calltoaction_info.calltoaction.extra_fields.linked_result_description}}</p>
            <p>Condividi il risultato:</p>
            <%= render partial: "/call_to_action/share_interaction" %>
          </div>
        </div>
        <div class="row" ng-click="resetToRedo(calltoaction_info)">
          <div class="col-xs-12">
            <span>Rifai il test <span class="fa fa-refresh"></span></span>
          </div>
        </div>
      </div>   

    </div>

    <!-- SHARE -->
    <div class="col-sm-12 text-right share-interaction__container" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
      <%= render partial: "/call_to_action/share_interaction" %>
    </div>

  </div>
</div>