<!-- DESKTOP -->
<div class="profile-container hidden-xs">
  <div class="container">
    <!-- USER LOGGED -->
    <div class="row profile-container__row" ng-if="!isAnonymousUser()">
      
      <div class="col-sm-3 hidden-sm profile-container__user">    
        <a ng-click="openEditUserModal()">
          <div class="percentage_circle percentage_circle_profile p{{getUserBadgesPercent()}}">
            <div class="percentage_circle_fix_bar"></div>
            <span class="percentage_circle_value percentage_circle_value_profile">
              <img ng-src="{{current_user.avatar}}">
            </span>
            <div class="percentage_circle_slice">
              <div class="percentage_circle_bar"></div>
              <div class="percentage_circle_fill"></div>
            </div>
          </div>
        </a>
        <p style="margin-top: 50px; font-weight: bold;">Ciao {{current_user.first_name}}</p>
        <p style="font-size: 9px; color: #999; margin-top: 5px;"><a style="color: #999;" ng-click="openEditUserModal()">MODIFICA</a> - <a style="color: #999;" href="/users/sign_out">LOGOUT</a></p>
      </div>

      <div class="col-sm-3 visible-sm profile-container__badge text-center">  
        <div class="profile-container__badge-block">  
          <div class="percentage_circle percentage_circle_profile p{{getUserBadgesPercent()}}">
            <div class="percentage_circle_fix_bar"></div>
            <span class="percentage_circle_value percentage_circle_value_profile">
                <img ng-src="{{current_user.avatar}}">
            </span>
            <div class="percentage_circle_slice">
              <div class="percentage_circle_bar"></div>
              <div class="percentage_circle_fill"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2 profile-container__badge text-center" ng-click="scrollTo(badge.related_cta_name)" ng-repeat="badge in aux.badge_array | limitTo:3 |  orderBy:orderBadgesByCtas:true">
        <div class="profile-container__badge-block">
          <div class="percentage_circle small p{{getBadgeCost(badge)}}">
            <div class="percentage_circle_fix_bar"></div>
            <span class="percentage_circle_value">
                <img ng-src="{{badge.image}}">
            </span>
            <div class="percentage_circle_slice">
              <div class="percentage_circle_bar" ng-style="{'border-color': badge.extra_fields.color }"></div>
              <div class="percentage_circle_fill" ng-style="{'border-color': badge.extra_fields.color }"></div>
            </div>
          </div>
        </div>
        <p class="profile-container__badge-text" ng-class="{'inactive': badge.inactive }">{{badge.title}}</p>
        <p class="profile-container__badge-text" ng-class="{'inactive': badge.inactive }">{{badge.description}}</p>
      </div>

      <div class="col-sm-3 text-center profile-container__iw">
        <p class="profile-container__iw-text"><span class="hidden-sm">Hai</span>
          <span class="label cta_cover-credits_label_yellow">
            +{{current_user.instantwin_tickets_counter}} <span class="fa fa-ticket"></span>
          </span> 
          <span class="hidden-sm">biglietti</span>
        </p> 
        <div ng-if="aux.instant_win_info.active" class="profile-container__iw-btn__container">
          <div ng-if="current_user.registration_fully_completed">
            <button type="button" class="btn btn-green btn-lg btn-green-iw" ng-click="openInstantWinModal()">
              SCOPRI SE HAI VINTO
            </button>
          </div>
          <div ng-if="!current_user.registration_fully_completed">
            <button type="button" class="btn btn-green btn-lg btn-green-iw" ng-click="openRegistrationModalForInstantWin(<%= user_for_registation_form().to_json %>)">
              SCOPRI SE HAI VINTO
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- USER UNLOGGED -->
    <div class="row profile-container__row" ng-if="isAnonymousUser()">
      <div class="col-sm-8 profile-container__user profile-container__user_unlogged">  
        <a href="/users/sign_up">    
          <div class="percentage_circle percentage_circle_profile p{{getUserBadgesPercent()}}">
            <div class="percentage_circle_fix_bar"></div>
            <span class="percentage_circle_value percentage_circle_value_profile">
              <img src="<%= anon_avatar() %>">
            </span>
            <div class="percentage_circle_slice">
              <div class="percentage_circle_bar"></div>
              <div class="percentage_circle_fill"></div>
            </div>
          </div>
        </a>
        <p class="unlogged-title">Hai le giuste abitudini alimentari?</p>
        <p class="unlogged-description">Fai il test, misura il tuo benessere e vinci Braun.</p>
      </div>
      <div class="col-sm-4 text-center">
        <div class="btn-green-userbar-container">
          <div class="btn-green-userbar-line"></div>
          <a href="/users/sign_up" class="btn btn-green btn-green-userbar btn-block btn-lg">PROVA A VINCERE SUBITO</a>
          <p class="profile-container__unlogged-subtitle">In palio un Minipimer al giorno</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MOBILE -->
<div class="profile-container visible-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 profile-container__badge text-center" ng-class="{'profile-container__unlogged-avatar': isAnonymousUser()}">  
        <div class="profile-container__badge-block">  
          <a ng-if="!isAnonymousUser()" ng-click="openEditUserModal()">
            <div class="percentage_circle small percentage_circle_profile p{{getUserBadgesPercent()}}">
              <div class="percentage_circle_fix_bar"></div>
              <span class="percentage_circle_value percentage_circle_value_profile">
                <img ng-src="{{current_user.avatar}}">
              </span>
              <div class="percentage_circle_slice">
                <div class="percentage_circle_bar"></div>
                <div class="percentage_circle_fill"></div>
              </div>            
            </div>
          </a>
          <a ng-if="isAnonymousUser()" href="/users/sign_up">
            <div class="percentage_circle small percentage_circle_profile p{{getUserBadgesPercent()}}">
              <div class="percentage_circle_fix_bar"></div>
              <span class="percentage_circle_value percentage_circle_value_profile">
                <img src="<%= anon_avatar() %>">
              </span>
              <div class="percentage_circle_slice">
                <div class="percentage_circle_bar"></div>
                <div class="percentage_circle_fill"></div>
              </div>            
            </div>
          </a>
        </div>
      </div>
      <div ng-if="isAnonymousUser()" class="col-xs-9 profile-container__unlogged text-center">
        <a class="btn btn-green profile-container__unlogged-btn btn-block" href="/users/sign_up">PROVA A VINCERE SUBITO</a>
        <p class="profile-container__unlogged-subtitle">In palio un Minipimer al giorno</p>
      </div>
      <div ng-if="!isAnonymousUser()" class="col-xs-3 profile-container__badge text-center" ng-repeat="badge in aux.badge_array | limitTo:3 |  orderBy:orderBadgesByCtas:true">
        <div class="profile-container__badge-block">
          <div class="percentage_circle small p{{getBadgeCost(badge)}}">
            <div class="percentage_circle_fix_bar"></div>
            <span class="percentage_circle_value">
                <img ng-src="{{badge.image}}">
            </span>
            <div class="percentage_circle_slice">
              <div class="percentage_circle_bar" ng-style="{'border-color': badge.extra_fields.color }"></div>
              <div class="percentage_circle_fill" ng-style="{'border-color': badge.extra_fields.color }"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>