<!-- Indicators -->
<ol class="carousel-indicators">
  <% s = 0 %>
    <% calltoactions.each do |calltoaction| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= s %>" class="<%= 'active' if s == 0 %>"></li>
      <% s += 1 %>
    <% end %>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">

  <% i = 0 %>

  <% calltoactions.each do |calltoaction| %>
    <%= render partial: "/call_to_action/stream_single_calltoaction", locals: { calltoaction: calltoaction, type: "", i: i } %>
    <% i += 1 %>
  <% end %>
  
</div>
