<!-- Indicators -->
<ol class="carousel-indicators">
    <% calltoactions.each_with_index do |calltoaction, i | %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <% calltoactions.each_with_index do |calltoaction, i | %>
    <%= render partial: "/call_to_action/stream_single_calltoaction", locals: { calltoaction: calltoaction, type: "", i: i } %>
  <% end %>  
</div>
