<div class="row form-group">
	<div class="text-center">
		<div class="col-xs-12">
			<%= text_field_tag "extra_fields_#{name}", nil, { class: "form-control", :placeholder => label } %>
		</div>
	</div>
</div>