<div class="row text-left gallery__extra-field">
	<div class="col-sm-12">
    <input id="extra_fields_age_<%= name %>" name="extra_fields_age" type="checkbox" value="1" ng-model="form_data.<%= name %>">
		<label style="color: #555555;"><%= label %><%= "*" if required %></label>
	</div>
</div>