.btn-green { 
  color: #FFFFFF; 
  background: #30BF43; 
  background: -webkit-linear-gradient(#44C956, #30BF43);
  background: -o-linear-gradient(#44C956, #30BF43);
  background: -moz-linear-gradient(#44C956, #30BF43);
  background: linear-gradient(#44C956, #30BF43);
  border-color: #1DB331; 
  -webkit-box-shadow: 0px 4px 0px 0px #1DB331;
  -moz-box-shadow: 0px 4px 0px 0px #1DB331;
  box-shadow: 0px 4px 0px 0px #1DB331;
} 
 
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #FFFFFF; 
  background: #4CC95D; 
  border-color: #1DB331; 
} 
 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  box-shadow: outset none;
  position: relative;
  top: 3px;
  background-image: none; 
} 
 
.btn-green.disabled, 
.btn-green[disabled], 
fieldset[disabled] .btn-green, 
.btn-green.disabled:hover, 
.btn-green[disabled]:hover, 
fieldset[disabled] .btn-green:hover, 
.btn-green.disabled:focus, 
.btn-green[disabled]:focus, 
fieldset[disabled] .btn-green:focus, 
.btn-green.disabled:active, 
.btn-green[disabled]:active, 
fieldset[disabled] .btn-green:active, 
.btn-green.disabled.active, 
.btn-green[disabled].active, 
fieldset[disabled] .btn-green.active { 
  background: #30BF43; 
  border-color: #1DB331; 
} 
 
.btn-green .badge { 
  color: #30BF43; 
  background: #FFFFFF; 
}