<%= light_link_to("/call_to_action/{{calltoaction.slug}}") do %>
  <div class="relateds-flexslider__item-panel" ng-style="{'background-color': calltoaction.miniformat_info['label_background']}"> 
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="relateds-flexslider__thumbnail">
          <img class="img-responsive cta-preview__image" ng-src="{{calltoaction.thumbnail_medium_url}}">            
        </div>
        <div class="cta-preview__miniformat-container">
          <span class="cta-preview__miniformat" ng-style="{'background-color': calltoaction.miniformat_info['label_background']}">{{calltoaction.miniformat_info['title']}}</span>
        </div>
        <p class="cta-preview__title">{{calltoaction.title | cut:true:70}}</p>
      </div>
    </div>
  </div>  
<% end %> 