<div class="row {{interaction_info.interaction.resource_type}}-undervideo-interaction__row {{calltoaction_info.class}}" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterRemoveShareInteractionsExceptLastStep | filter:filterRemovePlayInteractions | filter:filterAlwaysVisibleInteractions | filter:filterRemoveDownloadInteractions | filter:filterRemoveVoteInteractions | filter:filterRemoveLikeInteractions | filter:filterRemoveLinkInteractions">
  <%= render partial: "/call_to_action/undervideo_interaction" %>
</div>