<div ng-if="interaction_info.user_interaction">
  <!-- CURRENT USER HAS ALREADY RESPONDED -->
  <div ng-if="interaction_info.interaction.resource.one_shot">
    <div class="col-sm-12 col-xs-12 text-center">
      
      <button class="hidden-xs trivia-interaction__answer {{answer.class}} btn btn-block btn-lg active {{answer.correct ? 'btn-green' : (interaction_info.user_interaction.answer.id == answer.id ? 'btn-red' : 'btn-orange')}}">
        <div class="trivia-interaction__avatar-container" ng-if="interaction_info.user_interaction.answer.id == answer.id">
          <img ng-if="current_user" class="trivia-interaction__avatar" ng-src="{{current_user.avatar}}">
          <img ng-if="!current_user" class="trivia-interaction__avatar" ng-src="<%= anon_avatar() %>">
        </div>
        <span>{{answer.text}}</span>
      </button>

      <button class="visible-xs trivia-interaction__answer {{answer.class}} btn btn-block active {{answer.correct ? 'btn-green' : (interaction_info.user_interaction.answer.id == answer.id ? 'btn-red' : 'btn-orange')}}">
        <div class="trivia-interaction__avatar-container" ng-if="interaction_info.user_interaction.answer.id == answer.id">
          <img ng-if="current_user" class="trivia-interaction__avatar" ng-src="{{current_user.avatar}}">
          <img ng-if="!current_user" class="trivia-interaction__avatar" ng-src="<%= anon_avatar() %>">
        </div>
        <span>{{answer.text}}</span>
      </button>

    </div>
  </div>
  <div ng-if="!interaction_info.interaction.resource.one_shot">
    <div class="col-sm-12 col-xs-12 text-center">
      <button class="trivia-interaction__answer {{answer.class}} btn btn-block btn-lg {{interaction_info.user_interaction.answer.id == answer.id ? (interaction_info.interaction.resource.answer.correct ? 'active btn-success' : 'active btn-danger') : 'btn-orange'}}" ng-click="updateAnswer(calltoaction_info, interaction_info, answer.id, interaction_info.interaction.when_show_interaction)"><span>{{answer.text}}</span></button>
    </div>
  </div>
</div>
<div ng-if="!interaction_info.user_interaction">

  <!-- CURRENT USER HAS NOT RESPONDED -->
  <div class="col-sm-12 col-xs-12 text-center hidden-xs">
    <button class="btn btn-block btn-orange btn-lg trivia-interaction__answer {{answer.class}}" ng-click="updateAnswer(calltoaction_info, interaction_info, answer.id, interaction_info.interaction.when_show_interaction)"><span>{{answer.text}}</span></button>
  </div>

  <div class="col-sm-12 col-xs-12 text-center visible-xs">
    <button class="btn btn-block btn-orange trivia-interaction__answer {{answer.class}}" ng-click="updateAnswer(calltoaction_info, interaction_info, answer.id, interaction_info.interaction.when_show_interaction)"><span>{{answer.text}}</span></button>
  </div>

</div>
                                      
          