<!-- CURRENT USER HAS NOT RESPONDED -->
<div class="col-sm-12 col-xs-12 text-center">
  <button class="btn btn-block btn-orange btn-lg trivia-interaction__answer {{answer.class}}" ng-click="orzoroUpdateAnswer(calltoaction_info, interaction_info, answer.id, interaction_info.interaction.when_show_interaction)"><span>{{answer.text}}</span></button>
</div>                            
          