<!--
<div ng-if="currentUserEmptyAndAnonymousInteractionEnable()">
  {{computeAvgForVoteInteraction(interaction_info)}}
</div>
-->

{{interaction_info.user_interaction.aux}}----
<div class="vote-interaction__baloon-container" ng-class="{'vote-interaction__done': interaction_info.user_interaction, 'vote-interaction__active': !interaction_info.user_interaction}">

  <p class="vote-interaction__title hidden-xs">{{interaction_info.interaction.resource.title}}</p>

  <div class="vote-interaction__baloon text-center">
    <div ng-repeat="i in range(interaction_info.interaction.resource.vote_info.min, interaction_info.interaction.resource.vote_info.max)" class="vote-interaction__baloon__element">
      <!-- NOT DONE -->
      <div  ng-if="!interaction_info.user_interaction" class="vote-interaction__baloon__element-pin" ng-click="updateAnswer(calltoaction_info, interaction_info, i, interaction_info.interaction.when_show_interaction)" ng-class="{'vote-interaction__baloon__element-pin__active': (computeAvgForVoteInteraction(interaction_info) >= i)}">
        <span class="fa fa-star"></span>
      </div>
      <!-- ALREADY DONE -->
      <div  ng-if="interaction_info.user_interaction" class="vote-interaction__baloon__element-pin" ng-class="{'vote-interaction__baloon__element-pin__active': (computeAvgForVoteInteraction(interaction_info) >= i)}">
        <span class="fa fa-star"></span>
      </div>
    </div>
  </div>
</div>

<div class="row text-center" ng-if="interaction_info.user_interaction.feedback || interaction_info.user_interaction">
  <div class="col-xs-12">
    <p class="vote-interaction__feedback-text">Grazie per aver votato</p>
  </div>
</div>