<% content_for :fb_meta_tags, @fb_meta_tags %>

<div class="container main-container main-container-{{calltoaction_info.miniformat['name']}}" >   

  <%= render partial: "/call_to_action/stream_single_calltoaction" %>

  <div class="row main-row related__row container-shadow">
    <div class="col-sm-12 text-center" ng-repeat="miniformat in [calltoaction_info.miniformat]">
      <%= render partial: "/application/ribbon", locals: { title: "Contenuti correlati", background: "{{miniformat['label_background']}}"}%>
    </div>
    <div class="col-sm-12" ng-repeat="contents in [aux.related_calltoaction_info]">
      <%= render partial: "/application/content_carousel" %> 
    </div>
  </div>
</div>