<% content_for :fb_meta_tags, @fb_meta_tags %>

<div class="container main-container main-container-{{calltoaction_info.miniformat['name']}}" >   
  <%= render partial: "/call_to_action/stream_single_calltoaction" %>
</div>