<% content_for :fb_meta_tags, @fb_meta_tags %>

<%= render partial: "/call_to_action/stream_single_calltoaction" %>

<div class="container main-container main-container-{{calltoaction_info.miniformat['name']}}" > 

  <div class="row main-row related__row container-shadow" ng-style="{'background-color': calltoaction_info.miniformat['label_background']}" ng-if="aux.related_product">
    <div class="col-md-3 text-center">
      <img class="related-product__img" ng-src="{{aux.related_product['image']}}">
    </div>
    <div class="col-md-9">
      <p class="related-product__title">{{aux.related_product["title"]}}</p>
      <p class="related-product__description">{{aux.related_product["description"]}}</p>
      <a class="btn btn-red related-product__btn" href="{{aux.related_product['browse_url']}}">SCOPRI IL PRODOTTO</a>
    </div>
  </div>

  <div class="row main-row related__row container-shadow">
    <div class="col-sm-12 text-center" ng-repeat="miniformat in [calltoaction_info.miniformat]">
      <%= render partial: "/application/ribbon", locals: { title: "Contenuti correlati", background: "{{miniformat['label_background']}}"}%>
    </div>
    <div class="col-sm-12" ng-repeat="contents in [aux.related_calltoaction_info]">
      <%= render partial: "/application/content_carousel" %> 
    </div>
  </div>
</div>