/* BUTTONS CUSTOM */

/* DEFAULT HOME PAGE */

.btn-2 {   
    padding: 3px 0 2px 0; 
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    position: relative;
    min-height: 35px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    border: 0px solid #000;
    box-shadow: 0 4px 0 #9C1A06;
    background-color: #D6260B;
    text-align: center;
}

.btn-2.btn-2-small {
  font-size: 10px;
  min-height: 0;
}

/* SQUARE BUTTON */

.btn-2.btn-2-versus {
  font-size: 12px;
  padding-bottom: 35%;
  padding-top: 35%;
  box-shadow: 0 4px 0 #363636;
  background-color: #969696;
}

.btn-2.btn-2-versus.inactive {
  top: 0 !important;
  box-shadow: 0 4px 0 #363636 !important;
  background-color: #969696 !important;
}

.btn-2.btn-2-versus.active {
    top: 3px;
    box-shadow: 0 1px 0 #363636;
}

.btn-2.btn-2-versus.btn-2-versus-orange.active {
    top: 3px;
    background-color: #FF9D00;
    box-shadow: 0 1px 0 #825000;
}

/* DEFAULT BUTTON */

.btn-2.btn-2-default, .btn-2.btn-2-login {
  font-size: 14px;
  box-shadow: 0 4px 0 #363636;
  background-color: #969696;
  min-height: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}

.btn-2.btn-2-fb {
  font-size: 14px;
  box-shadow: 0 4px 0 #24417D;
  background-color: #47639e;
  min-height: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}

.btn-2.btn-2-tt {
  font-size: 14px;
  box-shadow: 0 4px 0 #2B86CC;
  background-color: #55acee;
  min-height: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}

.btn-2.btn-2-default.active {
  top: 3px;
  box-shadow: 0 1px 0 #363636;
}

.btn-2.btn-2-default.btn-2-default-orange.active {
  background-color: #FF9D00; /* ORANGE */
  box-shadow: 0 1px 0 #825000; /* DARK ORANGE */
}

.btn-2.btn-2-default-danger {
  box-shadow: 0 4px 0 #9C1A06;
  background-color: #D6260B;
}

.btn-2.btn-2-default.inactive {
  top: 0px;
  box-shadow: 0 4px 0 #363636;
}

.btn-2.btn-2-default-success {
  box-shadow: 0 4px 0 #438A3D !important; /* GREEN */
  background-color: #1EB510 !important; /* DARK GREEN */
}

.btn-2.btn-2-default-success.active {
    top: 3px;
    background-color: #1EB510 !important; /* GREEN */
    box-shadow: 0 1px 0 #438A3D !important; /* DARK GREEN */
}

.btn-2.btn-2-default-danger.active {
    top: 3px;
    background-color: #D6260B !important;
    box-shadow: 0 1px 0 #9C1A06 !important;
}

/* HOVER AND ACTIVE */

.btn-2.btn-2-default.inactive:active, .btn-2.btn-2-default.inactive:hover {
  top: 0px !important;
  box-shadow: 0 4px 0 #363636 !important;
  background-color: #969696 !important;
}

.btn-2.btn-2-default-success.inactive:hover, .btn-2.btn-2-default-success.inactive:active {
  box-shadow: 0 4px 0 #438A3D !important; /* GREEN */
  background-color: #1EB510 !important; /* DARK GREEN */
}

.btn-2.btn-2-versus.inactive:hover, .btn-2.btn-2-versus.inactive:active {
  top: 0 !important;
  box-shadow: 0 4px 0 #363636 !important;
  background-color: #969696 !important;
} 

.btn-2:hover {
    background-color: #D63820;
    border: 0px solid #000;
}

.btn-2:active {
    top: 3px;
    box-shadow: 0 1px 0 #9C1A06;
}

.btn-2.btn-2-versus:hover {
    background-color: #FF9D00;
    box-shadow: 0 4px 0 #825000;
}

.btn-2.btn-2-versus.active:hover {
    background-color: #FF9D00; /* ORANGE */
    box-shadow: 0 1px 0 #825000; /* DARK ORANGE */
}

.btn-2.btn-2-versus:active {
    top: 3px;
    box-shadow: 0 1px 0 #363636;
}

.btn-2.btn-2-versus:active:hover {
    top: 3px;
    box-shadow: 0 1px 0 #825000;
}

.btn-2.btn-2-default:hover {
    background-color: #FF9D00;
    box-shadow: 0 4px 0 #825000;
}

.btn-2.btn-2-login:hover {
    background-color: #ABABAB;
    box-shadow: 0 4px 0 #363636;
}

.btn-2.btn-2-tt:hover {
    background-color: #6BB2E8;
    box-shadow: 0 4px 0 #2B86CC;
}

.btn-2.btn-2-fb:hover {
    background-color: #4669B3;
    box-shadow: 0 4px 0 #24417D;
}

.btn-2.btn-2-default.active:hover {
    background-color: #969696; /* GRAY */
    box-shadow: 0 1px 0 #363636; /* DARK GRAY */
}

.btn-2.btn-2-default:active, .btn-2.btn-2-default.active {
    top: 3px;
    box-shadow: 0 1px 0 #363636;
}

.btn-2.btn-2-login:active {
    top: 3px;
    box-shadow: 0 1px 0 #363636;
}

.btn-2.btn-2-tt:active {
    top: 3px;
    box-shadow: 0 1px 0 #2B86CC;
}

.btn-2.btn-2-fb:active {
    top: 3px;
    box-shadow: 0 1px 0 #24417D;
}

.btn-2.btn-2-default:active:hover {
    top: 3px;
    box-shadow: 0 1px 0 #825000;
}

.btn-2.btn-2-default-success.active:hover {
    box-shadow: 0 1px 0 #438A3D; /* GREEN */
    background-color: #1EB510; /* DARK GREEN */
}

.btn-2.btn-2-default-success:hover {
    background-color: #4EC942;
    box-shadow: 0 4px 0 #438A3D;
}

.btn-2.btn-2-default-danger:active {
    top: 3px;
    background-color: #D6260B;
    box-shadow: 0 1px 0 #9C1A06;
}

.btn-2.btn-2-default-danger.active:hover {
    box-shadow: 0 1px 0 #9C1A06; /* RED */ 
    background-color: #D6260B; /* DARK RED */
}

.btn-2.btn-2-default-danger:hover {
    background-color: #D63820;
    box-shadow: 0 4px 0 #9C1A06;
}

.btn-2.btn-2-default-success:active {
    top: 3px;
    background-color: #1EB510;
    box-shadow: 0 1px 0 #438A3D;
}

/* BOOTSTRAP BUTTON */

.btn-append { 
  color: #000000; 
  background-color: #777C87; 
  border-color: #777C87; 
} 
 
.btn-append:hover, 
.btn-append:focus, 
.btn-append:active, 
.btn-append.active, 
.open .dropdown-toggle.btn-append { 
  color: #000000; 
  background-color: #91949C; 
  border-color: #777C87; 
} 
 
.btn-append:active, 
.btn-append.active, 
.open .dropdown-toggle.btn-append { 
  background-image: none; 
} 
 
.btn-append.disabled, 
.btn-append[disabled], 
fieldset[disabled] .btn-append, 
.btn-append.disabled:hover, 
.btn-append[disabled]:hover, 
fieldset[disabled] .btn-append:hover, 
.btn-append.disabled:focus, 
.btn-append[disabled]:focus, 
fieldset[disabled] .btn-append:focus, 
.btn-append.disabled:active, 
.btn-append[disabled]:active, 
fieldset[disabled] .btn-append:active, 
.btn-append.disabled.active, 
.btn-append[disabled].active, 
fieldset[disabled] .btn-append.active { 
  background-color: #777C87; 
  border-color: #777C87; 
} 
 
.btn-append .badge { 
  color: #777C87; 
  background-color: #000000; 
}
