/* DEFAULT RED */

.btn-2 {   
    padding: 3px 0 2px 0; 
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    position: relative;
    min-height: 35px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    border: 0px solid #000;
    box-shadow: 0 4px 0 #9C1A06;
    background-color: #D6260B;
    text-align: center;
}

.btn-2::-moz-focus-inner{ border: 0 }

.btn-2:hover {
    background-color: #D63820;
    border: 0px solid #000;
}

.btn-2:active {
    top: 3px;
    box-shadow: 0 1px 0 #9C1A06;
}

/* GRAY */

.btn-2.btn-2-versus {
  font-size: 12px;
  padding-bottom: 35%;
  padding-top: 35%;
  box-shadow: 0 4px 0 #363636;
  background-color: #969696;
}

.btn-2.btn-2-versus:hover {
  background-color: #FF9D00;
  box-shadow: 0 4px 0 #825000;
}

.btn-2.btn-2-versus:active {
    top: 3px;
    box-shadow: 0 1px 0 #363636;
}

.btn-2.btn-2-versus:active:hover {
    top: 3px;
    box-shadow: 0 1px 0 #825000;
}