<% content_for :body_class, "body-landing" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center visible-xs"><!-- MOBILE -->
      <img class="landing__logo-img" src="<%= asset_path("coin/logo-landing.png") %>">
    </div>
    <div class="col-sm-12 text-center hidden-xs"><!-- DESKTOP -->
      <p class="landing__text">CERCHI L'IDEA GIUSTA PER NATALE?<br>SCOPRI...</p>
    </div>
    <div class="col-sm-12 text-center">
      <img class="landing__gift-img" src="<%= asset_path("coin/gift-landing-end.png") %>">
    </div>
    <div class="col-sm-12 text-center visible-xs"><!-- MOBILE -->
      <p class="landing__text">CERCHI L'IDEA GIUSTA PER NATALE? SCOPRI...</p>
    </div>
    <div class="col-sm-12 text-center hidden-xs">
      <img class="landing__logo-img" src="<%= asset_path("coin/logo-landing.png") %>">
    </div>
    <div class="col-sm-12">
      <div class="row landing__buttons">
        <div class="col-sm-4 col-sm-offset-2 text-center">
          <a style="margin-top: 15px;" target="_top" href="/auth/facebook_<%= request.site.id %>" class="btn btn-facebook btn-block"><span class="fa fa-facebook landing__button__facebook-icon"></span> ENTRA CON FACEBOOK</a>
        </div>
         <div style="margin-top: 15px;" class="col-sm-4 text-center">
          <a  href="/users/sign_up" class="btn btn-primary registration__button registration__button__landing btn-block">REGISTRATI</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <p class="landing__sign-in">se sei già registrato fai <a style="color: #fff; text-decoration: underline;" href="/users/sign_in">login</a></p>
    </div>
  </div>
</div>