<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="landing__text">CERCHI L'IDEA GIUSTA PER NATALE?<br>SCOPRI...</p>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 15px;">
      <img src="<%= asset_path("coin/gift-landing.png") %>">
    </div>
    <div class="col-md-12 text-center" style="margin-top: 15px;">
      <img src="<%= asset_path("coin/logo-landing.png") %>">
      <img class="landing__sale-img" src="<%= asset_path("coin/sale-landing.png") %>">
    </div>
    <!--
    <div class="col-md-12 text-center" style="margin-top: 15px;">
      <a  href="/auth/facebook_<%= request.site.id %>" class="btn btn-facebook landing__button"><span class="fa fa-facebook landing__button__facebook-icon"></span> ENTRA CON FACEBOOK</a>
      <p class="landing__sign-up">oppure <a href="/users/sign_up">registrati</a></p>
    </div>
    -->
  </div>
</div>