<% content_for :body_class, "body-landing" %>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="landing__text">CERCHI L'IDEA GIUSTA PER NATALE?<br>SCOPRI...</p>
    </div>
    <div class="col-md-12 text-center">
      <img class="landing__gift-img" src="<%= asset_path("coin/gift-landing.png") %>">
    </div>
    <div class="col-md-12 text-center">
      <img class="landing__logo-img" src="<%= asset_path("coin/logo-landing.png") %>">
    </div>
    <div class="col-md-4 col-md-offset-2 text-center">
      <a style="margin-top: 15px;" href="/auth/facebook_<%= request.site.id %>" class="btn btn-facebook btn-block"><span class="fa fa-facebook landing__button__facebook-icon"></span> ENTRA CON FACEBOOK</a>
    </div>
     <div style="margin-top: 15px;" class="col-md-4 text-center">
      <a  href="/users/sign_up" class="btn btn-primary registration__button registration__button__landing btn-block">REGISTRATI</a>
    </div>
    <div class="col-md-12 text-center">
      <p class="landing__sign-in">se sei già registrato fai <a style="color: #fff; text-decoration: underline;" href="/users/sign_in">login</a></p>
    </div>
  </div>
</div>