# Database name (for local test, ignored if host, user and password are not null)
db_name: dbname

# For live running
host: 
user:
password:

# Tenant (or null)
tenant: disney

# Application root path for log files
app_root_path: /app/root/path