events_db:
rails_app_dir: /dir
messages:  "cache miss computation,predict max cta outcome,expiring cache key,predict interaction outcome,cache miss"
events_chunk_size: 1000 # in rows
sleep_time: 10 # in seconds
