<%= render partial: "/application/user_bar" %>

<div class="container" ng-controller="RankingCtrl" ng-init="init(<%= populate_rankings(["general-chart", "my_position_general"]).to_json %>);">

<%= render partial: "/ranking/rank", locals: { rankings: "rankings.my_position_general" } %>

<%= render partial: "/ranking/rank", locals: { rankings: "rankings.general-chart" } %>

</div>