<%= render partial: "/application/user_bar" %>

<div class="container" ng-controller="RankingCtrl" ng-init="init(<%= rankings.to_json %>);">

	<div class="row" ng-repeat="rank in rankings">
		
		<div class="col-sm-6" ng-if="rank.rank_type == 'full'">
		    <div class="col-md-12">
		      <div class="page-header">
		        <h1>{{rank.ranking.title}}</h1>
		      </div>
		      
		      <ul class="list-group">
		          <li ng-repeat="rank_user in rank.rank_list" ng-class="{list-group-item: true, list-group-item-warning: false}">
		            <div class="row">
		              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{rank_user.position}}</h4></div>
		              <div class="col-sm-2 hidden-xs"><img ng-src="{{rank_user.avatar}}" class="img-circle img-responsive"></div>
		              <div class="col-sm-5 col-xs-7"><h4>{{rank_user.user}}</h4></div>
		              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{rank_user.counter}}</h4></div>
		            </div>
		          </li>
		      </ul>
		      <button ng-disabled="currentPage == 1" ng-click="perv_page(rank.current_page, rank)">Previous</button>
		      {{rank.currentPage}}/{{rank.numberOfPages()}}
		      <button ng-disabled="currentPage >= total_page" ng-click="next_page(rank.current_page, rank)">Next</button>
		    </div>
		</div>
		
	</div>
  
</div>