/* RESET CSS */

hr {
  border-color: #ccc;
}


body {
  padding-top: 0;
  background-color: #fff;
}

p {
  margin: 0;
}

.main-container {
}

.main-row {
  padding-left: 43px;
  padding-right: 43px;
}

.main-row__evidence {
  padding-left: 60px;
  padding-right: 60px;
}

/********************* COOKIES FOOTER *********************/

.cookies-footer {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  min-height: 0; 
  padding: 10px;
}

.cookies-footer__description {
  margin: 0; 
  font-size: 11px;
}

.cookies-footer__link {
  color: #fff;
  text-decoration: underline;
}

.comment_evidence {
    -webkit-animation: comment_evidence_animation 5s; /* Chrome, Safari, Opera */
    animation: comment_evidence_animation 3s;
}

.spacer {
  margin: 20px 0;
}

.brws-item {
  background: $gray;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brws-item--dark{
}

.container--default {
  background-color: #FFF;
}

@-webkit-keyframes comment_evidence_animation { /* Chrome, Safari, Opera */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}

@keyframes comment_evidence_animation { /* Standard syntax */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}

/********************* ERRORS *********************/

.error__container {
  background-image: url('bg-modal.png'); 
  background-size: 100% 100%;
  background-color: #fff;
}

.error__image {
  margin-top: 155px;
  max-width: 240px;
  width: 100%;
}

.error__title {
  margin-top: 220px;
}

.error__description {
  margin-bottom: 220px;
}


@media (max-width: $screen-xs) {
}

@media (max-width: $screen-sm-min) { 

  button.close {
    position: relative;
    z-index: 10;
  }

  .flex-direction-nav {
    display: none !important;
  }

  .adv__horizontal {
    margin-bottom: 10px;
    margin-top: 25px;
    display: inline-block;
    width: auto;
    text-align: center;
    p {
      bottom: auto;
      font-size: 12px;
      left: 5px;
      top: -19px;
      width: 100%;
      -ms-transform: none; /* IE 9 */
      -webkit-transform: none; /* Chrome, Safari, Opera */
      transform: none;
    }
  }

  .main-row {
    padding-left: 0;
    padding-right: 0;
  }
}