/* RESET CSS */

hr {
  border-color: #ccc;
}

* {
  font-family: "Helvetica"
}

h1, h2, 
.ctas__flexslider__title, 
.cta__extra_fields__title, 
.cta__related__title,
.cta__long_description::first-letter {
  font-family: 'Gnuolane';
}


body {
  padding-top: 0;
  background-color: #fff;
}

p {
  margin: 0;
}

.main-row__evidence {
  padding-top: 30px;
  padding-left: 43px;
  padding-right: 43px;
}

.main-row {
  padding-left: 43px;
  padding-right: 43px;
}

.container-fluid__blue, .container--blue {
  background: $blue !important;
}

#widget-calendar {
  background-color: #132332;
  padding: 10px;
  margin-top: 10px;

  .fc-widget-header, .fc-widget-content {
    border-width: 0;
    color: #fff;
  }

  .fc-other-month, .fc-widget-header {
    opacity: 1;
    color: #99a9b6;
  }

  .fc-content-skeleton {
    padding-bottom: 0;
    margin-bottom: 2px;
  }

  .fc-widget-header {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 5px;
  }

  .fc-basic-view .fc-body .fc-row {
    min-height: 0;
  }

  .fc-center {
    h2 {
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
      margin-top: 0;
    }
  }

  .fc-button {
    outline: 0;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border: 0;
    text-shadow: none;
    box-shadow: none;
    color: #fff;
  }

  .fc-day-number {
    font-size: 12px;
    text-align: center;
  }

  .fc-state-highlight {
    background-color: $orange;
  }

  .fc-icon:after {
    margin: 0 !important;
  }

  .fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after {
    content: '';
  }

  .fc-button {
    height: auto !important;
    padding: 0 !important;
  }

  .fc-icon {
    @extend .glyphicon;
    overflow: visible;
    line-height: 0;
    margin: 0;
    top: 0;
  }

  .fc-icon-left-single-arrow {
    @extend .glyphicon-chevron-left;
  }

  .fc-icon-right-single-arrow {
    @extend .glyphicon-chevron-right;
  }

}

/********************* COOKIES FOOTER *********************/

.cookies-footer {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  min-height: 0; 
  padding: 10px;
}

.cookies-footer__description {
  margin: 0; 
  font-size: 11px;
}

.cookies-footer__link {
  color: #fff;
  text-decoration: underline;
}

.comment_evidence {
    -webkit-animation: comment_evidence_animation 5s; /* Chrome, Safari, Opera */
    animation: comment_evidence_animation 3s;
}

.spacer {
  margin: 20px 0;
}

.brws-item {
  background: $gray;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brws-item--dark{
}

.container--default {
  background-color: #FFF;
}

@-webkit-keyframes comment_evidence_animation { /* Chrome, Safari, Opera */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}

@keyframes comment_evidence_animation { /* Standard syntax */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}

/********************* ERRORS *********************/

.error__container {
  background-image: url('bg-modal.png'); 
  background-size: 100% 100%;
  background-color: #fff;
}

.error__image {
  margin-top: 155px;
  max-width: 240px;
  width: 100%;
}

.error__title {
  margin-top: 220px;
}

.error__description {
  margin-bottom: 220px;
}


@media (max-width: $screen-xs) {
}

@media (max-width: $screen-sm-min) { 

  button.close {
    position: relative;
    z-index: 10;
  }

  .flex-direction-nav {
    display: none !important;
  }

  .adv__horizontal {
    margin-bottom: 10px;
    margin-top: 25px;
    display: inline-block;
    width: auto;
    text-align: center;
    p {
      bottom: auto;
      font-size: 12px;
      left: 5px;
      top: -19px;
      width: 100%;
      -ms-transform: none; /* IE 9 */
      -webkit-transform: none; /* Chrome, Safari, Opera */
      transform: none;
    }
  }

  .main-row {
    padding-left: 0;
    padding-right: 0;
  }
}