<div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-0 text-center">
      <img src="/assets/maxibon/img-footer.png" class="img-responsive" style="width: 100%;">
    </div>
    <div class="col-sm-7 text-center">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <img src="/assets/maxibon/img-aquafan-footer.png" class="img-responsive" style="width: 100%;">
        </div>
        <div class="col-sm-12">
          <h3 style="margin: 10px 0 0 0; font-size: 22px; color: #013368;">VINCI UN MAXI PARTY ED ENTRATE GRATIS<br>ALL'AQUAFAN PER TE E I TUOI AMICI!</h3>
        </div>
        <div class="col-sm-12 text-center" style="margin-top: 10px;">
          <a href="/how_to"><button class="btn btn-danger">SCOPRI COME</button></a><img style="padding-left: 15px;" class="img-ticket" src="/assets/maxibon/small-ticket.png">
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="row" style="background-color: #FFF; padding: 10px 0 0 0; margin: 0px;">
	<div class="col-xs-12 text-center">
		<p style="font-size: 11px; color: #5C5C5C;">Copyright 2014 - Nestlé Italiana S.p.A. - Partita IVA 00777280157  | <a target="_blank" href="/rule/maxibon_the_pool_rule.pdf">Regolamento</a></p>
	</div>
</div>