<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" style="float: left; margin-left: 15px;" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/extra" class="navbar-brand hidden-xs"><i class="fa fa-play-circle-o"></i>&nbsp;VIDEO EXTRA</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="/" style="padding-bottom: 5px;">HOME</a></li> 
        <!--<li><a href="browse.html"><span class="glyphicon glyphicon-search"> </span> Sfoglia</a></li>-->
        <% if current_user %>
          <li><a href="/profile/edit">PROFILO</a></li>
          <li><a href="/profile/rankings">CLASSIFICA</a></li>
          <li><a href="/users/sign_out">ESCI</a></li>
        <% else %>
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <% end %>
      </ul>

    </nav>
  </div>
</header>