<%= render partial: "/application/user_bar" %>

<div class="container" style="margin-bottom: 30px;">
  <%= render partial: "/application/header" %>
</div>

<div class="container-fluid" style="background: url('/assets/maxibon/how_to/bg_repeat.png'); background-size: auto 100%;"> <!--#11578b;-->
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
  <div class="row">
      <div class="col-sm-12 text-center" style="margin-bottom: 15px;">
        <h1 class="white-text-with-shadow">COME PARTECIPARE</h1>
      </div>
  </div>
  <div class="row white-text-with-shadow">
    <div class="col-sm-4 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/how_to_1.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">AIUTA MARCO <br />A CONQUISTARE LARA</h2>
      <h5 style="font-family: arial;">Guarda ogni settimana il nuovo episodio. Ottieni un Gratta&Vinci per ogni video guardato e uno se aiuti Marco. Se scegli subito l'amico giusto ottieni un Gratta&Vinci extra.</h5>
    </div>
    <div class="col-sm-4 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/how_to_2.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">CONDIVIDI <br />E OTTIENI GRATTA&VINCI EXTRA</h2>
      <h5 style="font-family: arial;">Aumenta le possibilità di vincita e condividi gli episodi. Per ogni video condiviso guadagni un Gratta&Vinci. Ricordati che puoi condividere sia gli episodi che i video extra</h5>
    </div>
    <div class="col-sm-4 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/how_to_3.png" style="margin-left: auto; margin-right: auto;">
      <h3 style="font-size: 16px;">VINCI SUBITO <br />TUTTI I GIORNI</h3>
      <h5 style="font-family: arial;">Scopri subito se hai vinto, clicca sul pulsante VINCI e tenta la fortuna. In palio ogni giorno 2 ingressi ad Acquafan e in più 20 pacchetti per andare ad un evento Acquafan con 4 amici.</h5>
    </div>
  </div> 

  <div class="row">
      <div class="col-sm-12 text-center" style="margin-bottom: 15px; margin-top: 15px;">
        <h1 class="white-text-with-shadow">VINCI OGNI GIORNO <img src="/assets/maxibon/img-aquafan-footer.png"></h1>
      </div>
  </div>
  <div class="row white-text-with-shadow">
    <div class="col-sm-6 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/prize_1.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">OGNI GIORNO<br />2 INGRESSI GIORNALIERI AQUAFAN</h2>
      <h5 style="font-family: arial;">Ogni giorno in palio 2 ingressi giornalieri all'Aquafan</h5>
    </div>
    <div class="col-sm-6 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/prize_2.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">20 PACCHETTI PER 5 INGRESSI<br />PER GLI EVENTI SERALI AQUAFAN</h2>
      <h5 style="font-family: arial;">In palio 10 pacchetti da 5 ingressi per il concerto di David Guetta del 3 Agosto e 10 pacchetti per un evento serale che verrà comunicato da Aquafan in caso di vincita.</h5>
    </div>
  </div> 
  </div>
</div>

<%= render partial: "/application/footer" %>