<%= render partial: "/application/user_bar" %>
<%= render partial: "/application/header" %>

<div class="container">

  <div class="row">
    <div class="col-md-12 how-to-container blue-shadow">
      <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center" style="margin-bottom: 15px;">
            <h3>COME PARTECIPARE</h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
          <img class="img-responsive" src="/assets/maxibon/how_to/how_to_1.png" style="margin-left: auto; margin-right: auto;">
          <h3 style="font-size: 16px;">GUARDA I VIDEO</h3>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <img class="img-responsive" src="/assets/maxibon/how_to/how_to_2.png" style="margin-left: auto; margin-right: auto;">
          <h3 style="font-size: 16px;">INTERAGISCI</h3>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <img class="img-responsive" src="/assets/maxibon/how_to/how_to_3.png" style="margin-left: auto; margin-right: auto;">
          <h3 style="font-size: 16px;">VINCI TUTTI I GIORNI</h3>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <h2 class="text-center">PREMI IN PALIO</h2>
    <div class="col-md-2 col-md-offset-3 col-sm-12 text-center">
      <img class="img-responsive" src="/assets/scopri-1.jpg" style="margin-left: auto; margin-right: auto;">
      <h4>3 BICI AI PRIMI <br />3 CLASSIFICATI</h4>
      <p>Il premio verrà assegnato ai primi utenti che occupano le prime 3 posizioni della classifica generale. In caso di parità si procederà a un'estrazione fra i parimerito.</p>
    </div>
    <div class="col-md-2 col-sm-12 text-center">
      <img class="img-responsive" src="/assets/scopri-2.jpg" style="margin-left: auto; margin-right: auto;">
      <h4>7 BICI AD ESTRAZIONE <br />SU TUTTI I PARTECIPANTI</h4>
      <p>Premio ad estrazione tra tutti i partecipanti che si saranno registrati, avranno personalizzato la propria bicicletta e completato i dati. </p>
    </div>
    <div class="col-md-2 col-sm-12 text-center">
      <img class="img-responsive" src="/assets/scopri-3.jpg" style="margin-left: auto; margin-right: auto;">
      <h4>1 BICI COME PREMIO <br />DELLA GIURIA</h4>
      <p>Un’apposita giuria selezionerà, ad insindacabile giudizio, la bicicletta che verrà ritenuta migliore in base  all’originalità e alla creatività.</p>
    </div>
  </div>
  
  <div class="row" style="margin-top: 15px;">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p style="font-size: 10px;">
      Concorso valido dal 09/05/2014 al 01/06/2014 con estrazione, selezione ed eventuale estrazione di spareggio entro il 04/07/2014. Per ulteriori informazioni sulle modalità di partecipazione al Concorso consulta il regolamento all'apposita sezione del presente sito e disponibile anche alla sezione "Promozioni e manifestazioni a premio" del sito <a href="http://www.bancamediolanum.it" style="text-decoration: underline;">www.bancamediolanum.it</a>. Totale montepremi del valore massimo di  € 8.316,00 iva inclusa. Il regolamento completo del Concorso è depositato presso Testoni & Testoni Promotion s.r.l., via Martiri di Belfore, 3 - 20090 Opera (MI).
      </p>
    </div>
  </div>

  <%= render partial: "/application/footer" %>

</div>