<%= render partial: "/application/user_bar" %>

<div class="container" style="margin-bottom: 30px;">
  <%= render partial: "/application/header" %>
</div>

<div class="container-fluid" style="background: url('/assets/maxibon/how_to/bg_repeat.png'); background-size: auto 100%;"> <!--#11578b;-->
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
  <div class="row">
      <div class="col-sm-12 text-center" style="margin-bottom: 15px;">
        <h1 class="white-text-with-shadow">COME PARTECIPARE</h1>
      </div>
  </div>
  <div class="row white-text-with-shadow">
    <div class="col-sm-4 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/how_to_1.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">GUARDA I VIDEO</h2>
      <h5>Ogni settimana potrai seguire un nuovo episodio.</h5>
    </div>
    <div class="col-sm-4 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/how_to_2.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">INTERAGISCI</h2>
      <h5>Guadagna biglietti per partecipare al concorso.</h5>
    </div>
    <div class="col-sm-4 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/how_to_3.png" style="margin-left: auto; margin-right: auto;">
      <h3 style="font-size: 16px;">VINCI TUTTI I GIORNI</h3>
      <h5>Prova a vincere ogni giorno i premi in palio.</h5>
    </div>
  </div> 

  <div class="row">
      <div class="col-sm-12 text-center" style="margin-bottom: 15px; margin-top: 15px;">
        <h1 class="white-text-with-shadow">VINCI OGNI GIORNO <img src="/assets/maxibon/img-aquafan-footer.png"></h1>
      </div>
  </div>
  <div class="row white-text-with-shadow">
    <div class="col-sm-6 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/prize_1.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">OGNI GIORNO<br />2 INGRESSI GIORNALIERI AQUAFAN</h2>
      <h5>Ogni giorno in palio 2 ingressi giornalieri all'Aquafan</h5>
    </div>
    <div class="col-sm-6 col-xs-12 text-center" style="margin-bottom: 15px;">
      <img class="img-responsive" src="/assets/maxibon/how_to/prize_2.png" style="margin-left: auto; margin-right: auto;">
      <h2 style="font-size: 16px;">20 PACCHETTI PER DA 5 INGRESSI<br />PER GLI EVENTI SERALI AQUAFAN</h2>
      <h5>In palio 10 pacchetti da 5 ingressi per il concerto di David Guetta del 3 Agosto e 10 pacchetti per un evento serale che verrà comunicato da Aquafan in caso di vincita.</h5>
    </div>
  </div> 
  </div>
</div>

<%= render partial: "/application/footer" %>