<div class="row hidden-xs" style="padding-bottom: 20px;">
  <!-- DESKTOP CAROUSEL -->
  <div class="col-md-12 col-md-offset-0 text-center home-carousel" style="margin-bottom: 20px;">
    <div class="jcarousel-wrapper" style="padding: 0 30px; margin-top: 0;">
        <div class="jcarousel">
            <ul>
              <% i = 1 %>
              <% calltoactions.each do |calltoaction| %>
                <%= render partial: "/property/desktop_index_carousel_item.html", locals: { calltoaction: calltoaction, active: true, i: i } %>
                <% i = i + 1 %>
              <% end %>
              <% calltoactions_comingsoon.each do |calltoaction| %>
                <%= render partial: "/property/desktop_index_carousel_item.html", locals: { calltoaction: calltoaction, active: false, i: i } %>
                <% i = i + 1 %>
              <% end %>
            </ul>
        </div>

        <!-- PREV/NEXT -->
        <a href="#" class="jcarousel-control-prev"><span style="font-size: 16px;" class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="#" class="jcarousel-control-next"><span style="font-size: 16px;" class="glyphicon glyphicon-chevron-right"></span></a>

        <!-- PAGINATION -->
        <p class="jcarousel-pagination">
            <!-- PAGINATION GENERATE HERE -->
        </p>

    </div>
  </div>
</div>
