$container-tablet:             750px !default;
$container-sm:                 $container-tablet !default;

$container-desktop:            750px !default;
$container-md:                 $container-desktop !default;

$container-large-desktop:      $container-desktop !default;
$container-lg:                 $container-desktop !default;

@import "bootstrap/bootstrap";

body {
  padding-top: 15px;
  background-image: url("/assets/coin/bg.jpg");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #9c806a;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
}

.panel-shadow {
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
}

.header-row {
  margin-bottom: 15px;
}

/********************* INSTANT WIN *********************/

.instant-win__modal-footer {
  background: -webkit-linear-gradient(#f6f2e2, #d4d1c5);
  background: -o-linear-gradient(#f6f2e2, #d4d1c5);
  background: -moz-linear-gradient(#f6f2e2, #d4d1c5);
  background: linear-gradient(#f6f2e2, #d4d1c5);
  border-radius: 5px;
}

.instant-win__footer__text-column { 
  margin-top: 10px;
}

.instant-win__footer__text-1 {
  font-size: 14px;
  margin: 0;
}

.instant-win__footer__text-2 {
  font-size: 32px;
  font-weight: 700;
  color: #d21020;
  margin: 0;
}

.instant-win__footer__text-3 {
  font-size: 12px;
  color: #959595;
  margin: 0;
}

.instant-win__button {
  margin-bottom: 30px;
  font-weight: 700;
}

.instant-win__ticket-column {
  padding-left: 7px;
  padding-right: 7px;
}

.instant-win__ticket-panel {
  margin-bottom: 30px;
  background: -webkit-linear-gradient(#cecece, #e3e3e3);
  background: -o-linear-gradient(#cecece, #e3e3e3);
  background: -moz-linear-gradient(#cecece, #e3e3e3);
  background: linear-gradient(#cecece, #e3e3e3);
  -webkit-box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  border-color: #afafaf;
  height: 65px;
}

.instant-win__ticket-panel-body {
  padding: 0 0 0 5px;
}

.instant-win__ticket-pre {
  padding-right: 0;
}

.instant-win__ticket-pre-text {
  line-height: 65px;
  margin: 0;
  color: #959595; // gray
  font-size: 22px;
}

.instant-win__ticket-post {
  padding-left: 0;
}

.instant-win__ticket-post-text {
  line-height: 65px;
  margin: 0;
  color: #959595; // gray
  font-size: 22px;
}

.instant-win__ticket-value {
  color: #ad6600;
  font-size: 65px;
  font-weight: 700;
  line-height: 65px;
  margin-right: 10px;
}

.instant-win__ticket-img {
  float: right;
  height: 50px;
  margin-right: 20px;
  margin-top: 7px;
}

.instant-win__modal-title {
  margin-bottom: 30px;
}

/********************* LANDING *********************/

.landing__text {
  margin-top: 50px;
  font-weight: 700;
  font-size: 18px;
}

.landing__button {
  margin-top: 50px;
  font-weight: 700;
  font-size: 18px;
}

.landing__button__facebook-icon, .call-to-action__share__modal-facebook-icon {
  margin-right: 15px;
}

.landing__sign-up {
  margin-top: 10px;
}

.landing__sale-img {
  position: absolute; 
  top: 90px;
}

/********************* REGISTRATION *********************/

.registration-modal__button {
  margin-bottom: 15px;
}

.registration__title {
  color: #d21020; // red
  font-weight: 700;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.registration__newsletter {
  font-size: 12px;
  color: #959595; // gray
  margin-top: 5px;
  margin-bottom: 15px;
}

.registration__button {
  font-weight: 700;
}

/********************* CALLTOACTION *********************/

.fa-envelope {
  color: #49a8d2;
}

.call-to-action__share__modal-facebook-button {
  margin-bottom: 15px;
}

.call-to-action__share__modal-panel {
  margin-bottom: 0;
}

.call-to-action__share__modal-panel-body {
  background: -webkit-linear-gradient(#ffffff, #e5e5e5);
  background: -o-linear-gradient(#ffffff, #e5e5e5);
  background: -moz-linear-gradient(#ffffff, #e5e5e5);
  background: linear-gradient(#ffffff, #e5e5e5);
}

.call-to-action__share__modal-title, .instant-win__modal-title {
  color: #d21020; // red
  font-weight: 700;
  font-size: 22px;
}

.call-to-action__share__modal-description {
  color: #959595; // gray
  font-size: 16px;
}

.panel-body-call-to-action {
  padding-bottom: 5px;
}

.call-to-action__share-and-win {
  margin-top: 7px;
}

.call-to-action__footer {
  padding: 0 15px 18px;
  background: -webkit-linear-gradient(#f7f6f1, #d6d5d1);
  background: -o-linear-gradient(#f7f6f1, #d6d5d1);
  background: -moz-linear-gradient(#f7f6f1, #d6d5d1);
  background: linear-gradient(#f7f6f1, #d6d5d1);
  border-top: 0;
}

.call-to-action__media__description {
  padding: 0 0 10px 10px;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.call-to-action__media__button__gift {
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.call-to-action__media {
  width: 100%;
}

.call-to-action__share-and-win__title {
  font-size: 18px; 
  margin: 0; 
  padding-left: 85px;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-weight:  700;
}

.call-to-action__share-and-win__description {
  font-size: 12px; 
  margin: 0; 
  padding-left: 85px;
  color: #959595; // gray
}

.call-to-action__media__description-bold {
  font-weight: 700;
}

.call-to-action__media__button__gift-icon {
  margin-right: 5px;
  color: #fecb30;
}

.call-to-action__button__inspire {
  margin-top: 15px;
}

.call-to-action__button__repeat-icon {
  font-size: 50px; 
  top: 6px;
}

.call-to-action__button__inspire-text {
  display: inline;
  font-size: 23px; 
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-weight:  700;
  margin: 0 0 0 15px;
  position: relative;
  bottom: 11px;
}

.call-to-action__share__button-facebook {
  margin-right: 5px;
}

.call-to-action__share__button-email {
}

.call-to-action__share__text {
  display: inline;
  margin: 0 5px 0 0;
  position: relative;
  top: 3px;
  font-size: 12px;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-weight:  700;
  color: #959595; // gray
}

.call-to-action__reward-status-images {
  display: inline;
}

.call-to-action_reward-value {
  margin-right: 5px;
  position: relative;
  top: 3px;
  color: #ad6600; // gray
}

.call-to-action_reward-value.active {
  color: #959595; // gray
}

.call-to-action__share-column {
  margin-top: 5px;
}

.call-to-action__share__modal-button {
  margin-bottom: 15px;
}

.instant-win__button.btn-primary:active, 
.instant-win__button.btn-primary.active, 
.instant-win__button.open .dropdown-toggle.btn-primary,
.registration__button.btn-primary:active, 
.registration__button.btn-primary.active, 
.registration__button.open .dropdown-toggle.btn-primary,
.call-to-action__button__inspire.btn-primary:active, 
.call-to-action__button__inspire.btn-primary.active, 
.call-to-action__button__inspire.open .dropdown-toggle.btn-primary,
.call-to-action__share__modal-button:active,
.call-to-action__share__modal-button.active,
.call-to-action__share__modal-button.open .dropdown-toggle.btn-primary { 
  position: relative;
  top: 5px;
  box-shadow: none;
} 

.call-to-action__button__inspire.btn-primary, .call-to-action__share__modal-button, .registration__button, .instant-win__button {
  -webkit-box-shadow: 0px 5px 0px 0px #5e0409;
  -moz-box-shadow: 0px 5px 0px 0px #5e0409;
  box-shadow: 0px 5px 0px 0px #5e0409;
  border-radius: 7px;
}

.instant-win__button.btn-primary.disabled, 
.instant-win__button.btn-primary[disabled], 
fieldset[disabled] .instant-win__button.btn-primary, 
.instant-win__button.btn-primary.disabled:hover, 
.instant-win__button.btn-primary[disabled]:hover, 
fieldset[disabled] .instant-win__button.btn-primary:hover, 
.instant-win__button.btn-primary.disabled:focus, 
.instant-win__button.btn-primary[disabled]:focus, 
fieldset[disabled] .instant-win__button.btn-primary:focus, 
.instant-win__button.btn-primary.disabled:active, 
.instant-win__button.btn-primary[disabled]:active, 
fieldset[disabled] .instant-win__button.btn-primary:active, 
.instant-win__button.btn-primary.disabled.active, 
.instant-win__button.btn-primary[disabled].active, 
fieldset[disabled] .instant-win__button.btn-primary.active,

.call-to-action__share__modal-button.btn-primary.disabled, 
.call-to-action__share__modal-button.btn-primary[disabled], 
fieldset[disabled] .call-to-action__share__modal-button.btn-primary, 
.call-to-action__share__modal-button.btn-primary.disabled:hover, 
.call-to-action__share__modal-button.btn-primary[disabled]:hover, 
fieldset[disabled] .call-to-action__share__modal-button.btn-primary:hover, 
.call-to-action__share__modal-button.btn-primary.disabled:focus, 
.call-to-action__share__modal-button.btn-primary[disabled]:focus, 
fieldset[disabled] .call-to-action__share__modal-button.btn-primary:focus, 
.call-to-action__share__modal-button.btn-primary.disabled:active, 
.call-to-action__share__modal-button.btn-primary[disabled]:active, 
fieldset[disabled] .call-to-action__share__modal-button.btn-primary:active, 
.call-to-action__share__modal-button.btn-primary.disabled.active, 
.call-to-action__share__modal-button.btn-primary[disabled].active, 
fieldset[disabled] .call-to-action__share__modal-button.btn-primary.active { 
  background-color: #BF0C19; 
  border-color: #88060f; 
  -webkit-box-shadow: 0px 5px 0px 0px #5e0409;
  -moz-box-shadow: 0px 5px 0px 0px #5e0409;
  box-shadow: 0px 5px 0px 0px #5e0409;
} 

/********************* USER BAR *********************/

.user-bar__body__avatar {
  float: left; 
  width: 50px; 
  margin-right: 15px;
  border: 3px solid #9b917d;
}

.user-bar__body__username {
  float: left;
  margin: 0;
  line-height: 50px; 
  font-size: 18px;
  color: #959595; // gray
}

.panel-body-user-bar {
  background: -webkit-linear-gradient(#fbfbfb, #dddddd);
  background: -o-linear-gradient(#fbfbfb, #dddddd);
  background: -moz-linear-gradient(#fbfbfb, #dddddd);
  background: linear-gradient(#fbfbfb, #dddddd);
}

.user-bar__button.btn-primary {
  -webkit-box-shadow: 0px 3px 0px 0px #5e0409;
  -moz-box-shadow: 0px 3px 0px 0px #5e0409;
  box-shadow: 0px 3px 0px 0px #5e0409;
  margin-top: 6px;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-weight:  700;
}

.user-bar__button.btn-primary:active, 
.user-bar__button.btn-primary.active, 
.user-bar__button.open .dropdown-toggle.btn-primary { 
  position: relative;
  top: 3px;
  box-shadow: none;
} 

.user-bar__ticket-column {
  padding-left: 7px;
  padding-right: 7px;
}

.user-bar__ticket-panel {
  margin-bottom: 0;
  background: -webkit-linear-gradient(#cecece, #e3e3e3);
  background: -o-linear-gradient(#cecece, #e3e3e3);
  background: -moz-linear-gradient(#cecece, #e3e3e3);
  background: linear-gradient(#cecece, #e3e3e3);
  -webkit-box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  border-color: #afafaf;
  height: 50px;
}

.user-bar__ticket-panel-body {
  padding: 0 0 0 5px;
}

.user-bar__ticket-pre {
  padding-right: 0;
}

.user-bar__ticket-pre-text {
  line-height: 50px;
  margin: 0;
  color: #959595; // gray
  font-size: 16px;
}

.user-bar__ticket-post {
  padding-left: 0;
}

.user-bar__ticket-post-text {
  line-height: 50px;
  margin: 0;
  color: #959595; // gray
  font-size: 16px;
}

.user-bar__ticket-value {
  color: #ad6600;
  font-size: 33px;
  font-weight:  700;
  line-height: 50px;
  margin-right: 5px;
}

.user-bar__ticket-img {
  float: right;
  height: 35px;
  margin-right: 10px;
  margin-top: 7px;
}

/********************* BTN PRIMARY *********************/

.btn-primary { 
  color: #ffffff; 
  background: -webkit-linear-gradient(#e73141, #BF0C19);
  background: -o-linear-gradient(#e73141, #BF0C19);
  background: -moz-linear-gradient(#e73141, #BF0C19);
  background: linear-gradient(#e73141, #BF0C19);
  border-color: #5e0409; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #ffffff; 
  background: #DB232F; 
  border-color: #88060f; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background: #BF0C19; 
  border-color: #88060f;
} 
 
.btn-primary .badge { 
  color: #BF0C19; 
  background: #ffffff; 
}

/********************* BTN GIFT *********************/

.btn-gift { 
  color: #ffffff; 
  background: #464646; 
  border-color: #170001; 
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
} 
 
.btn-gift:hover, 
.btn-gift:focus, 
.btn-gift:active, 
.btn-gift.active, 
.open .dropdown-toggle.btn-gift { 
  color: #ffffff; 
  background: #5C5C5C; 
  border-color: #170001; 
} 
 
.btn-gift:active, 
.btn-gift.active, 
.open .dropdown-toggle.btn-gift { 
  background-image: none; 
} 
 
.btn-gift.disabled, 
.btn-gift[disabled], 
fieldset[disabled] .btn-gift, 
.btn-gift.disabled:hover, 
.btn-gift[disabled]:hover, 
fieldset[disabled] .btn-gift:hover, 
.btn-gift.disabled:focus, 
.btn-gift[disabled]:focus, 
fieldset[disabled] .btn-gift:focus, 
.btn-gift.disabled:active, 
.btn-gift[disabled]:active, 
fieldset[disabled] .btn-gift:active, 
.btn-gift.disabled.active, 
.btn-gift[disabled].active, 
fieldset[disabled] .btn-gift.active { 
  background: #464646; 
  border-color: #170001; 
} 
 
.btn-gift .badge { 
  color: #464646; 
  background: #ffffff; 
}

/********************* BTN FACEBOOK *********************/

.btn-facebook { 
  color: #ffffff; 
  border-color: #2C4172; 
  background: -webkit-linear-gradient(#566fa9, #364E89);
  background: -o-linear-gradient(#566fa9, #364E89);
  background: -moz-linear-gradient(#566fa9, #364E89);
  background: linear-gradient(#566fa9, #364E89);
  -webkit-box-shadow: 0px 5px 0px 0px #2C4172;
  -moz-box-shadow: 0px 5px 0px 0px #2C4172;
  box-shadow: 0px 5px 0px 0px #2C4172;
} 
 
.btn-facebook:hover, 
.btn-facebook:focus, 
.btn-facebook:active, 
.btn-facebook.active, 
.open .dropdown-toggle.btn-facebook { 
  color: #ffffff; 
  background: #3F5EAB; 
  border-color: #2C4172; 
} 
 
.btn-facebook:active, 
.btn-facebook.active, 
.open .dropdown-toggle.btn-facebook { 
  background-image: none; 
} 
 
.btn-facebook.disabled, 
.btn-facebook[disabled], 
fieldset[disabled] .btn-facebook, 
.btn-facebook.disabled:hover, 
.btn-facebook[disabled]:hover, 
fieldset[disabled] .btn-facebook:hover, 
.btn-facebook.disabled:focus, 
.btn-facebook[disabled]:focus, 
fieldset[disabled] .btn-facebook:focus, 
.btn-facebook.disabled:active, 
.btn-facebook[disabled]:active, 
fieldset[disabled] .btn-facebook:active, 
.btn-facebook.disabled.active, 
.btn-facebook[disabled].active, 
fieldset[disabled] .btn-facebook.active { 
  background: #364E89; 
  border-color: #2C4172; 
  -webkit-box-shadow: 0px 5px 0px 0px #2C4172;
  -moz-box-shadow: 0px 5px 0px 0px #2C4172;
  box-shadow: 0px 5px 0px 0px #2C4172;
} 
 
.btn-facebook .badge { 
  color: #364E89; 
  background: #ffffff; 
}

.btn-facebook:active, 
.btn-facebook.active, 
.open .dropdown-toggle.btn-facebook { 
  position: relative;
  top: 5px;
  box-shadow: none;
} 

/********************* SPINNER *********************/

#instant-win-spinner-container {
  background-color: transparent;
  z-index: 100;
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

#instant-win-spinner { 
  margin: 100px auto;
  width: 128px;
  height: 128px;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.f_circleG {
  position: absolute;
  background-color: #fff;
  height: 23px;
  width: 23px;
  -moz-border-radius: 12px;
  -moz-animation-name: f_fadeG;
  -moz-animation-duration: 0.8s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 12px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -o-border-radius: 12px;
  -o-animation-name: f_fadeG;
  -o-animation-duration: 0.8s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -ms-border-radius :12px;
  -ms-animation-name: f_fadeG;
  -ms-animation-duration: 0.8s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  border-radius: 12px;
  animation-name: f_fadeG;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

#frotateG_01 {
  left: 0;
  top: 52px;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#frotateG_02 {
  left: 15px;
  top: 15px;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#frotateG_03 {
  left: 52px;
  top: 0;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#frotateG_04 {
  right: 15px;
  top: 15px;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#frotateG_05 {
  right: 0;
  top: 52px;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#frotateG_06 {
  right: 15px;
  bottom: 15px;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#frotateG_07 {
  left: 52px;
  bottom: 0;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#frotateG_08 {
  left: 15px;
  bottom: 15px;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}

@-moz-keyframes f_fadeG{
  0% {
    background-color:#d21020
  }

  100% {
    background-color:#f6f2e2
  }
}

@-webkit-keyframes f_fadeG{
  0% {
    background-color:#f6f2e2
  }

  100% {
    background-color:#f6f2e2
  }
}

@-o-keyframes f_fadeG{
  0% {
    background-color:#d21020
  }

  100% {
    background-color:#f6f2e2
  }
}

@-ms-keyframes f_fadeG{
  0% {
    background-color:#d21020
  }

  100% {
    background-color:#f6f2e2
  }
}

@keyframes f_fadeG{
  0% {
    background-color:#d21020
  }

  100% {
    background-color:#f6f2e2
  }
}

/********************* MOBILE *********************/

@media (max-width: $screen-sm-min) { 

  body {
    padding-top: 60px;
    background-image: none;
  }

  .instant-win__footer__text-column { 
    margin-top: 0px;
  }

  .call-to-action__share__modal-panel {
    margin-bottom: 15px;
  }

  .call-to-action__share__modal-panel-body {
    padding: 5px;
  }

  .call-to-action__button__inspire-text {
    display: inline;
    font-size: 18px; 
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
    font-weight:  700;
    margin: 0 0 0 15px;
    position: relative;
    bottom: 15px;
  }

  .call-to-action__media__button__gift-column {
    position: inherit;
  }

}
