<div class="col-sm-12 comment-interaction__col">
  <div class="row comment-interaction__form-row">
    <div class="col-sm-1 col-xs-2 text-center comment-interaction__avatar-container">
      <img src="<%= current_avatar %>" class="comment-interaction__profile-img">
    </div>
    <div class="col-sm-11 col-xs-10">
      <textarea ng-model="interaction_info.interaction.resource.comment_info.user_text" class="form-control comment-interaction__textarea" style="resize: none;" rows="1" name="text"></textarea>
    </div>
    <div ng-if="aux.init_captcha" class="col-sm-3 col-sm-offset-1 col-xs-5 col-xs-offset-2 comment-interaction__captcha-img">
      <img ng-src="{{interaction_info.interaction.captcha}}" style="width: 100%; max-width: 200px; height: 33px;">
    </div> 
    <div ng-if="aux.init_captcha" class="col-sm-3 col-xs-5 comment-interaction__captcha-code">   
      <input class="form-control" ng-model="interaction_info.interaction.resource.comment_info.user_captcha" placeholder="codice">
    </div>     
    <div class="col-sm-5 col-xs-10 col-xs-offset-2 text-right comment-interaction__btn-container" ng-class="{'col-sm-offset-7': !aux.init_captcha, 'col-sm-offset-0': aux.init_captcha}">
      <button class="btn btn-primary btn-block comment-interaction__btn-submit" ng-click="submitComment(interaction_info)"><span>Commenta</span></button>
    </div> 
  </div>

  <!-- COMMENTS -->
  <div ng-repeat="comment in getComments(calltoaction_info)">
    <div class="row comment-interaction__comment-row" ng-class="{'comment_evidence': (comment.evidence), 'comment-interaction__comment-even': !isOdd($index), 'comment-interaction__comment-odd': isOdd($index)}">
      <div class="col-xs-12">
        <img ng-src="{{comment.user.avatar}}" class="comment-interaction__avatar">
        <p class="comment-interaction__text-p">
          <span class="comment-interaction__cover__name">{{comment.user.name}}</span><br>
          <span class="comment-interaction__cover__text">{{comment.text}}</span><br>
        </p>
      </div>
      <!-- COMMENT LIKE INTERACTION -->
      <div class="col-xs-12 text-right">
        <p class="comment-like-interaction__text-p" ng-class="{'active': isCommentLikePressed(comment.id)}" ng-if="calltoaction_info.commentlike_interaction_info">
          <span class="fa fa-thumbs-up comment-like-interaction-thumbs-up" ng-click="updateAnswer(calltoaction_info, calltoaction_info.commentlike_interaction_info, comment.id, interaction_info.interaction.when_show_interaction)"></span> {{comment.like_counter || 0}}
        </p>
      </div>
    </div>
  </div>

  <div class="row comment-interaction__other" ng-if="interaction_info.interaction.resource.comment_info.comments_total_count - interaction_info.interaction.resource.comment_info.comments.length > 0">
    <div class="col-md-12">
      <a href="javascript: void(0)" ng-click="appendComments(interaction_info)"><span class="glyphicon glyphicon-comment comment-interaction__info__glyphicon-comment"></span><span class="comment-interaction__other-text">Leggi {{interaction_info.interaction.resource.comment_info.comments_total_count - interaction_info.interaction.resource.comment_info.comments.length}} commenti precedenti</span></a>
    </div>
  </div>
  
</div>
