<div class="panel panel-default">

  <div class="panel-heading hidden">
    <div class="row">
      <!-- MINIFORMAT -->
      <div ng-if="calltoaction_info.miniformat" class="col-md-8 col-xs-8">
        <h5>
          <span class="label label-default" style="background-color: {{calltoaction_info.miniformat.label_background}}; color: {{calltoaction_info.miniformat.label_color}; padding: 7px; font-size: 90%;">
            <span class="{{calltoaction.miniformat.icon}}"></span>
            {{calltoaction_info.miniformat.title}}
          </span>
        </h5>  
      </div>
      <!-- CALLTOACTION WINNABLE REWARD COUNT -->
      <div ng-if="calltoaction_info.status" class="col-md-4 col-xs-4">
        <h4>
          <span id="head-feedback-calltoaction-{{calltoaction_info.calltoaction.id}}" class="label label-warning">
            +{{calltoaction_info.status.winnable_reward_count}}<span class="glyphicon glyphicon-star">
          </span>  
        </h4>
      </div>
      <!-- CALLTOACTION DONE -->
      <div ng-if="!calltoaction_info.status" class="col-md-4 col-xs-4">
        <h4>
          <span id="head-feedback-calltoaction-{{calltoaction_info.calltoaction.id}}" class="label label-success">
            FATTO <span class="glyphicon glyphicon-ok">
          </span>  
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-left">
        <h2>{{calltoaction_info.calltoaction.title}}</h2>
      </div>
    </div>
  </div>
    
  <div class="panel-body" style="padding-top: 0;">  
    <div class="row cta-cover-thumbnail-row">
      <div class="col-sm-12 cta-cover__thumbnail-column">
        <img ng-src="{{calltoaction_info.calltoaction.thumbnail_medium_url}}" style="width: 100%; position: absolute; top: 0; left: 0;">
      </div>    
    </div>
  </div>  

  <div class="panel-footer" ng-if="shareInteractionsPresent(calltoaction_info.calltoaction.id)">
    <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions" class="row">
      <div id="share-interaction-{{interaction_info.interaction.id}}">
        <%= render partial: "/call_to_action/share_interaction" %>
      </div>
    </div>
    <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterCommentInteractions" class="row">
      <div id="comment-interaction-{{interaction_info.interaction.id}}">
        <%= render partial: "/call_to_action/comment_interaction" %>
      </div>
    </div>
  </div>

</div>        

       