<div class="panel panel-default cta-cover__card">
    
  <div class="panel-body cta-cover__card__body">  
    <div class="row cta-cover__thumbnail-row">
      <!-- CALLTOACTION THUMBNAIL -->
      <%= light_link_to("/call_to_action/{{calltoaction_info.calltoaction.id}}") do %>
        <div class="col-sm-12 cta-cover__thumbnail-column">
          <img ng-src="{{calltoaction_info.calltoaction.thumbnail_medium_url}}" class="cta-cover__thumbnail">
        </div>  
        <!-- CALLTOACTION WINNABLE REWARD COUNT -->
        <div ng-if="calltoaction_info.status  && calltoaction_info.status.winnable_reward_count > 0" class="col-sm-12 cta-cover__winnable-reward text-right">
          <span class="label label-warning cta-cover__winnable-reward__label">
            +{{calltoaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon glyphicon glyphicon-star">
          </span>  
        </div> 
        <!-- CALLTOACTION DONE -->
        <div ng-if="!calltoaction_info.status || calltoaction_info.status.winnable_reward_count < 1" class="col-sm-12 cta-cover__winnable-reward text-right">
          <span class="label label-success cta-cover__winnable-reward__label">
            FATTO <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
          </span>  
        </div> 
        <div class="col-sm-8 text-left cta-cover__title">
          <span ng-if="calltoaction_info.miniformat" class="label label-default cta-cover__miniformat" style="background-color: {{calltoaction_info.miniformat.label_background}}; color: {{calltoaction_info.miniformat.label_color}; padding: 7px;">
            <span class="{{calltoaction_info.miniformat.icon}}"></span>
            {{calltoaction_info.miniformat.title}}
          </span>
          <p>{{calltoaction_info.calltoaction.title}}</p>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterLikeInteractions" class="col-sm-6">
        <div class="like-interaction__cover__info">
          <button ng-click="updateAnswer(calltoaction_info, interaction_info, null, interaction_info.interaction.when_show_interaction)" class="btn btn-default like-interaction__cover__info__button" ng-class="{active: likePressed(interaction_info)}">
            <span class="glyphicon glyphicon-thumbs-up like-interaction__cover__info__glyphicon-thumbs-up"></span>
          </button><span class="like-interaction__cover__info__text">{{interaction_info.interaction.resource.like_info}} mi piace</span>
        </div>
      </div>
      <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions" class="col-sm-6 text-right">
        <div id="share-interaction-{{interaction_info.interaction.id}}">
          <%= render partial: "/call_to_action/share_interaction" %>
        </div>
      </div>
    </div>
  </div>  

  <div class="panel-footer cta-cover__card__footer">
    <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterCommentInteractions" class="row">
      <div id="comment-interaction-{{interaction_info.interaction.id}}">
        <%= render partial: "/call_to_action/cover_comment_interaction" %>
      </div>
    </div>
  </div>

</div>        

       