<span class="label label-default cta-cover__miniformat" style="background-color: {{miniformat.label_background}} !important; color: {{miniformat.label_color}} !important;">
  <span class="{{miniformat.icon}}"></span>
  {{miniformat.title}}
</span>