 <div class="share-interaction__cover__info"> 

  <!-- DIRECT URL -->   

  <button ng-if="interaction_info.interaction.resource.providers.direct_url" class="btn btn-square btn-default share-interaction__cta__info__fb-button" ng-click="shareWith(calltoaction_info, interaction_info, 'direct_url')" ng-class="{'disabled': animation_in_progress}"><span class="fa fa-mail-forward share-interaction__cover__info__glyphicon-fb"></span></button> 

  <div ng-if="interaction_info.interaction.resource.providers.direct_url" class="modal fade" id="modal-interaction-{{interaction_info.interaction.id}}-direct_url" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class="share-interaction__fb-modal-title">Condividi questo contenuto con un amico</p>
            </div>
            <div class="col-sm-10 col-sm-offset-1 text-left">
              <textarea class="hidden-xs share-interaction__fb-modal-link" onclick="this.focus();this.select()" readonly="readonly"><%= "#{root_url}#{$context_root + '/' if $context_root}call_to_action/" %>{{calltoaction_info.calltoaction.slug}}
              </textarea>
              <div class="visible-xs share-interaction__fb-modal-link">
                <%= "#{root_url}#{$context_root + '/' if $context_root}call_to_action/" %>{{calltoaction_info.calltoaction.slug}}         
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- EMAIL -->
  <button ng-if="interaction_info.interaction.resource.providers.email" type="button" class="btn btn-square btn-default share-interaction__cta__info__email-button" data-toggle="modal" data-target="#modal-interaction-{{interaction_info.interaction.id}}-email" ng-class="{'disabled': animation_in_progress}">
    <span class="fa fa-envelope share-interaction__cover__info__glyphicon-envelope"></span>
  </button>

  <!-- MODAL SHARE INTERACTION -->
  <div ng-if="interaction_info.interaction.resource.providers.email" class="modal fade" id="modal-interaction-{{interaction_info.interaction.id}}-email" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

          <div class="row">

            <div class="col-md-12 text-center"> 
              <p class="share-interaction__modal__header-title">Condividi questo contenuto con un amico</p>
            </div>

            <div class="col-md-12">
              <div class="panel panel-default share-interaction__modal__panel">
                <div class="panel-body share-interaction__modal__panel-body"> 
                  <div class="row cta-cover__thumbnail-row">
                    <!-- CALLTOACTION THUMBNAIL -->
                    <div class="col-xs-12 cta-cover__thumbnail-column">
                      <img ng-src="{{calltoaction_info.calltoaction.thumbnail_medium_url}}" class="cta-cover__thumbnail">
                    </div> 
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-left">
                      <p class="share-interaction__modal__title">{{calltoaction_info.calltoaction.title}}</p>
                      <p class="share-interaction__modal__description hidden-xs" ng-bind-html="calltoaction_info.calltoaction.description | cut:true:70 | unsafe"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12" style="padding: 0;"> 
              <hr>
            </div>

            <div ng-if="interaction_info.user_interaction.errors" class="col-md-12 share-interaction__modal-input-col text-left"> 
              <p class="share-interaction__modal-feedback">{{interaction_info.user_interaction.errors}}</p>
            </div>

            <div ng-if="interaction_info.user_interaction.success" class="col-md-12 share-interaction__modal-input-col text-left"> 
              <p class="share-interaction__modal-feedback">{{interaction_info.user_interaction.success}}</p>
            </div>

            <div class="col-md-12 share-interaction__modal-input-col" ng-if="current_user"> 
              <input ng-model="interaction_info.user_interaction.share_to_email" class="form-control" type="text" placeholder="mariorossi@example.com" name="address">
            </div>
            <div class="col-md-6 col-md-offset-3" style="margin-top: 10px;" ng-if="current_user">
              <button id="email-interaction-{{interaction_info.interaction.id}}" type="button" class="btn btn-primary btn-block" ng-click="shareWith(calltoaction_info, interaction_info, 'email')">CONDIVIDI</button>
            </div>
            <div class="col-md-6 col-md-offset-3" style="margin-top: 10px;" ng-if="!current_user">
              <a class="btn btn-primary btn-block" href="/iur">ENTRA PER CONDIVIDERE</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FACEBOOK -->
  <%#
  <button ng-if="interaction_info.interaction.resource.providers.facebook && aux.from_facebook" class="btn btn-square btn-fb" ng-click="shareWith(calltoaction_info, interaction_info, 'facebook')" ng-class="{'disabled': animation_in_progress}"><span class="fa fa-facebook share-interaction__cover__info__glyphicon-fb"></span></button>
  %>
  
</div>