<div ng-if="calltoaction_info.calltoaction.media_type == 'YOUTUBE' || calltoaction_info.calltoaction.media_type == 'KALTURA' || calltoaction_info.calltoaction.media_type == 'FLOWPLAYER'" id="main-media-{{calltoaction_info.calltoaction.id}}">
  <div class="media-youtube embed-responsive embed-responsive-16by9">             
    
    <!-- IFRAME VIDEO -->
    <div id="main-media-iframe-{{calltoaction_info.calltoaction.id}}" main-media="main" calltoaction-id="{{calltoaction_info.calltoaction.id}}" class="embed-responsive-item"></div>

    <!-- OVERVIDEO AREA -->
    <div ng-if="overvideoInteractionsPresent(calltoaction_info.calltoaction.id)" id="overvideo-calltoaction-{{calltoaction_info.calltoaction.id}}">
      <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterOvervideoDuringInteractions | filter:filterOvervideoDuringActiveInteraction" class="col-xs-12">
        <div id="overvideo-interaction-{{interaction_info.interaction.id}}">
          <%= render partial: "/call_to_action/overvideo_interaction" %>
        </div>
      </div>
      <!-- DEFAULT END -->
      <div class="col-xs-12 end-interaction" ng-if="calltoaction_info.active_end_interaction">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <p class="end-interaction__title" ng-if="!calltoaction_info.calltoaction.extra_fields['end-video']">Cosa ne pensi? Dì la tua! Lascia subito il tuo commento su questo argomento.</p>
            <p class="end-interaction__title" ng-if="calltoaction_info.calltoaction.extra_fields['end-video']">{{calltoaction_info.calltoaction.extra_fields['end-video']}}</p>
            <a href="javascript: void(0)" ng-click="scrollTo('comment-interactions')" class="btn btn-blue"><span>COMMENTA</span></a>
          </div>
        </div>
      </div>
    </div>  

  </div>
</div>

<!-- MAIN MEDIA IMAGE -->
<div ng-if="calltoaction_info.calltoaction.media_type == 'IMAGE'" id="main-media-{{calltoaction_info.calltoaction.id}}" class="media-image">
  <img class="img-responsive" ng-src="{{calltoaction_info.calltoaction.media_image}}" style="width: 100%;">
</div>
<!-- IFRAME -->
<div ng-if="calltoaction_info.calltoaction.media_type == 'IFRAME'" >
  <div id="calltoaction-{{calltoaction_info.calltoaction.id}}-cover" class="calltoaction-cover row text-center">
    <div class="col-xs-12">
      <img ng-src="{{calltoaction_info.calltoaction.thumbnail_url}}" class="img-responsive" style="width: 100%;">
    </div>
    <div class="col-sm-4 col-sm-offset-4" style="position: absolute; bottom: 10px; z-index: 10;">
      <button class="btn btn-danger btn-lg btn-block" ng-click="showCallToAction(calltoaction_info.calltoaction.id, calltoaction_info.calltoaction.media_type)">GUARDA</button>
    </div>     
  </div>
  <!-- IFRAME -->
  <div id="main-media-{{calltoaction_info.calltoaction.id}}">
    <div id="iframe-calltoaction-{{calltoaction_info.calltoaction.id}}" class="<%= "iframe-apple-mobile" if request_is_from_apple_mobile_device?(request) %> video flex-video widescreen text-center media-iframe hidden">  
    </div>
  </div>
</div>