<div class="col-xs-12 hidden-xs hidden-sm" ng-if="aux.sidebar_info.fan_of_the_day.counter != null">
    <div class="row text-left">
      <div class="col-xs-12">
        <div class="cta__sidebar-panel__header" ng-style="{'background-color': aux.current_property_info.background}">
          <p class="cta__sidebar-panel__header-title">Fan del giorno</p>
        </div>
      </div>
    </div>
    <div class="relateds-flexslider__item-panel text-left cta__sidebar-panel--ranking" style="border-top: none !important;"> 
      <div class="row">
        <div class="col-xs-12 text-center" style="padding: 10px 0;">
          <p><img ng-src="{{aux.sidebar_info.fan_of_the_day.avatar}}" class="img-responsive ranking-widget__avatar" /></p>
          <p><span class="gallery-widget__username" style="padding: 7px 0;"></span>{{aux.sidebar_info.fan_of_the_day.username}}</p>
        <div class="label label-warning ranking-widget__points" style="width: auto; display: inline-block;">+ {{aux.sidebar_info.fan_of_the_day.counter}}<span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
        </div>
      </div>
    </div>  
</div>

<div class="col-xs-12 hidden-xs hidden-sm" ng-repeat="tag in aux.sidebar_info.tag_info_list">
  <a target="_blank" href="{{tag.url}}"> 
    <div class="relateds-flexslider__item-panel text-left cta__sidebar-panel cta__sidebar-panel--tag"> 
      <div class="row">
        <div class="col-xs-12">
          <p class="cta__sidebar-panel__header-title--tag">{{tag.title}}</p>
        </div>
        <div class="col-xs-12">
          <img class="cta-preview__image--tag" ng-src="{{tag.image}}">            
          <p class="cta-preview__title">{{tag.description | cut:true:70}}</p>
        </div>
      </div>
    </div>  
  </a>
</div>

<div class="col-xs-12 hidden-xs hidden-sm" ng-repeat="calltoaction in aux.sidebar_info.calltoaction_info_list">
  <%= light_link_to("/call_to_action/{{calltoaction.slug}}") do %>
    <div class="row text-left">
      <div class="col-xs-12">
        <div class="cta__sidebar-panel__header" ng-style="{'background-color': aux.current_property_info.background}">
          <p class="cta__sidebar-panel__header-title">In evidenza</p>
        </div>
      </div>
    </div>
    <div class="relateds-flexslider__item-panel text-left cta__sidebar-panel" style="border-top: none !important;"> 
      <div class="row">
        <div class="col-xs-12">
          <div class="relateds-flexslider__thumbnail">
            <img class="img-responsive cta-preview__image" ng-src="{{calltoaction.thumbnail_medium_url}}">            
            <!-- CALLTOACTION WINNABLE REWARD COUNT -->
            <div ng-if="calltoaction.status && calltoaction.status.winnable_reward_count > 0" class="col-xs-12 cta-cover__winnable-reward text-right">
              <span class="label label-warning cta-cover__winnable-reward__label">
                +{{calltoaction.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star"></span>
              </span>  
            </div> 
            <!-- CALLTOACTION DONE -->
            <div ng-if="!calltoaction.status || calltoaction.status.winnable_reward_count < 1" class="col-xs-12 cta-cover__winnable-reward text-right">
              <span class="label label-success cta-cover__winnable-reward__label">
                Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok"></span>
              </span>  
            </div> 
          </div>
          <p class="cta-preview__title">{{calltoaction.title | cut:true:70}}</p>
        </div>
      </div>
      <div class="row relateds-flexslider__footer">
        <div class="col-xs-12">
          <p class="relateds-flexslider__likes"><span class="fa fa-thumbs-up relateds-flexslider__thumbs-up"></span>{{calltoaction.likes}}</p>
          <p class="relateds-flexslider__comments"><span class="glyphicon glyphicon-comment relateds-flexslider__glyphicon-comment"></span>{{calltoaction.comments}}</p>
        </div>
      </div>
    </div>  
  <% end %>  
</div>

<div class="col-xs-12 hidden-xs hidden-sm" ng-if="aux.sidebar_info.gallery_rank.rank_list != null">
    <div class="row text-left">
      <div class="col-xs-12">
        <div class="cta__sidebar-panel__header" ng-style="{'background-color': aux.current_property_info.background}">
          <p class="cta__sidebar-panel__header-title">Classifica gallery</p>
        </div>
      </div>
    </div>
    <div class="relateds-flexslider__item-panel text-left cta__sidebar-panel--ranking" style="border-top: none !important;"> 
      <div class="row">
        <div class="col-xs-12">
        	<div class="row gallery-widget__row" ng-repeat="rank in aux.sidebar_info.gallery_rank.rank_list.slice(0, 3)">
	    		<div class="col-xs-5">
	    			<img ng-src="{{rank.cta_image}}" class="img-responsive gallery-widget__image" />
	    		</div>
	    		<div class="col-xs-7">
	    			<p>
	    				<span class="gallery-widget__position">#{{rank.position}}</span>
	    				<br />
	    				<span class="gallery-widget__username"></span>{{rank.user}}</p>
	    			<p class="gallery-widget__votes">
	    				<span class="fa fa-thumbs-up"></span> {{rank.counter}}
	    			</p>
	    		</div>
	    	</div>
        </div>
      </div>
      <div class="row gallery-widget__view-all">
      	<div class="col-xs-10 col-xs-offset-1">
      		<a ng-href="/ranking/vote/{{aux.sidebar_info.gallery_rank.gallery_id}}"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Classifica completa</a>
      	</div>
      </div>
    </div>  
</div>

<div class="col-xs-12 hidden-xs hidden-sm" ng-if="aux.sidebar_info.property_rank">
  <div class="row text-left">
    <div class="col-xs-12">
      <div class="cta__sidebar-panel__header" ng-style="{'background-color': aux.current_property_info.background}">
        <p class="cta__sidebar-panel__header-title">{{aux.sidebar_info.property_rank.rank.attributes.title}}</p>
      </div>
    </div>
  </div>
  <div class="relateds-flexslider__item-panel text-left cta__sidebar-panel--ranking" style="border-top: none !important;"> 
    <div class="row">
      <div class="col-xs-12">
      	<div class="row gallery-widget__row" ng-class-even="'gallery-widget__row--grey'" ng-repeat="rank in aux.sidebar_info.property_rank.rank.attributes.rankings.slice(0, 5)">
    		<div class="col-xs-3 text-right ranking-widget__col-position">
    			<span class="gallery-widget__position">#{{rank.position}}</span>
    		</div>
    		<div class="col-xs-4 text-center">
    			<p><img ng-src="{{rank.avatar}}" class="img-responsive ranking-widget__avatar" /></p>
    			<p><span class="ranking-widget__username"></span>{{rank.user}}</p>
    		</div>
    		<div class="col-xs-5 ranking-widget__col-counter">
    			<div class="label label-warning ranking-widget__points">+ {{rank.counter}}<span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
    		</div>
    	</div>
      </div>
    </div>
    <div class="row gallery-widget__view-all">
    	<div class="col-xs-10 col-xs-offset-1">
    		<a ng-href="/ranking/show/{{aux.sidebar_info.property_rank.rank_id}}"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Classifica completa</a>
    	</div>
    </div>
  </div>  
</div>

<div class="col-xs-12 hidden-xs hidden-sm" ng-if="aux.ctas_most_viewed_widget">
  <div class="relateds-flexslider__item-panel text-left cta__sidebar-panel cta__sidebar-panel--most-viewed"> 
    <div class="row">
      <div class="col-xs-12">
        <p class="cta__sidebar-panel__header-title--tag">Post più popolari</p>
      </div>
      <div class="col-xs-12" ng-repeat="cta in aux.ctas_most_viewed_widget" style="margin-bottom: 10px;">
        <%= light_link_to("call_to_action/{{cta.slug}}") do %>
          <img class="cta-preview__image--tag" ng-src="{{cta.thumb_url}}" style="width: 130px; float: left;">
          <p class="cta__sidebar__most-viewed__title">{{cta.title}}</p>
        <% end %>
      </div>
    </div>
  </div>  
</div>