<div class="container main-container">   

  <div class="row visible-xs">
    <hr style="margin-top: 0; margin-bottom: 0;">
  </div>  

  <%= render partial: "/call_to_action/stream_single_calltoaction" %>

  <div class="row main-row relateds__header-row">
    <div class="col-xs-12">  
      <div class="relateds__icon-container text-center">
        <span class="fa fa-plus"></span>
      </div>
      <p class="relateds__title">Post correlati</p>
      <!--<p class="relateds__description"></p>-->
    </div>
  </div>

  <div class="row main-row">
    <div class="relateds-flexslider">
      <div class="flex-viewport-shadow hidden-xs"></div>
      <ul class="slides">
        <li class="relateds-flexslider__item" ng-repeat="calltoaction in aux.related_calltoaction_info">
          <%= render partial: "/call_to_action/calltoaction_thumb" %>
        </li>
      </ul>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
      is_last_relateds_flexslider_slide = false;
      $('.relateds-flexslider').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 258,
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_relateds_flexslider_slide = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_relateds_flexslider_slide) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_relateds_flexslider_slide = true;
        }
      });
  });
</script>