<%= render partial: "/application/user_bar" %>

<div class="container main-container">   

  <div ng-repeat="calltoaction_info in calltoactions">
    <%= render partial: "/call_to_action/stream_single_calltoaction" %>
  </div>

</div>

<%= render partial: "/application/footer" %>