<div class="container main-container">   

  <div class="row visible-xs">
    <hr style="margin-top: 0; margin-bottom: 0;">
  </div>  

  <div ng-init="calltoaction_info = calltoactions[0]">
    <%= render partial: "/call_to_action/stream_single_calltoaction" %>
  </div>

  <div class="row main-row relateds__header-row">
    <div class="col-xs-12">  
      <div class="relateds__icon-container text-center">
        <span class="fa fa-star"></span>
      </div>
      <p class="relateds__title">Post correlati</p>
      <!--<p class="relateds__description"></p>-->
    </div>
  </div>

  <div class="row main-row">
    <div class="relateds-flexslider">
      <div class="flex-viewport-shadow hidden-xs"></div>
      <ul class="slides">
        <li class="relateds-flexslider__item" ng-repeat="calltoaction in aux.related_calltoaction_info">
          <%= light_link_to("/call_to_action/{{calltoaction.id}}") do %>
          <div class="relateds-flexslider__item-panel"> 
            <div class="row">
              <div class="col-xs-12">
                <div class="relateds-flexslider__thumbnail">
                  <img class="img-responsive cta-preview__image" ng-src="{{calltoaction.thumbnail_medium_url}}">            
                  <!-- CALLTOACTION WINNABLE REWARD COUNT -->
                  <div ng-if="calltoaction.status && calltoaction.status.winnable_reward_count > 0" class="col-xs-12 cta-cover__winnable-reward text-right">
                    <span class="label label-warning cta-cover__winnable-reward__label">
                      +{{calltoaction.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star"></span>
                    </span>  
                  </div> 
                  <!-- CALLTOACTION DONE -->
                  <div ng-if="!calltoaction.status || calltoaction.status.winnable_reward_count < 1" class="col-xs-12 cta-cover__winnable-reward text-right">
                    <span class="label label-success cta-cover__winnable-reward__label">
                      Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok"></span>
                    </span>  
                  </div> 
                </div>
                <p class="cta-preview__title">{{calltoaction.title | cut:true:70}}</p>
              </div>
            </div>
            <div class="row relateds-flexslider__footer">
              <div class="col-xs-12">
                <p class="relateds-flexslider__likes"><span class="fa fa-thumbs-up relateds-flexslider__thumbs-up"></span>{{calltoaction.likes}}</p>
                <p class="relateds-flexslider__comments"><span class="glyphicon glyphicon-comment relateds-flexslider__glyphicon-comment"></span>{{calltoaction.comments}}</p>
              </div>
            </div>
          </div>  
          <% end %>  
        </li>
      </ul>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('.relateds-flexslider').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 258,
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: ""
      });
  });
</script>