<!-- OVERVIDEO AREA -->
<div class="overvideo overvideo-points-feedback">
    <div class="overvideo-canvas">
        <div class="overvideo-content">
            <div class="row">
                <div class="<%= interaction_max_points > 1 ? "col-sm-5" : "col-sm-4" %> text-center no-pad" style="margin-top: 40px; margin-bottom: 20px; margin-left: 20px; background-color: rgba(0, 0, 0, 0.5); border-radius: 0 10px 10px 0;">
                    <h4 style="color: #fff;">
                      <span class="default-font" style="margin-right: 15px;">+<%= points %> Gratta&Vinci</span>

                      <% points.times do |i| %>
                        <img class="img-ticket" src="/assets/maxibon/small-ticket.png">
                      <% end %>
                      <% (interaction_max_points - points).times do |i| %>
                        <img class="img-ticket" src="/assets/maxibon/small-ticket-gray.png">
                      <% end %>

                    </h4>    
                </div>
            </div>
        </div>
    </div>
</div>