<!-- OVERVIDEO AREA -->
<div class="overvideo overvideo-instant-win">
    <div class="overvideo-canvas">
        <div class="overvideo-content">
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 40px; margin-bottom: 20px;">
                    <h2 style="color: #fff;">PROVA A VINCERE SUBITO<br>UNO DEI PREMI</h2>
                </div>
                <div class="col-md-1 col-xs-1 text-center"></div>
                <div class="col-md-10 col-xs-10 text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 hidden-xs">
                            <button type="button" class="btn btn-danger btn-block btn-lg" onclick="openInstantWinModal()">GIOCA SUBITO UN GRATTA&VINCI</button>
                        </div>
                        <div class="col-md-6 col-md-offset-3 hidden-sm hidden-md hidden-lg">
                            <button type="button" class="btn btn-danger btn-block btn-sm" onclick="openInstantWinModal()">GIOCA SUBITO UN GRATTA&VINCI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>