<!-- OVERVIDEO AREA -->
<div class="overvideo overvideo-play" style="margin-top: 35%; padding-bottom: 50%; position: relative;">
    <div class="overvideo-canvas">
        <div class="overvideo-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center" style="background: #003466; border-radius: 10px;">
                    <h1><%= "##{ calltoaction_index } - " if calltoaction_index > 0 %><%= calltoaction.title %></h1>
                    <h4 style="color: #fff;"><span style="margin-right: 15px;">Guarda il video e ottieni fino a <%= calltoactions_totalpoints(calltoaction) %> biglietti</span>
                      <% calltoactions_totalpoints(calltoaction).times do |i| %>
                        <img class="img-ticket" src="/assets/maxibon/small-ticket.png">
                      <% end %>
                    </h4>                  
                </div>
            </div>
        </div>
    </div>
</div>