<h6 class="default-font" style="font-size: 10px;">Condividi il video e ottieni un Gratta&Vinci
<% if calltoaction_interaction_share_done?(calltoaction) %>
  <img class="img-ticket" style="margin-left: 10px; margin-bottom: 5px; width: 30px;" src="/assets/maxibon/small-ticket.png"></h6>
<% else %>
  <img class="img-ticket" style="margin-left: 10px; margin-bottom: 5px; width: 30px;" src="/assets/maxibon/small-ticket-gray.png"></h6>
<% end %>