<div class="row">
    <div class="col-md-12 text-center" style="background: #003466;">
        <h5 style="color: #fff; font-size: 14px;">
          <% if correct.present? && correct %>
            <span style="margin-right: 10px;">Scelta corretta! Hai ottenuto <%= points %> biglietti</span>
          <% elsif correct.present? && !correct %>
            <span style="margin-right: 10px;">Scelta errata! Hai ottenuto <%= points %> biglietti</span>
          <% else %>
            <span style="margin-right: 10px;">Hai ottenuto <%= points %> biglietti</span>
          <% end %>
          <% points.times do |i| %>
            <img class="img-ticket" src="/assets/maxibon/small-ticket.png" style="width: 40px;">
          <% end %>
        </h5>    
    </div>
</div>
