<h6 class="default-font">

  <% if calltoaction_except_share_done?(calltoaction) %>
    <span style="margin-right: 5px;">Fatto! +<%= user_points_except_share_for(calltoaction) %> Gratta&Vinci</span>
  <% else %>
    <span style="margin-right: 5px;">Ottieni +<%= calltoactions_totalpoints(calltoaction) %> Gratta&Vinci</span>
  <% end %>
  
  <% user_points_except_share_for(calltoaction).times do %>
    <img class="img-ticket" src="/assets/maxibon/small-ticket.png" style="width: 40px; margin-bottom: 5px;">
  <% end %>
  <% (calltoactions_totalpoints(calltoaction) - user_points_except_share_for(calltoaction)).times do %>
      <img class="img-ticket" src="/assets/maxibon/small-ticket-gray.png" style="width: 40px; margin-bottom: 5px;">
  <% end %>

</h6>          