<!-- BRAND ID -->
<section class="navbar navbar-inverse navbar-static-top" role="navigation" style="z-index: 99; margin: 0; height: 100px;">
  <div class="">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav" style="position: absolute; width: 200px; left: 0; right: 0; margin: 0 auto; top: 28px;">
        <li><a class="td" href="/">Fandom</a></li>
      </ul>
    </nav>
  </div>
</section>


<!-- FIRST LEVEL MENU -->
<section class="navbar navbar-inverse navbar-static-top" role="navigation" style="z-index: 99; margin: 0;">
  <div class="">
    
      <div class="hidden-xs container first-level" style="margin-top: 12px">
        <div class="row">
          <div class="col-xs-12 no-pad">
            <ul class="nav nav-tabs filters-nav">
              <li class="active"><a href="#">Nome Categoria</a></li>
              <li class=""><a href="#">Nome Categoria</a></li>
              <li class=""><a href="#">Nome Categoria</a></li>
              <li class=""><a href="#">Nome Categoria</a></li>
              <li class=""><a href="#">Nome Categoria</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="visible-xs container first-level" style="margin-top: 60px">
        <div class="row">
          <div class="col-xs-12 no-pad">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Nome Categoria</a></li>
            </ul>
          </div>
        </div>
      </div>
    
  </div>
</section>

<!-- SECOND LEVEL MENU -->
<section class="navbar navbar-inverse navbar-static-top nav-thumb" style="background:#222; z-index: 98; margin: 0;" data-spy="affix" data-offset-top="52" data-offset-bottom="52">
  <div class="container filters " > 
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-md-2 text-center">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/320x180" alt="...">
        </a>      
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/320x180" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/320x180" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/320x180" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/320x180" alt="...">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/320x180" alt="...">
        </a>
      </div>
    </div>
  </div>
</section>