<%= render partial: "/application/user_bar" %>
  


<!-- TAB MENU -->
<div class="container filters">
  <div class="row">
    <div class="col-xs-12 no-pad">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Nome Categoria</a></li>
          <li class=""><a href="#">Nome Categoria</a></li>
          <li class=""><a href="#">Nome Categoria</a></li>
          <li class=""><a href="#">Nome Categoria</a></li>
          <li class=""><a href="#">Nome Categoria</a></li>
        </ul>
    </div>

    <!-- BROWSE TOOL 1 -->
    <!--<div class="col-md-offset-3 col-md-6">
      <ul class="nav nav-pills filter">
        <li style="padding: 10px 0">Show me</li>
         
        <li class="dropdown">
          <a href="#" style="text-decoration: underline" class="dropdown-toggle" data-toggle="dropdown">Season <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Season 1</a></li>
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
          </ul>
        </li>
        <li style="padding: 10px 0">and</li>
        
        <li class="dropdown">
          <a href="#" style="text-decoration: underline" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Prima tag</a></li>
            <li><a href="#">Seconda tag</a></li>
            <li><a href="#">Terza tag</a></li>
            <li><a href="#">Quarta tag</a></li>
            <li><a href="#">Quinta tag</a></li>
          </ul>
        </li>
      </ul>
    </div>-->


  </div>
  <div class="row brws-item filter">
    <div class="col-md-12 lead text-center" >
      <a href="#"><span class="label label-primary">consectetur</span></a> <a href="#"><span class="label label-primary">adipisicing</span></a> <a href="#"><span class="label label-primary">elit</span></a> <a href="#"><span class="label label-primary">sed</span></a> <a href="#"><span class="label label-primary">eiusmod</span></a> <a href="#"><span class="label label-primary">tempor</span></a> <a href="#"><span class="label label-primary">incididunt</span></a> <a href="#"><span class="label label-primary">Lorem</span></a> <a href="#"><span class="label label-primary">ipsum</span></a> <a href="#"><span class="label label-primary">dolor</span></a> </div>
  </div>
</div>



<!-- FILTRI IMMAGINI -->
<!-- <div class="container filters"> 
  <div class="row">
    <div class="col-xs-4 col-sm-2 col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/320x260" alt="...">
      </a>
      <h6>Nome Categoria</h6>
      
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/320x260" alt="...">
      </a>
      <h6>Nome Categoria</h6>
      
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/320x260" alt="...">
      </a>
      <h6>Nome Categoria</h6>
      
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/320x260" alt="...">
      </a>
      <h6>Nome Categoria</h6>
      
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/320x260" alt="...">
      </a>
      <h6>Nome Categoria</h6>
      
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/320x260" alt="...">
      </a>
      <h6>Nome Categoria</h6>
      
    </div>
  </div>
</div>-->

<%= render partial: "/call_to_action/stream_calltoactions", locals: { calltoactions: @calltoactions } %>
