<%= render partial: "/application/user_bar" %>
  
<%= render partial: "/application/nav_calltoactions" %>

<%= render partial: "/call_to_action/stream_calltoactions", locals: { calltoactions: @calltoactions } %>


<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center text-muted">
          <p>2014 Shado Srl. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>