<div class="row">
	<div class="col-sm-1 hidden-xs">
		<% if icon %>
			<img src="<%= icon.url %>" class="img-circle img-responsive">
		<% else %>
			<img src="http://placehold.it/50x50" class="img-circle img-responsive">
		<% end %>
	</div>
	<div class="col-sm-11 col-xs-10">
	  <h5>Complimenti! Hai ottenuto <%= title %></h5>
	</div>
</div>