<div class="row">
  <div class="col-xs-4 col-sm-2">
    <img src="<%= get_notice_icon_from_cta(cta) %>" class="img-responsive notice__property-icon">
  </div>
  <div class="col-xs-2 col-sm-2">
    <img src="<%= cta.media_image.url %>" class="img-responsive notice__property-icon">
  </div>
  <div class="col-xs-6 col-sm-8">
      <h5 class="notice__title"> Complimenti! Il tuo contenuto '<a href="<%= "/call_to_action/#{cta.slug}" %>" style="text-decoration: underline;"><%= cta.title %></a>' è stato approvato! </h5>
  </div>
</div>