<div class="row">
	<div class="col-sm-1 hidden-xs">
		<i class="icon-ok-circle icon-4"></i>
	</div>
	<div class="col-sm-11 col-xs-10">
	  <h5>Complimenti il tuo contenuto è stato approvato!</h5>
	</div>
</div>