<div class="row">
	<div class="hidden-xs col-sm-2">
		<img src="<%= get_notice_icon(reward) %>" class="img-responsive notice__property-icon">
	</div>
	<div class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-0">
		<img src="<%= reward.main_image.url %>" class="img-responsive notice__reward-image">
	</div>
	<% if reward.media_type && reward.media_type.downcase == "calltoaction" %>
		<div class="col-xs-6 col-sm-8">	  
		  	<h5 class="notice__title">Complimenti! Hai sbloccato un contenuto esclusivo. <a href="/call_to_action/<%= reward.call_to_action.slug %>" style="color: #fff; text-decoration: underline;">Guardalo qui</a></h5>
		</div>
	<% else %>
		<div class="col-xs-6 col-sm-8">	  
		  	<h5 class="notice__title">Complimenti! Hai ottenuto il badge <b><%= reward.title %></b></h5>
		</div>
	<% end %>
</div>