<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body {
        font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
        background: #857e6b;
      }

      .welcome-row {
        text-align: right;   
        border: 1px solid #ccc;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 10px;
      }

      .welcome-row.first {
        min-height: 135px;
      }

      .welcome-row.second {
        min-height: 190px;
      }

      .bar-code {
        max-width: 260px;
        margin-top: 15px;
      }

      .welcome-col {
        width: 60%;
        float: left;
        padding: 5px;
      }

      .computer-col {
        float: left;
        width: 35%;
      }

      .code-info {
        font-size: 12px;
        margin-top: 10px;
      }

      .code {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        background: #857e6b;
        color: #fff;
        font-size: 22px;
        width: 200px;
        border-radius: 5px;
      }

      .footer_1 {
        margin-bottom: 15px;
      }

      .logo {
        max-width: 600px;
        margin-top: -6px;
        margin-bottom: -4px;
        width: 100%;
      }

      .no-decoration {
        text-decoration: none;
      }

      .welcome-title {
        padding-left: 70px; 
        padding-right: 70px;
        font-weight: 700;
        font-size: 18px;
        color: #d21020;
      }

      .line {
        margin-top: 15px;
        margin-bottom: 15px; 
        height: 1px; 
        border-top: 1px solid #ccc;
      }

      .left-line {
        position: absolute; 
        top: -3px; 
        left: 0; 
        width: 60px;
      }

      .right-line {
        position: absolute; top: -3px; right: 0; width: 60px;
      }

      .bold {
        font-weight: 700;
      }

      .custom-a {
        color: #000;
      }

      .welcome {
        font-weight: 700;
        font-size: 18px;
        color: #d21020;
      }

      .text-center {
        text-align: center;
      }

      .container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }

      .panel {
        font-size: 14px;
        padding: 15px;
        margin: 0 5px;
        background: #fff;
        border-radius: 5px;
      }

      .shadow {
        -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
      }

      @media (max-width: 600px) {
        .panel {
          font-size: 12px;
        } 

        .left-line {
          display: none;
        }

        .right-line {
          display: none;
        }

        .welcome-title {
          padding: 5px;
        }

        .welcome-row {
          text-align: center;
        }

        .welcome-col {
          width: 100%;
          float: none;
        }

        .computer-col {
          float: none;
          width: 100%;
        }

      }

    </style>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="text-center">
          <img class="logo" src="https://s3-eu-west-1.amazonaws.com/coin.live.fandomlab.com/newsletters_assets/logo.jpg">
        </div>
        <div class="panel shadow">     
          <p><span class="welcome">Benvenuto!</span></p>
          <p>Grazie per esserti registrato a <span class="bold">Gift Machine Christmas edition</span>.</p>
          <p>Per te, uno sconto esclusivo sul tuo shopping Coincasa da utilizzare entro l'11 gennaio 2015.</p>
          <div class="text-center" style="position: relative">
            <p class="welcome-title">DUE MODI PER AVERE LO SCONTO A TE DEDICATO<p>
            <div class="line left-line"></div>
            <div class="line right-line"></div>
          </div>
          <div class="welcome-row first">
            <div class="text-center computer-col">
              <img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/computer.png">
            </div>
            <div class="text-center welcome-col">
              <div>Acquista su <span class="bold">COINCASA.IT</span> e inserisci nel carrello il codice riportato sotto per ricevere uno sconto di <span class="bold">10 euro</span> su un acquisto minimo di 50 euro.</div>
              <div class="code">NATALE14</div>
              <div class="code-info">IL CODICE VALE PER UNO SHOPPING</div>
            </div>
          </div>
          <div class="welcome-row second">
            <div class="text-center computer-col">
              <img style="max-width: 150px" src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/storecoin.png">
            </div>
            <div class="text-center welcome-col">
              <div><span class="bold">Stampa</span> e presenta questa comunicazione alle casse di uno dei negozi Coin <a class="custom-a" target="_blank" href="http://concorsi.coin.it/stores">qui riportati</a>.</div>
              <div style="margin-top: 10px;">
                Per te subito <span class="bold">10 euro</span> di sconto su un acquisto minimo di 100 euro.
              </div>
              <img class="bar-code" src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/19500000010002.jpg">
            </div>
          </div>
          <div class="line" style="margin-top: 25px;"></div>
          <div class="text-center footer_1">
            <a class="custom-a no-decoration" target="_blank" href="http://www.coin.it/contacts">SERVIZIO CLIENTI</a> | <a class="custom-a no-decoration" target="_blank" href="http://concorsi.coin.it/privacy_policy">PRIVACY</a> | <a class="custom-a no-decoration" target="_blank" href="https://s3-eu-west-1.amazonaws.com/coin.live.fandomlab.com/terms/regolamento.pdf">REGOLAMENTO</a>
          </div> 
          <div class="text-center footer_2">
            <a target="_blank" href="https://www.facebook.com/coinstore"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/facebook.png"></a>
            <a target="_blank" href="https://twitter.com/coinstore"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/twitter.png"></a>
            <a target="_blank" href="https://www.youtube.com/user/CoinVideo"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/youtube.png"></a>
            <a target="_blank" href="https://plus.google.com/+CoinIt/posts"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/google.png"></a>
            <a target="_blank" href="https://www.pinterest.com/coinstore/"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/pinterest.png"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>







