<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: 'Source Sans Pro', helvetica, arial, sans-serif; background: #857e6b;">
    <div>
      <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <div style="text-align: center;">
          <img style="max-width: 600px; margin-top: -6px; margin-bottom: -4px; width: 100%" src="https://s3-eu-west-1.amazonaws.com/coin.live.fandomlab.com/newsletters_assets/logo.jpg">
        </div>
        <div style="font-size: 14px; padding: 15px; margin: 0 5px; background: #fff; border-radius: 5px; -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);">     
          <p><span style="font-weight: 700; font-size: 18px; color: #d21020;">Benvenuto!</span></p>
          <p>Grazie per esserti registrato a <span style="font-weight: 700;">Gift Machine Christmas edition</span>.</p>
          <p>Per te, uno sconto esclusivo sul tuo shopping Coincasa da utilizzare entro l'11 gennaio 2015.</p>
          <div style="text-align: right; height: 60px;">
            <div style="float: left; width: 15%; margin-top: 29px; margin-bottom: 15px; height: 1px; border-top: 1px solid #ccc;"></div>
            <div style="float: left; width: 70%; text-align: center;">
              <p style="font-weight: 700; font-size: 18px; color: #d21020; padding: 0 10px;">DUE MODI PER AVERE LO SCONTO A TE DEDICATO<p>
            </div>
            <div style="float: left; width: 15%; margin-top: 29px; margin-bottom: 15px; height: 1px; border-top: 1px solid #ccc;"></div>
          </div>
          <div style="text-align: right; border: 1px solid #ccc; padding-bottom: 10px; padding-top: 10px; margin-top: 10px; display:table; clear:both; width: 100%;">
            <div style="text-align: center; width: 100%;">
              <img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/computer.png">
            </div>
            <div style="padding: 5px; text-align: center;">
              <div>Acquista su <span style="font-weight: 700;">COINCASA.IT</span> e inserisci nel carrello il codice riportato sotto per ricevere uno sconto di <span style="font-weight: 700;">10 euro</span> su un acquisto minimo di 50 euro.</div>
              <div style="margin-top: 15px; margin-left: auto; margin-right: auto; padding: 5px; background: #857e6b; color: #fff; font-size: 22px; width: 200px; border-radius: 5px;">NATALE14</div>
              <div style="font-size: 12px; margin-top: 10px;">IL CODICE VALE PER UNO SHOPPING</div>
            </div>
          </div>
          <div style="text-align: right; border: 1px solid #ccc; padding-bottom: 10px; padding-top: 10px; margin-top: 10px; display:table; clear:both; width: 100%">
            <div style="width: 100%; text-align: center;">
              <img style="max-width: 170px; margin-top: 10px;" src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/storecoin.png">
            </div>
            <div style="padding: 5px; text-align: center;">
              <div><span style="font-weight: 700;">Stampa</span> e presenta questa comunicazione alle casse di uno dei negozi Coin <a style="color: #000;" target="_blank" href="http://concorsi.coin.it/stores">qui riportati</a>.</div>
              <div style="margin-top: 10px;">
                Per te subito <span style="font-weight: 700;">10 euro</span> di sconto su un acquisto minimo di 100 euro.
              </div>
              <img style="max-width: 260px; margin-top: 15px;" src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/19500000010002.jpg">
            </div>
          </div>
          <div style="margin-top: 25px; margin-bottom: 15px; height: 1px; border-top: 1px solid #ccc;"></div>
          <div style="margin-bottom: 15px; text-align: center;">
            <a style="text-decoration: none; color: #000;" target="_blank" href="http://www.coin.it/contacts">SERVIZIO CLIENTI</a> | <a style="text-decoration: none; color: #000;" target="_blank" href="http://concorsi.coin.it/privacy_policy">PRIVACY</a> | <a style="text-decoration: none; color: #000;" target="_blank" href="https://s3-eu-west-1.amazonaws.com/coin.live.fandomlab.com/terms/regolamento.pdf">REGOLAMENTO</a>
          </div> 
          <div style="text-align: center;">
            <a target="_blank" href="https://www.facebook.com/coinstore"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/facebook.png"></a>
            <a target="_blank" href="https://twitter.com/coinstore"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/twitter.png"></a>
            <a target="_blank" href="https://www.youtube.com/user/CoinVideo"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/youtube.png"></a>
            <a target="_blank" href="https://plus.google.com/+CoinIt/posts"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/google.png"></a>
            <a target="_blank" href="https://www.pinterest.com/coinstore/"><img src="http://coin.live.fandomlab.com.s3.amazonaws.com/newsletters_assets/pinterest.png"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>