<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @cuser.email %></p>
    <p><%= @cuser.aux %></p>
  </body>
</html>
