<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>VINCITA COIN:</p>
  	  <p>Premio <%= @reward.title %>:</p>
  	  <p>Nome e cognome: <%= @cuser.first_name %> <%= @cuser.last_name %></p> 
  	  <p>Email: <%= @cuser.email %></p> 
  </body>
</html>
