<div class="row check-interaction__container" style="margin-bottom: 15px;">
  <div class="col-sm-12" style="padding: 15px;">
    <p style="font-size: 16px;">{{interaction_info.interaction.resource.description}}</p>
  </div>

  <div ng-if="interaction_info.user_interaction">
    <!-- CURRENT USER HAS ALREADY RESPONDED -->
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <button class="btn btn-blue btn-lg active"><span>{{interaction_info.interaction.resource.title}}</span></button>
    </div>
  </div>
  <div ng-if="!interaction_info.user_interaction">
    <!-- CURRENT USER HAS NOT RESPONDED -->
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <a class="btn btn-lg btn-blue" ng-click="updateAnswer(calltoaction_info, interaction_info, null, interaction_info.interaction.when_show_interaction)"><span>{{interaction_info.interaction.resource.title}}</span></a>
    </div>
  </div>
  <div class="col-sm-12" style="padding-top: 15px;">
    <div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome" class="row text-center interaction__winnable-reward--undervideo__row">
      <div class="col-md-12 interaction__winnable-reward text-center interaction__winnable-reward--undervideo">
        <span class="label label-success cta-cover__winnable-reward__label">
          Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
        </span> 
      </div>
    </div>

    <div ng-if="!interaction_info.user_interaction" class="row text-center interaction__winnable-reward--undervideo__row">
      <div class="col-md-12 interaction__winnable-reward interaction__winnable-reward--undervideo">
        <span class="label label-warning cta-cover__winnable-reward__label">
          +{{interaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star">
        </span>  
        <div ng-if="!interaction_info.status.reward.numeric_display" ng-repeat="status_image in interaction_info.status.reward_status_images track by $index">  
          <img ng-src="{{status_image}}">
        </div>
      </div>
    </div>
  </div>
</div>