<div class="row download-interaction__container">
  <div class="col-sm-12" style="padding: 0 30px;">
    <p style="font-size: 16px;">{{interaction_info.interaction.resource.title}}</p>
  </div>

  <div class="col-xs-6 col-xs-offset-3 text-center">
    <a class="btn btn-lg btn-blue" ng-click="updateAnswer(calltoaction_info, interaction_info, null, interaction_info.interaction.when_show_interaction)"><span>DOWNLOAD</span></a>
  </div>

  <div class="col-xs-12" style="padding-top: 15px;">
    <div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome" class="row text-center interaction__winnable-reward--undervideo__row">
      <div class="col-sm-12" style="margin-top: 15px;">
        <span class="label label-success cta-cover__winnable-reward__label">
          Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
        </span> 
      </div>
    </div>

    <div ng-if="!interaction_info.user_interaction" class="row text-center interaction__winnable-reward--undervideo__row">
      <div class="col-xs-12" style="margin-top: 15px;">
        <span class="label label-warning cta-cover__winnable-reward__label">
          +{{interaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star">
        </span>  
      </div>
    </div>
  </div>
</div>