<div class="row download-interaction__container">
  <div class="col-sm-12" style="padding: 0 30px;">
    <p style="font-size: 16px;">{{interaction_info.interaction.resource.title}}</p>
  </div>

  <div class="col-xs-6 col-xs-offset-3 text-center">
    <a class="btn btn-lg btn-blue" ng-click="updateAnswer(calltoaction_info, interaction_info, null, interaction_info.interaction.when_show_interaction)"><span>DOWNLOAD</span></a>
  </div>
</div>