<div ng-if="interaction_info.user_interaction">

  <div ng-if="interaction_info.interaction.resource_type != 'trivia'" class="col-sm-10 col-sm-offset-1 text-center">
    <div class="alert alert-success" style="margin-bottom: 0; margin-top: 15px;">
    <strong>Bravo!</strong> Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.
    </div>
  </div> 
    
  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && interaction_info.user_interaction.answer.correct" class="col-sm-10 col-sm-offset-1 text-center">
    <div class="alert alert-success" style="margin-bottom: 0; margin-top: 15px;">
    <strong>Bravo!</strong> Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.
    </div>
  </div> 

  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && !interaction_info.user_interaction.answer.correct" class="col-sm-10 col-sm-offset-1 text-center">
    <div class="alert alert-danger" style="margin-bottom: 0; margin-top: 15px;">
    <strong>Risposta errata!</strong> Hai guadagnato {{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.
    </div>
  </div> 

</div>