<div class="row">

  <div class="col-xs-12">
    <%= render partial: "/call_to_action/undervideo_interactions", locals: { calltoaction: calltoaction, outcome: nil, calltoaction_active_interaction: calltoaction_active_interaction, aux: aux } %>
  </div>

  <div class="col-sm-12 text-center" id="home-undervideo-<%= calltoaction.id %>">
    <!-- UNDERVIDEO FEEDBACK -->               
  </div>

  <div class="col-md-12" id="share-footer-<%= calltoaction.id %>">
    <!-- SHARE FOOTER -->
  </div>
</div>

