<div class="row">

  <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list" class="col-xs-12">
    <div id="home-undervideo-interaction-{{interaction_info.interaction.id}}">
      <%= render partial: "/call_to_action/undervideo_interaction" %>
    </div>
  </div>

</div>

