<div ng-if="removeShareInteractionsExceptLastStep(calltoaction_info, interaction_info)" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterVisibleInteractionsUnderMedia | filter:filterRemoveLikeInteractions | filter:filterRemoveCommentInteractions">
  <%= render partial: "/call_to_action/undervideo_interaction" %>
</div>