<div ng-if="removeShareInteractionsExceptLastStep = function(calltoaction_info, interaction_info)" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list| filter:filterVisibleInteractionsUnderMedia | filter:filterRemoveLikeInteractions">
  <%= render partial: "/call_to_action/undervideo_interaction" %>
</div>