<div class="col-sm-8 col-sm-offset-2 text-center">
  <h3>
    <%= interaction.resource.question %>
  </h3>
</div>
<div class="col-sm-12 text-center" style="margin-top: 15px;">
  <div class="row">
    <!-- ANSWER STREAM AS CIRCLE -->
    <% interaction.resource.answers.each do |answer|%>
      <%= render partial: "/call_to_action/trivia_answer", locals: { user_interaction: user_interaction, answer: answer, interaction: interaction } %>
    <% end %>
  </div>
</div>