<div class="col-sm-8 col-sm-offset-2 text-center">
  <h3>{{interaction_info.interaction.resource.question}}</h3>
</div>
<div class="col-sm-12 text-center">
  <div class="row">
    <div ng-repeat="answer in interaction_info.interaction.resource.answers">
      <%= render partial: "/call_to_action/trivia_answer" %>
    </div>
  </div>
</div>