<div class="row" ng-if="!interaction_info.feedback">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <p class="trivia-interaction__question--overvideo">{{interaction_info.interaction.resource.question}}</p>
  </div>
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <div ng-repeat="answer in interaction_info.interaction.resource.answers">
      <%= render partial: "/call_to_action/trivia_answer_overvideo" %>
    </div>
  </div>
</div>

<div class="row" ng-if="interaction_info.feedback && interaction_info.user_interaction && interaction_info.user_interaction.outcome">
  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && interaction_info.user_interaction.answer.correct" class="col-sm-12">
    <div class="trivia-interaction__feedback-circle trivia-interaction__feedback-circle--green">
      <span class="glyphicon glyphicon-ok trivia-interaction__feedback__glyphicon trivia-interaction__feedback__glyphicon-ok"></span>
    </div>
    <p class="trivia-interaction__feedback-title">Bravo! Risposta corretta.</p> 
    <p class="trivia-interaction__feedback-description">Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.</p>
  </div> 

  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && !interaction_info.user_interaction.answer.correct" class="col-sm-12">
    <div class="trivia-interaction__feedback-circle trivia-interaction__feedback-circle--red text-center">
      <span class="glyphicon glyphicon-remove trivia-interaction__feedback__glyphicon"></span>
    </div>
    <p class="trivia-interaction__feedback-title">Peccato! Risposta sbagliata.</p> 
    <p class="trivia-interaction__feedback-description">Non hai guadagnato punti bonus.</p>
    <!--{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}}-->
  </div> 
</div>