<% always_shown_interactions(calltoaction).each do |interaction| %>
  <div id="home-undervideo-interaction-<%= interaction.id %>">
    <%= render partial: "/call_to_action/undervideo_interaction", locals: { interaction: interaction, outcome: outcome, ctaid: calltoaction.id, aux: aux } %>
  </div>
<% end %>