<div id="undervideo-area-{{interaction_info.interaction.id}}">
  <div id="undervideo-interaction-{{interaction_info.interaction.id}}" class="row undervideo">
    <div ng-if="interaction_info.interaction.resource_type == 'trivia'" class="col-md-12">
      <%= render partial: "/call_to_action/trivia_interaction" %>
    </div>
    <div ng-if="interaction_info.interaction.resource_type == 'versus'" class="col-md-12">
      <%= render partial: "/call_to_action/versus_interaction" %>
    </div>
    <div ng-if="interaction_info.interaction.resource_type == 'check'" class="col-md-12">
      <%= render partial: "/call_to_action/check_interaction" %>
    </div>  
  </div>

  <div ng-if="interaction_info.user_interaction.outcome" id="undervideo-outcome-{{interaction_info.interaction.id}}" class="row undervideo">
    <%= render partial: "/call_to_action/feedback_undervideo" %>
  </div>

  <div ng-if="!interaction_info.user_interaction" class="row">
    <div class="col-md-12">
      <p>Rispondi per ottenere fino a + {{interaction_info.status["winnable_reward_count"]}} punti</p>
      <div ng-if="!interaction_info.status.reward.numeric_display" ng-repeat="status_image in interaction_info.status.reward_status_images track by $index">  
        <img src="{{status_image}}">
      </div>
    </div>
  </div>

</div>