<style>
	hr{ border-color: #000; }
</style>
<div class="col-sm-12 text-center" style="margin-top: 15px;">
  <div class="row">
  	<%= form_tag({controller: "call_to_action", action: "upload", method: "post"}, multipart: true) do %>
  	<div class="col-sm-12">
  		<div class="row form-group">
  			<input type="hidden" name="template_cta_id" id="template_cta_id" ng-model="interaction_info.interaction.upload_info.template_cta_id" />
  			<input type="hidden" name="interaction_id" id="interaction_id" ng-model="interaction_info.interaction.id" />
  			<input type="hidden" name="cta_id" id="interaction_id" ng-model="calltoaction_info.calltoaction.id" />
  			<input type="hidden" name="interaction_id" id="interaction_id" ng-model="interaction_info.interaction.id" />
  			<input type="hidden" name="upload_number" id="interaction_id" ng-model="interaction_info.interaction.upload_info.upload_number" />
  			<div ng-repeat="i in interaction_info.interaction.upload_info.upload_number track by $index">
  				<label>{{$index}}° Upload:</label>
  				<input id="upload-{{$index}}" name="upload-{{$index}}" onchange="" type="file">
  			</div>
		<hr />
		</div>
  		<div class="row form-group" ng-if="interaction_info.interaction.upload_info.privacy.required">
	  			<%= check_box_tag "privacy" %>
	  			<input id="privacy" name="privacy" type="checkbox" value="1">
	  			<label>Accettazione privacy</label>
	  			<p class="small">{{interaction_info.interaction.upload_info.privacy.description}}</p>
	  			<hr />
	  	</div>
	  	<div class="row form-group" ng-if="interaction_info.interaction.upload_info.releasing.required">
	  			<label>Liberatoria</label>
	  			<p class="small">{{interaction_info.interaction.upload_info.releasing.description}}</p>
	  			<p class="text-center">
	  				<input id="releasing" name="releasing" onchange="" type="file">
	  			</p>
	  			<hr />
  		</div>
  	</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-primary" ng-if="current_user != undefined">CARICA</button>
		<button class="btn btn-primary" data-toggle="modal" data-target="#login" ng-if="current_user == undefined">CARICA</button>
    </div>
  </div>
  <% end %>
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Devi essere registrato</h4>
      </div>
      <div class="modal-body">
        <p>Per poter caricare contenuti devi prima effetuare il login o registrarti.</p>
        <p><a href="users/sign_up">Login / Registrati</a></p>
      </div>
    </div>
  </div>
</div>