<!-- IMAGE SECTION -->
<div class="row">
  <div class="col-xs-12">
    <div class="progress bottom vertical versus-interaction__progress-bar versus-interaction__progress-bar--{{ $index % 2 == 0 ? 'left' : 'right' }} hidden-xs">
      <div class="progress-bar" role="progressbar" style="height: {{answer.percentage}}%;"></div>
    </div>

    <div ng-if="answer.percentage != null" class="versus-interaction__percentage--{{ $index % 2 == 0 ? 'left' : 'right' }}">
      <p class="versus-interaction__percentage-text">{{answer.percentage}}%</p>
    </div>

    <img class="versus-interaction__img versus-interaction__img--{{ $index % 2 == 0 ? 'left' : 'right' }}" ng-src="{{answer.image_medium}}" ng-click="updateAnswer(calltoaction_info, interaction_info, answer.id, interaction_info.interaction.when_show_interaction)">

    <!-- BUTTON SECTION -->
    <div class="row" ng-if="interaction_info.user_interaction">
      <div class="col-xs-12 versus_answer-col-{{ $index % 2 == 0 ? 'left' : 'right' }}">
        <div ng-if="interaction_info.interaction.resource.one_shot">
          <a type="button" class="versus-interaction__button versus-interaction__button--{{ $index % 2 == 0 ? 'left btn-blue' : 'right btn-green' }} active btn {{answer.id == interaction_info.user_interaction.answer.id ? 'active' : ''}} btn-block"><span>{{answer.text}}</span></a>
        </div>
        <div ng-if="!interaction_info.interaction.resource.one_shot">
          <a type="button" class="versus-interaction__button versus-interaction__button--{{ $index % 2 == 0 ? 'left btn-blue' : 'right btn-green' }} btn {{answer.id == interaction_info.user_interaction.answer.id ? 'active' : ''}}" ng-click="updateAnswer(calltoaction_info, interaction_info, answer.id, interaction_info.interaction.when_show_interaction)"><span>{{answer.text}}</span></a>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!interaction_info.user_interaction">
      <div class="col-xs-12 versus_answer-col-{{ $index % 2 == 0 ? 'left' : 'right' }}">
        <a type="button" class="versus-interaction__button versus-interaction__button--{{ $index % 2 == 0 ? 'left btn-blue' : 'right btn-green' }} btn btn-blue btn-block" ng-click="updateAnswer(calltoaction_info, interaction_info, answer.id, interaction_info.interaction.when_show_interaction)"><span>{{answer.text}}</span></a>
      </div>
    </div>

    <div class="versus-interaction__avatar-container--{{ $index % 2 == 0 ? 'left' : 'right' }}" ng-if="interaction_info.user_interaction.answer.id == answer.id">
      <img class="versus-interaction__avatar" ng-src="{{current_user.avatar}}">
    </div>
         
  </div>
</div>                               
