<div class="col-sm-8 col-sm-offset-2 text-center">
  <h3>
    {{interaction_info.interaction.resource.question}}
  </h3>
</div>
<div class="row">
  <div ng-repeat="answer in interaction_info.interaction.resource.answers">
    <div class="col-md-6 col-xs-6">
      <%= render partial: "/call_to_action/versus_answer" %>
    </div>
  </div>
</div>