<div class="col-sm-12">
  <p>{{interaction_info.interaction.resource.title}}</p>
</div>

<div class="vote-interaction__baloon-container {{interaction_info.class}}">
  <div class="vote-interaction__baloon">
    <div ng-repeat="i in range(interaction_info.interaction.resource.vote_info.min, interaction_info.interaction.resource.vote_info.max)" class="vote-interaction__baloon__element">
      <div class="vote-interaction__baloon__element-pin" ng-click="updateAnswer(calltoaction_info, interaction_info, i, interaction_info.interaction.when_show_interaction)" ng-if="!interaction_info.user_interaction">
        <p>{{i}}</p>
      </div>
    </div>
  </div>
</div>