<%= render partial: "/application/user_bar" %>

<%= render partial: "/application/home_launchers" %>

<div id="StreamCallToAction" class="container-fluid">   

  <!-- CUSTOM SITE HEADER --> 
  <%#= render partial: "/application/header" %>

  <div ng-repeat="calltoaction_info in calltoactions" class="row">
    <div id="calltoaction-{{calltoaction_info.calltoaction.id}}" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <%= render partial: "/call_to_action/stream_single_calltoaction" %>
    </div>
  </div>

</div>
