<div class="container">
  <div class="row">
    <div class="col-sm-12 navbar-default__container">
      <nav class="navbar navbar-default">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h1 class="title"><img ng-src="{{aux.assets.extra_fields.logo.url}}" alt="{{aux.seo_title}}"></h1></a>
        </div>

        <div id="navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a ng-if="isAnchor(item.extra_fields.url)" href="javascript: void(0)">ITEM 1</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>
</div>
  
     
      