<!-- OVERVIDEO AREA -->
<div class="overvideo overvideo-play" style="margin-top: 35%; padding-bottom: 50%; position: relative;">
    <div class="overvideo-canvas">
        <div class="overvideo-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
                  <h1 style="color: #fff;"><%= calltoaction.title %></h1>   
                  <h5>Gioca per ottenere fino a +<%= get_max_call_to_action_reward("POINT", calltoaction) %> punti</h5>
                </div>
            </div>
        </div>
    </div>
</div>