 <div id="overvideo-trivia" class="overvideo" style="display: none;">
    <div class="row" style="margin-top: 4em;">
        <div class="col-md-12 text-center">
          	<div class="counter-container" style="width: 40px; height: 40px; padding: 5px; background: #ccc; border-radius: 31px; position: absolute; right: 30px; top: -7px;">
            	<div class="counter-inner" style="width: 30px; height: 30px; background: #000; border-radius: 15px; padding-top:5px;" >
                	<span class="donut-label" style="color:#fff"><strong>5</strong></span>
            	</div>
          	</div>
          	<h5>(TODO)  Guadagna +2 <span class="label label-warning"></h5> 
          	<hr>
          	<!-- id="calltoaction-overvideo-during" -->
          	<h4 id="calltoaction-trivia-overvideo-during-question"></h4>
          	<!-- <p id="calltoaction-overvideo-during-info"></p> -->
          	<hr>
        </div>
        <div class="col-md-1 col-xs-1 text-center"></div>
        <div class="col-md-10 col-xs-10 text-center">
          	<div class="row" id="calltoaction-trivia-overvideo-during-answer">
              	<!-- RISPOSTE -->
            	<p>&nbsp;</p>
          	</div>
        </div>
        <div class="col-md-1 col-xs-1 text-center"></div>
    </div>
</div>

<div id="overvideo-versus" class="overvideo" style="display: none;">
	<div class="overvideo-canvas" style="height:420px;">
	 	<div class="overvideo-content">
	    	<div class="row" style="margin-top: 4em;">
				<div class="col-md-12 text-center">
	  				<div class="row" style="display: none;">
	    				<div class="col-md-1 col-xs-1 text-center"></div>
	    				<div class="col-md-10 col-xs-10">
	      					<div class="alert alert-success">
	        					<strong>Bravo!</strong> Risposta corretta, hai guadagnato +2 <span class="label label-warning"><span class="glyphicon glyphicon-star"></span></span> <span class="label label-warning"><span class="glyphicon glyphicon-star"></span></span>
	      					</div>
	    				</div>
	    				<div class="col-md-1 col-xs-1 text-center"></div>
	  				</div>
	  				<div class="row">
	    				<h4 id="calltoaction-versus-overvideo-during-question"></h4>
	  				</div>
	 				<hr>
	  				<div class="row">
	    				<div class="col-md-1 col-xs-1 text-center"></div>
	    				<div class="col-md-10 col-xs-10 text-center" >
	      					<div class="row vs-ixd vs-ixd-x" id="calltoaction-versus-overvideo-during-answer">
	      						<!-- RISPOSTE -->
	      					</div>	      					
	    				</div>
	    				<div class="col-md-1 col-xs-1 text-center"></div>
	  				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="overvideo-check" class="overvideo" style="display: none;">
	<div class="overvideo-canvas" style="height:420px;">
	 	<div class="overvideo-content">
	    	<div class="row" style="margin-top: 4em;">
				<div class="col-md-12 text-center">
	  				<div class="row" style="display: none;">
	    				<div class="col-md-1 col-xs-1 text-center"></div>
	    				<div class="col-md-10 col-xs-10">
	      					<div class="alert alert-success">
	        					<strong>Bravo!</strong> Risposta corretta, hai guadagnato +2 <span class="label label-warning"><span class="glyphicon glyphicon-star"></span></span> <span class="label label-warning"><span class="glyphicon glyphicon-star"></span></span>
	      					</div>
	    				</div>
	    				<div class="col-md-1 col-xs-1 text-center"></div>
	  				</div>
	  				<div class="row">
	    				<h4 id="calltoaction-check-overvideo-during-question"></h4>
	  				</div>
	 				<hr>
	  				<div class="row">
	    				<div class="col-md-3 col-xs-1 text-center"></div>
	    				<div class="col-md-6 col-xs-10 text-center" id="calltoaction-check-overvideo-during-answer">
	      					<!-- RISPOSTE -->   
	      					<button type="button" id="button-inter-<%#= inter_quiz.id %>" class="btn btn-success btn-lg btn-block"></button>					
	    				</div>
	    				<div class="col-md-1 col-xs-1 text-center"></div>
	  				</div>
				</div>
			</div>
		</div>
	</div>
</div>