<% if current_cta_related_list.any? %>
	<div class="row">
		<div class="col-xs-12">
			<h3>CTA correlate</h3>
			<% current_cta_related_list.each do |cr| %>
				<%= render partial: "stream_single_calltoaction", locals: { prop_cta: cr } %>
			<% end %>
		</div>
	</div>
<% end %>