<% if interaction.resource_type.downcase.to_sym == :check %>

  <%= render partial: "/calltoaction/check", locals: { interaction: interaction } %>

<% elsif interaction.resource_type.downcase.to_sym == :quiz %>
  
  <div class="row undervideo">
    <div class="col-md-12">
      <hr>
      <%= render partial: "/calltoaction/#{interaction.resource.quiz_type.downcase.to_sym}_interaction", locals: { interaction: interaction, user_interaction: get_user_interaction_from_interaction(interaction, current_user_or_anonymous_user) } %>
    </div>
  </div>

<% end %>