<div class="col-sm-12 text-center">
  <h2 style="color: #fff;"><%= interaction.resource.question %></h2>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <div class="row vs-ixd vs-ixd-x">
      <% interaction.resource.answers.each do |answer|%>
        <%= render partial: "/calltoaction/versus_answer", locals: { user_interaction: user_interaction, interaction: interaction, answer: answer } %>
      <% end %>
    </div>
  </div>
  <div class="col-md-1 col-xs-1 text-center"></div>
</div>