/********************* BTN TWITTER *********************/

.btn-twitter { 
  width: 40px;
  height: 40px;
  font-size: 22px;
  padding: 0;
  line-height: 40px;
  color: #ffffff; 
  border-color: #218BDB; 
  background: #55ACEE;
  background: -webkit-linear-gradient(#7ABAEB, #55ACEE);
  background: -o-linear-gradient(#7ABAEB, #55ACEE);
  background: -moz-linear-gradient(#7ABAEB, #55ACEE);
  background: linear-gradient(#7ABAEB, #55ACEE);
} 
 
.btn-twitter:hover, 
.btn-twitter:focus, 
.btn-twitter:active, 
.btn-twitter.active, 
.open .dropdown-toggle.btn-twitter { 
  color: #ffffff; 
  background: #55ACEE; 
  border-color: #218BDB; 
} 
 
.btn-twitter:active, 
.btn-twitter.active, 
.open .dropdown-toggle.btn-twitter { 
  background-image: none; 
} 
 
.btn-twitter.disabled, 
.btn-twitter[disabled], 
fieldset[disabled] .btn-twitter, 
.btn-twitter.disabled:hover, 
.btn-twitter[disabled]:hover, 
fieldset[disabled] .btn-twitter:hover, 
.btn-twitter.disabled:focus, 
.btn-twitter[disabled]:focus, 
fieldset[disabled] .btn-twitter:focus, 
.btn-twitter.disabled:active, 
.btn-twitter[disabled]:active, 
fieldset[disabled] .btn-twitter:active, 
.btn-twitter.disabled.active, 
.btn-twitter[disabled].active, 
fieldset[disabled] .btn-twitter.active { 
  background: #55ACEE; 
  border-color: #218BDB; 
} 
 
.btn-twitter:active, 
.btn-twitter.active, 
.open .dropdown-toggle.btn-twitter { 
  position: relative;
  box-shadow: outer none;
} 
