<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Fandom - Fullscreen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Fandom - Fullscreen" /> 
  <meta property="og:description" content="Fandom - Fullscreen" />  
  <meta property="og:image" content="" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <%= stylesheet_link_tag "tpl_fullscreen_application", :media => "all" %>
  <%= javascript_include_tag "tpl_fullscreen_application" %>

  <%= csrf_meta_tags %>

</head>
<body ng-app="FandomApp" class="bg-fluid">

  <div id="quiz-waiting-audio"></div>

  <!-- COMMENT FEEDBACK MODAL -->
  <div class="modal fade" id="comment-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Commento inserito con successo</h4>
        </div>
        <div class="modal-body">
          <p id="comment-must-be-approved">Il commento verrà pubblicato solo dopo l'approvazione.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- CAPTCHA ERROR MODAL -->
  <div class="modal fade" id="comment-captcha-error-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Errore nell'inserimento del commento</h4>
        </div>
        <div class="modal-body">
          <p>Verifica di avere inserito correttamente il captcha.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="registrate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Registrati per giocare</h4>
        </div>
        <div class="modal-body">
          Per poter giocare devi <a href="/users/sign_up">loggarti o registrarti</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
          <a href="/users/sign_up"><button type="button" class="btn btn-primary">Entra</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebook-like-modal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Like su Facebook</h4>
        </div>
        <div class="modal-body">
         <p>Per effettuare il like devi essere collegato a Facebook</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebook-share-modal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Share su Facebook</h4>
        </div>
        <div class="modal-body">
         <p>Per effettuare la condivisione devi essere collegato a Facebook</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 1-->
  <div class="modal fade" id="modal-grattaevinci" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 26px;">
              
              <h4 class="text-center">
                <span style="display: block">Scopri se hai vinto!</span>
                <div style="display: none" class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <strong>No hai vinto!</strong> Ritenta.
                </div>
                <div style="display: none" class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <strong>Hai vinto!</strong> Scopri i dettagli qui sotto.
                </div>
              </h4>
              <hr>
              <h3 class="text-center">Hai <span class="label label-warning">7 <span class="glyphicon glyphicon-star"></span></span> Biglietti</h3>
              <hr>
              <button type="button" class="btn btn-danger btn-lg">Gioca subito!</button>
            </div>
          </div>
        </div>
        <div class="modal-body" style="background-color: whitesmoke;">
          <div class="row">
            <div class="col-sm-6 text-center">
              
              <span class="glyphicon glyphicon-ok won-ok" style="display: none"></span>
              <img class="" src="//placehold.it/200x160">
              <h4>Premio 1</h4>
            </div>
            <div class="col-sm-6 text-center">
              
              <span class="glyphicon glyphicon-ok " style="display: none"></span>
              <img class="" src="//placehold.it/200x160">
              <h4>Premio 2</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <p><small>Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></p>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <!-- Modal 2 (vinto) -->
  <div class="modal fade" id="modal-vinto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 26px;">
                    
                    <h4 class="text-center">
                      <span style="display: none">Scopri se hai vinto!</span>
                      <div style="display: none" class="alert alert-danger alert-dismissable">
                        <strong>No hai vinto!</strong> Ritenta.
                      </div>
                      <div style="display: block" class="alert alert-success alert-dismissable">
                        <strong>Hai vinto!</strong> Scopri i dettagli qui sotto.
                      </div>
                    </h4>
                    <hr>
                    <h3 class="text-center">Hai <span class="label label-warning">7 <span class="glyphicon glyphicon-star"></span></span>  Biglietti</h3>
                    <hr>
                    <button type="button" class="btn btn-danger btn-lg">Gioca subito 1 biglietto!</button>
                  </div>
                </div>
              </div>
              <div class="modal-body" style="background-color: whitesmoke;">
                <div class="row">
                  <div class="col-sm-6 text-center">
                    
                    <span class="glyphicon glyphicon-ok won-ok" style="display: block"></span>
                    <img class="" src="//placehold.it/200x160">
                    <h4>Premio 1</h4>
                  </div>
                  <div class="col-sm-6 text-center not-won">
                    
                    <span class="glyphicon glyphicon-ok " style="display: none"></span>
                    <img class="" src="//placehold.it/200x160">
                    <h4>Premio 2</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p><small>Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>

    <!-- Modal 3 (non vinto) -->
    <div class="modal fade" id="modal-novinto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 26px;">
                    
                    <h4 class="text-center">
                      <span style="display: none">Scopri se hai vinto!</span>
                      <div style="display: block" class="alert alert-danger alert-dismissable">
                        <strong>No hai vinto!</strong> Ritenta.
                      </div>
                      <div style="display: none" class="alert alert-success alert-dismissable">
                        <strong>Hai vinto!</strong> Scopri i dettagli qui sotto.
                      </div>
                    </h4>
                    <hr>
                    <h3 class="text-center">Hai <span class="label label-warning">7 <span class="glyphicon glyphicon-star"></span></span>  Biglietti</h3>
                    <hr>
                    <button type="button" class="btn btn-danger btn-lg">Gioca subito 1 biglietto!</button>
                  </div>
                </div>
              </div>
              <div class="modal-body" style="background-color: whitesmoke;">
                <div class="row">
                  <div class="col-sm-6 text-center">
                    
                    <span class="glyphicon glyphicon-ok won-ok" style="display: none"></span>
                    <img class="" src="//placehold.it/200x160">
                    <h4>Premio 1</h4>
                  </div>
                  <div class="col-sm-6 text-center">
                    
                    <span class="glyphicon glyphicon-ok " style="display: none"></span>
                    <img class="" src="//placehold.it/200x160">
                    <h4>Premio 2</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p><small>Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>

  <%= yield %>

  <% unless @home %>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center text-muted">
          <p>2014 Shado Srl. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</script>
</body>
</html>
