<%= render partial: "/application/user_bar" %>

<div class="">
  
  
      <div class="panel panel-default">
        <div class="panel-heading profile-heading">
          <div class="container">
            <div class="row" style="margin-top: 1.5em;">
              <div class="col-md-12">
                <%= render partial: "profile/profile_header" %>
                <hr>
                <%= render partial: "profile/profile_navbar", locals: { page: "prizes" } %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body profile-body">
          <div class="container">
            
            <div class="row">
              <div class="col-md-12">
                <div id="livelli">
                  <div class="page-header">
                    <h2>Premi <small>6</small></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row premi text-center">
              <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="text-center">
                  <span class="label label-danger">New</span>
                  <img class="thumbnail img-responsive" src="http://icokeimages.eprize.net/kousa/mcr20/50748-detail.jpg" alt="...">
                  <div class="caption">
                    <p><small>Royal Caribbean International® Caribbean Wallpaper</small></p>
                    <p><a href="#" class="btn btn-default btn-sm" role="button">vai</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="text-center">
                  <img class="thumbnail img-responsive" src="http://icokeimages.eprize.net/kousa/mcr20/50748-detail.jpg" alt="...">
                  <div class="caption">
                    <p><small>Royal Caribbean International® Caribbean Wallpaper</small></p>
                    <p><a href="#" class="btn btn-default btn-sm" role="button">vai</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="text-center">
                  <img class="thumbnail img-responsive" src="http://icokeimages.eprize.net/kousa/mcr20/50748-detail.jpg" alt="...">
                  <div class="caption">
                    <p><small>Royal Caribbean International® Caribbean Wallpaper</small></p>
                    <p><a href="#" class="btn btn-default btn-sm" role="button">vai</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="text-center">
                  <img class="thumbnail img-responsive" src="http://icokeimages.eprize.net/kousa/mcr20/50748-detail.jpg" alt="...">
                  <div class="caption">
                    <p><small>Royal Caribbean International® Caribbean Wallpaper</small></p>
                    <p><a href="#" class="btn btn-default btn-sm" role="button">vai</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="text-center">
                  <img class="thumbnail img-responsive" src="http://icokeimages.eprize.net/kousa/mcr20/50094-detail.jpg" alt="...">
                  <div class="caption">
                    <p><small>Royal Caribbean International® Caribbean Wallpaper</small></p>
                    <p><a href="#" class="btn btn-default btn-sm" role="button">vai</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="text-center">
                  <span class="label label-danger">New</span>
                  <img class="thumbnail img-responsive" src="http://icokeimages.eprize.net/kousa/mcr20/50748-detail.jpg" alt="...">
                  <div class="caption">
                    <p><small>Royal Caribbean International® Caribbean Wallpaper</small></p>
                    <p><a href="#" class="btn btn-default btn-sm" role="button">vai</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

