<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: nil } %>
 
  <div id="content">    
    
  <div id="content-header">
    <h1>Home</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

  <div class="row">
    <div class="col-md-12">
      <h3>Home</h3>
      <hr/>
    </div>
  </div>

  <div class="row">
  <% if can? :manage, :all %>
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
          <h3> Dashboard </h3>

          <a href="/easyadmin/dashboard" style="color: #FFF">
            <i class="fa fa-pie-chart" style="color: #FFF"></i> Statistiche generali <br/>
          </a>
          <a href="/easyadmin/most_clicked_interactions" style="color: #FFF">
            <i class="fa fa-hand-o-up" style="color: #FFF"></i> Statistiche contenuti <br/>
          </a>
          <a href="/easyadmin/reward_cta_unlocked" style="color: #FFF">
            <i class="fa fa-trophy" style="color: #FFF"></i> CTA reward sbloccate <br/>
          </a>
        </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-th-large" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
<% end %>
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
      <h3> Utenti </h3>

      <a href="/easyadmin/user" style="color: #FFF">
        <i class="fa fa-list" style="color: #FFF"></i> Tutti <br/>
      </a>
      <a href="/easyadmin/winner" style="color: #FFF">
        <i class="fa fa-ticket" style="color: #FFF"></i> Vincitori concorso <br/>
      </a>
    </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-users" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
<% if can? :manage, :all %>
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
          <h3> Pubblicazioni </h3>

          <a href="/easyadmin/published" style="color: #FFF">
            <i class="fa fa-calendar" style="color: #FFF"></i> Pubblicazioni <br/>
          </a>
        </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-calendar" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
        <h3> Carosello </h3>

        <a href="/easyadmin/home_launchers" style="color: #FFF">
          <i class="fa fa-list" style="color: #FFF"></i> Lista item <br/>
        </a>
        <a href="/easyadmin/home_launchers/new" style="color: #FFF">
          <i class="fa fa-gears" style="color: #FFF"></i> Nuovo item <br/>
        </a>
    </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-flag" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>
  </div> <!-- /.row -->

  <div class="row">
  <% if can? :manage, :all %>
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
        <h3> CallToAction </h3>

        <a href="/easyadmin/cta" style="color: #FFF">
          <i class="fa fa-list" style="color: #FFF"></i> Tutte <br/>
        </a>
        <a href="/easyadmin/cta/to_approve" style="color: #FFF">
          <i class="fa fa-users" style="color: #FFF"></i> CallToAction utente <br/>
        </a>
        <a href="/easyadmin/cta/new" style="color: #FFF">
          <i class="fa fa-gears" style="color: #FFF"></i> Nuova <br/>
        </a>
      </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-futbol-o" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
        <h3> Promocode </h3>

        <a href="/easyadmin/promocode" style="color: #FFF">
          <i class="fa fa-ticket" style="color: #FFF"></i> Promocode <br/>
        </a>
      </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-ticket" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
        <h3> Rewards </h3>

        <a href="/easyadmin/reward" style="color: #FFF">
          <i class="fa fa-th-list" style="color: #FFF"></i> Lista <br/>
        </a>
        <a href="/easyadmin/reward/new" style="color: #FFF">
          <i class="fa fa-save" style="color: #FFF"></i> Nuovo <br/>
        </a>
      </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-trophy" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
        <h3> Tag </h3>

        <a href="/easyadmin/tag" style="color: #FFF">
          <i class="fa fa-th-list" style="color: #FFF"></i> Lista <br/>
        </a>
        <a href="/easyadmin/tag/new" style="color: #FFF">
          <i class="fa fa-save" style="color: #FFF"></i> Nuovo <br/>
        </a>
        <a href="/easyadmin/retag" style="color: #FFF">
          <i class="fa fa-reply-all" style="color: #FFF"></i> Ritagga <br/>
        </a>
      </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-tags" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <% end %>
  </div> <!-- /.row -->

  <div class="row">
  <% if (can? :manage, :all) || (can? :manage, :comments) %>
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
        <h3> Commenti </h3>

        <a href="/easyadmin/comments/to_approved" style="color: #FFF">
          <i class="fa fa-square-o" style="color: #FFF"></i> Da approvare <br/>
        </a>
        <a href="/easyadmin/comments/approved" style="color: #FFF">
          <i class="fa fa-check-square-o" style="color: #FFF"></i> Pubblicati <br/>
        </a>
        <a href="/easyadmin/comments/not_approved" style="color: #FFF">
          <i class="fa fa-minus-square-o" style="color: #FFF"></i> Oscurati <br/>
        </a>
      </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-comment" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>
  <% if can? :manage, :all %>
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
          <h3> Notifiche </h3>

          <a href="/easyadmin/notices" style="color: #FFF">
            <i class="fa fa-th-list" style="color: #FFF"></i> Lista <br/>
          </a>
          <a href="/easyadmin/notices/new" style="color: #FFF">
            <i class="fa fa-save" style="color: #FFF"></i> Nuovo <br/>
          </a>
        </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-envelope" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
          <h3> Classifiche </h3>

          <a href="/easyadmin/ranking" style="color: #FFF">
            <i class="fa fa-th-list" style="color: #FFF"></i> Elenco classifiche <br/>
          </a>
          <a href="/easyadmin/ranking/new" style="color: #FFF">
            <i class="fa fa-save" style="color: #FFF"></i> Nuova classifica <br/>
          </a>
      </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-star" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="dashboard-stat primary" style="background-color: #646464; min-height: 175px">
        <div class="details">
          <h3> Impostazioni </h3>

          <a href="/easyadmin/rules" style="color: #FFF">
            <i class="fa fa-comment" style="color: #FFF"></i> Regole Reward <br/>
          </a>
          <a href="/easyadmin/settings/browse" style="color: #FFF">
            <i class="fa fa-th-large" style="color: #FFF"></i> Pagina Browse <br/>
          </a>
          <a href="/easyadmin/settings/ranking" style="color: #FFF">
            <i class="fa fa-sort-amount-asc" style="color: #FFF"></i> Pagina Classifiche <br/>
          </a>
          <a href="/easyadmin/settings/notifications" style="color: #FFF">
            <i class="fa fa-paper-plane" style="color: #FFF"></i> Impostazioni notifiche <br/>
          </a>
        </div> <!-- /.details --> 
        <div class="visual">
          <i class="fa fa-gear" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
    <% end %>
  </div> <!-- /.row -->

</div>