<div class="col-xs-6 col-md-4">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="row">
	    		<a href="/call_to_action/<%= calltoaction.id %>">
	    		<% if calltoaction.media_image.present? %>
	    			<img class="img-responsive" src="<%= calltoaction.media_image.url %>" alt="...">
	    		<% else %>
	    			<img class="img-responsive" src="http://placehold.it/420x300" alt="...">
	    		<% end %>
	    		</a>
	    </div>
	    <div class="row">
	    	<div class="col-xs-12">
	    		<h4><%= calltoaction.title %></h4>
	    		<p><%= truncate(calltoaction.description, :length => 150, :separator => ' ') %></p>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
