<div class="col-xs-6 col-md-4">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="row">
	    		<a href="#">
	    		<% if tag.tag_fields.find_by_name("thumbnail") && tag.tag_fields.find_by_name("thumbnail").upload.present? %>
	    			<img class="img-responsive" src="<%= tag.tag_fields.find_by_name("thumbnail").upload.url %>" alt="...">
	    		<% else %>
	    			<img class="img-responsive" src="http://placehold.it/420x300" alt="...">
	    		<% end %>
	    		</a>
	    </div>
	    <div class="row">
	    	<div class="col-xs-12">
	    		<h4><%= tag.name %></h4>
	    		<p><%= truncate(tag.description, :length => 150, :separator => ' ') %></p>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
