<%= render partial: "/application/user_bar" %>

<div class="container">
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Search <span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </div>
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-xs-12">
              <div class="page-header">
                <h3>Most viewed <a href="#" style="float:right"><small>View all</small></a></h3>
              </div>
            </div>
          </div>
          <div class="row brws-item">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
          </div>
          <div class="row brws-item">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="page-header">
                <h3>Anteprime <a href="#" style="float:right"><small>View all</small></a></h3>
              </div>
            </div>
          </div>
          <div class="row brws-item">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
          </div>
          <div class="row brws-item">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
              <div class="page-header">
                <h3>Most viewed <a href="#" style="float:right"><small>View all</small></a></h3>
              </div>
            </div>
          </div>
          <div class="row brws-item">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
          </div>
          <div class="row brws-item">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/420x300" alt="...">
              </a>
              <h6>Nome Categoria</h6>
              
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="page-header">
                <h3>Tags <small>Subtext for header</small></h3>
              </div>
            </div>
          </div>
          <div class="row brws-item">
            <div class="col-md-12 lead">
              <a href="#"><span class="label label-primary">Lorem</span></a> <a href="#"><span class="label label-primary">ipsum</span></a> <a href="#"><span class="label label-primary">dolor</span></a> <a href="#"><span class="label label-primary">sit</span></a> <a href="#"><span class="label label-primary">amet</span></a> <a href="#"><span class="label label-primary">consectetur</span></a> <a href="#"><span class="label label-primary">adipisicing</span></a> <a href="#"><span class="label label-primary">elit</span></a> <a href="#"><span class="label label-primary">sed</span></a> <a href="#"><span class="label label-primary">eiusmod</span></a> <a href="#"><span class="label label-primary">tempor</span></a> <a href="#"><span class="label label-primary">incididunt</span></a> <a href="#"><span class="label label-primary">Lorem</span></a> <a href="#"><span class="label label-primary">ipsum</span></a> <a href="#"><span class="label label-primary">dolor</span></a> <a href="#"><span class="label label-primary">sit</span></a> <a href="#"><span class="label label-primary">amet</span></a> <a href="#"><span class="label label-primary">consectetur</span></a> <a href="#"><span class="label label-primary">adipisicing</span></a> <a href="#"><span class="label label-primary">elit</span></a> <a href="#"><span class="label label-primary">sed</span></a> <a href="#"><span class="label label-primary">eiusmod</span></a> <a href="#"><span class="label label-primary">tempor</span></a> <a href="#"><span class="label label-primary">incididunt</span></a>
            </div>
          </div>
        </div>

<%= render partial: "/application/footer" %>
