<%= render partial: "/application/user_bar" %>

<div class="container-fluid fullscreen-matrix">
          <div class="logo">
            <a href="#">Logo</a>
          </div>
          <!--<div class="panel-group" id="accordion" style="margin-bottom: 30px">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title text-center">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Filtra contenuto
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="row">
                  <div class="col-md-4">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#">Stagione 1</a></li>
                      <li><a href="#">Stagione 2</a></li>
                      <li><a href="#">Stagione 3</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#"><span class="glyphicon glyphicon-asterisk"></span> Categoria di tags 1</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Categoria di tags 2</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Categoria di tags 3</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-glass"></span> Categoria di tags 4</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-heart"></span> Categoria di tags 5</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#">Più commentati</a></li>
                      <li><a href="#">Più votati</a></li>
                      <li><a href="#">Recenti</a></li>
                      <li><a href="#">Punteggio più alto</a></li>
                      <li><a href="#">Non fatti</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://www.thebraininjane.com/wp-content/uploads/2013/03/Sean_Bean_Game_of_Thrones.jpg') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://b-i.forbesimg.com/erikkain/files/2013/05/Game-of-Thrones-S3E7-02.png') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://brojackson.com/wp-content/uploads/2014/04/GOT-SEASON-4.jpg') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://cdn.mamamia.com.au/wp-content/uploads/2013/06/game-of-thrones-cast.jpg') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://anthobuzz.files.wordpress.com/2014/01/while-we-wait-for-game-of-thrones-season-4-enjoy-this-awesome-wallpaper-collection-1adt-com-14-1024x576.jpg') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://static2.hypable.com/wp-content/uploads/2013/05/Game-of-Thrones-season-4-Margaery-Tyrell.png') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                        <div class="row">
                          <div class="col-sm-6">
                            <p><a href="cta.html" class="btn btn-primary btn-sm" role="button">Call to Action</a></p>
                          </div>
                          <div class="col-sm-6 text-right">
                            <div class="col-md-12">
                            <p><span class="glyphicon glyphicon-comment"></span> 10 &nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-up"></span> 23 </p></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://blogs-images.forbes.com/erikkain/files/2014/04/Oberyn_Martell_HBO.jpg') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-12 cta-img only" style="background: url('http://cdn.screenrant.com/wp-content/uploads/Game-of-Thrones-Season-4.jpg') no-repeat;">
                      <div class="matrix-title">
                        <h5><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        <h4>Some default panel content here. Nulla vitae elit libero. </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <ul class="pagination">
                <li><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>



</div>
<%= render partial: "/application/footer" %>
