<style type="text/css">
	.dropdown-menu{
		width: 80%;
		max-height: 300px;
		overflow-y: scroll;
	}
</style>
<div class="container container--default" ng-controller="SearchCtrl" ng-init="init(<%= @browse_section.to_json %>)">
	<div class="row brws-item search-bar">
		<div class="col-xs-12">
			<%= form_tag("/browse/full_search",{method: "post", class: "navbar-form", role: "search"}) %>
	        <div class="form-group col-xs-10">
	          <input id="search" autocomplete="off" typeahead="result for results in getResults($viewValue)" typeahead-min-length="3" typeahead-template-url="itemTpl.html" ng-model="resultSelected" name="query" type="text" class="form-control search-bar__input" placeholder="Search" style="width: 100%;">
	        </div>
	        <div class="form-group col-xs-2">
	        	<button type="submit" class="btn btn-primary btn-block search-bar__button"><span>Cerca</span></button>
	        </div>
	     </form>
	    </div>
	</div>	
	
	<div class="browse-sections" ng-repeat="section in sections">
		
		<div class="row brws-item">
			<div class="col-xs-12">
		      <div class="section-heading">
		        	<h3>
		        		<img ng-src="{{section.attributes.icon_url}}" class="img-circle section-heading__icon" />
		        		{{section.attributes.title}} <a href="{{section.attributes.view_all_link}}" class="section-heading__see-all">View all</a>
		        	</h3>
		      </div>
		    </div>
			<div class="col-xs-12 col-md-{{section.attributes.column_number}}" ng-repeat="content in section.attributes.contents">
				<div class="cta-preview" ng-if="content.attributes.type == 'cta'">
					<div class="row">
						<div class="col-xs-12">
							<div class="cta-preview__thumbnail">
								<a href="{{content.attributes.detail_url}}">
									<img class="img-responsive cta-preview__image" ng-src="{{content.attributes.thumb_url}}" alt="..." ng-if="content.attributes.has_thumb">
									<img class="img-responsive cta-preview__image" src="http://placehold.it/420x300" alt="..." ng-if="!content.attributes.has_thumb">
								</a>
								<div class="label label-warning cta-preview__points" ng-if="content.attributes.status != undefined">+ {{content.attributes.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
							</div>
						</div>
						<div class="col-xs-12">
							<h3 class="cta-preview__title">{{content.attributes.title | cut:true:70}}</h3>
						</div>
					</div>
					<div class="row relateds-flexslider__footer">
			            <div class="col-xs-12">
			              <p class="relateds-flexslider__likes"><span class="fa fa-thumbs-up relateds-flexslider__thumbs-up"></span>{{content.attributes.likes}}</p>
			              <p class="relateds-flexslider__comments"><span class="glyphicon glyphicon-comment relateds-flexslider__glyphicon-comment"></span>{{content.attributes.comments}}</p>
			            </div>
			        </div> 
				</div>
				
				<div class="cta-preview cta-preview--category" ng-if="content.attributes.type == 'tag'">
					<div class="row">
						<div class="col-xs-12">
							<div class="cta-preview__thumbnail cta-preview__thumbnail--category">
								<a href="{{content.attributes.detail_url}}">
									<img class="cta-preview__image cta-preview__image--category" ng-src="{{content.attributes.thumb_url}}" alt="..." ng-if="content.attributes.has_thumb">
									<img class="cta-preview__image cta-preview__image--category" src="http://placehold.it/420x300" alt="..." ng-if="!content.attributes.has_thumb">
								</a>
							</div>
						</div>
					</div>
					<h3 class="cta-preview__title--category">{{content.attributes.title}}</h3>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/ng-template" id="itemTpl.html">
	   <a href="{{match.model.detail_url}}" tabindex="-1">
	   	<div class='row'>
	   		<div class='col-xs-4 col-sm-2'>
	   			<img ng-src="{{match.model.thumb_url}}" class="img-responsive" />
	   		</div>
	   		<div class='col-xs-8 col-sm-10'>{{match.model.title | cut:true:70}}</div>
	   	</div>
	   </a>
	</script>
	
</div>