<%= render partial: "/application/user_bar" %>

<div class="container">
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Search <span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <ul class="nav nav-pills filter">
                <li style="padding: 10px 0">Show me</li>
                 
                <li class="dropdown">
                  <a href="#" style="text-decoration: underline" class="dropdown-toggle" data-toggle="dropdown">Season <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Season 1</a></li>
                    <li><a href="#">Season 2</a></li>
                    <li><a href="#">Season 3</a></li>
                  </ul>
                </li>
                <li style="padding: 10px 0">and</li>
                
                <li class="dropdown">
                  <a href="#" style="text-decoration: underline" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Prima tag</a></li>
                    <li><a href="#">Seconda tag</a></li>
                    <li><a href="#">Terza tag</a></li>
                    <li><a href="#">Quarta tag</a></li>
                    <li><a href="#">Quinta tag</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Risultati per: <span class="text-muted">soggetto di ricerca</span></h3>
              <hr>
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-5 cta-img" style="background: url('http://cdn.mamamia.com.au/wp-content/uploads/2013/06/game-of-thrones-cast.jpg') no-repeat;">
                      <h5 class="visible-xs"><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                    </div>
                    <div class="col-md-7">
                      <div class="panel panel-default cta-content">
                        <!-- Default panel contents -->
                        <div class="panel-heading visible-lg visible-md">
                          <h5 class="text-muted visible-md visible-lg"><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        </div>
                        <div class="panel-body">
                          <h3>Some default panel content here. Nulla vitae elit libero. </h3>
                          
                          <div class="row">
                            <div class="col-md-5">
                              <p><a href="cta-simplebox.html" class="btn btn-primary btn-lg btn-block" role="button">Call to Action</a></p>
                            </div>
                          </div>
                        </div>
                        <!-- List group -->
                        <div class="panel-footer text-muted">
                          <div class="row">
                            <div class="col-md-6 col-xs-6">
                              <span>January 27, 2014</span>
                            </div>
                            <div class="col-md-6 col-xs-6 text-right">
                              
                                <span class="glyphicon glyphicon-comment"></span> 10 &nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-up"></span> 23 
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default tpl-l-img">
                <div class="panel-body">
                  <div class="row">
                    <div class="points">
                      <h3><span class="label label-warning">10 <span class="glyphicon glyphicon-star"></span></span></h3>
                    </div>
                    <div class="col-md-5 cta-img" style="background: url('http://cdn.mamamia.com.au/wp-content/uploads/2013/06/game-of-thrones-cast.jpg') no-repeat;">
                      <h5 class="visible-xs"><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                    </div>
                    <div class="col-md-7">
                      <div class="panel panel-default cta-content">
                        <!-- Default panel contents -->
                        <div class="panel-heading visible-lg visible-md">
                          <h5 class="text-muted visible-md visible-lg"><span class="glyphicon glyphicon-fire"></span> Deserunt mollit</h5>
                        </div>
                        <div class="panel-body">
                          <h3>Some default panel content here. Nulla vitae elit libero. </h3>
                          
                          <div class="row">
                            <div class="col-md-5">
                              <p><a href="cta-simplebox.html" class="btn btn-primary btn-lg btn-block" role="button">Call to Action</a></p>
                            </div>
                          </div>
                        </div>
                        <!-- List group -->
                        <div class="panel-footer text-muted">
                          <div class="row">
                            <div class="col-md-6 col-xs-6">
                              <span>January 27, 2014</span>
                            </div>
                            <div class="col-md-6 col-xs-6 text-right">
                              
                                <span class="glyphicon glyphicon-comment"></span> 10 &nbsp;&nbsp; <span class="glyphicon glyphicon-thumbs-up"></span> 23 
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<%= render partial: "/application/footer" %>
