<div class="container main-container">   
  <div class="row main-row">
    <div class="col-sm-12 text-center" ng-repeat="miniformat in [calltoaction_info.miniformat]">
      <%= render partial: "/application/ribbon", locals: { title: "Dati personali", background: "#ceb5e2"}%>
    </div>
  </div>
</div>