<div class="row">
	<div class="col-xs-12 text-center">
		<button type="button" class="btn btn-success btn-lg" onclick="check_page(document.referrer, )">
		  <span class="glyphicon glyphicon-ok" ></span> Check
		</button>
	</div>
</div>