<div class="container-fluid">
  <div class="row" style="padding-top: 15px; padding-bottom: 15px; position: relative;">
  	<div class="col-xs-5">
  		<h4 style="font-weight: bold; font-size: 20px;">Entra nella community</h4>
  		<h5 style="text-transform: none; font-weight: bold;">Clicca e ottieni subito 1 punto</h5>
  	</div>

    <% if current_user %>
      <%= render partial: "/iframe_check/logged_interaction", locals: { can_do_check: can_do_check, reached_cap: reached_cap, interaction: interaction } %>
    <% else %>
      <%= render partial: "/iframe_check/not_logged_interaction", locals: { interaction: interaction } %>
    <% end %>

  </div>
  <div class="row">
    <div class="col-xs-10" style="background: #ccc;">
      <h5 style="text-transform: none;">Sei un superfan di Ballando? Scopri la Community!</h5>
    </div>
    <div class="col-xs-2 text-right" style="background: #ccc;">
      <h5><a target="_top" href="<%= Rails.configuration.deploy_settings["sites"]["ballando"]["stream_url"] %>" style="text-transform: none; color: #000; text-decoration: underline;">SCOPRI</a></h5>
    </div>
  </div>
</div>