<div class="container-fluid">
  <div class="row" style="padding-top: 15px; padding-bottom: 15px; position: relative;">
  	<div class="col-xs-5">
  		<h5 style="font-weight: bold;">Entra nella community</h5>
  		<h6 style="text-transform: none; font-weight: bold;">Clicca e ottieni subito 1 punto</h6>
  	</div>

    <% if current_user %>
      <%= render partial: "/iframe_check/logged_interaction", locals: { can_do_check: can_do_check, reached_cap: reached_cap, interaction: interaction } %>
    <% else %>
      <%= render partial: "/iframe_check/not_logged_interaction", locals: { interaction: interaction } %>
    <% end %>

  </div>
  <div class="row">
    <div class="col-xs-10" style="background: #ccc; padding-top: 10px; padding-bottom: 10px;">
      <h4>Sei un superfan di Ballando? Scopri la Community!</h4>
    </div>
    <div class="col-xs-2 text-right" style="background: #ccc; padding-top: 10px; padding-bottom: 10px;">
      <h4><a href="<%= Rails.configuration.deploy_settings["sites"]["ballando"]["stream_url"] %>" style="text-transform: none; color: #000;">SCOPRI</a></h4>
    </div>
  </div>
</div>