<div class="container-fluid">
  <div class="row" style="margin-top: 15px;">
    <div class="col-xs-5 text-center">
      <h5>PARTECIPA ALLA COMMUNITY</h5>
      <h6 style="text-transform: none;">Registrati colleziona i punti <span class="glyphicon glyphicon-star"></span></h6>
    </div>

    <div id="iframe-interaction" class="col-xs-5" style="position: relative; padding-left: 60px; margin-top: 10px;">
      <a href="javascript: void(0)" style="padding: 5px 0 0;" class="button-inter-<%= interaction.id %> btn-2" onclick="showRegistrateView()" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, null)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, null)" <% end %>>REGISTRATI</a>
    </div>
  </div>
</div>