<div id="check-container" ng-controller="BallandoIframeCalltoactionCtrl" ng-init="ballandoIframeCalltoactionCtrl('<%= Rails.configuration.deploy_settings["sites"]["ballando"]["profile_url"] %>')"></div>
