<div id="check-container" ng-controller="BallandoIframeCalltoactionCtrl"></div>
<script type="text/javascript">
	
	var referrer = "" + top.location;
	
	$(document).ready(function(){
		$.ajax({
			url: "/iframe/get_check.json",
			data: { referrer: referrer },
			success: function(data){
				$("#check-container").html(data);
			}
		});
	});
	
	function do_check(){
		$.ajax({
			url: "/iframe/do_check.json",
			data: { referrer: referrer },
			success: function(data){
				$("#check-container").html(data);
			}
		});
	}
</script>
