<div id="check-container" style="background-color: #000;" ng-controller="BallandoIframeCalltoactionCtrl" ng-init="ballandoIframeCalltoactionCtrl('<%= Rails.configuration.deploy_settings["sites"]["ballando"]["profile_url"] %>')"></div>
