/* GENERAL */ 

.flex-viewport-shadow {
    background: radial-gradient(at 100% 50% , rgba(0, 0, 0, 0.5) 0%, transparent 75%);
    bottom: -3px;
    position: absolute;
    right: 0;
    top: -3px;
    width: 6px;
    z-index: 100;
    border-right: 1px solid #999;
}

.flex-disabled {
    display: none !important;
}