.rewards-flexslider__container {
    padding-left: 0 !important; 
    padding-right: 0 !important;   
}

.rewards-flexslider {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    .flex-viewport{
    }
    .flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
    }
    .flex-next {
      right: -25px !important;
    }
    .flex-prev {
      left: -25px !important;
    }
}

.rewards-flexslider--property {
    padding-left: 0!important;
    padding-right: 0 !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    position: relative;
    .flex-viewport{
      margin: 0 15px;
    }
    .flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
      top: 90px;
    }
    .flex-next {
      right: -5px !important;
    }
    .flex-prev {
      left: -5px !important;
    }
}

.rewards-flexslider--rankings {
  padding-bottom: 20px;
}

.rewards-flexslider-item {
    position: relative !important;
}




@media (min-width: $screen-sm-min) { 
  .ctas__flexslider {
    .flex-direction-nav a {
        color: #ccc !important;
        margin: -15px 0 0 !important;
    }

    .flex-control-paging {
        margin-bottom: 45px; 
        z-index: 10;
        li a {
            background: rgba(255, 255, 255, 0.5)
        }
        li a.flex-active {
            background: #fff;
        }
    }

    .flex-direction-nav .flex-prev {
        left: 20px !important; 
    }

    .flex-direction-nav .flex-next {
        right: 20px !important; 
    }

    .flex-direction-nav a:before {
        font-size: 30px !important;
    }
  }
}

@media (max-width: $screen-sm-min) { 

    .ctas__info {
        padding-left: 15px; 
    }

    .ctas__title {
        font-size: 18px;
    }

    .ctas__flexslider {
        .flex-control-nav {
            bottom: 0;
            z-index: 10;
        }

        .flex-direction-nav a {
            color: #ccc !important;
            margin: -15px 0 0 !important;
        }

        .flex-direction-nav .flex-prev {
            display: none;
        }

        .flex-direction-nav .flex-next {
            display: none;
        }

        .flex-control-paging {
            margin-bottom: 5px; 
            z-index: 10;
            li a {
                background: rgba(255, 255, 255, 0.5)
            }
            li a.flex-active {
                background: #fff;
            }
        }
    }
}