<div class="panel-body cta-panel no-pad">
  <!-- UNDERVIDEO AREA -->
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "/call_to_action/undervideo_interactions", locals: { calltoaction: calltoaction, outcome: nil } %>
    </div>

    <div class="col-sm-12 text-center" id="home-undervideo-<%= calltoaction.id %>">
      <!-- UNDERVIDEO FEEDBACK -->               
    </div>

    <div class="col-md-12" id="share-footer-<%= calltoaction.id %>">
      <!-- SHARE FOOTER -->
    </div>
  </div>
</div>  