<div class="col-sm-12 filters__flexslider">
  <div class="flexslider filters__flexslider-desktop hidden-xs">
    <div class="flex-viewport-shadow"></div>
    <ul class="slides">
      <li class="text-center filters__flexslider-desktop-item" id="{{gallery.cta.id}}" ng-repeat="gallery in aux.gallery_ctas">
        <%= light_link_to("/gallery/{{gallery.cta.slug}}", class: "filters__flexslider-a") do %>
          <img class="filters__flexslider-image" ng-class="{'filters__flexslider-image--active': aux.gallery_calltoaction.calltoaction.id == gallery.cta.id}" ng-src="{{gallery.cta.thumbnail_medium}}">  
          <p class="filters__title--gallery">{{gallery.cta.title}}</p>
          <p class="filters__title--gallery-counter">{{gallery.count}} contenuti</p>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="flexslider filters__flexslider-mobile filters__flexslider-mobile--gallery visible-xs">
    <ul class="slides">
      <li class="text-center filters__flexslider-mobile-item" id="{{gallery.cta.id}}" ng-repeat="gallery in aux.gallery_ctas">
        <%= light_link_to("/gallery/{{gallery.cta.slug}}") do %>
          <div class="filters__gallery-item" ng-style="{'background-image': 'url(' + gallery.cta.thumbnail_medium + ')'}">
            <p class="filters__title--gallery">{{gallery.cta.title}}</p>
            <p class="filters__title--gallery-counter">{{gallery.count}} contenuti</p>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    is_last_filters_flexslider_slide = false;
    $('.filters__flexslider-desktop').flexslider({
      animation: "slide",
      slideshow: false,
      animationLoop: false,
      touch: true,
      itemWidth: 262,
      itemMargin: 15,
      controlNav: false,
      prevText: "",
      nextText: "",
      before: function(slider) {
        is_last_filters_flexslider_slide = false;
        $(slider).find(".flex-viewport-shadow").removeClass("hidden");
      },
      after: function(slider) {
        if(is_last_filters_flexslider_slide) {
          $(slider).find(".flex-viewport-shadow").addClass("hidden");
        } else {
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        }
      },
      end: function(slider) {
        is_last_filters_flexslider_slide = true;
      }
    });

    $(".filters__flexslider-desktop-item").first().find(".filters__flexslider-item-active").removeClass("hidden");

    $(".filters__flexslider-desktop-item").bind("click", function() {
      $(".filters__flexslider-desktop-item").find(".filters__flexslider-item-active").addClass("hidden");
      $(this).find(".filters__flexslider-item-active").removeClass("hidden");
    });

    $(".filters__flexslider-mobile-item").first().find(".filters__flexslider-item-active").removeClass("hidden");

    $(".filters__flexslider-mobile-item").bind("click", function() {
      $(".filters__flexslider-mobile-item").find(".filters__flexslider-item-active").addClass("hidden");
      $(this).find(".filters__flexslider-item-active").removeClass("hidden");
    });

    $('.filters__flexslider-mobile').flexslider({
      animation: "slide",
      slideshow: false,
      animationLoop: false,
      touch: true,
      itemWidth: 130,
      itemMargin: 8,
      controlNav: false,
      prevText: "",
      nextText: ""
    });
  });
</script>