<a href="{{match.model.path}}#gallery_user_filter" class="ctas__search__a">
  <div class="row">
    <div class="col-xs-12 ctas__search__col">
      <img ng-src="{{match.model.avatar}}" class="ctas__search__img" />
      <p class="ctas__search__title">{{match.model.username}}</p>
    </div>
  </div>
</a>