<div class="row footer__row">
  <div class="col-md-6 col-xs-12">
    <div class="row footer__text-row">
      <div class="col-sm-12">
        <p class="footer__title">CONDIVIDI OGNI GIORNO E VINCI</p>
      </div>
      <div class="col-sm-12">
        <p class="footer__description">GIFT CARD FINO A €500</p>
      </div>
      <div class="col-sm-12 hidden-xs">
        <p class="footer__description-small">Condividi ogni giorno e ottieni +1 biglietto per vincere una delle 35 Gift Card Coin</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 footer__img-column">
    <img class="footer__img" src="<%= asset_path("coin/coin-ticket-footer.png") %>">
  </div>
  <div class="col-xs-12 visible-xs">
    <p class="footer__description-small">Condividi ogni giorno e ottieni +1 biglietto per vincere una delle 35 Gift Card Coin</p>
  </div>
</div>