<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center footer__column">
    <p class="footer__description">Condividi ogni giorno</p>
    <p class="footer__description">e vinci Gift Card fino a €500</p>
    <img style="width: 100%" src="<%= asset_path("coin/coin-ticket.png") %>">
  </div>
</div>