<div class="container">
  <div class="row footer__row">
    <div class="col-md-6 col-xs-12">
      <div class="row footer__text-row">
        <div class="col-sm-12">
          <p class="footer__title">CONDIVIDI OGNI GIORNO E VINCI</p>
        </div>
        <div class="col-sm-12">
          <p class="footer__description">GIFTCARD FINO A €500</p>
        </div>
        <div class="col-sm-12 hidden-xs">
          <p class="footer__description-small">Condividi ogni giorno e ottieni +1 biglietto per vincere una delle 35 Giftcard Coin</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 footer__img-column">
      <img class="footer__img" src="<%= asset_path("coin/coin-ticket-footer.png") %>">
    </div>
    <div class="col-xs-12 visible-xs">
      <p class="footer__description-small">Condividi ogni giorno e ottieni +1 biglietto per vincere una delle 35 Giftcard Coin</p>
    </div>
  </div>
</div>

<div class="container-fluid coin-footer">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="coin-footer__text">Gruppo Coin S.p.A. con socio unico, P.Iva 04850790967 | <a class="coin-footer__a" target="_blank" href="https://s3-eu-west-1.amazonaws.com/coin.live.fandomlab.com/terms/regolamento.pdf">Regolamento</a> | <a class="coin-footer__a" target="_blank" href="/privacy_policy">Privacy</a><!-- | <a class="coin-footer__a" target="_blank" href="http://www.coincasa.it/SERVIZIOCLIENTI?cgid=servizio_clienti">Contatti</a></p> -->
    </div>
  </div>
</div>

<% unless cookies[:user_cookies] %>
  <div id="cookies-bar" class="navbar navbar-fixed-bottom" style="background: rgba(210, 16, 32, 0.6); color: #fff; min-height: 0;">
    <p style="line-height: 40px; padding: 0 0 0 10px; margin: 0;">LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM <a href="javascript: void(0)" ng-click="acceptCookies()">LOREM IPSUM</a></p>
  </div>
<% end %>