<div class="container">
  <%= render partial: "/application/header" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">  
              <div class="col-md-12 text-center">
                <p class="registration__title">COOKIES POLICY</p>
              </div>    
              <div class="col-md-10 col-md-offset-1 privacy-policy__text">
                <p class="bold">Strumenti di "profilazione" e/o personalizzazione </p>
                <p>COIN non svolge alcuna attività di comunicazione promozionale e/o pubblicitaria senza il preventivo consenso espresso dell'utente.  Il Sito utilizza “Cookies”: si tratta di file di testo che vengono inviati da un server web (che è il computer sul quale è in esecuzione il sito web visitato) al browser dell'utente (Internet Explorer, Mozilla Firefox, Google Chrome, ecc.) e memorizzati nel disco fisso del PC dell'utente quando questi visita il Sito. Il cookie consente al Sito di identificare il PC dell'utente, attraverso le informazioni in esso memorizzate, ogni qualvolta l'utente si ricollega al Sito attraverso quel PC.  Attraverso l'utilizzo dei cookies ci è possibile facilitare la navigazione dell'utente all'interno del Sito.</p>
                <p>I cookies non raccolgono informazioni direttamente identificative dell'utente. Infatti COIN non può attraverso i cookies risalire a nessuna informazione personale direttamente identificativa (es. nome, cognome) se non fornita direttamente dall'utente. Inoltre, un altro sito web non può utilizzare un cookie rilasciato dal Sito Coincasa per accedere ad altre informazioni contenute nel computer dell'utente. Una volta salvato nel computer, il cookie può essere letto solo dal sito web che lo ha creato (e quindi, nel nostro caso, da coincasa.it).</p>
                <p class="bold">Quali tipi di cookie utilizza COINCASA</p>
                <p>Cookies tecnici</p>
                <p>Sono i cookies utilizzati al fine di garantire la navigazione e quindi la trasmissione telematica dei dati sulla rete o strettamente necessari alla fornitura dei servizi forniti dal Sito. Tali cookies sono solitamente temporanei, cd. "cookies di sessione", e sono rilasciati dal Sito sul computer dell'utente durante la navigazione, ma vengono memorizzati esclusivamente per il tempo di durata della sessione di navigazione stessa. Ciò significa che quando l'utente chiude il suo browser i cookies vengono cancellati automaticamente e scompaiono, senza rimanere memorizzati sul computer. Sono formati da numeri casuali generati dal server e servono a consentire l'esplorazione sicura ed efficiente del Sito.  Attraverso l'utilizzo di tali cookies ci è possibile facilitare la navigazione dell'utente all'interno del Sito, ad esempio ricordando i dati forniti dall'utente nella compilazione di moduli sul Sito (c.d. user input cookies), per riconoscere l'utente dopo che ha effettuato il log-in al Sito (c.d. cookies per l'autenticazione), per personalizzare l'interfaccia del sito sulla base delle preferenze indicate dall'utente, per raccogliere in forma aggregata informazioni in merito al numero dei visitatori del sito e sulle pagine più visitate (c.d. cookies analytics), ecc. Tali cookies non richiedono l'acquisizione di un consenso preventivo ed espresso dell'utente in quanto strettamente necessari ad erogare il servizio richiesto dall'utente del Sito (ex art. 122, comma 1, del Codice Privacy).</p>
                <p>Cookies di profilazione</p>
                <p>Sono i cookies finalizzati a creare profili relativi all'utente ad esempio al fine di inviare messaggi pubblicitari coerenti con le preferenze dell'utente stesso: tali cookies sono rilasciati dal Sito sul computer dell'utente durante la navigazione e vengono memorizzati anche oltre per il tempo di durata della sessione di navigazione stessa, fino allo loro scadenza o sino alla cancellazione da parte dell'utente stesso (c.d. “cookies permanenti”). L'utilizzo di tali cookies richiede il consenso espresso ed informato dell'utente (ex art. 122, comma 1, del Codice). L'utente, accedendo alla Home Page (o altra pagina) del Sito COIN, visualizzando il banner di informativa relativo ai cookies ivi presente e prendendo visione dell'informativa fornita, se procede con la navigazione (ad esempio cliccando sulla pagina web del Sito o su un link ivi presente), fornisce il proprio specifico consenso all'utilizzo dei cookies. E' altresì considerato un valido consenso da parte dell'utente l'aver configurato il proprio Browser internet (ad es. Explorer, Firefox, Chrome, Opera) al fine di accettare l'utilizzo dei cookies (ex art. 122, comma 2, del Codice).</p>
                <p>Ti facciamo presente che il tuo consenso sarà richiesto solo al tuo primo accesso al Sito: successivamente, grazie all'utilizzo di un cookie tecnico memorizzeremo il tuo consenso per consentirti di accedere direttamente alle pagine del Sito al tuo ritorno (resta fermo il tuo diritto di disattivare/attivare i cookies in ogni momento, o di cancellarli (vedi punto 6.2): in tale caso, al tuo ritorno, il Sito richiederà nuovamente il tuo consenso).</p>
                <p>Non sono utilizzati altri strumenti di profilazione dell'utente in questo Sito (ad es. spyware).</p>
                <p>Inoltre qualora l'utente si registri al Sito e fornisca in sede di registrazione il proprio specifico consenso al monitoraggio della sua navigazione, i dati relativi alla navigazione all'interno del Sito potranno essere associati ai suoi dati personali.</p>
                <p class="bold">Informazioni sui cookies rilasciati da coincasa.it In merito ai cookies utilizzati nel Sito forniamo le seguenti informazioni:</p>
                <p>1. Il nome di dominio dal quale il server del Sito trasmette i cookies è: www.coincasa.it</p>
                <p>2. Finalità della raccolta: i cookies sono utilizzati ai fini di (i) consentire una navigazione più facile e veloce all'interno del Sito od effettuare analisi/verifiche statistiche ed anonime sull'utilizzo del sito (cookie tecnici); (ii) migliorare l'esperienza di navigazione suggerendo i prodotti e le promozioni migliori in base alla navigazione svolta (cookie di profilazione).</p>
                <p>3. Dati raccolti: sono memorizzate le seguenti informazioni: gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente.<br>
                Sotto un profilo tecnico nei cookies (trasmessi dal dominio www.coincasa.it) sono contenute le seguenti informazioni: un ID numerico che identifica in modo univoco COIN e un ID numerico che identifica l'utente (che effettua la navigazione all'interno del Sito), entrambi memorizzati all'interno del nostro data base; un ID numerico che identifica univocamente la navigazione (c.d. “record”) dell'utente all'interno del nostro data base; un ID alfanumerico di sessione pseudo-casuale automaticamente cancellato dal browser alla sua chiusura (cookie di sessione).</p>
                <p>4. Validità dei cookies: il Sito utilizza cookies di sessione (ovvero cookies che vengono automaticamente cancellati alla chiusura del browser), nonché cookies permanenti (ovvero cookies che sono conservati sino ad eventuale cancellazione da parte dell'utente), la cui durata non supera in ogni caso i sei mesi.</p>
                <p>5. Necessità di accettazione dei cookies: l'accettazione dei cookies non è obbligatoria ma la loro disattivazione, sebbene consenta la navigazione all'interno del Sito, potrebbe non rendere possibile il rilascio di alcuni contenuti e funzionalità del Sito.</p>
                <p>6. Disattivazione e cancellazione dei cookie: è possibile disattivare/attivare i cookie in ogni momento. In ogni caso puoi disattivare/attivare o cancellare i cookie mediante utilizzo delle impostazioni del tuo web browser. In particolare se si desidera non ricevere cookie, è possibile impostare il proprio browser in modo tale da essere avvertiti della presenza di un cookie potendo così decidere se accettarlo o meno; si possono anche rifiutare automaticamente tutti i cookie, attivando l'apposita opzione nel browser.</p>
                <p>7. Comunicazione dei dati: le informazioni raccolte tramite i cookies sono riservate e non sono comunicate a terzi.</p>
                <p class="bold">Cookie di terze parti</p>
                <p>Non sono utilizzati cookie di terze parti.</p>
                <p>Gruppo Coin S.p.A.</p>
              </div>
              <div class="col-md-2 col-md-offset-9 col-xs-12">
                <a class="btn btn-primary btn-block registration__button" href="/">INDIETRO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>