<div class="container">
  <%= render partial: "/application/header" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">  
              <div class="col-md-12 text-center">
                <p class="registration__title">PRIVACY POLICY</p>
              </div>    
              <div class="col-md-10 col-md-offset-1">
                <p>
                  a) Chi siamo: Gruppo Coin S.p.A. con sede legale e amministrativa in Mestre (VE), via Terraglio n.17 (di seguito "Gruppo Coin"), è il Titolare del trattamento; difatti è la società che raccoglie e tratta i suoi dati personali e, ai sensi dell'art. 13 del D.Lgs. 30 giugno 2003 n.196 "Codice in materia di protezione dei dati personali" (di seguito il "Codice Privacy"), Le fornisce le seguenti informazioni.
                </p>
                <p>
                  b) Perché raccogliamo i suoi dati: I dati che ci sta fornendo saranno utilizzati  ai fini della partecipazione al suddetto concorso e della eventuale successiva comunicazione della vincita.
                </p>
                <p>
                  c) Il suo Consenso: Le chiediamo di fornire i dati richiesti come "obbligatori" in quanto necessari alla registrazione; il mancato conferimento dei dati indicati come "facoltativi" non avrà alcuna conseguenza.
                </p>
                <p>
                  d) Come trattiamo i suoi dati: I dati saranno trattati nel rispetto della normativa vigente e, comunque, in modo da garantirne la sicurezza, la riservatezza, nonché impedirne la divulgazione od uso non autorizzati, l'alterazione o distruzione.<br>
                  I suoi dati saranno trattati prevalentemente in via informatizzata per poterla contattare e renderla partecipe delle nostre iniziative.
                </p>
                <p>
                  e) A chi comunichiamo i suoi dati: I suoi dati non saranno diffusi, né comunicati a terzi e potranno venire a conoscenza di: (i) società nostre affiliate che gestiscono i punti vendita; (ii) società che per nostro conto effettuano il servizio di conservazione ed elaborazione degli archivi informatici; (iii) società che curano la predisposizione e spedizione di promozioni e pubblicità o lo svolgimento di attività promozionali (limitatamente a nome, cognome ed indirizzo per l'invio di posta generica; indirizzo e-mail per l'invio di mailing elettronico; numero di telefono/cellulare per attività di tele-marketing). Tali soggetti opereranno in qualità di Responsabili esterni del trattamento ai sensi dell'art. 29 del Codice Privacy: i nominativi di tutti i responsabili esterni del trattamento possono essere richiesti mediante comunicazione da inviare ai recapiti di seguito indicati.<br>
                  I suoi dati potranno venire a conoscenza degli incaricati e dei responsabili delle Direzioni Marketing, Tecnologie dell'Informazione, Customer Care di Gruppo Coin.
                </p>
                <p>
                  f) Quali sono i suoi diritti: Rivolgendosi al punto vendita e/o mediante comunicazione da inviare a Gruppo Coin S.p.A., via Terraglio n.17, 30174, Mestre (VE), e-mail: servizioclienti@coin.it, all'attenzione del Responsabile Direttore Generale d'Insegna Coin pro tempore, Lei potrà in ogni momento esercitare i diritti di cui all'art. 7 del Codice Privacy, tra cui, 1) ottenere, senza ritardo, la conferma dell'esistenza o meno di dati personali che la riguardano […]; 2) ottenere: a) l'indicazione dell'origine dei dati personali, delle finalità e modalità del trattamento, della logica del trattamento effettuato con l'ausilio di strumenti elettronici, degli estremi identificativi del titolare o dei responsabili, dei soggetti o delle categorie di soggetti a cui i dati possono venire comunicati o che possono venirne a conoscenza in qualità di responsabili o incaricati; l'aggiornamento, la rettificazione ovvero, qualora vi abbia interesse, l'integrazione dei dati; b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge; 3) opporsi, in tutto o in parte, al trattamento di dati personali che lo riguardano, previsto a fini di informazioni commerciali o di invio di materiale pubblicitario o di vendita diretta ovvero per il compimento di ricerche di mercato o di comunicazione commerciale.
                </p>
                <p>
                  g) Chi è il Responsabile del trattamento: Responsabile del trattamento è stato nominato Direttore Generale d'Insegna Coin pro tempore, il cui nominativo, così come una lista aggiornata degli altri responsabili del trattamento, è disponibile mediante richiesta da inviare ai sensi della lettera f) che precede.
                </p>

                <p>Gruppo Coin S.p.A.</p>
              </div>
              <div class="col-md-2 col-md-offset-9">
                <a class="btn btn-primary" href="/">INDIETRO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




