<%= render partial: "/application/user_bar" %>

<div class="container-fluid">   
  <div class="row no-pad">      
    <div class="col-xs-12 text-center no-pad">
      <div style="max-width: 810px; margin-left: auto; margin-right: auto;">
        <img src="/assets/maxibon/landing/landing.jpg" class="img-responsive" style="width: 100%;">

        <div class="hidden-xs" style="position: relative; width: 100%;">
          <div style="position: absolute; right: 80px; bottom: 40px">
            <a href="/auth/facebook"><div class="landing-button"></div></a>
            <p style="font-size: 10px; color: #fff; margin-top: 5px;">Se non sei ancora utente facebook <a href="/users/sign_up">clicca qui</a></p>
          </div>
        </div>

        <div class="hidden-sm hidden-md hidden-lg" style="position: relative; width: 100%;">
          <div style="position: absolute; right: 20px; bottom: 20px">
            <a href="/auth/facebook"><div class="landing-button" style="background-size: 100px; height: 45px; width: 100px;"></div></a>
          </div>
        </div>

        <div class="hidden-sm hidden-md hidden-lg" style="position: relative; width: 100%;">
          <div style="position: absolute; bottom: -5px; width: 100%;">
            <p style="font-size: 8px; color: #fff; margin-top: 5px; text-align: center;">Se non sei ancora utente facebook <a href="/users/sign_up">clicca qui</a></p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
