<% content_for :bodyclass, "landing" %>

<%#= render partial: "/application/user_bar" %>

<div class="container-fluid" style="position: relative; margin-top: -50px;">   
  <div class="row no-pad">      
    <div class="col-xs-12 text-center no-pad">
      <div style="max-width: 810px; margin-left: auto; margin-right: auto;">
        <img src="/assets/maxibon/landing/landing.jpg" class="img-responsive hidden-xs" style="width: 100%;">
        <img src="/assets/maxibon/landing/landing-mobile.jpg" class="img-responsive visible-xs" style="width: 100%;">

        <!--
        <div class="hidden-xs" style="position: relative; width: 100%;">
          <div style="position: absolute; right: 80px; bottom: 40px">
            <a href="/auth/facebook"><div class="landing-button"></div></a>
            <p style="font-size: 10px; color: #fff; margin-top: 5px;">Se non sei ancora utente facebook <a href="/users/sign_up">clicca qui</a></p>
          </div>
        </div>

        <div class="hidden-sm hidden-md hidden-lg" style="position: relative; width: 100%;">
          <div style="position: absolute; right: 20px; bottom: 20px">
            <a href="/auth/facebook"><div class="landing-button" style="background-size: 100px; height: 45px; width: 100px;"></div></a>
          </div>
        </div>

        <div class="hidden-sm hidden-md hidden-lg" style="position: relative; width: 100%;">
          <div style="position: absolute; bottom: -5px; width: 100%;">
            <p style="font-size: 8px; color: #fff; margin-top: 5px; text-align: center;">Se non sei ancora utente facebook <a href="/users/sign_up">clicca qui</a></p>
          </div>
        </div>
        -->

        <!--
        <div class="row hidden-xs" style="margin: 0; margin-top: -172px; color: #003366;">
          <div class="col-sm-8 no-pad"> 
            <h1>AIUTA MARCO<br>A CONQUISTARE LARA<br>E VINCI <img src="/assets/maxibon/img-aquafan-footer.png"></h1>
          </div>
          <div class="col-sm-4 text-center" style="padding-top: 30px; margin-left: -30px;">

            <a target="_top" href="/auth/facebook"><div class="landing-button" style="margin-left: auto; margin-right: auto;"></div></a>

            <p style="font-size: 10px; color: #000; margin-top: 5px;">Se non sei ancora utente facebook <a href="/users/sign_up" style="color: #000; text-decoration: underline;">clicca qui</a></p>

          </div>
        </div>
        -->

      </div>

    </div>
  </div>
  
  <!--
  <div class="row hidden-sm hidden-md hidden-lg" style="position:absolute; bottom: 60px; right: 20px; color: #003366;">
	  <div class="col-xs-6 col-xs-offset-6 no-pad"> 
	    <h5>AIUTA MARCO<br>A CONQUISTARE LARA<br>E VINCI <img style="width: 100px;" src="/assets/maxibon/img-aquafan-footer.png"></h5>
	  </div>
	
	  <div class="col-xs-6 col-xs-offset-5 text-center" style="padding-top: 10px;">
	
	    <a target="_top" href="/auth/facebook"><div class="landing-button" style="margin-left: auto; margin-right: auto; background-size: 100px; height: 50px; width: 100px;"></div></a>
	
	  </div>
	
	  <div class="col-xs-6 col-xs-offset-5 no-pad">
	    <p style="font-size: 8px; color: #000; text-align: center;">Se non sei ancora utente facebook <a style="color: #000; text-decoration: underline;" href="/users/sign_up">clicca qui</a></p>
	  </div>
	</div>
  -->

</div>

<div class="row" style="background-color: #FFF; padding: 10px 0 0 0; margin: 0px; position: relative; bottom: 0px;">
	<div class="col-xs-12 text-center">
		<p style="font-size: 11px; color: #5C5C5C;">Copyright 2014 - Nestlé Italiana S.p.A. - Partita IVA 00777280157  | <a target="_blank" href="/rule/maxibon_the_pool_rule.pdf">Regolamento</a></p>
	</div>
</div>
