<% content_for :bodyclass, "landing" %>

<script>

  function open_video(){
    var src = '//www.youtube.com/embed/2DikYYmgWcY';
    $('#modalvideo').modal('show');
    $('#modalvideo iframe').attr('src', src);
  }

  $(document).ready(function() {

    $('#modalvideo button').click(function () {
      $('#modalvideo iframe').removeAttr('src');
    });

    /*
    $(".open-video").click( function ( e ) {
      if ( this === e.target ) {
        var src = '//www.youtube.com/embed/2DikYYmgWcY';
        $('#modalvideo').modal('show');
        $('#modalvideo iframe').attr('src', src);
      }
    });
    */

  });

</script>

<!-- MODAL VIDEO LANDING -->
<div class="modal fade" id="modalvideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body flex-video" style="margin-bottom: 10px;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/-TuSo-vrwdA" frameborder="0" allowfullscreen></iframe>
      </div>
      
    <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right; margin: 0 20px 10px 0;">CHIUDI</button>
    
    </div>
  </div>
</div>


<div class="container-fluid hidden-xs" style="margin-top: -50px;">   
  <div class="row no-pad">      
    <div class="col-xs-12 text-center no-pad">

      <div style="margin-left: auto; margin-right: auto;">      
        <div style="position: relative;">   
          <div style="position: absolute; top: 400px; width: 100%;" >
            <a target="_top" href="/auth/facebook"><div class="landing-button" style="margin-left: auto; margin-right: auto;"></div></a>
            <p style="font-size: 10px; color: #000; margin-top: 5px;">Se non sei ancora utente facebook <a href="/users/sign_up" style="color: #000; text-decoration: underline;">clicca qui</a></p>
          </div>
        </div>

        <%= image_tag asset_path("maxibon/landing/landing-app.png"), class: "img-responsive hidden-xs open-video", style: "width: 100%;" %>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid visible-xs" style="margin-top: -50px;">   
  <div class="row no-pad">      
    <div class="col-xs-12 text-center no-pad">

      <%= image_tag asset_path("maxibon/landing/landing-mobile.jpg"), class: "img-responsive open-video", style: "width: 100%;" %>

    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation" style="background-color: #FFF;">
  <div class="container">
    <div class="row hidden-xs" style="background-color: #FFF; padding-top: 10px;">
      <div class="col-xs-12 text-center">
        <p style="font-size: 11px; color: #5C5C5C; line-height: 30px;">Copyright 2014 - Nestlé Italiana S.p.A. - Partita IVA 00777280157 | <a target="_blank" href="/rule/maxibon_the_pool_rule.pdf">Regolamento</a></p>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom visible-xs" role="navigation" style="background-color: rgba(255, 255, 255, 0.5);">
  <div class="container">
    <div class="row" style="background-color: rgba(255, 255, 255, 0.5); padding-top: 10px;">
      <div class="col-xs-12 text-center">
        <a href="/auth/facebook"><div class="landing-button" style="margin-left: auto; margin-right: auto;"></div></a>
        <p style="font-size: 10px; color: #000; margin-top: 5px;">Se non sei ancora utente facebook <a href="/users/sign_up" style="color: #000; text-decoration: underline;">clicca qui</a></p>
      </div>
    </div>
  </div>
</nav>

<div class="container visible-xs">
  <div class="row" style="background-color: #FFF; padding-top: 10px; height: 100px;">
    <div class="col-xs-12 text-center">
      <p style="font-size: 11px; color: #5C5C5C;">Copyright 2014</p>
    </div>
     <div class="col-xs-12 text-center">
      <p style="font-size: 11px; color: #5C5C5C;">Nestlé Italiana S.p.A.</p>
    </div>
     <div class="col-xs-12 text-center">
      <p style="font-size: 11px; color: #5C5C5C;">Partita IVA 00777280157</p>
    </div>
     <div class="col-xs-12 text-center">
      <p style="font-size: 11px; color: #5C5C5C;"><a target="_blank" href="/rule/maxibon_the_pool_rule.pdf">Regolamento</a></p>
    </div>
  </div>
</div>
