/* CATEGORY HEADER BLOCK */

.category-header{
  height: 250px;
  overflow: hidden;
  position: relative;
}

.category-header__header-image{
  margin-top: -20px;
}

.category-header__title{
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: #fff;
}

.category-header__filter-area{
  position: absolute;
  right: 58px;
  bottom: 15px;
}