.chapter {
  cursor: pointer;

  margin-left: 5px;

  width: 15px; 
  height: 15px; 
  border-radius: 50%; 
  position: absolute; 
  bottom: 23px;

  z-index: 10;

  background: #BF0C19; 
  background: -webkit-linear-gradient(#e73141, #BF0C19);
  background: -o-linear-gradient(#e73141, #BF0C19);
  background: -moz-linear-gradient(#e73141, #BF0C19);
  background: linear-gradient(#e73141, #BF0C19);

  -webkit-animation: pulsePinAnimation 1.5s ease-out;
  -webkit-animation-iteration-count: infinite; 

  animation: pulsePinAnimation 1.5s ease-out;
  animation-iteration-count: infinite; 
}