/* CHECK */

.check-interaction__container {
  background: #efefef;
  padding-top: 15px;
  padding-bottom: 18px;
}

.check-interaction__container .interaction__winnable-reward--undervideo__row {
  background: #efefef;
}

.play-interaction__container {
  .check-interaction__container, .interaction__winnable-reward--undervideo__row {
    background: transparent !important;
    border: none;
  }
}