/* CTA */

.cta__media-container {
  padding: 0;
}

.cta__media-footer {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 15px;
  background: #f3f3f5; 
  background: -webkit-linear-gradient(#fdfdfd, #f3f3f5);
  background: -o-linear-gradient(#fdfdfd, #f3f3f5);
  background: -moz-linear-gradient(#fdfdfd, #f3f3f5);
  background: linear-gradient(#fdfdfd, #f3f3f5);
}

.cta__winnable-reward {
  padding-top: 22px
}

.cta__title {
  padding-left: 55px;
  padding-top: 5px;
  font-size: 18px;
}

.cta__title-col {
  padding-top: 10px;
  padding-bottom: 10px;
}