/* CTA PREVIEW BLOCK */

.cta-preview{
	border: 1px solid #ccc;
	position: relative;
	margin-bottom: 20px;
	height: 240px;
	overflow: hidden;
	background-color: #FFF;
	position: relative;
}

.cta-preview--slider{
  border: 1px solid #ccc;
  position: relative;
  width: 258px;
  height: 240px;
  overflow: hidden;
  background-color: #FFF;
  position: relative;
}

.cta-preview__image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.cta_preview__link{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.cta-preview__points{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
	font-weight: bold;
  border-radius: 15px;
  color: $red;
  background: #fcc839; 
  background: -webkit-linear-gradient(#fcc839, #ecb62d);
  background: -o-linear-gradient(#fcc839, #ecb62d);
  background: -moz-linear-gradient(#fcc839, #ecb62d);
  background: linear-gradient(#fcc839, #ecb62d);
  padding-top: 7px;
  z-index: 20;
}

.cta-preview__credits{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  color: #fff;
  padding-top: 7px;
  background-color: #b82423;
  z-index: 20;
}

.cta-preview__credits--reward{
  display: block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  color: #fff;
  padding-top: 7px;
  background-color: #b82423;
  width: 13%;
  margin: 20px auto;
}

.cta-preview__title{
	color: #000;
	font-size: 14px;
	margin-top: 10px;
	padding: 0 10px;
	color: $blu;
	font-size: 18px;
	font-weight: normal;
	max-height: 44px;
}

.cta-preview__like{
	font-size: 14px !important;
}

.cta-preview__thumbnail{
	padding-top: 57%; //padding for aspect ratio 16:9
	overflow: hidden;
	position: relative;
}

.cta-preview__counter{
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin: 0;
}

.cta-preview__comments{
	font-size: 14px;
}

.cta-preview__thumbnail--category{
  padding-top: 140%; //padding for aspect ratio 3:4
  margin-left: -100px;
}

.cta-preview__title--category{
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #fff;
  z-index: 1;
}

.cta-preview__image--category{
  height: 100%;
  width: auto;
}

.cta-preview__locked-layer{
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 127px;
  font-size: 27px;
}

.cta-preview__locked-layer--reward{
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding-top: 14%;
  line-height: 30px;
  p{
    margin: 20px 0;
  }
}

@media (max-width: $screen-sm-min) {
  .cta-preview__credits--reward{
    width: 30%;
  }
}
