.cta-cover__card {
  background: whitesmoke;
  -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
}

.cta-cover__card__body {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 5px;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
}

.cta-cover__card__footer {
  border-top: 0;
  padding: 10px 22px;
}

.cta-cover__thumbnail-row {
  height: 250px; 
  overflow: hidden;
  position: relative;
}

.cta-cover__thumbnail-column {
  padding-top: 56.25%; 
}

.cta-cover__thumbnail {
  width: 100%; 
  position: absolute; 
  top: -8px; 
  left: 0;
}

.cta-cover__winnable-reward {
  position: absolute; 
  top: 10px
}

.cta-cover__winnable-reward__label {
  font-size: 14px;
  border-radius: 15px;
  color: $red;
  background: #fcc839; 
  background: -webkit-linear-gradient(#fcc839, #ecb62d);
  background: -o-linear-gradient(#fcc839, #ecb62d);
  background: -moz-linear-gradient(#fcc839, #ecb62d);
  background: linear-gradient(#fcc839, #ecb62d);
  padding-top: 7px;
}

.cta-cover__glyphicon-icon {
  margin-left: 3px;
  font-size: 10px;
  top: 0;
}

.cta-cover__title {
  font-size: 22px;
  color: #fff;
  position: absolute; 
  bottom: 0;
  padding-top: 15px;

  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.cta-cover__miniformat {
  font-size: 10px;
  text-transform: uppercase;
  background-color: $blu;
  color: #fff;
  padding: 6px 6px 4px 4px;
}

.cta-cover__winnable-reward__label.label-success {
  background: #47cd48; 
  background: -webkit-linear-gradient(#47cd48, #37ba39);
  background: -o-linear-gradient(#47cd48, #37ba39);
  background: -moz-linear-gradient(#47cd48, #37ba39);
  background: linear-gradient(#47cd48, #37ba39);
  color: #fff;
  padding-left: 10px;
}