.cta-cover__card {
  -webkit-box-shadow: 0px 4px 3px -1px #ccc;
  -moz-box-shadow: 0px 4px 3px -1px #ccc;
  box-shadow: 0px 4px 3px -1px #ccc;
}

.cta-cover__card__footer {
  -webkit-box-shadow: inset 0px 6px 6px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 6px 6px -5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 6px 6px -5px rgba(0, 0, 0, 0.4);
}

.cta-cover__card__body {
  padding-top: 0;
  padding-bottom: 0;
}

.cta-cover__thumbnail-row {
  height: 250px; 
  overflow: hidden;
  position: relative;
}

.cta-cover__thumbnail-column {
  padding-top: 56.25%; 
}

.cta-cover__thumbnail {
  width: 100%; 
  position: absolute; 
  top: 0; 
  left: 0;
}

.cta-cover__winnable-reward {
  position: absolute; 
  top: 10px
}

.cta-cover__winnable-reward__label {
  font-size: 14px;
  border-radius: 15px;
  color: $red;
  background: #fcc839; 
  background: -webkit-linear-gradient(#fcc839, #ecb62d);
  background: -o-linear-gradient(#fcc839, #ecb62d);
  background: -moz-linear-gradient(#fcc839, #ecb62d);
  background: linear-gradient(#fcc839, #ecb62d);
  padding-top: 7px;
}

.cta-cover__glyphicon-icon {
  margin-left: 3px;
  font-size: 10px;
  top: 0;
}

.cta-cover__title {
  font-size: 22px;
  color: #fff;
  position: absolute; 
  bottom: 0;
}

.cta-cover__miniformat {
  font-size: 10px;
  text-transform: uppercase;
  background-color: $blu;
  color: #fff;
  padding: 6px 6px 4px 4px;
}

.cta-cover__winnable-reward__label.label-success {
  background: green;
  color: #fff;
  padding-left: 10px;
}