/* CTA PREVIEW BLOCK */

.cta-preview{
	border: 1px solid #ccc;
	position: relative;
	margin-bottom: 20px;
	height: 294px;
	overflow: hidden;
}

.cta-preview__image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.cta-preview__points{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
}

.cta-preview__title{
	color: #000;
	font-size: 14px;
}

.cta-preview__like{
	font-size: 12px;
}

.cta-preview__thumbnail{
	padding-top: 75%; //padding for aspect ratio 16:9
	overflow: hidden;
	position: relative;
}

.cta-preview__counter{
  margin-top: 20px;
  margin-bottom: 10px;
}

.cta-preview__comments{
	font-size: 12px;
}

.cta-preview__thumbnail--category{
  padding-top: 140%; //padding for aspect ratio 3:4
}

.cta-preview__title--category{
  position: absolute;
  bottom: 20px;
  left:15px;
  color: #fff;
  z-index: 1;
}

.cta-preview__image--category{
  height: 100%;
  width: auto;
}