/* CTA */

.cta__media-container {
  padding: 0;
}

.cta__media-footer {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 15px;
  background: #f3f3f5; 
  background: -webkit-linear-gradient(#fdfdfd, #f3f3f5);
  background: -o-linear-gradient(#fdfdfd, #f3f3f5);
  background: -moz-linear-gradient(#fdfdfd, #f3f3f5);
  background: linear-gradient(#fdfdfd, #f3f3f5);
}

.cta__winnable-reward {
  padding-top: 22px
}

.cta__title {
  margin-bottom: 0;
  padding-top: 5px;
  font-size: 22px;
}

.cta__title-col {
  padding-top: 20px;
  padding-bottom: 10px;
}

.ctas__search {
    background: whitesmoke; 
    padding-bottom: 15px; 
    padding-top: 15px;
    .dropdown-menu {
      right: 15px;
      top: 45px !important;
    }
    .dropdown-menu:before {
      border-bottom: 9px solid #ccc;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      content: "";
      height: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -10px;
      width: 0;
    }
    .dropdown-menu:after {
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: "";
      height: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -8px;
      width: 0;
    }
}

.ctas__search__a {
  background: transparent !important;
}

.ctas__search__title {
  line-height: 60px; 
  color: #999; 
  display: inline; 
  margin-left: 10px; 
  padding: 0;
}

.ctas__search__col {
  padding-left: 5px;
}