/* CTA PREVIEW BLOCK */

.cta-preview{
	border: 1px solid #ccc;
	position: relative;
	margin-bottom: 20px;
}

.cta-preview__image{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.cta-preview__points{
	position: absolute;
	top: 5px;
	right: 5px;
}

.cta-preview__title{
	color: #000;
	font-size: 14px;
}

.cta-preview__like{
	font-size: 12px;
}

.cta-preview__thumbnail{
	max-height: 147px;
	padding-top: 56.25%; //padding for aspect ratio 16:9
	overflow: hidden;
	position: relative;
}

.cta-preview__counter{
  margin-top: 20px;
  margin-bottom: 10px;
}

.cta-preview__comments{
	font-size: 12px;
}