/* CTA */

.cta__media-container {
  padding: 0;
}

.cta_left-col {
  margin-bottom: 15px;
}

.cta__media-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  background: #f3f3f5; 
  background: -webkit-linear-gradient(#fdfdfd, #f3f3f5);
  background: -o-linear-gradient(#fdfdfd, #f3f3f5);
  background: -moz-linear-gradient(#fdfdfd, #f3f3f5);
  background: linear-gradient(#fdfdfd, #f3f3f5);
}

.cta__description-small-col--extra {
}

.cta__title-small-col {
  padding: 0;
}

.cta__description-small-col {
  margin-bottom: 15px;
  margin-top: 10px;
}

.cta__title-small {
  font-size: 18px;
}

.cta__description-small {
  font-size: 14px;
  color: #999;
}

.cta__winnable-reward {
  padding-top: 20px
}

.cta__winnable-reward--single-page {
  padding-top: 30px
}

.cta__title {
  font-size: 1.9em;
  margin-bottom: 25px;
  margin-top: 5px;
  padding-top: 5px;
}

.cta__miniformat-col {
  padding-top: 30px;
}

.ctas__search {
    background: whitesmoke; 
    padding-bottom: 15px; 
    padding-top: 15px;
    .dropdown-menu {
      right: 15px;
      top: 45px !important;
    }
    .dropdown-menu:before {
      border-bottom: 9px solid #ccc;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      content: "";
      height: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -10px;
      width: 0;
    }
    .dropdown-menu:after {
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: "";
      height: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -8px;
      width: 0;
    }
}

.ctas__search__a {
  background: transparent !important;
}

.ctas__search__a:hover, .ctas__search__a:focus {
  background: whitesmoke !important;
}

.ctas__search__title {
  color: #999;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 12px;
  padding: 0 0 0 105px;
  white-space: normal;
}

.ctas__search__col {
  color: #999;
  min-height: 60px;
  padding-left: 5px;
}

.ctas__search__img {
  height: 60px; 
  position: absolute;
}

@media (min-width: $screen-sm-min) { 
  .cta__media-footer {
    padding: 10px 58px;
  }
}


@media (max-width: $screen-sm-min) { 

  .ctas__search__img {
    height: 35px; 
  }

  .ctas__search__col {
    min-height: 35px;
  }

  .cta__title {
    margin-bottom: 15px;
    padding-top: 5px;
    font-size: 18px;
  }

  .ctas__search__title {
    margin: 10px 0 0 0;
    padding: 0 0 0 75px;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cta__title-small-col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cta__description-small-col {
    padding-left: 15px;
    padding-right: 15px;
  }

}