/* DOWNLOAD INTERACTION*/

.download-interaction__container {
  background: #efefef;
  padding-top: 15px;
  padding-bottom: 18px;
}

.download-interaction__button {
  text-transform: uppercase;
  margin-top: 15px;
}