/* GALLERY STILE CLASS*/
.gallery-cta{}

.gallery-cta__first-step{
  background-color: #ececec;
  padding: 20px 0;
  border-bottom: 1px solid #d1d2d4;
}

.gallery-cta__form-element{
  padding: 20px 0;
}

.gallery-cta__second-step{
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #d1d2d4;
}

.gallery-cta__form{
  margin: 20px 0;
}

.gallery-cta__avatar{
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.gallery-cta__title{
  height: 45px;
}

.gallery-cta-list{}

