/* HEADING TITLE BLOCK */
.section-heading{}

.section-heading__icon{
  float: left;
  max-width: 35px;
}

.section-heading__title{
  color: #000;
  font-size: 14px;
}

.section-heading__subtitle{
  font-size: 12px;
}

.section-heading__see-all{
  color: #ccc;
}