/* CSS NOTICES */

.notice{}

.notice__property-icon{
  padding: 5px; 
  max-width: 85px;
}

.notice__reward-image{
  padding: 5px; 
  max-width: 85px;
}

.notice__reward-image--badge{}

.notice__title{
  line-height: 30px;
}