/* PROFILE MENU */

.profile-menu-block{
  background-color: #1478e8;
}

.profile-menu-block__menu{
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-left: 0;
}

.profile-menu-block__item{
  display: inline-block;
  background: transparent; 
  height: 100%;
  margin: 0 5px;
}

.profile-menu-block__item--active{
  background-color: #0e54a2;
}

.profile-menu-block__item-link, .profile-menu-block__item-link:hover{
  color: #fff;
  font-weight: bold;
  display: inline-block;
  line-height: 100%;
  padding: 10px;
}

.profile-menu-block__notice-counter{
  background: none repeat scroll 0 0 red;
  border-radius: 50%;
  color: #fff;
  height: 25px;
  padding-top: 4px;
  width: 25px;
  display: inline-block;
  margin-left: -12px;
}

.profile-menu-block__glhyphicon{
  color: #fff;
  font-size: 18px !important;
  margin: 0 5px;
}