/* RANKING BLOCK */

.ranking-element__container{
  padding-bottom: 20px;
  background: $grey; 
  background: -webkit-linear-gradient(#FFFFFF, $grey);
  background: -o-linear-gradient(#FFFFFF, $grey);
  background: -moz-linear-gradient(#FFFFFF, $grey);
  background: linear-gradient(#FFFFFF, $grey);
  border-bottom: 1px solid #d1d2d4;
}

.ranking-element{
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 0;
  border: 1px solid #ececec;
}

.ranking-element--myposition{
  background-color: #00a1d9;
}

.ranking-element--fan-of-day{
  background-color: #904aa2;
}

.ranking-element__position{
  font-size: 28px;
  color: #00a1d9;
  border-bottom: 1px solid #ececec;
}

.ranking-element__position--myposition{
  color: #fff;
  border-bottom: 1px solid #32b3e0;
}

.ranking-element__avatar{
  display: block;
  margin: 5px auto;
  max-width: 50px;
}

.ranking-element__nickname{
  font-size: 16px;
  color: #000;
  text-align: center;
}

.ranking-element__nickname--myposition{
  color: #fff; 
}

.ranking-element__points{
  font-size: 16px;
  width: 65%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  color: $red;
  background: #fcc839; 
  background: -webkit-linear-gradient(#fcc839, #ecb62d);
  background: -o-linear-gradient(#fcc839, #ecb62d);
  background: -moz-linear-gradient(#fcc839, #ecb62d);
  background: linear-gradient(#fcc839, #ecb62d);
  padding-top: 7px;
  .glyphicon{
    font-size: 12px !important;
  }
}