/* RANKING BLOCK */

.ranking-element__container{
  padding-bottom: 20px;
  background: $grey; 
  background: -webkit-linear-gradient(#FFFFFF, $grey);
  background: -o-linear-gradient(#FFFFFF, $grey);
  background: -moz-linear-gradient(#FFFFFF, $grey);
  background: linear-gradient(#FFFFFF, $grey);
  border-bottom: 1px solid #d1d2d4;
}

.ranking-element{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  width: 140px;
}

.ranking-element--property{
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  width: 260px;
  position: relative;
}

.ranking-element--property__link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ranking-element__property-title{
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.ranking-element--myposition{
  background-color: #00a1d9;
}

.ranking-element--fan-of-day{
  background-color: #904aa2;
}

.ranking-element__position{
  font-size: 28px;
  color: #00a1d9;
  border-bottom: 1px solid #ececec;
}

.ranking-element__position--myposition{
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.50);
  font-size: 28px;
}

.ranking-element__avatar{
  display: block;
  margin: 10px auto;
  max-width: 50px;
}

.ranking-element__nickname{
  font-size: 16px;
  color: #000;
  text-align: center;
  margin: 10px 0;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}

.rewards-flexslider__item--fod {
  margin-right: 30px;
}

.ranking-element__nickname--myposition{
  color: #fff; 
}

.ranking-element__points{
  font-size: 16px;
  width: 65%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  color: $red;
  background: #fcc839; 
  background: -webkit-linear-gradient(#fcc839, #ecb62d);
  background: -o-linear-gradient(#fcc839, #ecb62d);
  background: -moz-linear-gradient(#fcc839, #ecb62d);
  background: linear-gradient(#fcc839, #ecb62d);
  padding-top: 7px;
  .glyphicon{
    font-size: 12px !important;
  }
}