/* REWARD CATALOGUE HEADER CSS */

.reward-catalogue-header{
  background-color: $blu;
  padding: 20px 0;
}

.reward-catalogue-header__avatar-container{
  text-align: right;  
}

.reward-catalogue-header__avatar{
  max-height: 55px;
}

.reward-catalogue-header__credit-counter{
  padding: 8px 25px 4px 25px;
  font-size: 23px;
  margin: 0 10px;
  display: inline;
  background-color: #fff;
  border: 2px solid #993300;
  border-radius: 15px;
  color: $red;
}

.reward-catalogue-header__credit-text{
  color: #fff;
  font-size: 28px;
  line-height: 55px;
}

.reward-catalogue-header__credit-text--not-logged{
  color: #fff;
  font-size: 28px;
  text-align: justify;
  margin-bottom: 20px;
}

.reward-catalogue-header__credit-subtext{
  color: #fff;
}

.rewards-flexslider__item--catalogue{
  /*margin-right: 15px;*/
}

@media (max-width: $screen-sm-min) {
   .reward-catalogue-header__credit-text{
    color: #fff;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
  }
  
  .reward-catalogue-header__credit-counter{
    padding: 5px;
    font-size: 20px;
    margin: 5px 5px;
    display: inline-block;
    background-color: #fff;
    border: 2px solid #993300;
    border-radius: 15px;
    color: $red;
  }
  
  .reward-catalogue-header__avatar-container{
    text-align: center;
    display: none;  
  }
}
