/* REWARD BLOCK */
.reward-block{}

.reward-block__image{}

.reward-block__progress-bar{}

.reward-block__title{
  margin: 0; 
  text-transform: uppercase; 
  font-weight: bold;
}

.reward-block__subtitle{
  margin: 0; 
  padding: 0 20px; 
  color: #858585;
}