/* SHARE */

.share-interaction__cover__info {
  padding: 0 7px;
  margin: 10px 0 9px;
  font-size: 14px;
  color: #999;
}

.share-interaction__cta__info__fb-button {
  padding: 6px 12px;
}

.share-interaction__cta__info__email-button {
  padding: 6px 9px;
}

.share-interaction__cover__info__glyphicon-fb {
  font-size: 24px !important;
  position: relative;
  top: 3px;
}

.share-interaction__cover__info__glyphicon-envelope {
  font-size: 24px !important;
  position: relative;
  top: 1px;
}