/* VERSUS */
.versus-interaction {
  position: absolute;
  height: 100%;
  width: 100%;
  
  background: rgba(0, 0, 0, 0.6);

  z-index: 1;
}

.versus-interaction__feedback-title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10%;
  text-shadow: 0 1px #000;
}

.versus-interaction__feedback-description {
  text-shadow: 0 1px #000;
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.versus-interaction__percentage-text {
  margin: 0;
}

.versus-interaction__percentage--left {
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  right: 180px;
  position: absolute;
  top: 36px;
}

.versus-interaction__percentage--right {
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  left: 180px;
  position: absolute;
  top: 36px;
}


.versus_answer-col-left {
  padding: 0 15px 0 0;
}

.versus_answer-col-right {
  padding: 0 0 0 15px;
}

.versus-interaction__question--overvideo {
  color: #fff;
  font-size: 28px;
  margin: 10% 0 25px;
}

.versus-interaction__question {
  font-size: 22px;
  color: #000;
  margin: 20px 0 5px 0;
}

.versus-interaction__vs {
  bottom: -90px;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
}

.versus-interaction__answer--left {
  margin-right: 15px;
  position: relative;
  left: -150%;
}

.versus-interaction__answer--right {
  margin-left: 15px;
  position: relative;
  left: 150%;
}

.versus-interaction__answer--visible-left, .versus-interaction__answer--visible-right {
  left: 0%;
  opacity: 1;
}

.versus-interaction__img {
  width: 120px; 
  height: 120px;
}

.versus-interaction__img--left {
  float: right;
  border: 5px solid #3399ff;
}

.versus-interaction__img--right {
  float: left;
  border: 5px solid #30bf43;
}

.versus-interaction__button {
  margin-top: 15px;
  width: 155px;
}

.versus-interaction__button--left {
  margin-left: auto;
}

.versus-interaction__button--right {
  margin-right: auto;
}

.versus-interaction__img--left {
  margin-left: 10px;
}

.versus-interaction__img--right {
  margin-right: 10px;
}

.versus-interaction__progress-bar {
  background-color: #000;
  border: 0.5px solid #999;
  border-radius: 10px;
  height: 120px !important;
  margin: 0 !important;
  position: absolute !important;
  width: 25px !important;
}

.versus-interaction__progress-bar--left {
  right: 145px;
  .progress-bar {
    background: #3399ff;
  }
}

.versus-interaction__progress-bar--right {
  left: 145px;
  .progress-bar {
    background: #30bf43;
  }
}

.versus-interaction__answer-slide-in-left {
  -webkit-animation: versusAnswerSlideInLeft 0.5s forwards, versusAnswerFadeIn 0.5s forwards;
  animation: versusAnswerSlideInLeft 0.5s forwards, versusAnswerFadeIn 0.5s forwards;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s; 
}

@-webkit-keyframes versusAnswerSlideInLeft {
    100% { left: 0; }
}

@keyframes versusAnswerSlideInLeft {
    100% { left: 0; }
}

.versus-interaction__answer-slide-in-right {
  -webkit-animation: versusAnswerSlideInRight 0.5s forwards, versusAnswerFadeIn 0.5s forwards;
  animation: versusAnswerSlideInRight 0.5s forwards, versusAnswerFadeIn 0.5s forwards;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s; 
}

@-webkit-keyframes versusAnswerSlideInRight {
    100% { left: 0; }
}

@keyframes versusAnswerSlideInRight {
    100% { left: 0; }
}

.versus-interaction__answer-slide-out-left {
  -webkit-animation: versusAnswerSlideOutLeft 0.5s forwards, versusAnswerFadeOut 0.5s forwards;
  animation: versusAnswerSlideOutLeft 0.5s forwards, versusAnswerFadeOut 0.5s forwards;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s; 
}

@-webkit-keyframes versusAnswerSlideOutLeft {
    100% { left: -150%; }
}

@keyframes versusAnswerSlideOutLeft {
    100% { left: -150%; }
}

.versus-interaction__answer-slide-out-right {
  -webkit-animation: versusAnswerSlideOutRight 0.5s forwards, versusElemFadeOut 0.5s forwards;
  animation: versusAnswerSlideOutRight 0.5s forwards, versusElemFadeOut 0.5s forwards;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s; 
}

@-webkit-keyframes versusAnswerSlideOutRight {
    100% { left: 150%; }
}

@keyframes versusAnswerSlideOutRight {
    100% { left: 150%; }
}

@-webkit-keyframes versusAnswerFadeIn {
    100% { opacity: 1; }
}

@keyframes versusAnswerFadeIn {
    100% { opacity: 1; }
}

.versus-interaction__avatar {
  width: 30px;
  height: 30px;
}

.versus-interaction__question-fade-out, .versus-interaction__reward-fade-out {
  -webkit-animation: triviaElemFadeOut 0.5s forwards;
  animation: triviaElemFadeOut 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; 
}

@-webkit-keyframes versusElemFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes versusElemFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.versus-interaction__avatar-container--left {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  right: 180px;
  bottom: -7px;
  padding: 5px;
  position: absolute;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.6);
}

.versus-interaction__avatar-container--left:before {
  border-left: 7px solid #ccc;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
  height: 0;
  width: 0;
  left: 40px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 14px;
  z-index: 10px;
}

.versus-interaction__avatar-container--left:after {
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
  height: 0;
  width: 0;
  left: 39px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 14px;
}

.versus-interaction__avatar-container--right {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  left: 180px;
  bottom: -7px;
  padding: 5px;
  position: absolute;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.6);
}

.versus-interaction__avatar-container--right:before {
  border-bottom: 7px solid transparent;
  border-right: 7px solid #ccc;
  border-top: 7px solid transparent;
  content: "";
  height: 0;
  left: -47px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 14px;
  width: 0;
}

.versus-interaction__avatar-container--right:after {
  border-bottom: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid transparent;
  content: "";
  height: 0;
  left: -45px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 14px;
  width: 0;
}

@media (max-width: $screen-sm-min) { 

  .versus-interaction__vs {
    color: #000;
    font-size: 22px;
    bottom: -78px;
  }

  .versus-interaction__question {
    margin: 0px 0 15px 0;
  }

  .versus-interaction__percentage--left {
    color: $blu;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 180px;
    text-align: center;
    width: 110px;
    right: 29px;
  }

  .versus-interaction__percentage--right {
    color: $green;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 180px;
    text-align: center;
    width: 110px;
    left: 29px;
  }

  .versus-interaction__img--left {
    margin-right: 9px;
  }

  .versus-interaction__img--right {
    margin-left: 12px;
  }

  .versus-interaction__progress-bar--left {
    right: 140px;
  }

  .versus-interaction__progress-bar--right {
    left: 140px;
  }

  .versus-interaction__button {
    width: 140px;
  }

  .versus-interaction__progress-bar {
    height: 120px !important; 
  }

  .versus-interaction__avatar-container--left {
    right: 115px;
    bottom: 135px;
  }

  .versus-interaction__avatar-container--right {
    left: 115px;
    bottom: 135px;
  }
}