<div class="container-fluid">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
      <%= render partial: "/application/upload_filters", locals: { single_cta: false } %>
    </div>
  </div>
  
  <div class="row" style="background-color: rgba(255, 255, 255, 0.5);">
    
    <div class="col-sm-12 text-center" style="margin-top: 15px;">
      <h2>Il file caricato non può superare i 40 MEGA</h2>
      <h3 onclick="window.history.back();">TORNA INDIETRO</h3>
    </div>
    
  </div>
  
</div>
