<div class="container-fluid">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
      <%= render partial: "/application/upload_filters", locals: { single_cta: false } %>
    </div>
  </div>
  
  <div class="row" style="background-color: rgba(255, 255, 255, 0.5);">
    
    <div class="col-sm-12 text-center" style="margin-top: 15px; margin-bottom: 15px;">
      <h3 style="color: #fff;">Il file caricato è superiore ai 40 MEGA consentiti</h3>
    </div>

    <div class="col-sm-2 col-sm-offset-5">
      <button class="btn-2" onclick="window.history.back();">RIPROVA</button>
    </div>
    
  </div>
  
</div>
