<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 no-pad" style="position: relative; padding: 10px;">
      <img src="<%= current_avatar %>" class="img-responsive img-circle" style="border: 4px solid #fff; width: 100%;">

      <div class="text-center visible-xs iframe-notice-baloon">
        <span><%= @notices_count %></span>
      </div>

    </div>
    <div class="col-xs-8">
      <h4 style="padding-top: 10%;">
        <%= current_user ? "#{current_user.first_name} #{current_user.last_name}" : "Anonimo" %>
      </h4>
      <h5> Hai fatto              
        <span id="iframe-profile-main-reward" class="label label-warning" style="padding-top: 5px;">+<%= get_counter_about_user_reward(MAIN_REWARD_NAME) %>
          <span class="glyphicon glyphicon-star"></span>
        </span>
      </h5>
    </div>
  </div>
</div>