.avatars__flexslider-desktop, .avatars__flexslider-mobile {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 15px 0 !important;
    li {
        margin-right: 8px;
        img {
            width: 100%;
            border-radius: 3px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}

.avatars__flexslider--modal {
    padding-left: 40px;
    padding-right: 40px;
}

.avatars__title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 60px;
}

.avatars__flexslider-desktop-item {
    position: relative !important;
}

.avatars__flexslider-mobile-item {
    position: relative !important;
}

.avatars__flexslider-item-active {
    background: rgba(51, 153, 255, 0.45);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border: 4px solid $blue;
    border-radius: 3px;
}

.avatars__flexslider {
}

.avatars__flexslider__avatar-image{
}

.avatars__flexslider__avatar-container{
  background-color: #c2efff;
  padding: 4px;
  margin-bottom: 8px;
  cursor: pointer;
}

.avatars__flexslider__avatar-container--selected{
  border: 2px solid #1478e8;
}

.current_avatar_selected{
  border: 4px solid #1478e8;
}

@media (min-width: $screen-sm) { 

    .avatars__flexslider { 
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        .flex-direction-nav a:before {
          -webkit-transition: color 300ms ease 0s;
          transition: color 300ms ease 0s;
          font-size: 24px !important;
          color: #ccc;
        }
        .flex-direction-nav a:hover:before, .flex-direction-nav a:focus:before {
          -webkit-transition: color 300ms ease 0s;
          transition: color 300ms ease 0s;
          color: #303030;
        }
        .flex-direction-nav .flex-next {
          right: -25px;
        }
        .flex-direction-nav .flex-prev {
          left: -25px;
        }
    }
}

@media (max-width: $screen-sm) { 
    .avatars__flexslider {
        padding-left: 0!important;
        padding-right: 0 !important;
    }
}