.ctas__flexslider__container {
    padding-left: 0 !important; 
    padding-right: 0 !important;   
}

.ctas__flexslider {
    padding-left: 0!important;
    padding-right: 0 !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    li {
        img {
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}

.ctas__winnable-reward {
    //padding-top: 20px;
}

.ctas_likes, .ctas_comments {
    display: inline;
    color: #fff;
    margin-left: 15px;
    top: 4px;
    position: relative;
}

.ctas__thumbs-up, .ctas__glyphicon-comment {
    font-size: 22px !important;
    margin-right: 5px;
}

.ctas__glyphicon-comment {
    top: 3px;
}

.glyphicon-comment--notice{
  font-size: 40px;
  line-height: 80px;
  color: $blue;
}

.ctas__info {
    position: absolute; 
    bottom: 0; 
    padding-left: 70px; 
    padding-bottom: 25px;
    padding-top: 5%;

    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.ctas__title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
    text-shadow: 0 1px #000;
}

.ctas__description {
    color: #fff;
    font-size: 18px;
}

.ctas__button {
    width: 120px;
}

.ctas__flexslider-item {
    position: relative !important;
}

.ctas__flexslider-item-active {
    background: rgba(51, 153, 255, 0.45);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border: 4px solid $blue;
    border-radius: 3px;
}

.ctas__flexslider {
    .flex-direction-nav a {
        color: rgba(255, 255, 255, 0.3) !important;
        text-shadow: none;
    }
    .flex-control-paging {
        margin-bottom: 45px; 
        z-index: 10;
        li a {
            background: rgba(255, 255, 255, 0.5);
        }
        li a.flex-active {
            background: #fff;
        }
    }
}

@media (min-width: $screen-sm) { 
  .ctas__flexslider {

    .filters__flexslider-item {
        overflow: hidden;
    }

    .flex-direction-nav a {
        color: rgba(255, 255, 255, 0.3) !important;
        margin: -15px 0 0 !important;
    }

    .flex-direction-nav a:hover {
        color: rgba(255, 255, 255, 0.7) !important;
        transition: color 333ms ease 0s;
        -webkit-transition: color 333ms ease 0s;
    }

    .flex-control-paging {
        margin-bottom: 45px; 
        z-index: 10;
        li a {
            background: rgba(255, 255, 255, 0.5);
        }
        li a.flex-active {
            background: #fff;
        }
    }

    .flex-direction-nav .flex-prev {
        left: 20px !important; 
    }

    .flex-direction-nav .flex-next {
        right: 20px !important; 
    }

    .flex-direction-nav a:before {
        font-size: 30px !important;
    }
  }
}

@media (max-width: $screen-sm) { 

    .ctas__info {
        padding-left: 15px; 
        padding-bottom: 30px;
    }

    .ctas__title {
        font-size: 18px;
    }

    .ctas__flexslider {
        .flex-control-nav {
            bottom: 0;
            z-index: 10;
        }

        .flex-direction-nav a {
            color: rgba(255, 255, 255, 0.3) !important;
            margin: -15px 0 0 !important;
        }

        .flex-direction-nav .flex-prev {
            display: none;
        }

        .flex-direction-nav .flex-next {
            display: none;
        }

        .flex-control-paging {
            margin-bottom: 5px; 
            z-index: 10;
            li a {
                background: rgba(255, 255, 255, 0.5);
            }
            li a.flex-active {
                background: #fff;
            }
        }
    }
    
    .glyphicon-comment--notice{
      font-size: 24px;
      line-height: 45px;
    }
}