<div class="container container--default">
	<div class="row brws-item" style="padding: 100px 0;">
	  <div class="row">
	    <div class="col-md-6">
	      <h1 class="text-center" style="padding-top: 50px;">CI DISPIACE</h1>
	      <h2 class="text-center">Questa pagina non esiste!</h2>
	    </div>
	    <div class="col-md-6 text-center hidden-xs">
	       <img src="" class="img-responsive"> 
	    </div>
	  </div>
	</div>
</div>