<div id="upload-form" class="row hidden gallery-cta__form">
    <div class="col-xs-12 text-center" ng-init="upload = getGalleryUploadInteraction(aux.gallery.calltoaction.interaction_info_list)">
	<%= form_tag "/upload_interaction/create/#{interaction_id}", multipart: true, id: "form-upload" do %>
	<input type="hidden" name="cta_id" id="cta_id" ng-value="aux.gallery.calltoaction.id" />
	<div class="row">
	  	<div class="col-sm-12 gallery-cta__steps">
	  			<div class="row form-group gallery-cta__first-step">
	  				<div class="col-xs-12">
		  				<div class="row gallery-cta__form-element">
		  					<div class="col-sm-2">
			  					<img class="img-responsive gallery-cta__avatar" src="<%= current_avatar %>" />
			  				</div>
			  				<div class="col-sm-10">
								<input name="title" class="form-control gallery-cta__title" id="title" type="text" placeholder="Dai un titolo alla foto" ng-if="upload.interaction.resource.upload_info.title_needed" />
							</div>		
		  				</div>
		  				<div class="row">
				  			<div class="col-sm-6 col-sm-offset-3 gallery-cta__upload-photo">
			  					<input id="upload" name="upload" class="form-control hidden" type="file" onchange="photoSelected()">
			  					<a class="btn btn-primary btn-block" onclick="loadPhoto();"><i class="fa fa-camera"></i> Carica la tua foto</a>
			  				</div>
				  		</div>
	  				</div>
	  			</div>
			  	<div class="row form-group gallery-cta__step" ng-if="upload.interaction.resource.upload_info.releasing.required">
			  		<div class="col-xs-12">
			  			<p class="text-left"><b>{{upload.interaction.resource.upload_info.releasing.description}}</b></p>
			  			<p>
			  				<ul class="gallery-cta__releasing-files">
			  					<li><i class="fa fa-arrow-circle-down"></i> Scarica la liberatoria per miniori di 18 anni</li>
			  					<li><i class="fa fa-arrow-circle-down"></i> Scarica la liberatoria per maggiorenni</li>
			  				</ul>
			  			</p>
			  		</div>
			  		<div class="col-xs-6 col-xs-offset-3 gallery-cta__upload-release">
			  				<input id="releasing" name="releasing" class="hidden" type="file" onchange="releaseSelected();">
			  				<a class="btn btn-primary btn-block" onclick="loadRelease();"><i class="fa fa-pencil"></i> Carica la liberatoria firmata</a>
			  		</div>
		  		</div>
		  		<div class="row form-group gallery-cta__last-step" ng-if="upload.interaction.resource.upload_info.privacy.required">
		  			<div class="col-sm-8 text-left">
		  				<input id="privacy" class="" name="privacy" type="checkbox" value="1">
			  			<label>Accettazione privacy</label>
			  			<p class="small">{{upload.interaction.resource.upload_info.privacy.description}}</p>
		  			</div>
		  			<div class="col-sm-4 text-right">
		  				<button type="submit" class="btn btn-primary" ng-if="current_user != undefined">CARICA</button>
						<button class="btn btn-primary" data-toggle="modal" data-target="#login" ng-if="current_user == undefined">CARICA</button>
		  			</div>
			  	</div>
	  	</div>
	</div>
	<% end %>
	</div>
</div>



<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Devi essere registrato</h4>
      </div>
      <div class="modal-body">
        <p>Per poter caricare contenuti devi prima effetuare il login o registrarti.</p>
        <p><a href="users/sign_up">Login / Registrati</a></p>
      </div>
    </div>
  </div>
</div>