<div class="container main-container">

	<div class="row">
		<%= render partial: "/gallery/launchers", locals: { galleries: @galleries_cta }  %>		
	</div>
	
	<div class="row main-row main-row__covers">
		<div class="col-xs-12">
				<%= render partial: "application/ordering" %>
		    
		    <div class="row">
		        <div ng-repeat="calltoaction_info in calltoactions | orderBy:orderCallToActionStream:true" class="col-sm-6">
		          <%= render partial: "/call_to_action/cover_single_calltoaction" %>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12">
		          <div id="append-other" class="text-center" style="margin-bottom: 20px;">
		            <button class="btn btn-primary btn-lg" href="javascript: void(0)" ng-click="appendCallToAction();"><span>Carica altri</span></button>
		          </div>
		        </div>
		    </div>
		</div>
  	</div>

</div>

