.btn-dark-blue { 
  color: #FFFFFF; 
  background-color: #014DA5; 
  border-color: #063E7D; 
} 
 
.btn-dark-blue:hover, 
.btn-dark-blue:focus, 
.btn-dark-blue:active, 
.btn-dark-blue.active, 
.open .dropdown-toggle.btn-dark-blue { 
  color: #FFFFFF; 
  background-color: #2168B8; 
  border-color: #063E7D; 
} 
 
.btn-dark-blue:active, 
.btn-dark-blue.active, 
.open .dropdown-toggle.btn-dark-blue { 
  background-image: none; 
} 
 
.btn-dark-blue.disabled, 
.btn-dark-blue[disabled], 
fieldset[disabled] .btn-dark-blue, 
.btn-dark-blue.disabled:hover, 
.btn-dark-blue[disabled]:hover, 
fieldset[disabled] .btn-dark-blue:hover, 
.btn-dark-blue.disabled:focus, 
.btn-dark-blue[disabled]:focus, 
fieldset[disabled] .btn-dark-blue:focus, 
.btn-dark-blue.disabled:active, 
.btn-dark-blue[disabled]:active, 
fieldset[disabled] .btn-dark-blue:active, 
.btn-dark-blue.disabled.active, 
.btn-dark-blue[disabled].active, 
fieldset[disabled] .btn-dark-blue.active { 
  background-color: #014DA5; 
  border-color: #063E7D; 
} 
 
.btn-dark-blue .badge { 
  color: #014DA5; 
  background-color: #FFFFFF; 
}