.btn-backtotop, .btn-backtotop:hover{
  margin: 20px 0;
  text-transform: uppercase;
  background-color: $lightblue;
  border-color: $lightblue;
  color: white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 7px 12px;
  font-size: 20px;
}