<div class="widget-calendar__title-container">
  <p class="widget-calendar__title">{{aux.assets["calendar_title_" + aux.language]}}</p>
</div>
<div id="widget-calendar"></div>    

<script type="text/javascript">
  $(document).ready(function() {
    buildWidgetCalendar();
    $("#widget-calendar .fc-day-number").addClass('needsclick');
  });

  function buildWidgetCalendar() {

    $('#widget-calendar').fullCalendar({
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      dayClick: function(date, jsEvent, view ) {
        window.location.href = "/<%= get_intesa_property() %>/calendar/" + date.format("DD-MM-YYYY");
      },
      eventClick:function(calEvent, jsEvent, view) {
        window.location.href = "/<%= get_intesa_property() %>/calendar/" + date.format("DD-MM-YYYY");
      },
      height: "auto",
      lang: "<%= $context_root || 'it' %>",
      editable: false,
      disableResizing: true
    });

  }
</script>