/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text 

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}*/


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel-widget {
  .carousel, .carousel .item, .carousel-inner > .item > img {
    height: 300px;
  }
}

.footer-carousel {
  .carousel, .carousel .item, .carousel-inner > .item > img {
    height: 130px;
  }
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.no-slide {
  height: 280px;
  margin-bottom: 30px;
  .item {
    height: 280px;
  }
  .carousel-inner > .item > img {
    height: 280px;
  }
  .carousel-caption {
    padding-bottom: 0;
  }
}

