/* RESET CSS */

body {
  padding-top: 0;
  background-color: $grey;
}

.disney-js-mh-footer-logo {
    background: url("http://navbar.disneyinternational.com/disney-logo-dark.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0) !important;
}

.disney-js-mh-footer-menu.disney-js-mh-footer-about > li > a {
  color: #000 !important;
}

p{
  margin: 0;
  line-height: inherit;
}

#goc-body {
  background: transparent !important;
}

.adv__square {
  background: #606060; 
  border: 3px solid #606060; 
  color: #fff;
}

.adv__horizontal {
  min-height: 50px;
  p {
    transform: rotate(270deg);
    margin-left: -5px;
    width: 30px;
    position: absolute;
    bottom: 0;
    top: 1px;
  }
  background: #606060;
  border: 3px solid #606060; 
  color: #fff;
  padding-left: 15px;
}

//.flowplayer.is-paused {
//  opacity: 0.9;
//}

.container--footer {
  background: #f8f9fa;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

.main-container {
  background-color: #fff;
  margin-bottom: 30px;
  /*
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  */
}

.main-row {
  padding-left: 40px;
  padding-right: 40px;
}

* {
  font-family: 'Matterhorn-Regular';
}

a{
  color: $blu;
}

.btn-back{
  margin: 20px 0;
}


.from-disney-registration {
  background-image: url('bg-modal.png'); 
  background-size: 100% 100%;
}

.glyphicon-blu{
  color: $blu;
}

/********************* COOKIES FOOTER *********************/

.cookies-footer {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  min-height: 0; 
  padding: 10px;
}

.cookies-footer__description {
  margin: 0; 
  font-size: 11px;
}

.cookies-footer__link {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: $screen-sm-min) { 
  .main-row {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn {
  span {
    position: relative; top: 2px;
  }
}

.comment_evidence {
    -webkit-animation: comment_evidence_animation 5s; /* Chrome, Safari, Opera */
    animation: comment_evidence_animation 3s;
}

.spacer {
  margin: 20px 0;
}

.brws-item {
  background: $grey; 
  background: -webkit-linear-gradient(#FFFFFF, $grey);
  background: -o-linear-gradient(#FFFFFF, $grey);
  background: -moz-linear-gradient(#FFFFFF, $grey);
  background: linear-gradient(#FFFFFF, $grey);
  border-bottom: 1px solid #d1d2d4;
}

.container--default {
  border: 1px solid #d1d2d4;
  background-color: #FFF;
}

@-webkit-keyframes comment_evidence_animation { /* Chrome, Safari, Opera */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}

@keyframes comment_evidence_animation { /* Standard syntax */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}