/* RESET CSS */

body {
  padding-top: 0;
  background-color: $grey;
}

.gallery_user_filter-a {
  text-decoration: none !important;
}

#gallery_user_filter {
  margin-bottom: 25px;
}

.gallery_user_filter-text {
  line-height: 75px; 
  font-size: 18px; 
  color: #000;
  text-decoration: none !important;
}

.gallery_user_filter-user_active .gallery_user_filter-text, .gallery_user_filter-all_active .gallery_user_filter-text {
  color: #fff !important;
}

.gallery_user_filter-user_active, .gallery_user_filter-all_active {
  background-color: $blu !important;
}

.gallery_user_filter-text-left {
  padding-left: 45px;
}

.gallery_user_filter-right {
  padding-right: 45px;
}

.gallery_user_filter-col {
  height: 75px; 
  background-color: whitesmoke;
}

.flex-direction-nav a {
  opacity: 1;
}

.form-error {
  color: red;
}

.panel-default > .panel-heading {
  background-color: #fff;
}

p {
  margin: 0;
  line-height: inherit;
}

.media-progress {
  z-index: 10; 
  position: absolute; 
  bottom: 15px; 
  left: 15px; 
  right: 15px; 
  height: 5px; 
  border-radius: 0;
}

.row-load-more {
  padding: 20px 0 !important;
  text-align: center;
}

.btn-square {
  color: #999;
  height: 40px;
  width: 40px;
  padding: 0;
  span {
    font-size: 18px !important; 
    line-height: 40px;
  }
}

.btn-square--big {
  height: 50px;
  width: 50px;
  margin: 3px;
  span {
    font-size: 28px !important; 
    line-height: 50px;
  }
}

.main-row__covers {
  padding-top: 40px;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 0;
}

.adv__square {
  p {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  margin-bottom: 15px;
}

.adv__horizontal {
  p {
    bottom: 8px;
    color: #fff;
    left: -25px;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    position: absolute;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    background: #000;
  }
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  width: 728px;
}

.container--footer {
  background: #ebebeb;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  img {
    max-width: 160px;
    margin-bottom: 15px;
  }
}

.main-container {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: 0;
}

.main-row {
  padding-left: 43px;
  padding-right: 43px;
}

* {
  font-family: "Roboto Condensed", helvetica, arial, sans-serif;
}

a {
  color: $blu;
}

.btn-back{
  margin: 20px 0;
}

.glyphicon-blu{
  color: $blu;
}

/********************* COOKIES FOOTER *********************/

.cookies-footer {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  min-height: 0; 
  padding: 10px;
}

.cookies-footer__description {
  margin: 0; 
  font-size: 11px;
}

.cookies-footer__link {
  color: #fff;
  text-decoration: underline;
}

.comment_evidence {
    -webkit-animation: comment_evidence_animation 5s; /* Chrome, Safari, Opera */
    animation: comment_evidence_animation 3s;
}

.spacer {
  margin: 20px 0;
}

.brws-item {
  background: #fff; 
  border-bottom: 1px solid #d1d2d4;
  padding-bottom: 30px;
}

.container--default {
  background-color: #FFF;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

@-webkit-keyframes comment_evidence_animation { /* Chrome, Safari, Opera */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}

@keyframes comment_evidence_animation { /* Standard syntax */
  0% { background: transparent; }
  50% { background: yellow; }
  100% { background: transparent; }
}

/********************* ERRORS *********************/

.error__container {
  background-image: url('bg-modal.png'); 
  background-size: 100% 100%;
  background-color: #fff;
}

.error__image {
  margin-top: 155px;
  max-width: 240px;
  width: 100%;
}

.error__title {
  margin-top: 220px;
}

.error__description {
  margin-bottom: 220px;
}


/********************* MODALS *********************/

.modal__custom {
  .modal-header {
    border: none;
  }
  .modal-body {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.modal__custom__button-sign-in, .modal__custom__button-sign-up {
  width: 110px;
}

.modal__custom__button-sign-in {
  margin-right: 10px;
}

.modal__custom__image {
  margin-bottom: 15px;
  max-width: 170px;
  width: 100%;
}

.modal__custom__text {
  margin-bottom: 10px;
  font-size: 18px;
  span {
    font-weight: bold;
  }
}

.modal__custom__text--ie8 {
  font-size: 18px;
}

.modal__custom__text--ie8-description {
  margin-bottom: 15px;
}

.modal--bg {
  background-image: url('bg-modal.png'); 
  background-size: 100% 100%;
}

@media (min-width: $screen-md-min) { 

  .main-row__covers-left-col {
    padding-right: 0;
  }

  .adv__square {
    float: right;
  }
  
}

@media (max-width: $screen-sm-min) { 
  .gallery_user_filter-text-left {
    padding-left: 0;
  }

  .gallery_user_filter-right {
    padding-right: 0;
  }

  .gallery_user_filter-col {
    text-align: center;
  }

  .modal-body--gallery {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    h1 {
      font-size: 28px;
    }
    .modal__custom__text {
      font-size: 14px;
      margin-bottom: 15px;
    }
    button {
      min-width: 80px;
    }
  }

  .error__container {
    text-align: center;
  }

  .error__image {
    max-width: 120px;
    width: 100%;
    margin-top: 15px;
  }

  .error__title {
    margin-top: 45px;
  }

  .error__description {
    margin-bottom: 45px;
  }

  button.close {
    position: relative;
    z-index: 10;
  }

  .flex-direction-nav {
    display: none !important;
  }

  .adv__horizontal {
    margin-bottom: 10px;
    margin-top: 25px;
    display: inline-block;
    width: auto;
    text-align: center;
    p {
      bottom: auto;
      font-size: 12px;
      left: 5px;
      top: -19px;
      width: 100%;
      -ms-transform: none; /* IE 9 */
      -webkit-transform: none; /* Chrome, Safari, Opera */
      transform: none;
    }
  }
  
  .brws-item {
    padding: 0;
  }

  .adv-square__container {
    padding: 0;
  }

  .adv-square__row {
    margin: 0;
  }

  .adv__square {
    p {
      bottom: auto;
      font-size: 12px;
      left: 5px;
      top: -19px;
      width: 100%;
      -ms-transform: none; /* IE 9 */
      -webkit-transform: none; /* Chrome, Safari, Opera */
      transform: none;
    }
    margin-left: 10px auto;
    display: inline-block;
    width: auto;
    text-align: center;
  }

  .adv__square-col {
    padding: 0;
    overflow: hidden;
  }

  .main-row {
    padding-left: 0;
    padding-right: 0;
  }
}