$container-tablet:             100% !default;
$container-sm:                 $container-tablet !default;

$container-desktop:            1024px !default;
$container-md:                 $container-desktop !default;

$container-large-desktop:      $container-desktop !default;
$container-lg:                 $container-desktop !default;

$panel-border-radius:          0px !default;

@font-face {
  font-family: 'TrebuchetMS';
  src: url('TrebuchetMS.ttf');
}

@import "bootstrap/bootstrap";
@import "blocks/**/*";
@import "typography/**/*";
@import "buttons/**/*";
@import "reset";

a, p, button {
  font-family: 'TrebuchetMS';
}

