@font-face {
  font-family: 'TrebuchetMS';
  src: url('TrebuchetMS.ttf');
}

@import "bootstrap/bootstrap";
@import "blocks/**/*";
@import "typography/**/*";
@import "buttons/**/*";
@import "reset";

a, p, button {
  font-family: 'TrebuchetMS';
}

