<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto il reset della password. Puoi farlo dal link qui sotto.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, :reset_password_token => @token) %></p>
