<div class="col-sm-12">
  <div class="row text-center cta-stream-heading feedback">
    <% if user_interaction %>
      
      <div class="col-sm-12">
        <% if user_interaction.interaction.resource_type.downcase == "quiz" && user_interaction.interaction.resource.quiz_type.downcase == "trivia" %>
          <% if user_interaction.answer.correct %>
            <h3 style="margin-top: 50px; margin-bottom: 0; font-weight: bold; color: green;">Risposta<br>corretta!</h3>
          <% else %>
            <h3 style="margin-top: 50px; margin-bottom: 0; font-weight: bold; color: red;">Risposta<br>sbagliata!</h3>
          <% end %>
        <% elsif user_interaction.interaction.resource_type.downcase == "quiz" && user_interaction.interaction.resource.quiz_type.downcase == "versus" %>
          <h2 style="margin-top: 50px; margin-bottom: 0; font-weight: bold;">Versus<br>fatto!</h2>
        <% else %>
          <h3 style="margin-top: 50px; margin-bottom: 0; font-weight: bold;"><%= user_interaction.interaction.resource_type.camelcase %><br>fatto!</h3>
        <% end %>
      </div>

      <div class="col-sm-12" style="margin-top: 35px;">
        <% interaction_reward_status[:reward_status_images].each do |reward| %>
          <img src="<%= reward %>" style="width: 60px;">
        <% end %>
      </div>

      <div class="col-sm-12" style="padding-top: 25px;">
        <h4>Hai ottenuto<br>+<%= interaction_reward_status[:win_reward_count] %> punti</h4>
      </div>

    <% end %>
  </div>
</div>