<% calltoactions.each_with_index do |calltoaction, index| %>
  <% if index == 0 %>
    <%= render partial: "/call_to_action/stream_single_calltoaction", locals: { calltoaction: calltoaction, type: "",  calltoaction_comment_interaction: false } %>
    <% if calltoactions_comment_interaction[calltoaction.id] %>
      <div class="row" style="margin-top: 15px;">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
          <div class="panel-footer">
            <%= render partial: "/call_to_action/stream_comment", locals: { interaction_comment: calltoactions_comment_interaction[calltoaction.id], captcha_data: @captcha_data } %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= render partial: "/call_to_action/stream_single_calltoaction", locals: { calltoaction: calltoaction, type: "",  calltoaction_comment_interaction: calltoactions_comment_interaction[calltoaction.id] } %>
  <% end %>
<% end %>