<% calltoactions.each_with_index do |calltoaction, index| %>
  <%= render partial: "/call_to_action/stream_single_calltoaction", locals: { calltoaction: calltoaction, type: "" } %>
  <% if index == 0 && @calltoaction_comment_interaction %>
    <div class="col-xs-12 text-center">
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= render partial: "/call_to_action/stream_comment", locals: { interaction_comment: @calltoaction_comment_interaction, captcha_data: @captcha_data } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>