<% quiz_interactions = always_shown_interactions(calltoaction) %>

<% calltoaction_reward_status = get_current_call_to_action_reward_status(MAIN_REWARD_NAME, calltoaction) %>

<div class="row cta">      
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
    <div class="panel panel-default cta-page cta-stream panel-shadow" style="position: relative;">

      <% if is_cta_locked(calltoaction) %>
      	<%= render partial: "/call_to_action/cover_stream_single_calltoaction_locked", locals: { calltoaction: calltoaction } %>
      <% else %>
      	<%= render partial: "/call_to_action/cover_stream_single_calltoaction", locals: { calltoaction: calltoaction, calltoaction_reward_status: calltoaction_reward_status } %>
      

      <div class="panel-body panel-card">
       
        <div class="row cta-md">

          <!-- LEFT COLUMN WITH IMAGE -->
          <%= render partial: "/call_to_action/stream_single_calltoaction_media", locals: { calltoaction: calltoaction } %>

          <!-- RIGHT COLUMN WITH NAME AND DESCRIPTION -->
          <%= render partial: "/call_to_action/stream_single_calltoaction_interactions", locals: { calltoaction: calltoaction, quiz_interactions: quiz_interactions, calltoaction_reward_status: calltoaction_reward_status } %>

        </div>

      </div>
      
      <% end %>
      
    </div>
  </div>
</div>