<% if braun_ic_iw_user_valid? %>
  <div class="modal fade" id="modal-interaction-instant-win-registration" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Gioca e vinci</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <form class="form-horizontal" onsubmit="return false;" ng-submit="processRegistrationForm()" method="post" action="" accept-charset="UTF-8">
                <div ng-if="form_data.current_user.errors" class="row iw-errors" >
                  <div class="col-md-12">
                    <p>Errori nell'inserimento dei dati:</p>
                    <ul>
                      <li ng-repeat="error in form_data.current_user.errors">{{error}}</li>
                    </ul>
                  </div>
                </div>

                <div class="row" ng-if="aux.instant_win_info.form_extra_fields">
                  <div class="col-xs-12" ng-repeat="field in aux.instant_win_info.form_extra_fields">

                    <!-- CHECKBOX -->
                    <div class="checkbox text-left" ng-if="field.type == 'checkbox'">
                      <input id="extra_fields_age_{{field.name}}" name="extra_fields_{{field.name}}" type="checkbox" value="1" ng-model="form_data.current_user[field.name]">{{field.label}}<span ng-if="field.required">*</span>
                    </div>

                    <!-- TEXTFIELD -->
                    <div class="form-group" ng-if="field.type == 'textfield'">
                      <label class="col-sm-4 control-label">{{field.label}}<span ng-if="field.required">*</span></label>
                      <div class="col-sm-8">
                        <input class="form-control" id="extra_fields_age_{{field.name}}" name="extra_fields_{{field.name}}" type="textfield" value="1" ng-model="form_data.current_user[field.name]" ng-readonly="field.readonly">
                      </div>
                    </div>

                    <!-- DATE -->
                    <div class="form-group" ng-if="field.type == 'date'">
                      <label class="col-sm-4 control-label">{{field.label}}<span ng-if="field.required">*</span></label>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="col-sm-4 margin-top-15-mobile">
                            <% date_array = (1..31).map { |date| [date, date] } %>
                            <% date_array.unshift ["Giorno", ""] %>
                            <%= select_tag(:day_of_birth, options_for_select(date_array), class: "form-control", "ng-model" => "form_data.current_user.day_of_birth", name: "extra_fields_age_{{field.name}}_day", disabled: current_user && current_user.birth_date.present?) %>
                          </div>
                          <div class="col-sm-4 margin-top-15-mobile">
                            <% date_array = (1..12).map { |date| [date, date] } %>
                            <% date_array.unshift ["Mese", ""] %>
                            <%= select_tag(:month_of_birth, options_for_select(date_array), class: "form-control", "ng-model" => "form_data.current_user.month_of_birth", name: "extra_fields_age_{{field.name}}_month", disabled: current_user && current_user.birth_date.present?) %>
                          </div>
                          <div class="col-sm-4 margin-top-15-mobile">
                            <% date_array = (1900..2020).map { |date| [date, date] } %>
                            <% date_array.unshift ["Anno", ""] %>
                            <%= select_tag(:year_of_birth, options_for_select(date_array), class: "form-control", "ng-model" => "form_data.current_user.year_of_birth", name: "extra_fields_age_{{field.name}}_year", disabled: current_user && current_user.birth_date.present?) %>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-4 col-sm-offset-8" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-green btn-block">COMPLETA</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="modal fade" id="modal-interaction-instant-win-registration" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Gioca e vinci</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p>Per partecipare al concorso per vincere un {{aux.instant_win_info.reward_info.title}} (3 settembre 2015) devi aver compiuto 18 anni.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-green" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="modal-interaction-instant-win" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header text-center modal-interaction-instant-win__header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Gioca e vinci</h4>
      </div>
      <div class="modal-body iw-model-body">
        <div ng-if="!aux.instant_win_info.active" class="modal-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>Concorso non attivo</p>
            </div>
          </div>
        </div>

        <div class="row" ng-if="aux.instant_win_info.active" >

          <div class="col-sm-12">
            <div class="panel panel-default iw_panel">
              <div class="panel-body">
                <div class="col-sm-3 text-center">
                  <p class="iw_t1 hidden-xs">Hai</p>
                  <p class="iw-credits_label_yellow__container"><span class="label iw-credits_label_yellow">
                    +{{current_user.instantwin_tickets_counter}} <span class="fa fa-ticket"></span>
                  </span></p>
                  <p class="iw_t2 hidden-xs">biglietti</p> 
                </div>
                <div class="col-sm-6">
                  <img id="iw_slot" class="iw_slot" ng-class="{'iw_slot-red': iwNotWin(), 'iw_slot-green': iwWin()}" ng-src="{{aux.assets.extra_fields.iw_cover.url}}">
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-green btn-block iw_btn" ng-disabled="disableIWButton()" ng-click="playInstantWin();">GIOCA UN BIGLIETTO</button>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                  <div class="iw_popover iw_popover-red popover bottom in" ng-class="{'show': iwNotWin() && !aux.instant_win_info.in_progress}">
                    <div class="arrow" style="left: 50%;"></div>
                    <div class="popover-content">
                      <p class="iw_popover-text"><span class="fa fa-close"></span>PECCATO! Non hai vinto. Gioca ancora</p>
                    </div>
                  </div>
                  <div class="iw_popover iw_popover-red popover bottom in" ng-class="{'show': ticketsEmpty() && !aux.instant_win_info.in_progress}">
                    <div class="arrow" style="left: 50%;"></div>
                    <div class="popover-content">
                      <p class="iw_popover-text"><span class="fa fa-close"></span>PECCATO! Hai terminato i biglietti</p>
                    </div>
                  </div>
                  <div class="iw_popover iw_popover-green popover bottom in" ng-class="{'show': iwWin() && !aux.instant_win_info.in_progress}">
                    <div class="arrow" style="left: 50%;"></div>
                    <div class="popover-content text-center">
                      <p class="iw_popover-text"><span class="fa fa-check"></span>HAI VINTO!!!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <p style="font-size: 22px;">In palio per te oggi</p> 
          </div>
          <div class="col-sm-4 text-right hidden-xs">
            <img style="height: 220px; margin-right: 25px;" ng-src="{{aux.instant_win_info.reward_info.image}}">
          </div>
          <div class="col-sm-8">
            <p class="iw_reward-title">{{aux.instant_win_info.reward_info.title}}</p>
            <p class="iw_reward-description" ng-bind-html="aux.instant_win_info.reward_info.description"></p>
          </div>
          
        </div>

      
      </div>

    </div>
  </div>
</div>