<a href="{{match.model.detail_url}}">
  <div class='row'>
    <div class='col-xs-12'>
      <img src="{{match.model.thumb_url}}" style="height: 60px" />
      <p style="line-height: 60px">{{match.model.title}}</p>
    </div>
  </div>
</a>