<%= light_link_to("{{match.model.detail_url}}", class: "ctas__search__a") do %>
  <div class="row">
    <div class="col-xs-12 ctas__search__col">
      <img src="{{match.model.thumb_url}}" class="ctas__search__img" />
      <p class="ctas__search__title">{{match.model.title}}</p>
    </div>
  </div>
<% end %>