<div class="container container--footer">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img ng-src="{{aux.assets.extra_fields.logo_footer.url}}">
      <p>&#169;2015 SHADO srl. All rights reserved.</p>
    </div>
  </div>
</div>