<div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px;">
  <ul class="nav nav-pills nav-justified fandom-nav">
    <li id="home-filter-all" class="active home-filter">
      <a href="javascript: void(0)" onclick="updatePageWithTag(null)">
        <span class="glyphicon-class">Stream</span>
      </a>
    </li>
    <% get_tags_with_tag("miniformat").each do |tag| %>
      <li id="home-filter-<%= tag.id %>" class="home-filter">
        <a href="javascript: void(0)" onclick="updatePageWithTag(<%= tag.id %>)">
          <span class="glyphicon-class"><%= tag.name %></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
          