<div class="panel-group th-filter" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title text-center">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                    Filtra contenuto
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/320x260" alt="...">
                      </a>
                      <h6>Nome Categoria</h6>
                      
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/320x260" alt="...">
                      </a>
                      <h6>Nome Categoria</h6>
                      
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/320x260" alt="...">
                      </a>
                      <h6>Nome Categoria</h6>
                      
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/320x260" alt="...">
                      </a>
                      <h6>Nome Categoria</h6>
                      
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/320x260" alt="...">
                      </a>
                      <h6>Nome Categoria</h6>
                      
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/320x260" alt="...">
                      </a>
                      <h6>Nome Categoria</h6>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>