<div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px;">
  <ul class="nav nav-pills nav-justified fandom-nav">
    <li id="home-filter-all" class="active home-filter">
      <a href="javascript: void(0)" onclick="updatePageWithTag(null)">
        <div class="row">
          <div class="col-md-12">
            <span class="glyphicon glyphicon-th"></span>
          </div>
          <div class="col-md-12">
            <span class="glyphicon-class">Tutti</span>
          </div>
        </div>
      </a>
    </li>
    <% get_tags_with_tag("miniformat").each do |tag| %>
      <li id="home-filter-<%= tag.id %>" class="home-filter">
        <a href="javascript: void(0)" onclick="updatePageWithTag(<%= tag.id %>)">
          <div class="row">
            <div class="col-md-12">
              <span class="<%= tag.tag_fields.find_by_name("icon").try(:name) %>"></span>
            </div>
            <div class="col-md-12">
              <span class="glyphicon-class"><%= tag.name %></span>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
          