<!-- SIGN IN IN COMMUNITY -->
<div class="modal modal__custom fade" id="registrate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal--bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 visible-xs text-center">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image">
          </div>    
          <div class="col-sm-6 col-sm-offset-1 text-center">
            <p class="modal__custom__text">Se vuoi continuare e<br>guadagna punti devi<br><span>entrare nella Community</span></p>
            <a class="modal__custom__button-sign-in btn btn-primary" href="/users/sign_in"><span>Login</span></a>
            <a class="modal__custom__button-sign-up btn btn-primary" href="/users/sign_up"><span>Registrati</span></a>
          </div>
          <div class="col-sm-4 hidden-xs">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image"> 
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NEW USER IN DISNEY -->
<div class="modal modal__custom fade" id="modal__from-disney-registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal--bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 visible-xs text-center">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image">
          </div>    
          <div class="col-sm-6 col-sm-offset-1 text-center">
            <p class="modal__custom__text">Registrazione completata!<br>Se vuoi continuare e<br>guadagnare punti devi<br><span>entrare nella Community</span></p>
            <a class="modal__custom__button-sign-up btn btn-primary" href="/iur"><span>Login</span></a>
          </div>
          <div class="col-sm-4 hidden-xs">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image"> 
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- COMMENT -->
<div class="modal modal__custom fade" id="comment-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal--bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 visible-xs text-center">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image">
          </div>    
          <div class="col-sm-6 col-sm-offset-1 text-center">
            <p class="modal__custom__text">I commenti verranno<br>moderati prima di essere<br>pubblicati</p>
            <button type="button" class="modal__custom__button-sign-up btn btn-primary" data-dismiss="modal"><span>Ok</span></button>
            <p ng-if="!current_user" style="margin-top: 15px; font-size: 12px;"><a href="/iur">Registrati per commentare più facilmente</a></p>
          </div>
          <div class="col-sm-4 hidden-xs">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image"> 
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- UGC -->
<div class="modal modal__custom fade" id="ugc-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal--bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body modal-body--gallery">
        <div class="row">
          <div class="col-sm-4 visible-xs text-center">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image">
          </div>    
          <div class="col-sm-6 col-sm-offset-1 text-center">
            <h1 class="text-center">Grazie!</h1>
            <p class="modal__custom__text">I contenuti dovranno essere approvati prima di essere pubblicati</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><span>Ok</span></button>
          </div>
          <div class="col-sm-4 hidden-xs">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image"> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- UPLOAD LOADING -->
<div class="modal modal__custom fade" id="ugc-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal--bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 visible-xs text-center">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image">
          </div>    
          <div class="col-sm-6 col-sm-offset-1 text-center">
            <p class="modal__custom__text">...upload in corso...</p>
            <div class="text-center"><img src="<%= asset_path("horizontal_loader.gif") %>" /></div>
          </div>
          <div class="col-sm-4 hidden-xs">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image"> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CAPTCHA ERROR -->
<div class="modal modal__custom fade" id="comment-captcha-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal--bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 visible-xs text-center">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image">
          </div>    
          <div class="col-sm-6 col-sm-offset-1 text-center">
            <p class="modal__custom__text">Il codice inserito<br>non è corretto</p>
            <button type="button" class="modal__custom__button-sign-up btn btn-primary" data-dismiss="modal"><span>Ok</span></button>
          </div>
          <div class="col-sm-4 hidden-xs">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image"> 
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NEW USER IN DISNEY -->
<div class="modal modal__custom fade" id="modal__from-disney-registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal--bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 visible-xs text-center">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image">
          </div>    
          <div class="col-sm-6 col-sm-offset-1 text-center">
            <p class="modal__custom__text">Registrazione completata!<br>Se vuoi continuare e<br>guadagnare punti devi<br><span>entrare nella Community</span></p>
            <a class="modal__custom__button-sign-up btn btn-primary" href="/iur"><span>Login</span></a>
          </div>
          <div class="col-sm-4 hidden-xs">
              <img ng-src="{{aux.current_property_info.logo}}" class="modal__custom__image"> 
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "/instantwin/instant_win_modal", 
  locals: { instantwin_cta_id: InstantwinInteraction.first ? Interaction.where(:resource_type => InstantwinInteraction, :resource_id => InstantwinInteraction.first.id).first.call_to_action_id : nil } %>
