<div class="row">
  <div class="col-xs-6">
    <h2 ng-if="calltoaction_ordering == 'recent' && !aux.gallery_user" class="cta-cover__column-title">Tutti <span style="font-size: 18px" ng-if="aux.gallery_calltoactions_count != null">- {{aux.gallery_calltoactions_count}} contenuti</span></h2>
    <h2 ng-if="calltoaction_ordering == 'recent' && aux.gallery_user" class="cta-cover__column-title" ng-if="calltoaction_ordering == 'recent'">Contenuti di {{aux.gallery_user.username}}</span></h2>
    <h2 class="cta-cover__column-title" ng-if="calltoaction_ordering == 'comment'"><span ng-if="aux.gallery_user">{{aux.gallery_user.username}} - </span>Più commentati</h2>
    <h2 class="cta-cover__column-title" ng-if="calltoaction_ordering == 'view'"><span ng-if="aux.gallery_user">{{aux.gallery_user.username}} - </span>Più visti</h2>
  </div>
  <div class="col-xs-6 text-right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Ordina
        <span class="fa fa-chevron-down"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dropdownMenu1">
        <li class="active" role="presentation"><a role="menuitem" href="javascript: void(0)" ng-click="updateOrdering('recent')">Più recenti</a></li>
        <li role="presentation"><a role="menuitem" href="javascript: void(0)" ng-click="updateOrdering('comment')">Più commentati</a></li>
        <li role="presentation"><a role="menuitem" href="javascript: void(0)" ng-click="updateOrdering('view')">Più visti</a></li>
      </ul>
    </div>
  </div>
</div>