<%= render partial: "/application/modals" %>

<div class="properties__container hidden-xs">
  <div class="container">
    <div class="row text-center">
      <%= render partial: "/application/properties" %>
    </div>
  </div>
</div>

<div class="main-menu__container hidden-xs">
  <div class="container">
    <div class="row main-menu__row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ng-repeat="item in aux.menu_items" ng-class="{'active': (aux.tag_menu_item == item.name)}"><a href="{{item.extra_fields.url}}">{{item.title}}</a>
              </li>
              <li ng-if="aux.instant_win_info.interaction_id">
                <button style="margin: 4px 10px 0 10px" ng-if="current_user.registration_fully_completed" type="button" class="btn btn-primary" ng-click="openInstantWinModal()">Gioca</button>
                <button style="margin: 4px 10px 0 10px" ng-if="!current_user.registration_fully_completed" type="button" class="btn btn-primary" ng-click="openRegistrationModalForInstantWin()">Gioca</button>
              </li>
              <li class="navbar-item--socials" ng-if="aux.assets.extra_fields.menu_item_socials" ng-bind-html="aux.assets.extra_fields.menu_item_socials">
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-inverse__menu">MENU</span>
      </button>
      <div class="text-center">
        <img class="navbar__logo" ng-src="{{aux.current_property_info.logo}}">
      </div>
      <%= light_link_to("/profile") do %>
        <div ng-if="current_user && current_user.notifications > 0" class="properties__right-bar-notifications text-center">
          {{current_user.notifications}}
        </div>

        <img ng-src="{{current_user.avatar}}" class="navbar__avatar" ng-if="current_user">
        <img src="<%= anon_avatar() %>" class="navbar__avatar" ng-if="!current_user">
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in aux.menu_items" ng-class="{'active': (aux.tag_menu_item == item.name)}"><a href="{{item.extra_fields.url}}">{{item.title}}</a>
        </li>
        <hr style="margin-top: 5px; margin-bottom: 5px;">
        <li ng-repeat="property in aux.property_info_list">
          <a href="/{{property.name}}">
            {{property.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>