<div class="container main-container">   

  <div class="row">
    <%= render partial: "/application/evidence_ctas" %>
  </div>

  <%= render partial: "/application/search", locals: { query: nil } %>

  <div class="row main-row main-row__covers">
    <div class="col-md-7 main-row__covers-left-col">

      <div ng-if="!ordering_in_progress" ng-repeat="calltoaction_info in calltoactions" class="row">
        <div class="col-sm-12">
          <%= render partial: "/call_to_action/cover_single_calltoaction" %>
        </div>
      </div>
      <div ng-if="!ordering_in_progress" class="row">
        <div class="col-sm-12">
          <div id="append-other" class="text-center" style="margin-bottom: 20px;" ng-if="!append_ctas_in_progress">
            <button class="btn btn-primary" href="javascript: void(0)" ng-click="appendCallToAction();"><span>Carica altri</span></button>
          </div>
          <div id="append-other" class="text-center" style="margin-bottom: 20px;" ng-if="append_ctas_in_progress">
            <button class="btn btn-primary" href="javascript: void(0)"><span>Caricamento in corso</span></button>
          </div>
        </div>
      </div>

      <div class="row text-center" ng-if="ordering_in_progress">
        <div class="col-sm-12">
          <img style="margin-top: 45px; margin-bottom: 45px;" src="<%= asset_path("loader.gif") %>"> 
        </div>
      </div>

    </div>
    <div class="col-md-5 text-center">
    </div>
  </div>

</div>
