/* CONTENT PREVIEW STYLE */

.content-preview__border-bottom {
  border-bottom: 3px solid $lightblue;
}

.content-preview__item-panel {
  background-color: #fff;
  height: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.content-preview__item-panel--narrow {
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;

  height: 300px;
  
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  //margin-right: 25px;
  //-webkit-box-shadow: 0 0px 14px 2px rgba(0, 0, 0, 0.8);
  //-moz-box-shadow: 0 0px 14px 2px rgba(0, 0, 0, 0.8);
  //box-shadow: 0 0px 14px 2px rgba(0, 0, 0, 0.8);
  
  img {
    width: 100%;
  }
}

.content-preview__coming-soon--narrow {
  position: absolute; 
  top: 45%; 
  left: 0;
  right: 0;
  text-align: center;
  p {
    font-family: 'Gnuolane';
    text-transform: uppercase;
    font-size: 22px;
    color: $orange;
    border: 1px solid $orange; 
    border-radius: 3px;
    padding: 5px 10px;  
    display: inline-block;
  }
}

.content-preview__coming-soon__container--narrow {
  background-color: rgba(0, 0, 0, 0.6); 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: 10;
}

.content-preview__item-panel--press{
  height: auto;
}

.content-preview__item-panel--full-search {
  height: 235px;
  margin-bottom: 25px;
}

.content-preview__thumbnail {
  overflow: hidden;
  padding-top: 57%; /*65%;*/
  position: relative;
}

.content-preview__image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #fff;
}

.content-preview__image--category{
  height: 100%;
  width: auto;
}

.content-preview__likes, .content-preview__comments {
  color: #999;
  display: inline;
  margin-left: 15px;
  position: relative;
  top: 4px;
}

.content-preview__footer {
  position: absolute;
  bottom: 15px;
}

.content-preview__thumbs-up, .content-preview__glyphicon-comment {
    font-size: 14px;
    margin-right: 5px;
}

.content-preview__icon-container{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $orange;
  padding: 4px;
}

.content-preview__icon-container--time {
  background-color: transparent;
  padding: 0;
}

.container-preview__icon-container__day {
  background: $orange; 
  padding: 0 10px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  font-family: 'Gnuolane';
}

.container-preview__icon-container__month {
  color: $lightblue;
  background-color: #fff;
  font-family: 'Gnuolane';
  text-transform: uppercase;
}

.content-preview__icon{
  color: #fff;
  font-size: 24px;
}

.content-preview__title, .content-preview__title--press {
  font-size: 16px;
  text-align: left;
  margin-top: 5px;
  padding: 0 10px;
  color: $lightblue !important;
  font-weight: bold;
}

.content-press-it, .content-press-en {
  .category-header__title {
    color: $lightblue !important;
  }
}

.content-preview--press {
  margin-top: 15px;
  margin-bottom: 15px;
}


.content-preview__title--press {
  margin-bottom: 10px;
  padding: 0;
}

.content-preview__author {
  font-size: 12px;
  font-weight: bold;
  color: $lightblue !important;
  padding-top: 5px;
}

.content-preview__newspaper {
  font-size: 12px;
  font-weight: bold;
  color: #444;
}

.content-preview__quote {
  font-size: 22px;
  color: $lightblue;
  margin-bottom: 10px;
}

.content-preview__counter{
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin: 0;
}

.content-preview__comments{
  font-size: 14px;
}

.content-preview--tag {
  bottom: 0px;
  left: 0;
  position: absolute;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.content-preview__title--tag {
  color: #fff !important;
  font-size: 15px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
  color: $lightblue;
  font-size: 18px;
  font-weight: normal;
  max-height: 44px;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
}

.content-preview__like{
  font-size: 14px !important;
}

.content-preview--tag {
  bottom: 0px;
  left: 0;
  position: absolute;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.content-preview__title--tag {
  color: #fff !important;
  font-size: 15px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
  color: $blue;
  font-size: 18px;
  font-weight: normal;
  max-height: 44px;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
}

.content-preview__event-info-container {
  position: absolute;
  bottom: 5px;
  left: 2px;
}

.content-preview__event-info-container__author_avatar {
  width: 30px; 
  margin-left: 5px;
}

.content-preview__event-info{
  color: #333333 !important;
  text-align: left;
  padding: 0 10px;
  font-size: 12px;
  .fa {
    color: $lightblue;
    margin-right: 5px;
  }
}

@media (min-width: $screen-sm-min) { 
  .content-preview__item-panel:hover {
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  .content-preview {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
  }

}

@media (max-width: $screen-sm-min) { 
  
  .content-preview__item-panel {
    min-height: 300px;
    height: auto;
    margin-bottom: 30px;
  }
  
  .content-preview__item-panel--narrow{
    margin-right: 0;
  }

  .content-preview {
    padding-left: 0;
    margin-right: 0;
    margin-left: 15px;
  }
  
  .content-preview__item-panel--full-search {
    height: 270px;
    margin-bottom: 25px;
    .content-preview__thumbnail{
      padding-top: 50%;
    }
  }
}