/* CTA PREVIEW BLOCK */
.cta__evidence__press-widget{
  float: left;
  background-color: transparent;
  padding: 0 15px 0 8px;
  .cta__related__title--press-release{
    font-size: 10px;
    line-height: 11px;
  }
  .cta__evidence__press-widget__title-container{
    float: left;
    width: 100%;
    background-color: #446c81;
    padding: 0 7px;
  }
  .cta__evidence__press-widget__title{
    color: #132332;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Gnuolane';
  }
  .cta__related__icon--press-release{
    font-size: 24px;
  }
  .content-preview__title--press-release{
    margin-bottom: 0px !important;
    font-size: 10px;
    line-height: 11px;
  }
  .cta__evidence__press-widget__element{
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 5px;
    height: 50px;
  }
  .cta__related__icon--arrow{
    font-size: 20px;
    margin-top: 10px;
    color: $lightblue !important;
  }
  .cta__related__date--press-release{
    font-size: 9px;
    color: #444;
  }
  .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,
  .col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    padding-left: 2px;
    padding-right: 2px;
  }
  a.read{
    font-family: 'Gnuolane';
    color: #fff;
    line-height: 27px;
  }
}

.cta__evidence-banner__img {
  img {
    width: 100%;
  }
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 126px;
}

.cta__evidence-right__title {
  font-size: 16px;
  color: $blue;
  font-weight: bold;
}

.cta__evidence-right__hr {
  border-top: 3px solid $blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cta-preview{
	border: 1px solid #ccc;
	position: relative;
	margin-bottom: 20px;
	height: 240px;
	overflow: hidden;
	background-color: #FFF;
	position: relative;
}

.cta-preview--slider{
  border: 1px solid #ccc;
  position: relative;
  width: 258px;
  height: 240px;
  overflow: hidden;
  background-color: #FFF;
  position: relative;
}

.cta-preview__image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.cta_preview__link{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.cta-preview__points {
  padding-top: 7px;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
	font-weight: bold;
  border-radius: 15px;
  color: $red;
  background: #fcc839; 
  background: -webkit-linear-gradient(#fcc839, #ecb62d);
  background: -o-linear-gradient(#fcc839, #ecb62d);
  background: -moz-linear-gradient(#fcc839, #ecb62d);
  background: linear-gradient(#fcc839, #ecb62d);
  padding-top: 7px;
  z-index: 20;
}

.cta-preview__credits {
  padding-top: 7px;
  font-size: 14px;
  border-radius: 15px;
  color: #fff;
  background-color: #b82423;
  font-weight: bold;
  z-index: 20;
  .fa {
    margin-left: 5px;
  }
}

.cta-preview__credits--reward {
  display: block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  color: #fff;
  padding-top: 7px;
  background-color: #b82423;
  width: 13%;
  margin: 20px auto;
  .fa {
    margin-left: 5px;
  }
}

.cta-preview__title {
  font-family: "BarmenoRegularBold";
	color: $brown !important;
	font-size: 20px !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.cta-preview--tag {
  bottom: 0px;
  left: 0;
  position: absolute;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.cta-preview__title--tag {
  padding-top: 30px;
}

.cta-preview__like{
	font-size: 14px !important;
}

.cta-preview__thumbnail{
	padding-top: 56%; //padding for aspect ratio 16:9
	overflow: hidden;
	position: relative;
}

.cta-preview__counter{
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin: 0;
}

.cta-preview__comments{
	font-size: 14px;
}

.cta-preview__thumbnail--category{
  padding-top: 140%; //padding for aspect ratio 3:4
  margin-left: -100px;
}

.cta-preview__title--category{
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #fff;
  z-index: 1;
}

.cta-preview__image--category {
  height: 100%;
  width: auto;
}

@media (min-width: $screen-md-min) {
  .cta__evidence-calendar {
    padding-left: 8px;
  }
  .cta__evidence-banner {
    padding-left: 5px;
  }
}

@media (min-width: $screen-sm-min) {
  .stripe__row__custom {
    margin-left: -8px;
  }
  .stripe__col__custom {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: $screen-md-min) and (min-width: $screen-sm-min) {
  .cta__evidence-calendar, .cta__evidence-banner {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .cta__evidence-banner__img {
    height: auto;
  }
  .ctas__flexslider__container {
    padding: 15px !important;
  }
}

@media (max-width: $screen-sm-min) {
  .cta__evidence-calendar {
    padding-left: 15px;
    margin-top: 15px;
  }

  .custom-bt-browse-sections .cta__evidence-calendar, .widget-calendar__title-container {
    margin-top: 0 !important;
  }

  .cta__evidence-banner {
    padding-left: 15px;
  }

  .cta__evidence-banner__img {
    height: auto;
    margin-top: 25px;
  }
}
