/* CTA */

.cta__about-yt-stripe {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
}

.cta__about-yt-stripe__description {
  color: #fff;
  margin-bottom: 30px;
}

.cta__miniformat-col {
  margin-top: 15px;
}

.cta__miniformat-text {
  padding: 6px;
  font-size: 14px;
  font-family: 'Gnuolane';
  text-transform: uppercase;
  display: inline-block;
  img {
    width: 20px;
    margin-right: 3px;
  }
  span {
    position: relative; 
    top: 2px;
  }
}

.cta__flag {
  position: absolute;
  top: 4px;
  width: 75px;
  z-index: 10;
  right: 10px;
}

.relateds-flexslider {
  .cta__flag {
    position: absolute;
    top: 4px;
    left: 145px;
    width: 75px;
    z-index: 10;
    right: auto;
  }
}

.cta__flag--extra_fields {
  position: absolute;
  top: -6px;
  right: -4px;
  width: 75px;
  z-index: 10;
}

.cta__flag--calendar{
  top: -6px;
  right: -5px;
}

.cta__live-label--related {
  background-color: red;
  color: #fff;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  padding: 3px 8px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 20px;
}

.cta__live-container--related {
  border: 1px solid #ccc; 
  background-color: #eee;
  padding: 10px 15px;
  margin-top: 15px;
}

.cta__live-description--related {
  font-size: 12px;
  color: $lightblue;
}

.cta__author-avatar {
  height: 40px; 
  float:left; 
  margin-right: 8px;
  margin-bottom: 8px;
}

.cta__author-title {
  margin-top: 8px;
  font-weight: bold;
}

.cta__author-title--stripe {
  color: #000;
  font-weight: bold;
  font-size: 10px;
}

.cta__author-address--stripe {
  font-size: 10px;
  color: #000;
  font-size: 10px;
}

.cta__author-category, .cta__author-address, .cta__author-title {
  font-size: 10px;
}

.cta__hr_top {
  height: 1px; 
  background-color: #eee; 
  margin: 30px 0 0 0;
}

.cta__hr_bottom {
  height: 1px; 
  background-color: #eee; 
  margin: 0 0 30px 0;
}

.cta__hr_center {
  width: 1px; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  background-color: #eee;
}

.cta__column-custom--left-border {
  border-left: 1px solid #eee;
}

.cta__contents {
  img {
    width: 100%;
    margin: 15px 0;
  }
  iframe {
    width: 100%;
    margin: 15px 0;
  }
}

.cta__main-column {
  border-right: 1px solid #eee;
}

.cta__extra_fields__info {
  position: relative;
}

.cta__extra_fields {
  margin-top: 15px;
  background-color: $blue;
  padding: 15px 25px;
  color: #fff;
  position: relative;
}

.cta__related__type {
  color: $orange;
  font-family: 'Gnuolane';
}

.cta__related__hr {
  border-color: #eee;
  margin-top: 15px;
  margin-bottom: 5px;
}

.cta__related__a {
  text-decoration: none !important;
}

.cta__related__title {
  color: $lightblue;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.cta__related__title--press-release_info-container {
  padding-left: 35px;
  padding-right: 15px;
}

.cta__related__title--press-release {
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  color: $lightblue !important;
  font-weight: bold;
}

.cta__related__date--press-release{
  font-size: 11px;
  color: #444;
}

.cta__related__icon--press-release {
  font-size: 28px;
  margin-top: 8px;
  color: $lightblue !important;
}

.cta__related__icon--arrow {
  font-size: 28px;
  margin-top: 8px;
  color: $lightblue !important;
}

.body-inaugurazione {
  .cta__related__icon--press-release {
    position: absolute;
  }
  .cta__related__icon--arrow {
    position: absolute;
    right: 10px;
    top: 0px;
  }
  .main-row__evidence {
    margin-bottom: 0;
  }
}

.cta__related__title-content {
  color: $lightblue;
  font-size: 12px;
  padding: 5px 10px 0 10px;
}

.cta__related__img {
  width: 100px !important;
  float: left;
  margin-right: 10px;
}

.cta__extra_fields__title {
  color: #99a9b6;
  font-size: 16px;
  margin-bottom: 10px;
}

.cta__extra_fields__title--margin-top {
  margin-top: 15px;
}

.cta__extra_fields__description {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
}

.cta__extra_fields__description--location {
  margin-right: 50px;
}

.cta__extra_fields__description__content {
  color: #fff;
  margin-left: 5px;
}

.cta__table-footer {
  color: $brown;
  font-size: 8px;
}

.cta__extra-description__title {
  color: $brown;
  font-weight: bold;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.cta__extra-description__container {
  margin-bottom: 15px;
}

.cta__extra-description__ul {
  padding-left: 15px;
}

.cta__extra-description {
  font-size: 14px;
  color: #999;
}

.cta__extra-description__sub-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #999;
}

.cta__media-container {
  padding: 0;
}

.cta__description {
  font-size: 18px;
  margin-bottom: 0;
}

.cta__description__without-media {
  margin-top: 0 !important;
}

.cta__long_description {
  iframe {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100% !important;
  }
}

.cta__bottom-container {
  padding-bottom: 30px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.cta__long_description::first-letter, .cta__extra-content__description--about::first-letter { 
  float: left;
  font-size: 52px;
  line-height: 52px;
  padding-right: 8px;
  font-family: 'Gnuolane';
}

.cta__sub_description {
  font-size: 12px;
  span {
    font-weight: bold;
  }
}

.cta__title {
  text-transform: uppercase;
  font-size: 26px;
  color: $lightblue;
  margin-bottom: 15px;
  margin-top: 10px;
}

.cta__video-subtitle--about {
  color: #fff;
  padding-top: 30px;
  font-size: 12px;
}

.media-youtube-col {
  padding-right: 0;
}

.cta__video-img--about {
  width: 105px; 
  float: left; 
  margin: 30px 15px 0 15px;
  border: 2px solid #fff;
}

.cta__video-col--about {
  height: 117px;
  padding-left: 0;
}

.cta__video-col--about--container:hover {
  background: $lightblue;
}

.cta__video-col--about--container.active {
  background-color: $orange;
  background-image: none;
  border-color: transparent;
}

.cta__share-col--about {
  margin-bottom: 30px;
}

.cta__extra-content__title--about {
  text-transform: uppercase;
  font-size: 26px;
  color: $lightblue;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: 'Gnuolane';
}

.cta__extra-content__subtitle--about {
  font-size: 16px;
  color: $lightblue;
  margin-bottom: 25px;
  margin-top: 15px;
  a {
    text-decoration: none;
  }
  .glyphicon.glyphicon-play {
    font-size: 32px;
    position: relative;
    top: 7px;
    left: 15px;
    opacity: 0;
  }
  .collapsed {
    .glyphicon.glyphicon-play {
      opacity: 1 !important;
    }
  }
}

.cta__extra-content__img {
  margin-bottom: 25px;
  width: 100%;
}

.cta__title--about {
  text-transform: uppercase;
  font-size: 26px;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 45px;
  font-family: 'Gnuolane';
}

.cta__extra-content__li-title {
  font-size: 16px;
  color: $lightblue;
  font-family: 'Gnuolane'; 
}

.cta__extra-content-text-col {
  border-left: 1px solid $lightblue;
  margin-bottom: 25px;
}

.cta__extra-content__hr {
  height: 1px;
  position: absolute;
  left: -40px;
  right: 0;
  bottom: -13px;
  background: #eee;
}

.cta__extra-content__li-description {
  font-size: 12px;
}

.cta__extra-content__li-number {
  color: $orange;
  font-size: 28px;
}

.media-youtube--about {
  border: 7px solid #446c81 !important;
  background: #000;
}

.cta__video-title--about {
  text-transform: uppercase;
  font-size: 26px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Gnuolane';
}

.cta__map-title--about {
  text-transform: uppercase;
  font-size: 26px;
  color: $lightblue;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Gnuolane';
}

.cta__map-img--about {
  margin-bottom: 15px;
}

.cta__map-download--about-col {
  margin-bottom: 15px;
}

.cta__map-download--about {
  color: $lightblue;
  font-weight: bold;
  text-decoration: underline;
}

.cta__banner_1--about {
  width: 100%;
  //background: $bluealpha;
  margin-top: 0;
  margin-bottom: 15px;
}

.cta__banner-btn {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.cta__description--about, .cta__description--about-v2 {
  color: #fff;
  font-size: 14px;
  font-family: "Helvetica";
  font-weight: 300;
  margin-top: 0;
  line-height: inherit;
}

.cta__extra-content__container-fluid--about {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.ctas__search {
    background: whitesmoke; 
    padding-bottom: 15px; 
    padding-top: 15px;
    .dropdown-menu {
      right: 15px;
      top: 55px !important;
    }
    .dropdown-menu:before {
      border-bottom: 9px solid #ccc;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      content: "";
      height: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -10px;
      width: 0;
    }
    .dropdown-menu:after {
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: "";
      height: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -8px;
      width: 0;
    }
}

.ctas__search__a {
  background: transparent !important;
}

.ctas__search__a:hover, .ctas__search__a:focus {
  background: whitesmoke !important;
}

.ctas__search__title {
  color: #464646;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 16px;
  padding: 0 0 0 110px;
  white-space: normal;
}

.ctas__search__col {
  color: #999;
  min-height: 60px;
  padding: 0 8px;
  margin: 5px 0;
}

.ctas__search__img {
  height: 60px; 
  position: absolute;
}

@media (min-width: $screen-sm-min) { 
  .cta__media-footer {
    padding: 10px 58px;
  }
  .cta__video-col--about-4 {
    height: 350px;
    overflow: hidden;
  }
}

@media (max-width: $screen-sm-min) { 
  .cta__about-yt-stripe {
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .cta__video-col--about {
    padding: 0;
  }

  .cta__extra-content__container-fluid--about {
    padding: 15px !important;
  }

  .cta__extra-content__description--about-v2 {
    margin-bottom: 25px;
  }

  .media-youtube-col {
    padding: 0 !important;
  }

  .cta__miniformat-col {
    margin-bottom: 15px;
  }

  .cta__main-column {
    border-right: 0;
  }

  .cta__cps-panel {
    border: 0 !important;
    .glyphicon-chevron-down {
      margin-right: 15px;
    }
    .panel-heading {
      background-color: #fff;
    }
    box-shadow: none;
  }

  .cta__title-and-description-col {
    padding: 15px;
  }

  .cta__media-container-youtube, .cta__media-container-test {
    border: none !important;
    border-radius: 0;
  }

  .cta__undervideo {
    margin-top: 0;
  }

  .media-image-ricette {
    margin-top: 0;
  }

  .cta__media-img {
    padding: 0;
    border: none;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .cta__media-footer {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .ctas__search__img {
    height: 35px; 
  }

  .ctas__search__col {
    min-height: 35px;
  }

  .cta__title {
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 24px;
  }

  .cta__description {
    font-size: 14px;
  }

  .ctas__search__title {
    margin: 10px 0 0 0;
    padding: 0 0 0 75px;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cta__title-small-col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cta__description-small-col {
    padding-left: 15px;
    padding-right: 15px;
  }

}