.event-container, .event-miniformat-border, .event-header-container {
  padding-left: 2px;
  padding-right: 2px;
}

.home-main-stripe, .italiadalvivo-branch-container {
  padding-bottom: 30px;
  .stripe__title {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.events-container {
  padding-left: 30px;
  padding-right: 30px;
}

.event-header {
  background-color: #fff;
  border-bottom: 1px solid $blue;
}

.event-header-text {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $blue;
  text-transform: uppercase;
}

.event-miniformat-border {
  padding-top: 4px;
  padding-bottom: 0;
  width: 100%;
  background-color: $blue;
}

.event-panel {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
}

.event-panel-body {
  padding: 0;
}

.event-time {
  padding: 10px 15px 5px 15px;
  font-weight: bold;
}

.event-title {
  padding: 0 15px 10px 15px;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
}