/* FILTER BROWSE STYLE*/

.filter-tag{
  float: left;
  position: relative;
  padding: 10px 0px;
  margin: 0 10px 0px 10px;
  border-bottom: 2px solid transparent;
}

.filter-tag__icon{
  margin: 10px auto;
  max-width: 40px;
}

.filter-tag__title{
  font-family: 'Gnuolane';
  text-align: center;
  color: #9a9a9a;
  text-transform: uppercase;
  font-size: 14px;
}

.filter-tag--active{
  border-bottom: 2px solid #8a8a8a;
}

.filter-tag__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.filter-tag__reset-link{
  text-decoration: none;
  color: #999;
  font-size: 16px;
}

.filter-tag__reset-link:hover {
  color: #152b3f;
}

@media (max-width: $screen-sm-min) {
  .filter-tag__title{
    display: none;
  }
  
  .filter-tag{
    margin: 0 6px 0px 6px;
  }
  
  .filter-tag__reset-link{
    font-size: 14px;
  }
  
  .filter-tag__icon {
    margin: 5px auto;
    max-width: 35px;
  }
}