/* FOOTER */

.footer__container {
  background-color: $gray !important;
}

.footer__container__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
}

.footer__container__description {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer__container__btn {
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer__container__img {
  width: 100%;
}

@media (max-width: $screen-sm-min) {
}