.body-inaugurazione {
  .cta__long_description::first-letter, .cta__extra-content__description--about::first-letter {
    float: none;
    font-size: 14px;
    line-height: normal;
    padding-right: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .lightbrown_bg {
    background-color: $lightbrown !important;
  }

  .white-bg {
    background-color: #fff !important;
  }

  .container-bg {
    background-color: #fff;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .main-row__evidence {
    padding-bottom: 0;
  }

  .cta__related__title--press-release, .cta__related__icon--press-release,
  .cta__related__title, .cta__extra_fields__description__content, .cta__extra_fields__description,
  .cta__related__title-content, .container-preview__icon-container__month {
    color: $blue_italiadalvivo !important;
  }

  //////// SINGLE CTA ////////

  .cta__bottom-subcontainer {
    padding-top: 30px;
  }

  .cta__description {
    margin-top: 0;
  }

  .cta__title-m {
    margin-top: 30px;
  }

  .cta__extra_fields {
    margin-top: 0;
    padding: 0;
  }

  .cta__extra_fields__header {
    padding: 15px;
    background-color: $blue_italiadalvivo;
  }

  .cta__extra_fields__body {
    padding: 15px;
    background-color: $lightbrown;
  }

  .cta__title {
    margin-top: 45px;
    margin-bottom: 30px;
    color: #fff;
  }

  .cta__extra_fields__title {
    margin-bottom: 0;
    color: #fff;
  }

  .cta__extra_fields__body .btn-about-v2 {
    margin-bottom: 0 !important;
  }

  //////// FONT ////////

  font-family: 'Open Sans', sans-serif;
  h1, h2, .ctas__flexslider__title, .cta__extra_fields__title, .cta__related__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }

  .btn-about-v2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }

  //////// HEADER ////////

  #isp-header {
    .title-header {
      background-color: $blue_italiadalvivo !important;
    }
  }

  .center-logo {
    margin: 0; 
    max-width: 340px;
    width: 100%;
  }

  .header-row-inaugurazione {
    padding-bottom: 30px;
  }

  .header-title {
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 30px;
    color: #fff;
  }

  .header-info-1 {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
  }

  .header-info-2 {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
  }

  .header-info-3 {
    font-family: cursive;
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
  }

  //////// BROWSE ////////

  .content-browse {
    background-color: transparent;
    background-image: none;
    .container {
      background-color: #fff;
      .category-header__title {
        margin-top: 60px;
        margin-bottom: 30px;
        color: $blue_italiadalvivo;
      }
      .content-preview__press-release-icon, .content-preview__title--press {
        color: $blue_italiadalvivo !important;
      }
      .content-preview__press-release-icon {
        margin-top: 5px;
      }
      .content-preview__title--press {
        margin-top: 0;
        padding-bottom: 5px;
      }
      .content-preview--press {
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
      }
      .content-preview__date {
        padding-bottom: 15px;
      }
    }
  }

  //////// NAVBAR ////////

  .navbar__item-text {
    font-family: 'Open Sans', sans-serif !important;
  }

  .navbar-nav li.active {
    .navbar__item-text {
      color: $blue_italiadalvivo;
    }
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $blue_italiadalvivo !important; 
  }

  //////// HOME ////////

  .ctas__flexslider__container {
    padding-left: 0; 
    padding-right: 0;
  }

  .cta__evidence__press-widget--inaugurazione {
    padding-left: 5px;

    .cta__evidence__press-widget__title-container {
      background-color: $blue_italiadalvivo;
    }

    .cta__evidence__press-widget__title {
      color: #fff;
    }

    .cta__related__icon--press-release, .cta__related__title--press-release {
      color: $blue_italiadalvivo !important;
    }

    .cta__related__icon--arrow {
      color: $blue_italiadalvivo !important;
    }

    .cta__evidence__press-widget__element--border {
      border-bottom: 1px solid whitesmoke;
    }

  }

  .cta__evidence-banner__img--inaugurazione {
    overflow: hidden;
    height: 248px;
    margin-bottom: 15px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cta__evidence-banner__img--inaugurazione--tall {
    height: 390px;
    margin-bottom: 0;
  }

  .cta__related__icon--press-release {
    position: absolute;
  }

  .cta__related__icon--arrow {
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .main-row__evidence {
    margin-bottom: 0;
    padding: 0;
  }

  .main-media-row {
    padding: 0;
  }

  .ctas__flexslider--italiadalvivo {
    .ctas__info {
        padding: 30px;
        background: transparent !important;
    }
    .ctas__flexslider__title {
        margin-bottom: 0;
        color: $blue_italiadalvivo;
        width: 60%;
    }
    .ctas__flexslider__subtitle {
        font-size: 18px;
        color: $blue_italiadalvivo;
    }
    .ctas__flexslider__subtitle::first-letter {
      text-transform: uppercase;
    }
    .ctas__flexslider__location {
        padding-top: 15px;
        color: $blue_italiadalvivo;
        font-size: 12px;
    }
  }

  .ctas__flexslider.ctas__flexslider--italiadalvivo {
    border: none !important;  
  }

  //////// ABOUT ////////

  .italiadalvivo__about-title {
    text-transform: uppercase;
    font-size: 26px;
    color: $blue_italiadalvivo;
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: 700;
  }

  .italiadalvivo__about-branch-name {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    color: $blue_italiadalvivo;
  }

  .italiadalvivo__about-address {
    font-size: 14px;
    margin-bottom: 15px;
    color: #666;
  }

  .italiadalvivo__about-phone {
    font-size: 14px;
    margin-bottom: 15px;
    color: #666;
    font-weight: 700;
  }

  .italiadalvivo__banner_img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
  }

}

@media (min-width: $screen-md-min) { 
  .ctas__flexslider--italiadalvivo {
      height: 380px;
  }
}

@media (min-width: $screen-sm-min) { 
  .body-inaugurazione {
    .navbar__container-fluid {
      border-top: 1px solid #fff;
    }
    .navbar__container-fluid {
      background-color: #fff;
    }
  }
}

@media (max-width: $screen-sm-max) { 
  .body-inaugurazione {
    .cta__evidence__press-widget {
      margin-top: 15px;
    }
  }
}

@media (max-width: $screen-xs-max) { 
  .body-inaugurazione {
    .cta__title {
      margin-top: 30px;
    }

    .events-stripe__title {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }

    .italiadalvivo__media-container {
      padding: 0;
      margin-left: -15px;
      margin-right: -15px;
    }

    .cta__bottom-container {
      padding: 0;
    }

    .miniformat-title-container {
      margin-left: -30px;
      margin-right: -30px;
    }

    .event-miniformat-border {
      border: none;
    }

    .container-bg {
      background-image: none !important;
    }

    .ctas__info {
      height: 100%;
      width: 100%;
    }

    .main-row_events {
      padding: 15px;
    }

    .header-row-inaugurazione {
      background-color: $blue_italiadalvivo;
    }

    .header-title {
      margin-top: 25px;
      font-size: 28px;
    }

    .header-info-1 {
      font-size: 22px;
    }

    .header-info-2 {
      font-size: 14px;
    }

    .header-info-3 {
      font-size: 22px;
    }

    .navbar__logo {
      height: 80px;
      margin-top: 0px;
      margin-bottom: 17px;
    }
    .ctas__flexslider__container {
      margin-bottom: 15px;
    }
    .ctas__info {
      padding: 15px !important;
    }
    .ctas__flexslider__title {
      font-size: 18px;
      line-height: 22px;
    }
    .ctas__flexslider__subtitle {
      font-size: 14px !important;
    }
    .ctas__flexslider__location {
      font-size: 10px !important;
      padding-top: 5px !important;
    }
    .cta__evidence-banner {
      padding: 0;
    }
    .events-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .stripe__title {
      margin-top: 45px;
      margin-bottom: 30px;
      font-size: 18px;
    }
    .events-day-container {
      margin-bottom: 15px;
    }
    .italiadalvivo-branch-container {
      padding-bottom: 0;
    }
    .cta__evidence-banner__img--inaugurazione {
      margin-bottom: 0;
    }
    .italiadalvivo__banner_img {
      margin-bottom: 0;
    }
    .map-container {
      padding: 0;
      margin-left: -15px;
      margin-right: -15px;
      .embed-responsive-16by9 {
        padding-bottom: 75%;
        margin-top: 30px;
      }
    }
  }
}

.body-inaugurazione {

  ////////////// btn-provider //////////////

  .btn-provider { 
    background-color: $blue_italiadalvivo; 
    border-color: $blue_italiadalvivo; 
  } 
   
  .btn-provider:hover, 
  .btn-provider:focus, 
  .btn-provider:active, 
  .btn-provider.active, 
  .open .dropdown-toggle.btn-provider { 
    background-color: $lightblue_italiadalvivo; 
    border-color: $lightblue_italiadalvivo; 
  } 
   
  .btn-provider.disabled, 
  .btn-provider[disabled], 
  fieldset[disabled] .btn-provider, 
  .btn-provider.disabled:hover, 
  .btn-provider[disabled]:hover, 
  fieldset[disabled] .btn-provider:hover, 
  .btn-provider.disabled:focus, 
  .btn-provider[disabled]:focus, 
  fieldset[disabled] .btn-provider:focus, 
  .btn-provider.disabled:active, 
  .btn-provider[disabled]:active, 
  fieldset[disabled] .btn-provider:active, 
  .btn-provider.disabled.active, 
  .btn-provider[disabled].active, 
  fieldset[disabled] .btn-provider.active { 
    background-color: $lightblue_italiadalvivo; 
    border-color: $lightblue_italiadalvivo; 
  } 
   
  ////////////// btn-about-v2 //////////////

  .btn-about-v2 { 
    background-color: $blue_italiadalvivo; 
    border-color: $blue_italiadalvivo; 
  }
   
  .btn-about-v2:hover, 
  .btn-about-v2:focus, 
  .btn-about-v2:active, 
  .btn-about-v2.active, 
  .open .dropdown-toggle.btn-about-v2 { 
    background-color: $lightblue_italiadalvivo; 
    border-color: $lightblue_italiadalvivo; 
  } 

  .btn-about-v2.disabled, 
  .btn-about-v2[disabled], 
  fieldset[disabled] .btn-about-v2, 
  .btn-about-v2.disabled:hover, 
  .btn-about-v2[disabled]:hover, 
  fieldset[disabled] .btn-about-v2:hover, 
  .btn-about-v2.disabled:focus, 
  .btn-about-v2[disabled]:focus, 
  fieldset[disabled] .btn-about-v2:focus, 
  .btn-about-v2.disabled:active, 
  .btn-about-v2[disabled]:active, 
  fieldset[disabled] .btn-about-v2:active, 
  .btn-about-v2.disabled.active, 
  .btn-about-v2[disabled].active, 
  fieldset[disabled] .btn-about-v2.active { 
    background-color: $lightblue_italiadalvivo; 
    border-color: $lightblue_italiadalvivo; 
  } 

}

