/* NAVBAR */
.navbar__search{
  display: none;
}

.nav > li > a {
  padding: 10px 10px;
}

@media (min-width: $screen-sm-min) { 

  .navbar__container {
    padding: 0;
  }

  .navbar-default {
    border: none;
    margin-bottom: 0;
  }

  .navbar__container-fluid {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .body-inaugurazione {
    .navbar__container-fluid {
      border-top: 1px solid #fff;
    }
    .navbar__container-fluid {
      background-color: #fff;
    }
  }

  .navbar__container {
    padding: 0;
  }

  .navbar-nav-center {
    width: 100%;
    text-align: center;
  }

  .navbar-nav li {
    float: none;
    display: inline-block;
    text-transform: uppercase;
  }

  .navbar__item-text {
    font-family: 'Gnuolane';
    font-size: 16px;
  }

  .navbar-nav li.active {
    .navbar__item-text {
      color: $lightblue;
    }
  }

  .navbar-right {
    position: absolute; 
    right: 75px;
  }

  .navbar-right a {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .navbar-right li:nth-child(2) p,
  .navbar-right li:nth-child(3) p {
    border-left: 1px solid #eee; padding-left: 15px;
  }
  
  .press-contact{
    a{
      text-transform: lowercase;
      font-size: 12px;
      p{
        font-size: 13px;
        text-transform: capitalize;
      }
    }
  }
}

@media (max-width: $screen-md-min) and (min-width: $screen-sm-min) {
  .navbar-nav-center {
    width: auto;
    text-align: center;
    padding-left: 0px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -50px;
  }
}

@media (max-width: $screen-sm-min) { 
  .navbar__logo {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: auto;
  }

  .bnt__menu {
    position: absolute;
    top: 25px;
    right: 0;
  }

  .navbar-inverse {
    border: 0 !important;
    margin-bottom: 0;
  }
}