/* NAVBAR */
.navbar__container {
  padding: 0;
}

.navbar-default {
  border: none;
  margin-bottom: 0;
}

.navbar__container-fluid {
  border-top: 1px solid #ccc;
}

.navbar__container {
  padding: 0;
}