/* PLAY INTERACTION */

.play-interaction__video-btn-container {
  height: 55px; 
  background: $darkblue; 
  border-radius: 3px; 
  margin-top: 15px;
  padding-left: 15px;
  .fa {
    padding-top: 10px;
    padding-right: 15px;
    font-size: 36px; 
    float:left;
    color: $orange;
  }
  .play-interaction__video-btn-title {
    padding-top: 10px;
    color: $orange;
    font-family: 'Gnuolane';
    text-transform: uppercase;
  }
  .play-interaction__video-btn-description {
    color: #fff;
    font-size: 12px;
  }
}

.play-interaction__video-btn-container.active, .play-interaction__video-btn-container:hover {
  background: $orange; 
  .fa {
    color: $darkblue;
  }
  .play-interaction__video-btn-title {
    padding-top: 10px;
    color: $darkblue;
  }
}