.share-interaction__title {
  background-color: #666;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  margin-right: 2px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  top: 1px;
  p {
    font-family: 'Gnuolane';
  }
}