.share-interaction__title {
  background-color: #666;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  margin-right: -4px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  top: 1px;
  p {
    font-family: 'Gnuolane';
  }
}

.share-undervideo-interaction__row {
  padding-top: 13px;
  padding-bottom: 13px;
}