<div class="container container--default" style="background-color: #fff;">
  <div class="row" ng-controller="NoticePageCtrl" ng-init="init(<%= @notices_list.to_json %>)">
    <div class="col-md-12">
      <div class="row section-heading">
        <div class="col-xs-12">
          <h3>
            <span class="glyphicon glyphicon-bell glyphicon-blu" aria-hidden="true"></span>
            Notifiche
          </h3>
        </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <div ng-repeat="notices in notice_list">
            <div class="row brws-item">
              <div class="col-xs-12">
                <h4>{{notices.date}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <ul class="list-group" style="margin: 10px 0;">
                  <li id="{{notice.id}}" ng-class="{'list-group-item': true, 'notice--unread': !notice.read}" ng-repeat="notice in notices.notices">
                    <div class="row">
                        <div class="col-xs-12">
                          <!-- <div class="row" ng-bind-html='notice.html_notice'></div> -->
                          <div class="row" ng-if="notice.html_notice" ng-bind-html='notice.html_notice'></div>
                          <div class="row" ng-if="!notice.html_notice">
                            <div class="hidden-xs col-sm-2">
                              <img ng-src="{{notice.notice_logo}}" class="img-responsive notice__property-icon">
                            </div>
                            <div ng-if="notice.aux.ref_type != 'user_comment_interaction'" class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                              <img ng-src="{{notice.notice_image}}" class="img-responsive notice__reward-image">
                            </div>
                            <div ng-if="notice.aux.ref_type == 'user_comment_interaction'" class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                              <span class="glyphicon glyphicon glyphicon-comment glyphicon-comment--notice"></span>
                            </div>
                            <div class="col-xs-6 col-sm-8">
                              <h5 class="notice__title">
                                {{notice.aux.text}}
                                <p ng-if="notice.notice_link">
                                  <a ng-href="{{notice.notice_link}}">
                                    Vai al contenuto.
                                  </a>
                                </p>
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= light_link_to "/profile/index", {"class" => "btn btn-lg btn-primary btn-back"} do %>Indietro<% end %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  function mark_as_read(id){
    $.ajax({
        type: "POST",
        url: "/profile/notices/mark_as_read",
        data: { notice_id: id },
        beforeSend: function(jqXHR, settings) {
          jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {
          if(data.success){
            $("li#"+id).removeClass("notice--unread");
            $("li#"+id+" i.fa").removeClass("fa-circle-o").addClass("fa-circle");
          }else{
            alert(data.message);
          }
        } // success AJAX
        });
  }
</script>
        
