<div class="row">
    <div class="col-xs-12">
      <!--<div data-spy="affix" data-offset-top="200" data-offset-bottom="200">-->
        <ul class="nav nav-tabs">
          <li class="<%= "active" if page == "edit" %>"><a href="/profile/edit">Account</a></li>
          <li class="<%= "active" if page == "levels" %>"><a href="/profile/levels">Livelli</a></li>
          <li class="<%= "active" if page == "badges" %>"><a href="/profile/badges">Badges</a></li>
          <li class="<%= "active" if page == "notices" %>"><a href="/profile/badges">Notifiche</a></li>
          <!--
          <li><a href="profile-premi.html">Miei premi</a></li>
          <li><a href="profile-classifica.html">Classifica</a></li>
          -->
        </ul>
      <!--</div>-->
    </div>
</div>