<div class="jumbotron bkg-topbar">
	<div class="container">
	    <h4>
	    	500 - Something bad happened!
	    </h4>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 text-center">
			<h1 class="lead"/><span class="text-muted">
			For some reason the site could not handle this request</span><br/>
           	We apologize for the inconvenience
			</h1>
		</div>
	</div>
</div>
